Repository distributed-system-analysis/pbench, pull requests merged in 2018-12, with the labels that each got.

#1011 pbench-report-status: fix md5 calculation.
  server/pbench/bin/gold/test-10.txt
  server/pbench/bin/gold/test-11.txt
  server/pbench/bin/gold/test-12.txt
  server/pbench/bin/gold/test-13.txt
  server/pbench/bin/gold/test-14.txt
  server/pbench/bin/gold/test-15.txt
  server/pbench/bin/gold/test-16.txt
  server/pbench/bin/gold/test-17.txt
  server/pbench/bin/gold/test-18.txt
  server/pbench/bin/gold/test-19.txt
  server/pbench/bin/gold/test-20.txt
  server/pbench/bin/gold/test-21.txt
  server/pbench/bin/gold/test-22.txt
  server/pbench/bin/gold/test-3.txt
  server/pbench/bin/gold/test-4.txt
  server/pbench/bin/gold/test-5.1.txt
  server/pbench/bin/gold/test-5.2.txt
  server/pbench/bin/gold/test-5.txt
  server/pbench/bin/gold/test-6.3.txt
  server/pbench/bin/gold/test-6.4.txt
  server/pbench/bin/gold/test-6.5.txt
  server/pbench/bin/gold/test-6.6.txt
  server/pbench/bin/gold/test-6.txt
  server/pbench/bin/gold/test-7.0.txt
  server/pbench/bin/gold/test-7.1.txt
  server/pbench/bin/gold/test-7.10.txt
  server/pbench/bin/gold/test-7.11.txt
  server/pbench/bin/gold/test-7.12.txt
  server/pbench/bin/gold/test-7.13.txt
  server/pbench/bin/gold/test-7.14.txt
  server/pbench/bin/gold/test-7.15.txt
  server/pbench/bin/gold/test-7.16.txt
  server/pbench/bin/gold/test-7.2.0.txt
  server/pbench/bin/gold/test-7.2.1.txt
  server/pbench/bin/gold/test-7.3.txt
  server/pbench/bin/gold/test-7.4.txt
  server/pbench/bin/gold/test-7.5.txt
  server/pbench/bin/gold/test-7.6.txt
  server/pbench/bin/gold/test-7.7.txt
  server/pbench/bin/gold/test-7.8.txt
  server/pbench/bin/gold/test-7.9.txt
  server/pbench/bin/gold/test-8.txt
  server/pbench/bin/gold/test-9.1.txt
  server/pbench/bin/gold/test-9.2.txt
  server/pbench/bin/gold/test-9.3.txt
  server/pbench/bin/gold/test-9.4.txt
  server/pbench/bin/gold/test-9.5.txt
  server/pbench/bin/pbench-report-status
Labels: Server, bug

#1012 pbench-report-status: fix md5 calculation.
  server/pbench/bin/gold/test-10.txt
  server/pbench/bin/gold/test-11.txt
  server/pbench/bin/gold/test-12.txt
  server/pbench/bin/gold/test-13.txt
  server/pbench/bin/gold/test-14.txt
  server/pbench/bin/gold/test-15.txt
  server/pbench/bin/gold/test-16.txt
  server/pbench/bin/gold/test-17.txt
  server/pbench/bin/gold/test-18.txt
  server/pbench/bin/gold/test-19.txt
  server/pbench/bin/gold/test-20.txt
  server/pbench/bin/gold/test-21.txt
  server/pbench/bin/gold/test-22.txt
  server/pbench/bin/gold/test-3.txt
  server/pbench/bin/gold/test-4.txt
  server/pbench/bin/gold/test-5.1.txt
  server/pbench/bin/gold/test-5.2.txt
  server/pbench/bin/gold/test-5.txt
  server/pbench/bin/gold/test-6.3.txt
  server/pbench/bin/gold/test-6.4.txt
  server/pbench/bin/gold/test-6.5.txt
  server/pbench/bin/gold/test-6.6.txt
  server/pbench/bin/gold/test-6.txt
  server/pbench/bin/gold/test-7.0.txt
  server/pbench/bin/gold/test-7.1.txt
  server/pbench/bin/gold/test-7.10.txt
  server/pbench/bin/gold/test-7.11.txt
  server/pbench/bin/gold/test-7.12.txt
  server/pbench/bin/gold/test-7.13.txt
  server/pbench/bin/gold/test-7.14.txt
  server/pbench/bin/gold/test-7.15.txt
  server/pbench/bin/gold/test-7.16.txt
  server/pbench/bin/gold/test-7.2.0.txt
  server/pbench/bin/gold/test-7.2.1.txt
  server/pbench/bin/gold/test-7.3.txt
  server/pbench/bin/gold/test-7.4.txt
  server/pbench/bin/gold/test-7.5.txt
  server/pbench/bin/gold/test-7.6.txt
  server/pbench/bin/gold/test-7.7.txt
  server/pbench/bin/gold/test-7.8.txt
  server/pbench/bin/gold/test-7.9.txt
  server/pbench/bin/gold/test-8.txt
  server/pbench/bin/gold/test-9.1.txt
  server/pbench/bin/gold/test-9.2.txt
  server/pbench/bin/gold/test-9.3.txt
  server/pbench/bin/gold/test-9.4.txt
  server/pbench/bin/gold/test-9.5.txt
  server/pbench/bin/pbench-report-status
Labels: Server, bug

#1006 Remove pandas-related stuff.
  agent/base
  agent/bench-scripts/pbench-fio
  agent/bench-scripts/samples/pbench-agent.cfg
  agent/config/pbench-agent-default.cfg.example
  agent/config/pbench-agent.cfg.example
  agent/util-scripts/samples/pbench-copy-results/test-31/opt/pbench-agent/config/pbench-agent.cfg
Labels: Agent, in progress

#1000 Remove `--directory` option from pbench-fio.
  agent/bench-scripts/gold/pbench-fio/test-17.txt
  agent/bench-scripts/gold/pbench-fio/test-18.txt
  agent/bench-scripts/pbench-fio
  agent/bench-scripts/unittests
Labels: Agent, bug, in progress
