Repository distributed-system-analysis/pbench, pull requests merged in 2018-05, with the labels that each got.

#810 openvswitch-datalog: collect OVS version and cfg info
  agent/tool-scripts/datalog/openvswitch-datalog
Labels: in progress

#822 Bug fixes.
  agent/util-scripts/pbench-sysinfo-dump
  server/pbench/bin/pbench-index
Labels: Agent, Server, bug

#823 pbench-report-status: fix it and make it findable for execution.
  server/pbench/bin/pbench-base.sh
  server/pbench/bin/pbench-index
  server/pbench/bin/pbench-report-status
  server/pbench/lib/config/pbench-server-default.cfg.example
  server/pbench/lib/config/pbench-server.cfg.example
Labels: Server, bug, in progress

#832 Undo setting of PATH in pbench-base.sh.
  server/pbench/bin/pbench-base.sh
  server/pbench/bin/pbench-server-activate-create-crontab
  server/pbench/bin/state/test-8.tar.xz
Labels: Server, bug

#833 Add --pbench-pre hook for UB; move wrapper
  agent/bench-scripts/gold/pbench-user-benchmark/test-07.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-08.txt
  agent/bench-scripts/pbench-user-benchmark
Labels: Agent, enhancement
