Repository distributed-system-analysis/pbench, pull requests merged in 2018-11, with the labels that each got.

#985 Quiet curl output to reduce log file noise
  server/pbench/bin/gold/test-10.txt
  server/pbench/bin/gold/test-11.txt
  server/pbench/bin/gold/test-12.txt
  server/pbench/bin/gold/test-13.txt
  server/pbench/bin/gold/test-14.txt
  server/pbench/bin/gold/test-15.txt
  server/pbench/bin/gold/test-16.txt
  server/pbench/bin/gold/test-17.txt
  server/pbench/bin/gold/test-18.txt
  server/pbench/bin/gold/test-19.txt
  server/pbench/bin/gold/test-20.txt
  server/pbench/bin/gold/test-21.txt
  server/pbench/bin/gold/test-22.txt
  server/pbench/bin/gold/test-3.txt
  server/pbench/bin/gold/test-4.txt
  server/pbench/bin/gold/test-5.1.txt
  server/pbench/bin/gold/test-5.2.txt
  server/pbench/bin/gold/test-5.txt
  server/pbench/bin/gold/test-6.3.txt
  server/pbench/bin/gold/test-6.4.txt
  server/pbench/bin/gold/test-6.5.txt
  server/pbench/bin/gold/test-6.6.txt
  server/pbench/bin/gold/test-6.txt
  server/pbench/bin/gold/test-7.0.txt
  server/pbench/bin/gold/test-7.1.txt
  server/pbench/bin/gold/test-7.10.txt
  server/pbench/bin/gold/test-7.11.txt
  server/pbench/bin/gold/test-7.12.txt
  server/pbench/bin/gold/test-7.13.txt
  server/pbench/bin/gold/test-7.14.txt
  server/pbench/bin/gold/test-7.15.txt
  server/pbench/bin/gold/test-7.16.txt
  server/pbench/bin/gold/test-7.2.0.txt
  server/pbench/bin/gold/test-7.2.1.txt
  server/pbench/bin/gold/test-7.3.txt
  server/pbench/bin/gold/test-7.4.txt
  server/pbench/bin/gold/test-7.5.txt
  server/pbench/bin/gold/test-7.6.txt
  server/pbench/bin/gold/test-7.7.txt
  server/pbench/bin/gold/test-7.8.txt
  server/pbench/bin/gold/test-7.9.txt
  server/pbench/bin/gold/test-8.txt
  server/pbench/bin/gold/test-9.1.txt
  server/pbench/bin/gold/test-9.2.txt
  server/pbench/bin/gold/test-9.3.txt
  server/pbench/bin/gold/test-9.4.txt
  server/pbench/bin/gold/test-9.5.txt
  server/pbench/bin/pbench-report-status
  server/pbench/bin/test-bin/curl
Labels: Server, enhancement, in progress

#984 Always call pbench-report-status.
  server/pbench/bin/gold/test-10.txt
  server/pbench/bin/gold/test-11.txt
  server/pbench/bin/gold/test-21.txt
  server/pbench/bin/gold/test-22.txt
  server/pbench/bin/gold/test-3.txt
  server/pbench/bin/gold/test-4.txt
  server/pbench/bin/gold/test-5.1.txt
  server/pbench/bin/gold/test-5.2.txt
  server/pbench/bin/gold/test-5.txt
  server/pbench/bin/pbench-copy-sosreports
  server/pbench/bin/pbench-dispatch
  server/pbench/bin/pbench-move-unpacked
  server/pbench/bin/pbench-satellite-cleanup
  server/pbench/bin/pbench-sync-package-tarballs
  server/pbench/bin/pbench-sync-satellite
  server/pbench/bin/pbench-unpack-tarballs
Labels: Server, enhancement, in progress

#983 Limit the length of ES error messages
  server/pbench/lib/pbench/__init__.py
Labels: Indexing, Server, bug, in progress

#990 Version bump to 0.54
  VERSION
Labels: in progress
