Repository distributed-system-analysis/pbench, pull requests merged in 2018-10, with the labels that each got.

#945 Require TOP & LOGSDIR in addition to TMP
  server/pbench/bin/gold/test-0.1.txt
  server/pbench/bin/gold/test-0.txt
  server/pbench/bin/pbench-base.sh
  server/pbench/bin/state/test-0.1.setup
  server/pbench/bin/state/test-0.reset
  server/pbench/bin/state/test-0.setup
  server/pbench/bin/unittests
Labels: Code Infrastructure, Server, Unit tests

#939 Initial framework for auditing the archives
  server/pbench/bin/gold/test-0.1.txt
  server/pbench/bin/gold/test-0.txt
  server/pbench/bin/gold/test-1.txt
  server/pbench/bin/gold/test-10.txt
  server/pbench/bin/gold/test-11.txt
  server/pbench/bin/gold/test-12.txt
  server/pbench/bin/gold/test-13.txt
  server/pbench/bin/gold/test-14.txt
  server/pbench/bin/gold/test-15.txt
  server/pbench/bin/gold/test-16.txt
  server/pbench/bin/gold/test-17.txt
  server/pbench/bin/gold/test-18.txt
  server/pbench/bin/gold/test-19.txt
  server/pbench/bin/gold/test-2.txt
  server/pbench/bin/gold/test-20.txt
  server/pbench/bin/gold/test-3.txt
  server/pbench/bin/gold/test-4.txt
  server/pbench/bin/gold/test-5.1.txt
  server/pbench/bin/gold/test-5.txt
  server/pbench/bin/gold/test-6.1.txt
  server/pbench/bin/gold/test-6.2.txt
  server/pbench/bin/gold/test-6.3.txt
  server/pbench/bin/gold/test-6.4.txt
  server/pbench/bin/gold/test-6.5.txt
  server/pbench/bin/gold/test-6.6.txt
  server/pbench/bin/gold/test-6.txt
  server/pbench/bin/gold/test-7.0.txt
  server/pbench/bin/gold/test-7.1.txt
  server/pbench/bin/gold/test-7.10.txt
  server/pbench/bin/gold/test-7.11.txt
  server/pbench/bin/gold/test-7.12.txt
  server/pbench/bin/gold/test-7.13.txt
  server/pbench/bin/gold/test-7.14.txt
  server/pbench/bin/gold/test-7.2.txt
  server/pbench/bin/gold/test-7.3.txt
  server/pbench/bin/gold/test-7.4.txt
  server/pbench/bin/gold/test-7.5.txt
  server/pbench/bin/gold/test-7.6.txt
  server/pbench/bin/gold/test-7.7.txt
  server/pbench/bin/gold/test-7.8.txt
  server/pbench/bin/gold/test-7.9.txt
  server/pbench/bin/gold/test-8.txt
  server/pbench/bin/gold/test-9.1.txt
  server/pbench/bin/gold/test-9.2.txt
  server/pbench/bin/gold/test-9.3.txt
  server/pbench/bin/gold/test-9.4.txt
  server/pbench/bin/gold/test-9.5.txt
  server/pbench/bin/pbench-audit-archive
  server/pbench/bin/pbench-gen-json-payload
  server/pbench/bin/state/test-16.tar.xz
  server/pbench/bin/state/test-17.tar.xz
  server/pbench/bin/state/test-20.tar.xz
  server/pbench/bin/unittests
Labels: Server, enhancement

#947 Fix shim 001 to move prefix file to .prefix
  server/pbench/bin/gold/test-12.txt
  server/pbench/bin/pbench-dispatch
  server/pbench/bin/pbench-server-prep-shim-001
  server/pbench/bin/pbench-server-prep-shim-002
Labels: Background Tasks, Server, bug

#948 Copy two files instead of move two files
  server/pbench/bin/pbench-server-prep-shim-001
  server/pbench/bin/pbench-server-prep-shim-002
Labels: Background Tasks, Server, bug

#949 pbench-audit-archive: line up sizes in find output
  server/pbench/bin/gold/test-20.txt
  server/pbench/bin/pbench-audit-archive
Labels: Code Infrastructure, Server, Unit tests

#950 Restore normal ln behavior for unit tests
  server/pbench/bin/gold/test-0.1.txt
  server/pbench/bin/gold/test-0.txt
  server/pbench/bin/gold/test-1.txt
  server/pbench/bin/gold/test-10.txt
  server/pbench/bin/gold/test-11.txt
  server/pbench/bin/gold/test-12.txt
  server/pbench/bin/gold/test-13.txt
  server/pbench/bin/gold/test-14.txt
  server/pbench/bin/gold/test-15.txt
  server/pbench/bin/gold/test-16.txt
  server/pbench/bin/gold/test-17.txt
  server/pbench/bin/gold/test-18.txt
  server/pbench/bin/gold/test-19.txt
  server/pbench/bin/gold/test-2.txt
  server/pbench/bin/gold/test-20.txt
  server/pbench/bin/gold/test-3.txt
  server/pbench/bin/gold/test-4.txt
  server/pbench/bin/gold/test-5.1.txt
  server/pbench/bin/gold/test-5.txt
  server/pbench/bin/gold/test-6.1.txt
  server/pbench/bin/gold/test-6.2.txt
  server/pbench/bin/gold/test-6.3.txt
  server/pbench/bin/gold/test-6.4.txt
  server/pbench/bin/gold/test-6.5.txt
  server/pbench/bin/gold/test-6.6.txt
  server/pbench/bin/gold/test-6.txt
  server/pbench/bin/gold/test-7.0.txt
  server/pbench/bin/gold/test-7.1.txt
  server/pbench/bin/gold/test-7.10.txt
  server/pbench/bin/gold/test-7.11.txt
  server/pbench/bin/gold/test-7.12.txt
  server/pbench/bin/gold/test-7.13.txt
  server/pbench/bin/gold/test-7.14.txt
  server/pbench/bin/gold/test-7.2.txt
  server/pbench/bin/gold/test-7.3.txt
  server/pbench/bin/gold/test-7.4.txt
  server/pbench/bin/gold/test-7.5.txt
  server/pbench/bin/gold/test-7.6.txt
  server/pbench/bin/gold/test-7.7.txt
  server/pbench/bin/gold/test-7.8.txt
  server/pbench/bin/gold/test-7.9.txt
  server/pbench/bin/gold/test-8.txt
  server/pbench/bin/gold/test-9.1.txt
  server/pbench/bin/gold/test-9.2.txt
  server/pbench/bin/gold/test-9.3.txt
  server/pbench/bin/gold/test-9.4.txt
  server/pbench/bin/gold/test-9.5.txt
  server/pbench/bin/test-bin/ln
  server/pbench/bin/unittests
Labels: Code Infrastructure, Server, Unit tests

#953 Stop creating the unnecessary log directory
  server/pbench/bin/pbench-sync-package-tarballs
Labels: Background Tasks, Server, bug

#952 openvswitch-postprocess: add support for SMC hit data
  agent/tool-scripts/postprocess/openvswitch-postprocess
Labels: Agent, enhancement

#962 Fix the agent conf files
  agent/config/pbench-agent-default.cfg.example
  agent/config/pbench-agent.cfg.example
Labels: Agent, bug, in progress

#958 Fio histo log pctiles
  agent/bench-scripts/gold/pbench-fio/test-04.txt
  agent/bench-scripts/gold/pbench-fio/test-05.txt
  agent/bench-scripts/gold/pbench-fio/test-06.txt
  agent/bench-scripts/gold/pbench-fio/test-17.txt
  agent/bench-scripts/gold/pbench-fio/test-18.txt
  agent/bench-scripts/gold/pbench-fio/test-20.txt
  agent/bench-scripts/pbench-fio
  agent/bench-scripts/postprocess/fio-postprocess-viz.py
  agent/bench-scripts/test-bin/fio-histo-log-pctiles.py
  agent/bench-scripts/test-bin/fiologparser_hist.py
  agent/util-scripts/test-bin/fio-histo-log-pctiles.py
  agent/util-scripts/test-bin/fiologparser_hist.py
Labels: Agent, enhancement

#968 fio-postprocess: fix Perl syntax bug
  agent/bench-scripts/postprocess/fio-postprocess
Labels: in progress

#966 support multiple targets while using remote clients
  agent/bench-scripts/pbench-fio
Labels: Agent, enhancement, in progress

#970 Update list of perl versions we test against
  .travis.yml
Labels: Code Infrastructure, enhancement, in progress
