Repository distributed-system-analysis/pbench, pull requests merged in 2018-03, with the labels that each got.

#785 Fix the checking of prefix file available
  server/pbench/bin/pbench-satellite-cleanup
Labels: Server, bug, in progress

#787 Server-side result state setting script.
  agent/util-scripts/pbench-move-results
  server/pbench/bin/pbench-base.sh
  server/pbench/bin/pbench-server-set-result-state
Labels: Agent, Server, in progress

#789 Fix DEBUG test.
  server/pbench/bin/pbench-inotify
Labels: Server, bug, in progress

#792 update pbench_registry.yaml to create /var/lib/pbench-agent/tools-default
  contrib/ansible/openshift/pbench_register.yml
Labels: Contrib

#795 user-benchmark: change underscore to dash in pbench_post option
  agent/bench-scripts/gold/pbench-user-benchmark/test-07.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-08.txt
  agent/bench-scripts/pbench-user-benchmark
Labels: Agent
