Repository distributed-system-analysis/pbench, pull requests merged in 2018-08, with the labels that each got.

#858 Trafficgen updates
  agent/bench-scripts/gold/pbench-trafficgen/test-21.txt
  agent/bench-scripts/gold/pbench-trafficgen/test-22.txt
  agent/bench-scripts/pbench-trafficgen
  agent/bench-scripts/postprocess/BenchPostprocess.pm
  agent/bench-scripts/postprocess/trafficgen-postprocess
  agent/bench-scripts/samples/test-22.tar.xz
  agent/bench-scripts/unittests
Labels: Agent, enhancement

#873 pbench-trafficgen: capture trex yaml config file
  agent/bench-scripts/gold/pbench-trafficgen/test-22.txt
  agent/bench-scripts/pbench-trafficgen
  agent/bench-scripts/samples/test-22.tar.xz
Labels: Agent, enhancement

#876 Fixes for two bugs discovered when deploying the server
  server/pbench/bin/gold/test-12.txt
  server/pbench/bin/pbench-server-prep-shim-001
  server/pbench/bin/pbench-sync-package-tarballs
Labels: Server, bug

#877 Sort unit tests more sensibly.
  server/pbench/bin/unittests
Labels: Unit tests

#880 Properly initialize the benchmark iteration file
  agent/bench-scripts/gold/pbench-fio/test-20.txt
  agent/bench-scripts/pbench-fio
  agent/bench-scripts/pbench-uperf
  agent/bench-scripts/pbench-user-benchmark
Labels: Agent, bug

#883 Add --user and --help to pbench-{move,copy}-results usage
  agent/util-scripts/gold/pbench-copy-results/test-32.txt
  agent/util-scripts/pbench-move-results
  agent/util-scripts/unittests
Labels: Agent, bug

#834 Move warning about too many pids to error path
  agent/tool-scripts/kvm-spinlock
  agent/util-scripts/gold/pbench-stop-tools/test-05.txt
  agent/util-scripts/gold/pbench-stop-tools/test-07.txt
Labels: Agent, bug

#891 Use dictionary constructor to avoid sorting issues
  server/pbench/bin/index-pbench
Labels: Code Infrastructure, bug

#892 Ensure UTC for timezone in unittests
  server/pbench/bin/unittests
Labels: Code Infrastructure, bug

#890 Fix indexing work to improve error handling
  server/pbench/bin/gold/test-7.10.txt
  server/pbench/bin/gold/test-7.11.txt
  server/pbench/bin/gold/test-7.12.txt
  server/pbench/bin/gold/test-7.4.txt
  server/pbench/bin/gold/test-7.5.txt
  server/pbench/bin/gold/test-7.6.txt
  server/pbench/bin/gold/test-7.7.txt
  server/pbench/bin/gold/test-7.8.txt
  server/pbench/bin/gold/test-7.9.txt
  server/pbench/bin/index-pbench
  server/pbench/lib/pbench/__init__.py
Labels: DO NOT MERGE!!!, Indexing, Server, bug

#894 Remove left-over comment.
  server/pbench/lib/pbench/__init__.py
Labels: Code Infrastructure, low priority

#899 Attempt to ensure unit tests pass in all env
  server/pbench/bin/index-pbench
Labels: Code Infrastructure, Server, Unit tests, bug

#830 Created an indexer that can handle mpstat and proc-vmstat data.
  server/pbench/bin/gold/test-7.10.txt
  server/pbench/bin/gold/test-7.11.txt
  server/pbench/bin/gold/test-7.13.txt
  server/pbench/bin/gold/test-7.14.txt
  server/pbench/bin/gold/test-7.8.txt
  server/pbench/bin/gold/test-7.9.txt
  server/pbench/bin/index-pbench
  server/pbench/bin/state/test-7.13.tar.xz
  server/pbench/bin/state/test-7.14.tar.xz
  server/pbench/bin/unittests
Labels: Indexing, Server
