Repository distributed-system-analysis/pbench, pull requests merged in 2019-07, with the labels that each got.

#1251 Modify PbenchConfig.timestamp() to return string in proper format
  server/lib/pbench/__init__.py
Labels: Server, bug

#1262 Query dashboard datastoreConfig on page entrypoints
  web-server/v0.4/src/pages/Controllers/index.js
  web-server/v0.4/src/pages/Search/index.js
Labels: Pbench Dashboard, bug

#1266 Update the version of the pbench-fio package required to 3.12.
  agent/config/pbench-agent-default.cfg
Labels: Agent, bug, fio

#1257 Make shared-fs fio job file work similar to non-shared
  agent/bench-scripts/gold/pbench-fio/test-07.txt
  agent/bench-scripts/gold/pbench-fio/test-08.txt
  agent/bench-scripts/gold/pbench-fio/test-30.txt
  agent/bench-scripts/gold/pbench-fio/test-31.txt
  agent/bench-scripts/pbench-fio.md
  agent/bench-scripts/templates/fio-shared-fs.job
  agent/bench-scripts/templates/fio.job
  agent/bench-scripts/unittests
Labels: Agent, bug, fio

#1267 Add official pbench logo from Mary Shakshober
  media/black.png
  media/black.svg
  media/full-color.png
  media/full-color.svg
  media/white.png
  media/white.svg
Labels: Agent, Code Infrastructure, Pbench Dashboard, Server, Web UI, enhancement

#1269 Render new pbench logo with SiderMenu component and replace favicon
  web-server/v0.4/public/favicon.ico
  web-server/v0.4/public/favicon.png
  web-server/v0.4/src/assets/pbench_logo.png
  web-server/v0.4/src/assets/rh_logo.png
  web-server/v0.4/src/components/SiderMenu/SiderMenu.js
  web-server/v0.4/src/components/SiderMenu/index.less
  web-server/v0.4/src/layouts/BasicLayout.js
  web-server/v0.4/src/layouts/UserLayout.js
  web-server/v0.4/src/pages/document.ejs
Labels: Pbench Dashboard

#1271 Create local storage key via window pathname
  web-server/v0.4/src/app.js
Labels: Pbench Dashboard, enhancement

#1272 resolve time inconsistency issue
  server/bin/gold/test-2.txt
  server/bin/gold/test-3.txt
  server/bin/gold/test-4.txt
  server/bin/gold/test-5.1.txt
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-5.txt
  server/bin/gold/test-6.10.txt
  server/bin/gold/test-6.11.txt
  server/bin/gold/test-6.12.txt
  server/bin/gold/test-6.3.txt
  server/bin/gold/test-6.4.txt
  server/bin/gold/test-6.5.txt
  server/bin/gold/test-6.6.txt
  server/bin/gold/test-6.7.txt
  server/bin/gold/test-6.8.txt
  server/bin/gold/test-6.9.txt
  server/bin/gold/test-6.txt
  server/bin/gold/test-9.1.txt
  server/bin/gold/test-9.2.txt
  server/bin/gold/test-9.3.txt
  server/bin/gold/test-9.4.txt
  server/bin/gold/test-9.5.txt
  server/bin/gold/test-9.6.txt
  server/bin/gold/test-9.7.txt
  server/bin/job_pool.sh
  server/bin/pbench-audit-server.sh
  server/bin/pbench-backup-tarballs.py
  server/bin/pbench-copy-sosreports.sh
  server/bin/pbench-dispatch.sh
  server/bin/pbench-move-unpacked.sh
  server/bin/pbench-satellite-cleanup.sh
  server/bin/pbench-server-prep-shim-001.sh
  server/bin/pbench-server-prep-shim-002.sh
  server/bin/pbench-sync-satellite.sh
  server/bin/pbench-unpack-tarballs.sh
  server/bin/pbench-verify-backup-tarballs.py
Labels: Server, WIP, enhancement

#1279 Add path analyzer for indexing ToC data
  server/bin/gold/test-7.0.1.txt
  server/lib/mappings/run-toc-entry.json
  server/lib/settings/run.json
Labels: Indexing, Server, enhancement

#1273 Remove moongen.
  agent/bench-scripts/gold/pbench-moongen/test-03.txt
  agent/bench-scripts/gold/test-benchmark-clis/test-CL.txt
  agent/bench-scripts/pbench-moongen
  agent/bench-scripts/postprocess/moongen-postprocess
  agent/bench-scripts/test-bin/mock-MoonGen
  agent/bench-scripts/test-bin/mock-postprocess/moongen-postprocess
  agent/bench-scripts/test-bin/test-benchmark-clis
  agent/bench-scripts/unittests
Labels: Agent, moongen

#1274 removed broken link in readme
  README.md
Labels: Code Infrastructure, Documentation, bug

#1261 remove .iterations files created by bench mark scripts
  agent/bench-scripts/gold/pbench-dbench/test-02.txt
  agent/bench-scripts/gold/pbench-fio/test-04.txt
  agent/bench-scripts/gold/pbench-fio/test-05.txt
  agent/bench-scripts/gold/pbench-fio/test-06.txt
  agent/bench-scripts/gold/pbench-fio/test-07.txt
  agent/bench-scripts/gold/pbench-fio/test-08.txt
  agent/bench-scripts/gold/pbench-fio/test-13.txt
  agent/bench-scripts/gold/pbench-fio/test-15.txt
  agent/bench-scripts/gold/pbench-fio/test-16.txt
  agent/bench-scripts/gold/pbench-fio/test-20.txt
  agent/bench-scripts/gold/pbench-fio/test-28.txt
  agent/bench-scripts/gold/pbench-fio/test-30.txt
  agent/bench-scripts/gold/pbench-fio/test-31.txt
  agent/bench-scripts/gold/pbench-fio/test-32.txt
  agent/bench-scripts/gold/pbench-trafficgen/test-22.txt
  agent/bench-scripts/gold/pbench-uperf/test-00.txt
  agent/bench-scripts/gold/pbench-uperf/test-01.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-09.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-10.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-11.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-12.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-23.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-24.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-25.txt
  agent/bench-scripts/pbench-cyclictest
  agent/bench-scripts/pbench-dbench
  agent/bench-scripts/pbench-fio
  agent/bench-scripts/pbench-iozone
  agent/bench-scripts/pbench-linpack
  agent/bench-scripts/pbench-migrate
  agent/bench-scripts/pbench-netperf
  agent/bench-scripts/pbench-trafficgen
  agent/bench-scripts/pbench-uperf
  agent/bench-scripts/pbench-user-benchmark
  agent/util-scripts/gold/pbench-metadata-log/test-22.txt
  agent/util-scripts/pbench-metadata-log
  agent/util-scripts/samples/pbench-metadata-log/test-22/pbench/.iterations
Labels: Agent, bug

#1287 fio-postprocess-cdm: fix syntax error
  agent/bench-scripts/postprocess/fio-postprocess-cdm
Labels: Agent, CDM, bug, fio
