Repository distributed-system-analysis/pbench, pull requests merged in 2019-11, with the labels that each got.

#1396 Remove redundant fetch of MD5s from verify backup
  server/bin/gold/test-2.txt
  server/bin/gold/test-3.txt
  server/bin/gold/test-4.txt
  server/bin/gold/test-5.1.txt
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-5.txt
  server/bin/gold/test-9.1.txt
  server/bin/gold/test-9.2.txt
  server/bin/gold/test-9.3.txt
  server/bin/gold/test-9.4.txt
  server/bin/gold/test-9.5.txt
  server/bin/gold/test-9.6.txt
  server/bin/gold/test-9.7.txt
  server/bin/pbench-verify-backup-tarballs.py
Labels: Background Tasks, Server, bug, enhancement

#1402 Revert "Remove redundant fetch of MD5s from verify backup"
  server/bin/gold/test-2.txt
  server/bin/gold/test-3.txt
  server/bin/gold/test-4.txt
  server/bin/gold/test-5.1.txt
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-5.txt
  server/bin/gold/test-9.1.txt
  server/bin/gold/test-9.2.txt
  server/bin/gold/test-9.3.txt
  server/bin/gold/test-9.4.txt
  server/bin/gold/test-9.5.txt
  server/bin/gold/test-9.6.txt
  server/bin/gold/test-9.7.txt
  server/bin/pbench-verify-backup-tarballs.py
Labels: Background Tasks, Code Infrastructure, Server, bug

#1403 Rewritten metalog-%-error testcase
  agent/util-scripts/gold/test-add-metalog-%-option/test-48.txt
  agent/util-scripts/test-bin/test-add-metalog-%-option
  agent/util-scripts/unittests
Labels: Agent, Unit tests, enhancement

#1386 Creates CONTRIBUTION.md
  CONTRIBUTION.md
Labels: Documentation

#1404 Fix failing unit tests on some Fedora systems
  agent/util-scripts/gold/pbench-register-tool-set/test-11.1.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.10.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.12.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.2.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.3.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.4.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.5.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.6.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.9.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.txt
  agent/util-scripts/gold/pbench-register-tool/test-00.txt
  agent/util-scripts/gold/pbench-register-tool/test-42.txt
  agent/util-scripts/gold/pbench-register-tool/test-43.txt
  agent/util-scripts/gold/pbench-register-tool/test-45.txt
  agent/util-scripts/gold/pbench-register-tool/test-46.txt
  agent/util-scripts/pbench-register-tool
Labels: Agent, Unit tests, bug

#1405 Remove redundant fetch of MD5s from verify backup
  server/bin/gold/test-2.txt
  server/bin/gold/test-3.txt
  server/bin/gold/test-4.txt
  server/bin/gold/test-5.1.txt
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-5.txt
  server/bin/gold/test-9.1.txt
  server/bin/gold/test-9.2.txt
  server/bin/gold/test-9.3.txt
  server/bin/gold/test-9.4.txt
  server/bin/gold/test-9.5.txt
  server/bin/gold/test-9.6.txt
  server/bin/gold/test-9.7.txt
  server/bin/pbench-verify-backup-tarballs.py
Labels: Background Tasks, Server, bug, enhancement

#1408 Fix dashboard unit tests and update README.md
  web-server/v0.4/README.md
  web-server/v0.4/package.json
Labels: Code Infrastructure, Documentation, Pbench Dashboard, Unit tests, bug

#1412 Fix use of scp/ssh options and mock scp cleanly
  agent/util-scripts/gold/pbench-copy-results/test-31.txt
  agent/util-scripts/gold/pbench-copy-results/test-39.txt
  agent/util-scripts/gold/pbench-copy-results/test-40.txt
  agent/util-scripts/gold/pbench-copy-results/test-41.txt
  agent/util-scripts/gold/pbench-metadata-log/test-03.txt
  agent/util-scripts/gold/pbench-move-results/test-33.txt
  agent/util-scripts/pbench-copy-result-tb
  agent/util-scripts/pbench-metadata-log
  agent/util-scripts/samples/pbench-metadata-log/test-03/pbench/tmp/pmdlog/dhcp31-174/tools-default/sar
  agent/util-scripts/samples/pbench-metadata-log/test-03/pbench/tmp/pmdlog/perf104/tools-default/iostat
  agent/util-scripts/test-bin/scp
Labels: Agent, Code Infrastructure, Unit tests, bug

#1395 Fix pbench-make-result-tb errors on arguments containing '%'.
  agent/util-scripts/gold/pbench-copy-results/test-49.txt
  agent/util-scripts/gold/pbench-metadata-log/test-03.txt
  agent/util-scripts/gold/test-pbench-metadata-log/test-50.txt
  agent/util-scripts/pbench-make-result-tb
  agent/util-scripts/pbench-metadata-log
  agent/util-scripts/samples/pbench-copy-results/test-49/opt/pbench-agent/id_rsa
  agent/util-scripts/samples/pbench-copy-results/test-49/pbench/pbench-user-benchmark_ndk-test30%-1_2018.05.23T03.21.32/metadata.log
  agent/util-scripts/test-bin/test-pbench-metadata-log
  agent/util-scripts/unittests
Labels: Agent, WIP, bug

#1413 Upgrade umi and umi plugins to latest version
  web-server/v0.4/package.json
  web-server/v0.4/src/layouts/BasicLayout.js
Labels: Pbench Dashboard, Web UI, enhancement

#1410 Adds unit test for Month Select component
  web-server/v0.4/src/components/MonthSelect/index.js
  web-server/v0.4/src/components/MonthSelect/index.test.js
Labels: Pbench Dashboard, Unit tests

#1417 Update main README.md to remove Waffle.io reference
  README.md
Labels: Agent, Code Infrastructure, Documentation, Pbench Dashboard, Server, bug, enhancement

#1418 Update gh-pages index.html to remove Waffle.io references
  index.html
Labels: Documentation

#1409 Refine e2e tests to clean up background web server
  .travis.yml
  web-server/v0.4/README.md
  web-server/v0.4/e2etests
Labels: Code Infrastructure, Pbench Dashboard, Unit tests, bug

#1399 Audit now ignores incoming `*.unpack` dirs
  server/bin/gold/test-20.txt
  server/bin/pbench-audit-server.sh
  server/bin/state/test-20.tar.xz
Labels: Background Tasks, Server, bug

#1387 Creates flamegraph for perf data
  agent/tool-scripts/perf
  agent/tool-scripts/postprocess/perf-postprocess
Labels: Agent, tools
