Repository distributed-system-analysis/pbench, pull requests merged in 2019-12, with the labels that each got.

#1432 Ignore requirement for file extensions within the import path
  web-server/v0.4/.eslintrc.js
Labels: Pbench Dashboard, Unit tests, Web UI, bug

#1434 Properly set the benchmark_run_dir for all tests
  agent/util-scripts/gold/pbench-clear-tools/test-12.txt
  agent/util-scripts/gold/pbench-clear-tools/test-21.txt
  agent/util-scripts/gold/pbench-collect-sysinfo/test-25.txt
  agent/util-scripts/gold/pbench-collect-sysinfo/test-26.txt
  agent/util-scripts/gold/pbench-collect-sysinfo/test-27.txt
  agent/util-scripts/gold/pbench-collect-sysinfo/test-28.txt
  agent/util-scripts/gold/pbench-collect-sysinfo/test-29.txt
  agent/util-scripts/gold/pbench-collect-sysinfo/test-30.txt
  agent/util-scripts/gold/pbench-copy-results/test-31.txt
  agent/util-scripts/gold/pbench-copy-results/test-39.txt
  agent/util-scripts/gold/pbench-copy-results/test-40.txt
  agent/util-scripts/gold/pbench-copy-results/test-41.txt
  agent/util-scripts/gold/pbench-copy-results/test-49.txt
  agent/util-scripts/gold/pbench-metadata-log/test-01.txt
  agent/util-scripts/gold/pbench-metadata-log/test-02.txt
  agent/util-scripts/gold/pbench-metadata-log/test-03.txt
  agent/util-scripts/gold/pbench-metadata-log/test-04.txt
  agent/util-scripts/gold/pbench-metadata-log/test-22.txt
  agent/util-scripts/gold/pbench-move-results/test-33.txt
  agent/util-scripts/gold/pbench-postprocess-tools/test-13.txt
  agent/util-scripts/gold/pbench-postprocess-tools/test-20.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.1.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.10.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.12.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.2.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.3.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.4.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.5.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.6.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.7.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.8.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.9.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.txt
  agent/util-scripts/gold/pbench-register-tool/test-00.txt
  agent/util-scripts/gold/pbench-register-tool/test-42.txt
  agent/util-scripts/gold/pbench-register-tool/test-43.txt
  agent/util-scripts/gold/pbench-register-tool/test-44.txt
  agent/util-scripts/gold/pbench-register-tool/test-45.txt
  agent/util-scripts/gold/pbench-register-tool/test-46.txt
  agent/util-scripts/gold/pbench-register-tool/test-47.txt
  agent/util-scripts/gold/pbench-stop-tools/test-05.txt
  agent/util-scripts/gold/pbench-stop-tools/test-06.txt
  agent/util-scripts/gold/pbench-stop-tools/test-07.txt
  agent/util-scripts/gold/pbench-stop-tools/test-08.txt
  agent/util-scripts/gold/pbench-stop-tools/test-09.txt
  agent/util-scripts/gold/pbench-stop-tools/test-10.txt
  agent/util-scripts/gold/test-add-metalog-%-option/test-48.txt
  agent/util-scripts/gold/test-pbench-metadata-log/test-50.txt
  agent/util-scripts/gold/test-tool-trigger/test-19.txt
  agent/util-scripts/samples/pbench-metadata-log/test-22/pbench/mock-run/.iterations
  agent/util-scripts/samples/test-add-metalog-%-option/test-48/pbench/mock-run/metadata.log
  agent/util-scripts/test-bin/test-add-metalog-%-option
  agent/util-scripts/unittests
Labels: Agent, Code Infrastructure, Unit tests, enhancement

#1440 Use coreutils for Ubuntu Eoan release in Travis-CI
  .travis.yml
Labels: Agent, Code Infrastructure, Server, Unit tests, bug
