Repository distributed-system-analysis/pbench, pull requests merged in 2019-01, with the labels that each got.

#1003 Allow insecure certs for prom2json
  agent/tool-scripts/datalog/prometheus-metrics-datalog
  agent/tool-scripts/prometheus-metrics
Labels: Agent, enhancement

#1033 Rename "PDash" references to "Pbench Dashboard"
  web-server/v0.4/package.json
  web-server/v0.4/src/components/SiderMenu/SiderMenu.js
  web-server/v0.4/src/e2e/home.e2e.js
  web-server/v0.4/src/e2e/login.e2e.js
  web-server/v0.4/src/index.ejs
  web-server/v0.4/src/layouts/BasicLayout.js
  web-server/v0.4/src/layouts/UserLayout.js
Labels: Pbench Dashboard, in progress

#1037 Query prefix field in run document for summary visualization
  web-server/v0.4/package.json
  web-server/v0.4/src/components/GlobalHeader/index.js
  web-server/v0.4/src/index.js
  web-server/v0.4/src/models/dashboard.js
  web-server/v0.4/src/models/global.js
  web-server/v0.4/src/models/search.js
  web-server/v0.4/src/routes/Dashboard/ComparisonSelect.js
  web-server/v0.4/src/routes/Dashboard/Controllers.js
  web-server/v0.4/src/routes/Dashboard/Results.js
  web-server/v0.4/src/routes/Dashboard/RunComparison.js
  web-server/v0.4/src/routes/Dashboard/Summary.js
  web-server/v0.4/src/routes/Search/SearchList.js
  web-server/v0.4/src/services/dashboard.js
  web-server/v0.4/src/services/global.js
Labels: Pbench Dashboard, in progress

#1044 Fix assertion during error handling of index resps
  server/pbench/lib/pbench/__init__.py
Labels: Background Tasks, Server, bug, in progress

#1045 Fix pbench-move-results to only push valid results
  agent/util-scripts/gold/pbench-move-results/test-33.txt
  agent/util-scripts/gold/pbench-move-results/test-34.txt
  agent/util-scripts/pbench-move-results
  agent/util-scripts/samples/pbench-move-results/test-33/opt/pbench-agent/config/pbench-agent.cfg
  agent/util-scripts/samples/pbench-move-results/test-33/opt/pbench-agent/id_rsa
  agent/util-scripts/samples/pbench-move-results/test-33/pbench/pbench-user-benchmark_ndk-test-1_2019.01.01T12.00.42/.running
  agent/util-scripts/samples/pbench-move-results/test-33/pbench/pbench-user-benchmark_ndk-test-1_2019.01.01T12.00.42/metadata.log
  agent/util-scripts/samples/pbench-move-results/test-33/pbench/pbench-user-benchmark_ndk-test-1_2019.01.01T12.00.43/metadata.log
  agent/util-scripts/samples/pbench-move-results/test-33/pbench/pbench.log
  agent/util-scripts/unittests
Labels: Agent, bug, in progress

#1048 Version bump to 0.55
  VERSION
Labels: in progress

#1040 Reduce overhead for local dev by using node environment vars
  web-server/v0.4/.webpackrc.js
  web-server/v0.4/README.md
  web-server/v0.4/src/services/global.js
Labels: Pbench Dashboard, in progress

#1023 A few cleanups to pbench-postprocess-tools
  agent/util-scripts/pbench-postprocess-tools
Labels: Agent, bug, in progress

#1051 CDM and pbench-run-benchmark
  agent/bench-scripts/contrib/fio.job
  agent/bench-scripts/pbench-gen-iterations
  agent/bench-scripts/pbench-run-benchmark
  agent/bench-scripts/pbench-run-benchmark-sample
  agent/bench-scripts/postprocess/fio-postprocess-cdm
  agent/bench-scripts/postprocess/fio-prepare-jobfile
  agent/bench-scripts/postprocess/generate-benchmark-summary
  agent/bench-scripts/postprocess/trafficgen-postprocess-cdm
  agent/config/ansible.cfg
  agent/config/benchmark/fio.json
  agent/config/benchmark/fio.json.example
  agent/config/benchmark/pbench.json
  agent/config/benchmark/trafficgen.json
  agent/lib/PbenchAnsible.pm
  agent/lib/PbenchBase.pm
  agent/lib/PbenchCDM.pm
  agent/tool-scripts/postprocess/iostat-postprocess-cdm
  agent/util-scripts/pbench-import-cdm
  agent/util-scripts/pbench-postprocess-tools-cdm
Labels: Agent, Indexing, enhancement, fio, in progress

#1047 Ensure pbench-move/copy-results only works with metadata.log
  agent/util-scripts/gold/pbench-move-results/test-33.txt
  agent/util-scripts/pbench-move-results
  agent/util-scripts/samples/pbench-move-results/test-33/pbench/pbench-user-benchmark_ndk-test-1_2019.01.01T12.00.44/bad-metadata.log
  agent/util-scripts/unittests
Labels: Agent, enhancement, in progress

#1057 Capture uperf-server logs for debugging
  agent/bench-scripts/gold/pbench-uperf/test-00.txt
  agent/bench-scripts/gold/pbench-uperf/test-01.txt
  agent/bench-scripts/pbench-uperf
Labels: Agent, enhancement, in progress, uperf

#1046 Reduce pidstat space by 90%
  agent/tool-scripts/postprocess/SysStat.pm
  agent/tool-scripts/postprocess/pidstat-convert
  agent/tool-scripts/postprocess/pidstat-postprocess
  agent/tool-scripts/postprocess/samples/pidstat-0/pidstat-stderr.txt
  agent/tool-scripts/postprocess/samples/pidstat/pidstat-stderr.txt
  agent/tool-scripts/postprocess/unittests
  agent/tool-scripts/sar
Labels: Agent, bug, in progress

#1061 Add --no-stderr-capture flag to pbench-user-benchmark
  agent/bench-scripts/gold/pbench-user-benchmark/test-07.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-08.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-09.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-10.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-11.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-12.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-23.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-24.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-25.txt
  agent/bench-scripts/pbench-user-benchmark
  agent/bench-scripts/test-bin/user-benchmark-script
  agent/bench-scripts/unittests
Labels: Agent, enhancement, in progress
