Repository distributed-system-analysis/pbench, pull requests merged in 2019-08, with the labels that each got.

#1296 fixup iteration naming for pbench-run-benchmark
  agent/bench-scripts/pbench-run-benchmark
  agent/bench-scripts/postprocess/generate-benchmark-summary
  agent/lib/PbenchBase.pm
  agent/tool-scripts/postprocess/gold/generate-benchmark-summary-0/result.json
Labels: Agent, enhancement, run-benchmark

#1293 PbenchBase.pm: add required metadata log for benchmark run name
  agent/lib/PbenchBase.pm
Labels: Agent, bug, run-benchmark

#1289 Decompose pbench-move-results into "make" and "move" components
  agent/util-scripts/gold/pbench-copy-results/test-31.txt
  agent/util-scripts/gold/pbench-move-results/test-33.txt
  agent/util-scripts/pbench-copy-result-tb
  agent/util-scripts/pbench-make-result-tb
  agent/util-scripts/pbench-move-results
  agent/util-scripts/unittests
Labels: Agent, enhancement

#1303 update the closest samples index handling
  agent/bench-scripts/pbench-run-benchmark
  agent/bench-scripts/postprocess/generate-benchmark-summary
  agent/bench-scripts/postprocess/process-iteration-samples
Labels: Agent, run-benchmark

#1298 Cdm benchmarks
  agent/bench-scripts/pbench-gen-iterations
  agent/bench-scripts/pbench-run-benchmark
  agent/bench-scripts/pbench-run-benchmark-sample
  agent/bench-scripts/postprocess/fio-postprocess-cdm
  agent/lib/PbenchBase.pm
  agent/lib/PbenchCDM.pm
  agent/lib/PbenchES.pm
  agent/tool-scripts/postprocess/iostat-postprocess
  agent/tool-scripts/postprocess/mpstat-postprocess
  agent/tool-scripts/postprocess/pidstat-postprocess
  agent/tool-scripts/postprocess/sar-postprocess
  agent/util-scripts/cdm-get-result
  agent/util-scripts/pbench-get-iteration-metrics
  agent/util-scripts/pbench-get-metric-data
  agent/util-scripts/pbench-get-primary-metric
  agent/util-scripts/pbench-import-cdm
  agent/util-scripts/pbench-postprocess-tools-cdm
Labels: Agent, CDM, run-benchmark

#1301 Remove switch
  agent/bench-scripts/postprocess/fio-postprocess
Labels: Agent, Code Infrastructure, bug, fio

#1310 pbench-*-tools: fixup some iteration related issues
  agent/util-scripts/gold/test-tool-trigger/test-19.txt
  agent/util-scripts/pbench-postprocess-tools
Labels: Agent, bug, tools

#1226 Add configuration documentation
  doc/CONFIG_DATA.md
Labels: Agent, Documentation

#1323 Fix permissions of `id_rsa` key file
  agent/util-scripts/pbench-agent-config-ssh-key
Labels: Agent, bug

#1325 Add missing tool data indexing crontab entry
  server/bin/gold/test-8.txt
  server/lib/config/pbench-server-default.cfg
Labels: Background Tasks, Indexing, Server, bug
