Repository distributed-system-analysis/pbench, pull requests merged in 2019-05, with the labels that each got.

#1197 Refactor to add TS envi var from python
  server/bin/gold/test-2.txt
  server/bin/gold/test-3.txt
  server/bin/gold/test-4.txt
  server/bin/gold/test-5.1.txt
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-5.txt
  server/bin/gold/test-7.1.txt
  server/bin/gold/test-7.10.txt
  server/bin/gold/test-7.11.txt
  server/bin/gold/test-7.12.txt
  server/bin/gold/test-7.13.txt
  server/bin/gold/test-7.14.txt
  server/bin/gold/test-7.15.txt
  server/bin/gold/test-7.16.txt
  server/bin/gold/test-7.17.txt
  server/bin/gold/test-7.18.txt
  server/bin/gold/test-7.2.0.txt
  server/bin/gold/test-7.2.1.txt
  server/bin/gold/test-7.3.txt
  server/bin/gold/test-7.4.txt
  server/bin/gold/test-7.5.txt
  server/bin/gold/test-7.6.txt
  server/bin/gold/test-7.7.txt
  server/bin/gold/test-7.8.txt
  server/bin/gold/test-7.9.txt
  server/bin/pbench-base.py
  server/bin/pbench-base.sh
  server/bin/pbench-index.py
  server/bin/state/config-satellite/pbench-server.cfg
  server/bin/state/config/pbench-server.cfg
  server/bin/state/test-23.config/pbench-server.cfg
  server/bin/state/test-5.1.config/pbench-server.cfg
  server/bin/unittests
  server/lib/pbench/__init__.py
Labels: Code Infrastructure, Server, enhancement

#1190 pbench-moongen: add deprecation warning
  agent/bench-scripts/gold/pbench-moongen/test-03.txt
  agent/bench-scripts/gold/test-benchmark-clis/test-CL.txt
  agent/bench-scripts/pbench-moongen
Labels: Agent, enhancement, in progress, moongen

#1202 Reduce server unit tests time
  server/bin/gold/test-7.10.txt
  server/bin/gold/test-7.11.txt
  server/bin/gold/test-7.12.txt
  server/bin/gold/test-7.13.txt
  server/bin/gold/test-7.14.txt
  server/bin/gold/test-7.15.txt
  server/bin/gold/test-7.16.txt
  server/bin/gold/test-7.17.txt
  server/bin/gold/test-7.8.txt
  server/bin/gold/test-7.9.txt
  server/bin/pbench-index.py
  server/bin/state/test-7.13.tar.xz
  server/bin/state/test-7.14.tar.xz
Labels: Code Infrastructure, Server, enhancement

#1182 Fix indexing multiple benchmark parameters
  server/bin/gold/test-7.16.txt
  server/bin/pbench-index.py
  server/bin/state/test-7.16.tar.xz
  server/lib/pbench/mock.py
Labels: Indexing, Server, bug, trafficgen

#1180 Resolve 404 error for loading dashboard favicon assets
  web-server/v0.4/README.md
  web-server/v0.4/src/pages/document.ejs
Labels: Pbench Dashboard, bug

#1194 Update dashboard assets with new Red Hat logo
  web-server/v0.4/public/favicon.png
  web-server/v0.4/src/assets/rh_logo.png
  web-server/v0.4/src/components/SiderMenu/SiderMenu.js
  web-server/v0.4/src/components/SiderMenu/index.less
Labels: Pbench Dashboard, enhancement

#1205 Fix use of sosreport for version 3.5.1 and later
  agent/util-scripts/pbench-sysinfo-dump
Labels: Agent, bug

#1203 Renders title properly in case of multiple controller selection
  web-server/v0.4/src/components/PageHeader/index.js
  web-server/v0.4/src/pages/ComparisonSelect/index.js
  web-server/v0.4/src/utils/parse.js
Labels: Pbench Dashboard, bug

#1193 Apply prettier configuration to all js source files
  web-server/v0.4/src/app.js
  web-server/v0.4/src/components/TableFilterSelection/index.js
  web-server/v0.4/src/models/dashboard.js
  web-server/v0.4/src/models/global.js
  web-server/v0.4/src/pages/ComparisonSelect/index.test.js
  web-server/v0.4/src/pages/Controllers/index.js
  web-server/v0.4/src/pages/Controllers/index.test.js
  web-server/v0.4/src/pages/Results/index.js
  web-server/v0.4/src/pages/Results/index.test.js
  web-server/v0.4/src/pages/RunComparison/index.js
  web-server/v0.4/src/pages/Search/index.js
  web-server/v0.4/src/pages/Search/index.test.js
  web-server/v0.4/src/pages/Summary/index.js
  web-server/v0.4/src/pages/Summary/index.test.js
  web-server/v0.4/src/polyfill.js
Labels: Code Infrastructure, Pbench Dashboard, enhancement

#1181 Integrate umi-request for handling network request errors
  web-server/v0.4/package.json
  web-server/v0.4/src/pages/RunComparison/index.js
  web-server/v0.4/src/pages/RunComparison/index.test.js
  web-server/v0.4/src/services/dashboard.js
  web-server/v0.4/src/services/global.js
  web-server/v0.4/src/services/search.js
  web-server/v0.4/src/utils/request.js
  web-server/v0.4/unittests
Labels: Pbench Dashboard, enhancement

#1209 Reference pbench_install_dir enviroment variable
  agent/util-scripts/pbench-sysinfo-dump
Labels: Agent, bug

#1221 Fix collection of sosreports to recognize tb names
  agent/util-scripts/pbench-sysinfo-dump
Labels: Agent, bug

#1220 Restore creation of pbench_run directory
  agent/base
Labels: Agent, bug
