Repository distributed-system-analysis/pbench, pull requests merged in 2019-02, with the labels that each got.

#1067 Update gold index.html file
  agent/tool-scripts/postprocess/gold/index.html
Labels: Agent, Code Infrastructure, enhancement, in progress

#1054 Use createBrowserHistory to manage session history
  web-server/v0.4/src/index.js
Labels: Pbench Dashboard, enhancement, in progress

#1066 Native integration of jschart with pbench dashboard
  web-server/v0.4/package.json
  web-server/v0.4/src/routes/Dashboard/RunComparison.js
  web-server/v0.4/src/routes/Dashboard/RunComparison.less
  web-server/v0.4/src/utils/timeseries.js
Labels: Pbench Dashboard, in progress

#1071 Fix typo.
  agent/tool-scripts/perf
Labels: Agent, bug, in progress

#1074 Version bump
  VERSION
Labels: in progress

#1082 Remove unused --kvm-host parameter for pbench-linpack
  agent/bench-scripts/pbench-linpack
Labels: Agent, enhancement, in progress

#1087 Move sed commands into common shared function
  server/bin/unittests
Labels: Code Infrastructure, Server, in progress

#1094 Don't use reference-result directly, use sample1
  agent/bench-scripts/gold/pbench-user-benchmark/test-09.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-10.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-11.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-12.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-23.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-24.txt
  agent/bench-scripts/gold/pbench-user-benchmark/test-25.txt
  agent/bench-scripts/pbench-user-benchmark
  agent/util-scripts/gold/test-tool-trigger/test-19.txt
  agent/util-scripts/pbench-tool-trigger
Labels: Agent, bug, in progress

#1092 Use the already extracted sosreports
  server/bin/gold/test-7.16.txt
  server/bin/index-pbench
Labels: Indexing, Server, bug, enhancement, in progress

#1091 Ensure indexing properly cleans up extracted tar balls
  server/bin/index-pbench
  server/bin/pbench-index
  server/bin/unittests
Labels: Indexing, Server, bug, in progress

#1083 fixes: #1038 replace file system hierarchy view with a react-based tree visualizer
  web-server/v0.4/src/models/dashboard.js
  web-server/v0.4/src/routes/Dashboard/Summary.js
  web-server/v0.4/src/services/dashboard.js
Labels: Pbench Dashboard, Web UI, enhancement, in progress

#1041 Adds full PDF download feature to comparison page
  web-server/v0.4/package.json
  web-server/v0.4/src/routes/Dashboard/RunComparison.js
Labels: Pbench Dashboard, in progress

#1096 Update base URL paths for controller and search routes
  web-server/v0.4/src/common/menu.js
  web-server/v0.4/src/common/router.js
  web-server/v0.4/src/services/dashboard.js
  web-server/v0.4/src/services/global.js
Labels: Pbench Dashboard, bug, in progress

#1097 Fix and improve search UX for controllers and results
  web-server/v0.4/package.json
  web-server/v0.4/src/routes/Dashboard/Controllers.js
  web-server/v0.4/src/routes/Dashboard/Results.js
  web-server/v0.4/src/routes/Dashboard/RunComparison.js
  web-server/v0.4/src/routes/Dashboard/Summary.js
Labels: Pbench Dashboard, bug, enhancement, in progress

#1103 Properly check for unittest failures
  server/bin/unittests
Labels: Code Infrastructure, Server, bug

#1100 Don't require pbench-server 'environment' option
  server/lib/pbench/__init__.py
Labels: Server, bug

#1095 Further fixes to stop using reference-result directly
  agent/bench-scripts/pbench-cyclictest
  agent/bench-scripts/pbench-iozone
  agent/bench-scripts/pbench-linpack
  agent/bench-scripts/pbench-migrate
  agent/bench-scripts/pbench-specjbb2005
  agent/util-scripts/pbench-tool-trigger
Labels: Agent, bug, in progress

#1104 Upgrade the front-end build tool from roadhog to UmiJS
  web-server/v0.4/.babelrc.js
  web-server/v0.4/.gitignore
  web-server/v0.4/.webpackrc.js
  web-server/v0.4/README.md
  web-server/v0.4/config/config.js
  web-server/v0.4/config/router.config.js
  web-server/v0.4/mock/datastoreConfig.js.example
  web-server/v0.4/package.json
  web-server/v0.4/src/common/menu.js
  web-server/v0.4/src/common/router.js
  web-server/v0.4/src/components/PageHeader/index.js
  web-server/v0.4/src/components/PageHeader/index.test.js
  web-server/v0.4/src/components/SiderMenu/SiderMenu.js
  web-server/v0.4/src/components/SiderMenu/SiderMenu.test.js
  web-server/v0.4/src/components/SiderMenu/index.js
  web-server/v0.4/src/components/_utils/pathTools.test.js
  web-server/v0.4/src/global.js
  web-server/v0.4/src/global.less
  web-server/v0.4/src/index.js
  web-server/v0.4/src/layouts/BasicLayout.js
  web-server/v0.4/src/layouts/MenuContext.js
  web-server/v0.4/src/layouts/PageHeaderLayout.js
  web-server/v0.4/src/layouts/UserLayout.js
  web-server/v0.4/src/pages/Dashboard/ComparisonSelect.js
  web-server/v0.4/src/pages/Dashboard/ComparisonSelect.less
  web-server/v0.4/src/pages/Dashboard/Controllers.js
  web-server/v0.4/src/pages/Dashboard/Controllers.less
  web-server/v0.4/src/pages/Dashboard/Results.js
  web-server/v0.4/src/pages/Dashboard/Results.less
  web-server/v0.4/src/pages/Dashboard/RunComparison.js
  web-server/v0.4/src/pages/Dashboard/Summary.js
  web-server/v0.4/src/pages/Dashboard/Summary.less
  web-server/v0.4/src/pages/Exception/403.js
  web-server/v0.4/src/pages/Exception/404.js
  web-server/v0.4/src/pages/Exception/500.js
  web-server/v0.4/src/pages/Exception/style.less
  web-server/v0.4/src/pages/Exception/triggerException.js
  web-server/v0.4/src/pages/Search/SearchList.js
  web-server/v0.4/src/router.js
  web-server/v0.4/src/services/global.js
  web-server/v0.4/src/theme.js
  web-server/v0.4/src/utils/request.js
Labels: Pbench Dashboard, enhancement
