Repository distributed-system-analysis/pbench, pull requests merged in 2019-03, with the labels that each got.

#1112 Remove use of deprecated ant design's onRowClick
  web-server/v0.4/src/pages/Dashboard/Controllers.js
  web-server/v0.4/src/pages/Dashboard/Results.js
  web-server/v0.4/src/pages/Search/SearchList.js
Labels: Pbench Dashboard, Web UI, bug

#1115 Remove console log on render() for header
  web-server/v0.4/src/components/GlobalHeader/index.js
Labels: Pbench Dashboard, Web UI, bug

#1118 Resolve "each child in a list should have a unique key prop" console error/log message
  web-server/v0.4/src/pages/Dashboard/Summary.js
Labels: Pbench Dashboard, bug

#1121 Ensure benchmark command args are properly quoted
  agent/bench-scripts/pbench-moongen
  agent/bench-scripts/pbench-trafficgen
Labels: Agent, bug, in progress, moongen, trafficgen

#1124 Handle @metadata.controller_dir properly
  web-server/v0.4/src/models/dashboard.js
  web-server/v0.4/src/models/search.js
  web-server/v0.4/src/services/dashboard.js
Labels: Pbench Dashboard, Web UI, bug, in progress

#1132 Version bump: v0.57
  VERSION
Labels: in progress

#1129 Remove trap from agent base
  agent/base
  agent/util-scripts/pbench-sysinfo-dump
Labels: Agent, bug, in progress

#1128 Simplify logic for comparing unit tests to run
  server/bin/unittests
Labels: Code Infrastructure, Server, in progress

#1135 Remove 'selectorIndices' logic for simple month selection
  web-server/v0.4/src/models/global.js
  web-server/v0.4/src/pages/Dashboard/Controllers.js
  web-server/v0.4/src/pages/Search/SearchList.js
Labels: Pbench Dashboard, enhancement, in progress

#1136 Reference selectedResults as an array from SearchList
  web-server/v0.4/src/pages/Search/SearchList.js
Labels: Pbench Dashboard, bug, in progress

#1137 Initial dashboard backend GraphQL infrastructure
  web-server/prisma/.gitignore
  web-server/prisma/README.md
  web-server/prisma/datamodel.prisma
  web-server/prisma/index.js
  web-server/prisma/package-lock.json
  web-server/prisma/package.json
  web-server/prisma/prisma.yml
Labels: Pbench Dashboard, Server, in progress

#1139 Use tail for all unit tests
  run-unittests
Labels: Code Infrastructure, enhancement, in progress

#1108 Add bpftrace to pbench-agent-tools
  agent/tool-scripts/bpftrace
Labels: Agent, enhancement, tools

#1130 Destructure page components for reducing component rerenders.
  web-server/v0.4/package.json
  web-server/v0.4/src/components/Button/index.js
  web-server/v0.4/src/components/GlobalHeader/index.js
  web-server/v0.4/src/components/MonthSelect/index.js
  web-server/v0.4/src/components/RowSelection/index.js
  web-server/v0.4/src/components/SearchBar/index.js
  web-server/v0.4/src/components/Table/index.js
  web-server/v0.4/src/models/dashboard.js
  web-server/v0.4/src/pages/Dashboard/Controllers.js
  web-server/v0.4/src/pages/Dashboard/Results.js
  web-server/v0.4/src/pages/Search/SearchList.js
Labels: Pbench Dashboard, enhancement, in progress

#1142 Integrate redux persist for persisting and rehydrating redux store
  web-server/v0.4/config/config.js
  web-server/v0.4/package.json
  web-server/v0.4/src/app.js
  web-server/v0.4/src/global.js
  web-server/v0.4/src/layouts/BasicLayout.js
  web-server/v0.4/src/pages/Dashboard/Controllers.js
  web-server/v0.4/src/pages/Dashboard/Results.js
  web-server/v0.4/src/pages/Search/SearchList.js
Labels: Pbench Dashboard, enhancement, in progress

#1148 Add env var for server unit test parallelism
  .travis.yml
  server/bin/unittests
Labels: Code Infrastructure, Server, in progress
