Repository distributed-system-analysis/pbench, pull requests merged in 2019-09, with the labels that each got.

#1326 Fix server-reports index names
  server/bin/gold/test-10.txt
  server/bin/gold/test-11.txt
  server/bin/gold/test-12.txt
  server/bin/gold/test-13.txt
  server/bin/gold/test-14.txt
  server/bin/gold/test-15.txt
  server/bin/gold/test-16.txt
  server/bin/gold/test-17.txt
  server/bin/gold/test-2.txt
  server/bin/gold/test-20.txt
  server/bin/gold/test-21.txt
  server/bin/gold/test-22.txt
  server/bin/gold/test-3.txt
  server/bin/gold/test-4.txt
  server/bin/gold/test-5.1.txt
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-5.txt
  server/bin/gold/test-6.10.txt
  server/bin/gold/test-6.11.txt
  server/bin/gold/test-6.12.txt
  server/bin/gold/test-6.3.txt
  server/bin/gold/test-6.4.txt
  server/bin/gold/test-6.5.txt
  server/bin/gold/test-6.6.txt
  server/bin/gold/test-6.7.txt
  server/bin/gold/test-6.8.txt
  server/bin/gold/test-6.9.txt
  server/bin/gold/test-6.txt
  server/bin/gold/test-7.0.0.txt
  server/bin/gold/test-7.0.1.txt
  server/bin/gold/test-7.1.txt
  server/bin/gold/test-7.10.txt
  server/bin/gold/test-7.11.txt
  server/bin/gold/test-7.12.txt
  server/bin/gold/test-7.13.txt
  server/bin/gold/test-7.14.txt
  server/bin/gold/test-7.15.txt
  server/bin/gold/test-7.16.txt
  server/bin/gold/test-7.17.txt
  server/bin/gold/test-7.18.txt
  server/bin/gold/test-7.2.0.txt
  server/bin/gold/test-7.2.1.txt
  server/bin/gold/test-7.3.txt
  server/bin/gold/test-7.4.txt
  server/bin/gold/test-7.5.txt
  server/bin/gold/test-7.6.txt
  server/bin/gold/test-7.7.txt
  server/bin/gold/test-7.8.txt
  server/bin/gold/test-7.9.txt
  server/bin/gold/test-8.txt
  server/bin/gold/test-9.1.txt
  server/bin/gold/test-9.2.txt
  server/bin/gold/test-9.3.txt
  server/bin/gold/test-9.4.txt
  server/bin/gold/test-9.5.txt
  server/bin/gold/test-9.6.txt
  server/bin/gold/test-9.7.txt
  server/bin/pbench-index.py
  server/lib/pbench/indexer.py
  server/lib/pbench/report.py
Labels: Indexing, Server, bug

#1316 Update README for using dashboard playbooks
  .gitignore
  contrib/ansible/dashboard/README.md
  contrib/ansible/dashboard/config.json.j2
  web-server/v0.4/config.json.j2
Labels: Code Infrastructure, Documentation, Pbench Dashboard, enhancement

#1331 Fix the creation of the reception area(s)
  server/ansible/roles/pbench-server-activate-create-results-dir-structure/tasks/main.yml
  server/ansible/roles/pbench-server-vars/tasks/main.yml
Labels: Server, bug

#1333 Fix two bugs in server ansible playbooks.
  server/ansible/roles/pbench-server-activate-create-results-dir-structure/tasks/main.yml
  server/ansible/roles/pbench-server-activate-setup-results-host-info/tasks/main.yml
Labels: DO NOT MERGE!!!, Server, bug

#1334 Update README to detail option of downloading packages from private registry
  web-server/v0.4/README.md
  web-server/v0.4/example.npmrc
  web-server/v0.4/example.yarnrc
Labels: Pbench Dashboard, enhancement

#1340 Further fixes for indexing
  server/bin/gold/test-7.0.1.txt
  server/lib/mappings/server-reports.json
  server/lib/pbench/indexer.py
  server/lib/settings/result-data.json
Labels: Indexing, Server, bug

#1341 Upgrade Prisma service to v1.34 to enable storage of large string values
  web-server/prisma/datamodel.prisma
  web-server/prisma/package.json
Labels: Pbench Dashboard, Server, bug

#1347 Enforce latest indexed month as default selected value for controller view
  web-server/v0.4/src/components/MonthSelect/index.js
Labels: Pbench Dashboard, bug

#1348 Map controller directory field to correct value '@metadata.controller_dir'
  web-server/v0.4/src/models/dashboard.js
  web-server/v0.4/src/services/dashboard.js
Labels: Pbench Dashboard, bug

#1344 Enhance ansible dashboard README
  .gitignore
  contrib/ansible/dashboard/README.md
  contrib/ansible/dashboard/inventory
Labels: Code Infrastructure, Documentation, Pbench Dashboard, bug

#1349 Specify the application history type to use hash history
  web-server/v0.4/config/config.js
Labels: Pbench Dashboard, bug

#1346 Don't assign "all" to timeseries array when creating aggregate
  agent/bench-scripts/postprocess/BenchPostprocess.pm
Labels: Agent, bug

#1357 fixed stockpile cloning
  .gitmodules
Labels: Agent, Code Infrastructure, packaging

#1351 Enhance puppeteer e2e tests to use request API for intercepting requests
  .travis.yml
  run-e2etests
  web-server/v0.4/e2etests
  web-server/v0.4/mock/api.js
  web-server/v0.4/package.json
  web-server/v0.4/src/e2e/controllers.e2e.js
  web-server/v0.4/src/e2e/results.e2e.js
  web-server/v0.4/src/e2e/search.e2e.js
  web-server/v0.4/src/models/dashboard.js
  web-server/v0.4/src/pages/Controllers/index.js
  web-server/v0.4/src/pages/Results/index.js
  web-server/v0.4/src/utils/utils.js
Labels: Pbench Dashboard, Unit tests

#1363 Adds snapshot test for Table and Button component
  web-server/v0.4/src/components/Button/index.test.js
  web-server/v0.4/src/components/Table/index.test.js
Labels: Pbench Dashboard, Unit tests

#1343 Adds unit test for TimeseriesGraph component
  web-server/v0.4/src/components/TimeseriesGraph/index.test.js
Labels: Code Infrastructure, Pbench Dashboard, Unit tests

#1360 Fix audit server code to handle --* controller names
  server/bin/pbench-audit-server.sh
Labels: Background Tasks, Server, bug

#1371 Utilize "selectedRows" from onSelect and onSelectAll callback
  web-server/v0.4/src/pages/ComparisonSelect/index.js
  web-server/v0.4/src/pages/Results/index.js
  web-server/v0.4/src/utils/parse.js
Labels: Pbench Dashboard, bug

#1372 Report which config file failed
  server/bin/gold/test-0.1.txt
  server/bin/gold/test-0.2.txt
  server/bin/gold/test-0.txt
  server/bin/pbench-base.py
Labels: Server, bug

#1342 Eliminates shims option from the [pbench-prep] section of pbench-server-default.cfg
  server/bin/gold/test-24.txt
  server/bin/pbench-server-activate-create-crontab
  server/bin/state/test-24.config/pbench-server.cfg
  server/bin/unittests
  server/lib/config/pbench-server-default.cfg
Labels: Background Tasks, Server, bug
