Repository distributed-system-analysis/pbench, pull requests merged in 2019-10, with the labels that each got.

#1373 Remove pbench-edit-prefixes
  agent/util-scripts/pbench-edit-prefix
Labels: Server, enhancement

#1377 Adds Unit test for RowSelection Component
  web-server/v0.4/src/components/RowSelection/index.test.js
Labels: Pbench Dashboard, Unit tests

#1385 Improved caching using associative data structures within Redux store
  web-server/v0.4/.eslintrc.js
  web-server/v0.4/package.json
  web-server/v0.4/src/app.js
  web-server/v0.4/src/layouts/BasicLayout.js
  web-server/v0.4/src/models/dashboard.js
  web-server/v0.4/src/models/datastore.js
  web-server/v0.4/src/models/global.js
  web-server/v0.4/src/models/user.js
  web-server/v0.4/src/pages/Controllers/index.js
  web-server/v0.4/src/pages/Results/index.js
  web-server/v0.4/src/services/user.js
Labels: Pbench Dashboard, enhancement

#1384 pbench-trafficgen: point to the updated trafficgen repository location/name
  agent/bench-scripts/gold/test-benchmark-clis/test-CL.txt
  agent/bench-scripts/pbench-trafficgen
Labels: Agent, trafficgen

#1354 cleanup-log-directory
  server/bin/gold/test-11.txt
  server/bin/gold/test-5.2.txt
  server/bin/pbench-sync-satellite.sh
Labels: Background Tasks, Server, bug

#1394 add timestamp for tarball
  agent/util-scripts/gold/pbench-copy-results/test-31.txt
  agent/util-scripts/gold/pbench-copy-results/test-39.txt
  agent/util-scripts/gold/pbench-copy-results/test-40.txt
  agent/util-scripts/gold/pbench-copy-results/test-41.txt
  agent/util-scripts/pbench-make-result-tb
Labels: Agent, enhancement
