Repository distributed-system-analysis/pbench, pull requests merged in 2020-08, with the labels that each got.

#1719 Avoid hardcoded tools location on bench-scripts
  agent/base
  agent/bench-scripts/pbench-dbench
  agent/bench-scripts/pbench-fio
  agent/bench-scripts/pbench-iozone
  agent/bench-scripts/pbench-netperf
  agent/bench-scripts/pbench-uperf
  agent/config/pbench-agent-default.cfg
Labels: Agent, bug, fio, uperf

#1745 Rename pbench-agent.cfg.example to pbench-agent.cfg
  agent/config/pbench-agent.cfg
  agent/util-scripts/unittests
Labels: Agent, enhancement

#1750 Fix uperf "rr" (round-robin) test XML
  agent/bench-scripts/pbench-uperf
Labels: Agent, bug, uperf

#1748 Require fio 3.21 and later
  agent/bench-scripts/tests/pbench-fio/test-04.txt
  agent/bench-scripts/tests/pbench-fio/test-05.txt
  agent/bench-scripts/tests/pbench-fio/test-06.txt
  agent/bench-scripts/tests/pbench-fio/test-07.txt
  agent/bench-scripts/tests/pbench-fio/test-08.txt
  agent/bench-scripts/tests/pbench-fio/test-13.txt
  agent/bench-scripts/tests/pbench-fio/test-15.txt
  agent/bench-scripts/tests/pbench-fio/test-16.txt
  agent/bench-scripts/tests/pbench-fio/test-20.txt
  agent/bench-scripts/tests/pbench-fio/test-28.txt
  agent/bench-scripts/tests/pbench-fio/test-30.txt
  agent/bench-scripts/tests/pbench-fio/test-31.txt
  agent/bench-scripts/tests/pbench-fio/test-32.txt
  agent/config/pbench-agent-default.cfg
Labels: Agent, bug, fio

#1752 Give default values to most of the variables.
  agent/ansible/Inventory/pbench-agent.hosts.example
  agent/ansible/pbench-agent-install.yml
  agent/ansible/roles/debug-vars/tasks/main.yml
  agent/ansible/roles/pbench-agent-config/defaults/main.yml
  agent/ansible/roles/pbench-repo-install/defaults/main.yml
Labels: Agent, enhancement
