Repository distributed-system-analysis/pbench, pull requests merged in 2020-01, with the labels that each got.

#1444 Bug : Missing log_finish in pbench-sync-satellite.sh
  server/bin/gold/test-10.txt
  server/bin/gold/test-11.txt
  server/bin/gold/test-2.txt
  server/bin/gold/test-3.txt
  server/bin/gold/test-4.txt
  server/bin/gold/test-5.1.txt
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-5.txt
  server/bin/pbench-sync-satellite.sh
Labels: Server, bug

#1438 Small fix to correct sed command in util-scripts/unittests
  agent/util-scripts/unittests
Labels: Agent, Code Infrastructure, Unit tests, bug

#1439 Fix handling of pbench-fio iteration name
  agent/bench-scripts/gold/pbench-fio/test-04.txt
  agent/bench-scripts/gold/pbench-fio/test-05.txt
  agent/bench-scripts/gold/pbench-fio/test-06.txt
  agent/bench-scripts/gold/pbench-fio/test-07.txt
  agent/bench-scripts/gold/pbench-fio/test-08.txt
  agent/bench-scripts/gold/pbench-fio/test-13.txt
  agent/bench-scripts/gold/pbench-fio/test-15.txt
  agent/bench-scripts/gold/pbench-fio/test-16.txt
  agent/bench-scripts/gold/pbench-fio/test-20.txt
  agent/bench-scripts/gold/pbench-fio/test-28.txt
  agent/bench-scripts/gold/pbench-fio/test-30.txt
  agent/bench-scripts/gold/pbench-fio/test-31.txt
  agent/bench-scripts/gold/pbench-fio/test-32.txt
  agent/bench-scripts/pbench-fio
Labels: Agent, bug, fio

#1445 Move to Python 3.6 language envi in Travis CI
  .travis.yml
Labels: Agent, Code Infrastructure, Server, Unit tests

#1449 Replace 'echo "" >&4; log_finish; exit n' with log_exit
  server/bin/pbench-base.sh
  server/bin/pbench-dispatch.sh
  server/bin/pbench-server-prep-shim-002.sh
  server/bin/pbench-sync-package-tarballs.sh
  server/bin/pbench-sync-satellite.sh
Labels: Background Tasks, Server, enhancement

#1450 Feat: fixes 'each child should have a unique key error' in search page
  web-server/v0.4/src/pages/Search/index.js
Labels: Pbench Dashboard, enhancement

#1435 User session sharing feature
  web-server/v0.4/config/router.config.js
  web-server/v0.4/mock/api.js
  web-server/v0.4/package.json
  web-server/v0.4/src/components/GlobalHeader/index.js
  web-server/v0.4/src/components/SessionModal/index.js
  web-server/v0.4/src/components/SessionModal/index.less
  web-server/v0.4/src/components/SessionModal/index.test.js
  web-server/v0.4/src/e2e/session.e2e.js
  web-server/v0.4/src/layouts/BasicLayout.js
  web-server/v0.4/src/models/dashboard.js
  web-server/v0.4/src/models/datastore.js
  web-server/v0.4/src/models/global.js
  web-server/v0.4/src/models/search.js
  web-server/v0.4/src/pages/Explore/index.js
  web-server/v0.4/src/pages/SessionPlaceholder/index.js
  web-server/v0.4/src/pages/SessionPlaceholder/index.test.js
  web-server/v0.4/src/services/datastore.js
  web-server/v0.4/src/services/global.js
Labels: Pbench Dashboard, Server, Unit tests, Web UI, enhancement

#1430 Log messages using logging functions in bash scripts.
  server/bin/pbench-base.sh
  server/bin/pbench-clean-up-dangling-results-links.sh
  server/bin/pbench-copy-sosreports.sh
  server/bin/pbench-dispatch.sh
  server/bin/pbench-edit-prefixes.sh
  server/bin/pbench-satellite-cleanup.sh
  server/bin/pbench-server-prep-shim-002.sh
  server/bin/pbench-sync-satellite.sh
  server/bin/pbench-unpack-tarballs.sh
Labels: Background Tasks, Code Infrastructure, Server

#1463 Fix specjbb2005 bugs
  agent/bench-scripts/pbench-specjbb2005
Labels: Agent, bug, specjbb2005

#1469 clicks on the current pagination value
  web-server/v0.4/src/e2e/controllers.e2e.js
Labels: Pbench Dashboard, medium priority

#1470 Update README.org
  server/ansible/README.org
Labels: Code Infrastructure, Documentation, Server

#1476 Minor specjbb usage cleanup.
  agent/bench-scripts/pbench-specjbb2005
  agent/bench-scripts/tests/test-benchmark-clis/test-CL.txt
Labels: Agent, specjbb2005
