Repository distributed-system-analysis/pbench, pull requests merged in 2020-05, with the labels that each got.

#1616 Capture ${HOME}/.ssh/config if available
  agent/util-scripts/gold/pbench-metadata-log/test-02.txt
  agent/util-scripts/gold/pbench-metadata-log/test-03.txt
  agent/util-scripts/gold/pbench-metadata-log/test-04.txt
  agent/util-scripts/gold/pbench-metadata-log/test-22.txt
  agent/util-scripts/gold/test-pbench-metadata-log/test-50.txt
  agent/util-scripts/pbench-metadata-log
  agent/util-scripts/test-bin/cp
  agent/util-scripts/unittests
Labels: Agent, enhancement

#1634 Add audit-server cron, spacing out others
  server/bin/gold/test-24.txt
  server/bin/gold/test-8.txt
  server/lib/config/pbench-server-default.cfg
Labels: Background Tasks, Server, bug, enhancement

#1636 Refactor backup-tarballs envi var use
  server/bin/pbench-backup-tarballs.py
Labels: Background Tasks, Code Infrastructure, Server, Unit tests, enhancement

#1635 Stabilize unit tests sorting index report
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-7.1.txt
  server/bin/gold/test-7.10.txt
  server/bin/gold/test-7.11.txt
  server/bin/gold/test-7.12.txt
  server/bin/gold/test-7.13.txt
  server/bin/gold/test-7.14.txt
  server/bin/gold/test-7.15.txt
  server/bin/gold/test-7.16.txt
  server/bin/gold/test-7.17.txt
  server/bin/gold/test-7.18.txt
  server/bin/gold/test-7.19.txt
  server/bin/gold/test-7.2.0.txt
  server/bin/gold/test-7.2.1.txt
  server/bin/gold/test-7.20.txt
  server/bin/gold/test-7.21.txt
  server/bin/gold/test-7.22.txt
  server/bin/gold/test-7.23.txt
  server/bin/gold/test-7.24.txt
  server/bin/gold/test-7.25.txt
  server/bin/gold/test-7.3.txt
  server/bin/gold/test-7.4.txt
  server/bin/gold/test-7.5.txt
  server/bin/gold/test-7.6.txt
  server/bin/gold/test-7.7.txt
  server/bin/gold/test-7.8.txt
  server/bin/gold/test-7.9.txt
  server/bin/pbench-index.py
Labels: Code Infrastructure, Server, Unit tests, bug

#1650 Stabilize test output for unpack tar balls
  server/bin/gold/test-16.txt
  server/bin/gold/test-17.txt
  server/bin/gold/test-5.2.txt
  server/bin/pbench-unpack-tarballs.sh
  server/bin/state/test-5.2.setup
Labels: Background Tasks, Code Infrastructure, Server, Unit tests, bug

#1631 Add new "cull unpacked tar balls" service
  server/bin/gold/test-0.1.txt
  server/bin/gold/test-0.2.txt
  server/bin/gold/test-0.txt
  server/bin/gold/test-1.txt
  server/bin/gold/test-2.txt
  server/bin/gold/test-24.txt
  server/bin/gold/test-27.txt
  server/bin/gold/test-3.txt
  server/bin/gold/test-4.txt
  server/bin/gold/test-5.1.txt
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-5.txt
  server/bin/gold/test-8.txt
  server/bin/pbench-base.py
  server/bin/pbench-check-tb-age
  server/bin/pbench-check-tb-age.py
  server/bin/pbench-cull-unpacked-tarballs
  server/bin/pbench-cull-unpacked-tarballs.py
  server/bin/pbench-unpack-tarballs.sh
  server/bin/state/test-27.config/pbench-server.cfg
  server/bin/state/test-27.setup
  server/bin/state/test-27.tar.xz
  server/bin/unittests
  server/bin/utils/mktb
  server/lib/config/pbench-server-default.cfg
  server/lib/pbench/__init__.py
  server/lib/pbench/indexer.py
Labels: Background Tasks, Server, enhancement

#1661 Fix new linting errors
  .gitignore
  lib/configtools/__init__.py
  run-unittests
  server/bin/pbench-cull-unpacked-tarballs.py
  server/lib/pbench/indexer.py
  server/lib/pbench/mock.py
  tox.ini
Labels: Agent, Code Infrastructure, Server, Unit tests, bug, enhancement

#1660 Add roles to tweak the firewall and add the pbench user.
  server/ansible/Inventory/group_vars/servers
  server/ansible/Inventory/pbench-server.hosts.example
  server/ansible/roles/pbench-repo-install/defaults/main.yml
  server/ansible/roles/pbench-repo-install/tasks/main.yml
  server/ansible/roles/pbench-repo-install/templates/etc/yum.repos.d/pbench.repo.j2
  server/ansible/roles/pbench-server-config/tasks/main.yml
  server/ansible/roles/pbench-server-firewall/tasks/main.yml
  server/ansible/roles/pbench-server-install-config-file/tasks/main.yml
  server/ansible/roles/pbench-server-user/tasks/main.yml
Labels: Installation, Server, bug, enhancement, packaging

#1623 Improves handling of ssh error in sync-satellite logs
  server/bin/gold/test-28.txt
  server/bin/pbench-base.sh
  server/bin/pbench-remote-sync-package-tarballs
  server/bin/pbench-sync-satellite.sh
  server/bin/state/test-28.config/pbench-server.cfg
  server/bin/test-bin/ssh
  server/bin/unittests
Labels: Background Tasks, Server, enhancement

#1662 Reduce false positives for prefixes from audit
  server/bin/pbench-audit-server.sh
Labels: Background Tasks, Server, bug

#1664 Reporting fixes for culling unpacked tar balls
  server/bin/gold/test-27.txt
  server/bin/pbench-cull-unpacked-tarballs.py
Labels: Background Tasks, Server, bug

#1666 Add server maint role, drop tool indexing
  server/ansible/Inventory/pbench-server.hosts.example
  server/bin/gold/test-24.txt
  server/bin/gold/test-8.txt
  server/bin/state/config-satellite/pbench-server.cfg
  server/bin/state/config/pbench-server.cfg
  server/bin/state/test-17.config
  server/bin/state/test-20.config
  server/bin/state/test-23.config/pbench-server.cfg
  server/bin/state/test-26.1.config/pbench-server.cfg
  server/bin/state/test-27.config/pbench-server.cfg
  server/bin/state/test-28.config/pbench-server.cfg
  server/bin/state/test-5.1.config/pbench-server.cfg
  server/bin/state/test-5.2.config
  server/bin/state/test-6.13.config/pbench-server.cfg
  server/bin/state/test-6.14.config/pbench-server.cfg
  server/lib/config/pbench-server-default.cfg
  server/lib/config/pbench-server-satellite.cfg.example
  server/lib/config/pbench-server.cfg.example
Labels: Background Tasks, Server, bug, enhancement

#1670 Make VERSION files for server and agent independent
  VERSION
  agent/VERSION
  server/VERSION
Labels: Agent, Server, enhancement

#1671 Server version bump to 0.69
  server/VERSION
Labels: Server

#1674 Setup results-host-info: do not create obsolete -001 structures.
  server/ansible/roles/pbench-server-activate-setup-results-host-info/tasks/main.yml
Labels: Server, enhancement

#1676 Modify the config install action to work with ssh
  server/ansible/roles/pbench-server-install-config-file/tasks/main.yml
Labels: Server, bug, enhancement

#1682 Fix user-benchmark data indexing for dashboard
  server/bin/gold/test-7.24.txt
  server/lib/pbench/indexer.py
Labels: Background Tasks, Indexing, Server, bug

#1685 Use 'aggregate' for user-benchmark sample docs
  server/bin/gold/test-7.24.txt
  server/lib/pbench/indexer.py
Labels: Agent, bug, uperf

#1684 Fix pbench-uperf default client handling
  agent/bench-scripts/pbench-uperf
  agent/bench-scripts/tests/pbench-uperf/test-00.txt
  agent/bench-scripts/tests/test-benchmark-clis/test-CL.txt
Labels: Agent, bug, uperf

#1689 pbench-audit-server.sh counts discrepancy
  server/bin/gold/test-20.txt
  server/bin/gold/test-27.txt
  server/bin/pbench-audit-server.sh
Labels: Background Tasks, Server, bug
