Repository distributed-system-analysis/pbench, pull requests merged in 2020-04, with the labels that each got.

#1590 Change PYTHONPATH in profile
  agent/profile
Labels: Agent

#1587 Fix turbostat kill handling
  agent/tool-scripts/base-tool
  agent/tool-scripts/datalog/turbostat-datalog
Labels: Agent, bug, tools

#1583 Run unittests with tox
  .gitignore
  .travis.yml
  doc/CONTRIBUTING.md
  requirements.txt
  run-unittests
  setup.cfg
  setup.py
  test-requirements.txt
  tox.ini
Labels: Agent, Code Infrastructure, Server, Unit tests

#1577 Fix typo in usage
  agent/util-scripts/pbench-clear-tools
Labels: Agent, bug, tools

#1594 Add python packaging
  .gitignore
  .travis.yml
  agent/bench-scripts/unittests
  agent/profile
  agent/util-scripts/getconf.py
  agent/util-scripts/unittests
  pbench/AUTHORS.log_formatter
  pbench/LICENSE.log_formatter
  pbench/__init__.py
  pbench/common/__init__.py
  pbench/common/configtools.py
  pbench/indexer.py
  pbench/mock.py
  pbench/report.py
  pbench/s3backup/README
  pbench/s3backup/__init__.py
  pbench/test/__init__.py
  pbench/test/test_pbench.py
  server/ansible/roles/pbench-server-activate-create-crontab/tasks/main.yml
  server/ansible/roles/pbench-server-vars/tasks/main.yml
  server/bin/getconf.py
  server/bin/pbench-backup-tarballs.py
  server/bin/pbench-trampoline
  server/bin/pbench-verify-backup-tarballs.py
  server/bin/unittests
  setup.cfg
  test-requirements.txt
  tox.ini
Labels: Agent, Code Infrastructure, enhancement

#1605 Get rid of /opt/pbench-agent/common/bin in profile
  agent/profile
Labels: Agent, bug

#1595 formatted scripts using f-strings
  server/bin/pbench-backup-tarballs.py
  server/bin/pbench-base.py
  server/bin/pbench-index.py
  server/bin/pbench-report-status.py
  server/bin/pbench-satellite-state-change.py
  server/bin/pbench-verify-backup-tarballs.py
Labels: Agent, Code Infrastructure, Server, enhancement

#1608 Remove pbench-edit-prefixes from the server side
  server/bin/gold/test-0.1.txt
  server/bin/gold/test-0.2.txt
  server/bin/gold/test-0.txt
  server/bin/gold/test-1.txt
  server/bin/gold/test-2.txt
  server/bin/gold/test-24.txt
  server/bin/gold/test-3.txt
  server/bin/gold/test-4.txt
  server/bin/gold/test-5.1.txt
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-5.txt
  server/bin/gold/test-8.txt
  server/bin/pbench-edit-prefixes
  server/bin/pbench-edit-prefixes.sh
  server/bin/state/config-satellite/pbench-server.cfg
  server/bin/unittests
  server/lib/config/pbench-server-default.cfg
  server/lib/config/pbench-server-satellite.cfg.example
  server/lib/config/pbench-server.cfg.example
Labels: Background Tasks, Server, enhancement

#1625 Add `commit-id' to server config file.
  server/ansible/roles/pbench-server-add-commit-id/tasks/main.yml
  server/ansible/roles/pbench-server-config/tasks/main.yml
  server/ansible/roles/pbench-server-vars/tasks/main.yml
Labels: Indexing, Server, bug

#1617 Use mv instead of cp to avoid a data copy
  server/bin/pbench-server-prep-shim-002.sh
Labels: Background Tasks, Server, enhancement

#1627 Add simple arg check to create crontab
  server/bin/pbench-server-activate-create-crontab
Labels: Server, enhancement

#1628 Add seqno to commit-id in [pbench-server].
  server/ansible/roles/pbench-server-add-commit-id/tasks/main.yml
  server/ansible/roles/pbench-server-vars/tasks/main.yml
Labels: Server, enhancement
