Repository distributed-system-analysis/pbench, pull requests merged in 2020-10, with the labels that each got.

#1830 Lock in use of Perl 5.30 for Travis CI
  .travis.yml
  agent/tool-scripts/postprocess/gold/docker/csv/docker_containers.csv
  agent/tool-scripts/postprocess/gold/proc-vmstat/csv/proc-vmstat_compact_delta_sec.csv
  agent/tool-scripts/postprocess/gold/proc-vmstat/csv/proc-vmstat_drop_delta_sec.csv
  agent/tool-scripts/postprocess/gold/proc-vmstat/csv/proc-vmstat_htlb_delta_sec.csv
  agent/tool-scripts/postprocess/gold/proc-vmstat/csv/proc-vmstat_kswapd_delta_sec.csv
  agent/tool-scripts/postprocess/gold/proc-vmstat/csv/proc-vmstat_nr_delta_sec.csv
  agent/tool-scripts/postprocess/gold/proc-vmstat/csv/proc-vmstat_numa_delta_sec.csv
  agent/tool-scripts/postprocess/gold/proc-vmstat/csv/proc-vmstat_pgalloc_delta_sec.csv
  agent/tool-scripts/postprocess/gold/proc-vmstat/csv/proc-vmstat_pgmigrate_delta_sec.csv
  agent/tool-scripts/postprocess/gold/proc-vmstat/csv/proc-vmstat_pgrefill_delta_sec.csv
  agent/tool-scripts/postprocess/gold/proc-vmstat/csv/proc-vmstat_pgscan_delta_sec.csv
  agent/tool-scripts/postprocess/gold/proc-vmstat/csv/proc-vmstat_pgsteal_delta_sec.csv
  agent/tool-scripts/postprocess/gold/proc-vmstat/csv/proc-vmstat_slabs_delta_sec.csv
  agent/tool-scripts/postprocess/gold/proc-vmstat/csv/proc-vmstat_thp_delta_sec.csv
  agent/tool-scripts/postprocess/gold/proc-vmstat/csv/proc-vmstat_unevictable_delta_sec.csv
  agent/tool-scripts/postprocess/gold/proc-vmstat/csv/proc-vmstat_workingset_delta_sec.csv
  agent/tool-scripts/postprocess/gold/proc-vmstat/csv/proc-vmstat_zone_delta_sec.csv
  agent/tool-scripts/postprocess/gold/proc-vmstat/proc-vmstat-average.txt
  agent/tool-scripts/postprocess/gold/uperf-0/csv/uperf_trans_sec_per_cpu_busy.csv
  agent/tool-scripts/postprocess/gold/uperf-0/result.json
  agent/tool-scripts/postprocess/gold/uperf-3/csv/uperf_Gb_sec_per_cpu_busy.csv
  agent/tool-scripts/postprocess/gold/uperf-3/result.json
Labels: Agent, Code Infrastructure, Unit tests, enhancement

#1831 Sort modules in *requirements.txt
  requirements.txt
  test-requirements.txt
Labels: Agent, Code Infrastructure, Server

#1823 Add gunicorn wsgi server configuration
  lib/pbench/cli/server/shell.py
  lib/pbench/server/api/__init__.py
  requirements.txt
  server/lib/config/nginx.conf.example
  server/lib/config/pbench-server-default.cfg
  server/lib/systemd/pbench-server.service.default
  server/lib/systemd/pbench-server.service.rhel7
Labels: Background Tasks, Server, enhancement

#1832 Early prep for the 0.70 release
  agent/VERSION
  contrib/VERSION
  server/VERSION
  web-server/VERSION
Labels: Agent, Code Infrastructure, Server

#1848 Add missing quote
  agent/util-scripts/pbench-sysinfo-dump
Labels: Agent, bug

#1850 Fix bad printf statement in server/test-find-behavior
  server/bin/test-bin/test-find-behavior
Labels: Server, Unit tests, bug

#1844 Tell pbr to stop creating AUTHORS & ChangeLog
  .gitignore
  tox.ini
Labels: Agent, Code Infrastructure, Server, enhancement

#1855 Ensure Tool Data Sink internal server object exists
  lib/pbench/agent/tool_data_sink.py
Labels: Agent, bug, tools

#1856 Fix generation of sosreport command
  agent/util-scripts/pbench-sysinfo-dump
Labels: Agent, bug

#1854 Prevent server unit test `test-25` from failing
  server/bin/test-bin/test-find-behavior
Labels: Server, Unit tests, bug

#1839 Post-Merge Review Changes
  agent/templates/prometheus.yml
  agent/tool-scripts/dcgm
  agent/tool-scripts/node-exporter
  agent/util-scripts/pbench-tool-meister-start
  lib/pbench/agent/tool_data_sink.py
  lib/pbench/agent/tool_meister.py
Labels: Agent, enhancement, tools

#1861 Fix util-scripts test-53
  agent/util-scripts/gold/test-client-tool-meister/test-53.txt
  agent/util-scripts/unittests
Labels: Agent, Unit tests, bug

#1862 Updated benchmarks with init/end
  agent/bench-scripts/pbench-cyclictest
  agent/bench-scripts/pbench-dbench
  agent/bench-scripts/pbench-fio
  agent/bench-scripts/pbench-iozone
  agent/bench-scripts/pbench-linpack
  agent/bench-scripts/pbench-migrate
  agent/bench-scripts/pbench-netperf
  agent/bench-scripts/pbench-specjbb2005
  agent/bench-scripts/pbench-trafficgen
  agent/bench-scripts/pbench-uperf
  agent/bench-scripts/tests/pbench-dbench/test-02.txt
  agent/bench-scripts/tests/pbench-fio/test-04.txt
  agent/bench-scripts/tests/pbench-fio/test-05.txt
  agent/bench-scripts/tests/pbench-fio/test-06.txt
  agent/bench-scripts/tests/pbench-fio/test-07.txt
  agent/bench-scripts/tests/pbench-fio/test-08.txt
  agent/bench-scripts/tests/pbench-fio/test-13.txt
  agent/bench-scripts/tests/pbench-fio/test-15.txt
  agent/bench-scripts/tests/pbench-fio/test-16.txt
  agent/bench-scripts/tests/pbench-fio/test-20.txt
  agent/bench-scripts/tests/pbench-fio/test-28.txt
  agent/bench-scripts/tests/pbench-fio/test-30.txt
  agent/bench-scripts/tests/pbench-fio/test-31.txt
  agent/bench-scripts/tests/pbench-fio/test-32.txt
  agent/bench-scripts/tests/pbench-trafficgen/test-39.txt
  agent/bench-scripts/tests/pbench-trafficgen/test-40.txt
  agent/bench-scripts/tests/pbench-uperf/test-00.txt
  agent/bench-scripts/tests/pbench-uperf/test-01.txt
Labels: Agent, enhancement, tools

#1863 Switch legacy unit tests to use C.UTF-8 locale
  agent/bench-scripts/unittests
  agent/tool-scripts/datalog/unittests
  agent/tool-scripts/postprocess/unittests
  agent/tool-scripts/unittests
  agent/util-scripts/unittests
  server/bin/unittests
Labels: Agent, Code Infrastructure, Server, Unit tests, enhancement

#1864 Deprecate pbench-cleanup & add tests for clear-results
  agent/util-scripts/gold/pbench-cleanup/test-64.txt
  agent/util-scripts/gold/pbench-clear-results/test-63.txt
  agent/util-scripts/pbench-cleanup
  agent/util-scripts/pbench-clear-results
  agent/util-scripts/samples/pbench-cleanup/test-64
  agent/util-scripts/samples/pbench-clear-results/test-63/pbench/remove-me/for-sure.txt
  agent/util-scripts/samples/pbench-clear-results/test-63/pbench/tmp/leave-me/alone
  agent/util-scripts/samples/pbench-clear-results/test-63/pbench/tools-v1-default/testhost.example.com/mpstat
  agent/util-scripts/unittests
Labels: Agent, enhancement

#1867 Adds drawer option to sub cards in documentation page
  css/style.css
  index.css
  index.html
  js/drawer.js
Labels: Documentation

#1869 Replace POST /upload to PUT /upload/ctrl/<controller> and write md5sum on disk on server
  lib/pbench/server/api/__init__.py
  lib/pbench/test/unit/server/test_requests.py
Labels: Server

#1872 Fix missing space in sosreport --quiet option
  agent/util-scripts/pbench-sysinfo-dump
Labels: Agent, bug

#1873 Keep only one systemd service file
  server/ansible/roles/pbench-server-systemd-service/vars/main.yml
  server/lib/systemd/pbench-server.service
  server/lib/systemd/pbench-server.service.rhel7
Labels: Installation, Server, bug, packaging

#1874 Fixes for server installation failures: RPM and ansible
  server/Makefile
  server/ansible/roles/pbench-server-install-config-file/tasks/main.yml
  server/rpm/pbench-server.spec.j2
Labels: Installation, Server, packaging

#1876 Fix %files list
  server/rpm/pbench-server.spec.j2
Labels: Server, bug, packaging

#1881 Resolves logging error in pbench-server-prep-shim
  server/bin/gold/test-13.txt
  server/bin/gold/test-15.txt
  server/bin/gold/test-2.txt
  server/bin/gold/test-3.txt
  server/bin/gold/test-4.txt
  server/bin/gold/test-5.1.txt
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-5.txt
  server/bin/pbench-server-prep-shim-002.py
Labels: Background Tasks, Server, bug

#1879 Break up agent & server requirements
  agent/requirements.txt
  agent/test-requirements.txt
  lint-requirements.txt
  server/requirements.txt
  server/test-requirements.txt
  test-requirements.txt
  tox.ini
Labels: Agent, Code Infrastructure, Server, enhancement

#1875 Update agent cli to reflect server upload http changes
  lib/pbench/agent/results.py
  lib/pbench/cli/agent/commands/results/__init__.py
  lib/pbench/test/unit/agent/task/test_copy_result_tb.py
  lib/pbench/test/unit/agent/task/test_move_results.py
Labels: Agent, enhancement

#1886 Open main branch targeting v0.71
  agent/VERSION
  server/VERSION
  web-server/VERSION
Labels: Agent, Code Infrastructure, Server

#1841 Clear tools
  agent/util-scripts/gold/pbench-clear-tools/test-12.txt
  agent/util-scripts/gold/pbench-clear-tools/test-13.txt
  agent/util-scripts/gold/pbench-clear-tools/test-65.txt
  agent/util-scripts/gold/pbench-clear-tools/test-66.txt
  agent/util-scripts/gold/pbench-clear-tools/test-67.txt
  agent/util-scripts/gold/pbench-clear-tools/test-68.txt
  agent/util-scripts/gold/pbench-clear-tools/test-69.txt
  agent/util-scripts/pbench-clear-tools
  lib/pbench/agent/base.py
  lib/pbench/agent/fs.py
  lib/pbench/agent/utils.py
  lib/pbench/cli/agent/commands/tools/__init__.py
  lib/pbench/cli/agent/commands/tools/base.py
  lib/pbench/cli/agent/commands/tools/clear.py
  setup.cfg
Labels: Agent, Code Infrastructure, enhancement, tools

#1897 Remove use of `screen` from Tool Meister
  agent/bench-scripts/test-bin/mock-cmd
  agent/util-scripts/gold/test-client-tool-meister/test-53.txt
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  lib/pbench/agent/tool_meister.py
Labels: Agent, bug, tools

#1901 Add required package name for vmstat
  agent/containers/images/Makefile
  agent/rpm/pbench-agent.spec.j2
  agent/tool-scripts/base-tool
Labels: Agent, enhancement, tools

#1906 Enhance agent container builds
  agent/ansible/pbench/agent/roles/pbench_repo_install/defaults/main.yml
  agent/ansible/pbench/agent/roles/pbench_repo_install/templates/etc/yum.repos.d/pbench.repo.j2
  agent/containers/images/Dockerfile.base.j2
  agent/containers/images/Dockerfile.layered.j2
  agent/containers/images/Makefile
  agent/containers/images/repo.yml.j2
Labels: Agent, bug, enhancement, packaging

#1908 Fix the README to restore working URLs
  README.md
Labels: Agent, Documentation, bug

#1912 Fix the README to restore working URLs (`b0.69`)
  README.md
Labels: Agent, Documentation, Server, enhancement

#1910 Backport container build enhancements to `b0.69`
  agent/containers/images/Dockerfile.base.j2
  agent/containers/images/Dockerfile.layered.j2
  agent/containers/images/Makefile
  agent/containers/images/README.md
  agent/containers/images/gen-tags-from-rpm
  agent/containers/images/push
  agent/containers/images/repo.yml.j2
Labels: Agent, enhancement, packaging

#1911 Remove SCL reference in the server trampoline code
  server/bin/pbench-trampoline
Labels: Code Infrastructure, Server, bug, packaging

#1917 Design fixes for Documentation page
  css/style.css
  images/home-banner-graphic.png
  images/homepage_hero.png
  index.css
  index.html
  js/drawer.js
Labels: Documentation

#1925 Require pyesbulk 1.0.0 for Pbench 0.71
  server/requirements.txt
Labels: Server, bug

#1919 Add ability to tag agent images with beta and alpha
  agent/containers/images/Makefile
  agent/containers/images/README.md
Labels: Agent, enhancement, packaging

#1923 Installation guide updates
  start.html
Labels: Agent, Documentation, Installation
