Repository distributed-system-analysis/pbench, pull requests merged in 2020-12, with the labels that each got.

#1834 Pythonize pbench-list-tools
  agent/Makefile
  agent/util-scripts/pbench-list-tools
  lib/pbench/cli/agent/commands/tools/list.py
  lib/pbench/test/functional/agent/cli/__init__.py
  lib/pbench/test/functional/agent/cli/commands/tools/__init__.py
  lib/pbench/test/functional/agent/cli/commands/tools/test_tools_list.py
  setup.cfg
  tox.ini
Labels: Agent, enhancement, tools

#2011 Finish to remove agent user/group
  agent/config/pbench-agent-default.cfg
  agent/util-scripts/gold/pbench-agent-config-activate/test-14.txt
  agent/util-scripts/pbench-agent-config-ssh-key
  agent/util-scripts/samples/pbench-agent-config-activate/test-14/pbench/tmp/pbench-agent.cfg
  lib/pbench/cli/agent/commands/results/__init__.py
Labels: Agent, Installation, bug, enhancement, packaging

#2008 Add support for overriding TM bind hostname
  agent/util-scripts/gold/test-client-tool-meister/test-53.txt
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-51.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-52.txt
  agent/util-scripts/pbench-tool-meister-start
  agent/util-scripts/test-bin/test-client-tool-meister
  agent/util-scripts/test-bin/test-start-stop-tool-meister
  lib/pbench/agent/tool_data_sink.py
Labels: Agent, bug, tools

#2009 Use `ssh_opts` when starting remote tool meisters
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  agent/util-scripts/pbench-tool-meister-start
Labels: Agent, bug, tools

#2015 Prometheus quick fix
  lib/pbench/agent/tool_data_sink.py
Labels: Agent, bug, tools

#1985 Refactor server API implementation
  lib/pbench/cli/server/shell.py
  lib/pbench/server/__init__.py
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/graphql_api.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/elasticsearch_api.py
  lib/pbench/server/api/resources/query_apis/query_controllers.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/test_query_controller.py
  lib/pbench/test/unit/server/test_requests.py
  server/requirements.txt
Labels: Server, enhancement

#1994 Fix spec file and ansible roles
  server/ansible/roles/pbench-server-activate-httpd-setup-restart/tasks/main.yml
  server/ansible/roles/pbench-server-firewall/tasks/main.yml
  server/rpm/pbench-server.spec.j2
Labels: Installation, Server, bug, packaging

#1996 Fix SELinux labels on the pbench directory structure
  server/ansible/roles/pbench-server-activate-create-results-dir-structure/tasks/main.yml
Labels: Installation, Server, bug

#2013 Remove the `pbench-agent-config-*` scripts
  agent/Makefile
  agent/util-scripts/gold/pbench-agent-config-activate/test-14.txt
  agent/util-scripts/pbench-agent-config-activate
  agent/util-scripts/pbench-agent-config-ssh-key
  agent/util-scripts/samples/pbench-agent-config-activate/test-14/pbench/tmp/pbench-agent.cfg
  agent/util-scripts/unittests
Labels: Agent, Installation, bug, packaging

#2022 Fix bad jenkins "pytests" runs
  docs/conf.py
  jenkins/python-setup.sh
  jenkins/run
  jenkins/run-pytests
  lib/pbench/cli/server/shell.py
  lint-requirements.txt
Labels: Agent, Code Infrastructure, Server, Unit tests, bug

#2023 Fix extra trailing parenthesis when gunicorn app starts
  lib/pbench/cli/server/shell.py
Labels: Server, bug

#1883 Pbench register triggers
  agent/Makefile
  agent/util-scripts/gold/pbench-register-tool-trigger/test-15.txt
  agent/util-scripts/gold/pbench-register-tool-trigger/test-35.txt
  agent/util-scripts/gold/pbench-register-tool-trigger/test-36.txt
  agent/util-scripts/pbench-register-tool-trigger
  agent/util-scripts/samples/pbench-register-tool-trigger/test-15/pbench/tools-v1-default/testhost.example.com/pidstat
  agent/util-scripts/samples/pbench-register-tool-trigger/test-35/pbench/tools-v1-default/testhost.example.com/pidstat
  agent/util-scripts/samples/pbench-register-tool-trigger/test-36/pbench/tools-v1-default/testhost.example.com/pidstat
  agent/util-scripts/unittests
  lib/pbench/cli/agent/commands/triggers/register.py
  lib/pbench/test/functional/agent/cli/commands/triggers/test_register_tool_trigger.py
  setup.cfg
Labels: Agent, enhancement, tools

#2014 Fix logging for Tool Meisters
  agent/util-scripts/gold/test-client-tool-meister/test-53.txt
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-51.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-52.txt
  agent/util-scripts/pbench-tool-meister-start
  agent/util-scripts/test-bin/ssh
  agent/util-scripts/unittests
  lib/pbench/agent/tool_data_sink.py
  lib/pbench/agent/tool_meister.py
Labels: Agent, enhancement, tools

#2029 Fix SysLogHandler reference
  lib/pbench/agent/tool_meister.py
Labels: Agent, bug, tools

#2032 Fix py move-results to use `ConfigParser`
  lib/pbench/agent/results.py
  lib/pbench/test/unit/agent/conftest.py
  lib/pbench/test/unit/server/conftest.py
Labels: Agent, Unit tests, bug

#2035 Fix bug when reading a file in chunks
  lib/pbench/server/s3backup/__init__.py
Labels: Server, bug

#2036 Backport PR #2035 to 0.69
  server/lib/s3backup/__init__.py
Labels: Server, bug

#1992 Add unit tests for pbench-clear-tools
  lib/pbench/test/functional/agent/cli/commands/tools/test_clear_tools.py
Labels: Agent, Code Infrastructure, Unit tests, enhancement, tools

#2033 CORS fixes and a new API
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/graphql_api.py
  lib/pbench/server/api/resources/query_apis/elasticsearch_api.py
  lib/pbench/server/api/resources/query_apis/query_controllers.py
  lib/pbench/server/api/resources/query_apis/query_month_indices.py
  lib/pbench/test/unit/server/test_query_controller.py
  lib/pbench/test/unit/server/test_query_month_indices.py
Labels: Pbench Dashboard, Server, bug, enhancement

#2038 Make the backup cron job run every minute
  server/bin/gold/test-24.txt
  server/bin/gold/test-8.txt
  server/lib/config/pbench-server-default.cfg
Labels: Server, enhancement

#2037 Address lgtm.com errors
  agent/bench-scripts/templates/make-fio-jobfile.py
  contrib/agent/bench-scripts/pbench-bzt
  lib/pbench/server/indexer.py
Labels: Agent, Indexing, Server, bug

#2044 Add missing "g" to commit id field in the server config file
  server/ansible/roles/pbench-server-add-commit-id/tasks/main.yml
Labels: Installation, Server, bug, enhancement

#2045 Add missing "g" to commit id field in the server config file (forward port of PR#2044)
  server/ansible/roles/pbench-server-add-commit-id/tasks/main.yml
Labels: Installation, Server, bug, enhancement

#2047 Fix move results ssh loop (b0.69)
  agent/util-scripts/gold/pbench-copy-results/test-31.txt
  agent/util-scripts/gold/pbench-copy-results/test-39.txt
  agent/util-scripts/gold/pbench-copy-results/test-40.txt
  agent/util-scripts/gold/pbench-copy-results/test-41.txt
  agent/util-scripts/gold/pbench-copy-results/test-49.txt
  agent/util-scripts/gold/pbench-move-results/test-33.txt
  agent/util-scripts/pbench-copy-result-tb
  agent/util-scripts/pbench-move-results
Labels: Agent, bug

#2046 Fix move results ssh loop
  agent/util-scripts/gold/pbench-copy-results/test-31.txt
  agent/util-scripts/gold/pbench-copy-results/test-34.txt
  agent/util-scripts/gold/pbench-copy-results/test-37.txt
  agent/util-scripts/gold/pbench-copy-results/test-38.txt
  agent/util-scripts/gold/pbench-copy-results/test-39.txt
  agent/util-scripts/gold/pbench-copy-results/test-40.txt
  agent/util-scripts/gold/pbench-copy-results/test-41.txt
  agent/util-scripts/gold/pbench-copy-results/test-49.txt
  agent/util-scripts/gold/pbench-move-results/test-33.txt
  agent/util-scripts/pbench-copy-result-tb
  agent/util-scripts/pbench-move-results
Labels: Agent, bug
