Repository distributed-system-analysis/pbench, pull requests merged in 2020-09, with the labels that each got.

#1768 Lock versions of flake8 and black to known-good
  .gitignore
  test-requirements.txt
  tox.ini
Labels: Code Infrastructure, Unit tests, bug

#1761 Get rid of "use-mail-for-status"
  server/lib/config/pbench-server-default.cfg
Labels: Server

#1773 Make spelling of commit_id consistent
  server/ansible/roles/pbench-server-add-commit-id/tasks/main.yml
  server/lib/config/pbench-server-default.cfg
Labels: Installation, Server, bug

#1783 Set backup cron job frequency to every minute
  server/bin/gold/test-24.txt
  server/bin/gold/test-8.txt
  server/lib/config/pbench-server-default.cfg
Labels: Background Tasks, Server

#1757 Prepare roles for Ansible Galaxy
  agent/ansible/Inventory/pbench_agent.hosts.example
  agent/ansible/Makefile
  agent/ansible/README
  agent/ansible/bin/yamlconf
  agent/ansible/pbench-agent-install.yml
  agent/ansible/pbench/agent/README.md
  agent/ansible/pbench/agent/galaxy.yml
  agent/ansible/pbench/agent/plugins/README.md
  agent/ansible/pbench/agent/roles/pbench_agent_config/README.md
  agent/ansible/pbench/agent/roles/pbench_agent_config/defaults/main.yml
  agent/ansible/pbench/agent/roles/pbench_agent_config/meta/main.yml
  agent/ansible/pbench/agent/roles/pbench_agent_config/tasks/main.yml
  agent/ansible/pbench/agent/roles/pbench_agent_files_install/README.md
  agent/ansible/pbench/agent/roles/pbench_agent_files_install/meta/main.yml
  agent/ansible/pbench/agent/roles/pbench_agent_files_install/tasks/main.yml
  agent/ansible/pbench/agent/roles/pbench_agent_install/README.md
  agent/ansible/pbench/agent/roles/pbench_agent_install/meta/main.yml
  agent/ansible/pbench/agent/roles/pbench_agent_install/tasks/main.yml
  agent/ansible/pbench/agent/roles/pbench_clean_yum_cache/README.md
  agent/ansible/pbench/agent/roles/pbench_clean_yum_cache/meta/main.yml
  agent/ansible/pbench/agent/roles/pbench_clean_yum_cache/tasks/main.yml
  agent/ansible/pbench/agent/roles/pbench_repo_install/README.md
  agent/ansible/pbench/agent/roles/pbench_repo_install/defaults/main.yml
  agent/ansible/pbench/agent/roles/pbench_repo_install/meta/main.yml
  agent/ansible/pbench/agent/roles/pbench_repo_install/tasks/main.yml
  agent/ansible/pbench/agent/roles/pbench_repo_install/templates/etc/yum.repos.d/pbench.repo.j2
  agent/ansible/pbench/agent/roles/pbench_repo_install/vars/main.yml
  agent/ansible/pbench_agent_config.yml
  agent/ansible/pbench_agent_install.yml
  agent/ansible/pbench_repo_install.yml
  agent/ansible/roles/debug-vars/tasks/main.yml
  agent/ansible/roles/pbench-repo-install/meta/main.yml
Labels: Agent, packaging

#1746 Clean up assorted issues with /etc/profile.d/pbench
  agent/profile
Labels: Agent, enhancement

#1800 Make shell.py into a package that exports a main().
  lib/pbench/cli/server/shell.py
Labels: Server, bug

#1815 Only emit a warning message on missing debugfs (v0.69)
  agent/tool-scripts/datalog/perf-datalog
Labels: Agent, bug, tools

#1814 Only emit a warning message on missing debugfs
  agent/tool-scripts/datalog/perf-datalog
Labels: Agent, bug, tools

#1809 Minimal attempt to remove tool meister commands
  agent/util-scripts/gold/test-client-tool-meister/test-53.txt
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-51.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-52.txt
  agent/util-scripts/pbench-tool-meister-start
  agent/util-scripts/test-bin/ssh
  agent/util-scripts/tool-meister/pbench-tool-meister
  agent/util-scripts/unittests
  lib/pbench/agent/tool_data_sink.py
  lib/pbench/agent/tool_meister.py
Labels: Agent, enhancement, tools

#1796 Switch indexer.py to pyesbulk package
  .gitignore
  lib/pbench/server/indexer.py
  requirements.txt
Labels: Background Tasks, Code Infrastructure, Indexing, Server, enhancement

#1816 Perhaps useful script for updating gold files
  contrib/development/update-gold
Labels: Contrib, Unit tests

#1821 Fix bench/util-scripts unit tests env overrides
  agent/bench-scripts/unittests
  agent/util-scripts/configs/pbench-register-tool-set/test-11.00/pbench-agent.cfg.frag
  agent/util-scripts/configs/pbench-register-tool-set/test-11.01
  agent/util-scripts/configs/pbench-register-tool-set/test-11.02
  agent/util-scripts/configs/pbench-register-tool-set/test-11.03/pbench-agent.cfg.frag
  agent/util-scripts/configs/pbench-register-tool-set/test-11.04
  agent/util-scripts/configs/pbench-register-tool-set/test-11.05
  agent/util-scripts/configs/pbench-register-tool-set/test-11.06
  agent/util-scripts/configs/pbench-register-tool-set/test-11.07
  agent/util-scripts/configs/pbench-register-tool-set/test-11.08
  agent/util-scripts/configs/pbench-register-tool-set/test-11.09
  agent/util-scripts/configs/test-tool-trigger/test-19/pbench-agent.cfg.frag
  agent/util-scripts/samples/pbench-register-tool-set/test-11.08
  agent/util-scripts/samples/pbench-register-tool-set/test-11.09
  agent/util-scripts/test-bin/test-tool-trigger
  agent/util-scripts/unittests
Labels: Agent, Code Infrastructure, Unit tests, bug

#1819 Record the sosreport command that was used
  agent/util-scripts/pbench-sysinfo-dump
Labels: Agent, enhancement

#1825 Base CLI setup
  lib/pbench/agent/base.py
  lib/pbench/agent/fs.py
  lib/pbench/agent/utils.py
  lib/pbench/cli/agent/__init__.py
  lib/pbench/cli/agent/options.py
  requirements.txt
Labels: Agent, Code Infrastructure, enhancement
