Repository distributed-system-analysis/pbench, pull requests merged in 2020-03, with the labels that each got.

#1518 Add .flake8
  .flake8
  .pre-commit-config.yaml
  .travis.yml
  doc/CONTRIBUTING.md
  requirements.txt
Labels: Agent, Code Infrastructure, Server

#1527 Restore the perf tool to the default tool set
  agent/config/pbench-agent-default.cfg
  agent/tool-scripts/kvm-spinlock
  agent/util-scripts/configs/pbench-register-tool-set/test-11.1
  agent/util-scripts/configs/pbench-register-tool-set/test-11.10/pbench-agent.cfg.frag
  agent/util-scripts/configs/pbench-register-tool-set/test-11.11
  agent/util-scripts/configs/pbench-register-tool-set/test-11.12
  agent/util-scripts/configs/pbench-register-tool-set/test-11.13/pbench-agent.cfg.frag
  agent/util-scripts/configs/pbench-register-tool-set/test-11.2
  agent/util-scripts/configs/pbench-register-tool-set/test-11.3/pbench-agent.cfg.frag
  agent/util-scripts/configs/pbench-register-tool-set/test-11.4
  agent/util-scripts/configs/pbench-register-tool-set/test-11.5
  agent/util-scripts/configs/pbench-register-tool-set/test-11.6
  agent/util-scripts/configs/pbench-register-tool-set/test-11.7
  agent/util-scripts/configs/pbench-register-tool-set/test-11.8
  agent/util-scripts/configs/pbench-register-tool-set/test-11.9
  agent/util-scripts/configs/pbench-register-tool-set/test-11/pbench-agent.cfg.frag
  agent/util-scripts/configs/test-tool-trigger/test-19/pbench-agent.cfg.frag
  agent/util-scripts/gold/pbench-register-tool-set/test-11.10.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.14.txt
  agent/util-scripts/unittests
Labels: Agent, bug, tools

#1531 Remove unused job_pool.sh
  server/bin/job_pool.sh
  server/bin/unittests
Labels: Background Tasks, Code Infrastructure, Server, Unit tests, enhancement

#1528 Add pre-commit hooks for black
  .pre-commit-config.yaml
  .travis.yml
  pyproject.toml
Labels: Agent, Code Infrastructure, Server

#1535 Fix .pre-commit-config.yaml YAML signature
  .pre-commit-config.yaml
Labels: Agent, Code Infrastructure, Server, bug

#1536 Refactor indexer module functions into class methods
  .flake8
  agent/bench-scripts/postprocess/fio-postprocess-viz.py
  agent/bench-scripts/templates/make-fio-jobfile.py
  lib/configtools/__init__.py
  server/bin/gold/test-26.3.txt
  server/bin/pbench-backup-tarballs.py
  server/bin/pbench-index.py
  server/bin/pbench-verify-backup-tarballs.py
  server/bin/test-bin/test_logger_type.py
  server/lib/pbench/__init__.py
  server/lib/pbench/indexer.py
  server/lib/pbench/report.py
  server/lib/s3backup/__init__.py
Labels: Agent, Code Infrastructure, Indexing, Server, enhancement

#1545 Address various problems with pbench tools
  agent/bench-scripts/test-bin/mock-cmd
  agent/tool-scripts/base-tool
  agent/tool-scripts/tests/blktrace/gold/stderr
  agent/tool-scripts/tests/bpftrace/gold/stderr
  agent/tool-scripts/tests/cpuacct/gold/stderr
  agent/tool-scripts/tests/disk/gold/stderr
  agent/tool-scripts/tests/dm-cache/gold/stderr
  agent/tool-scripts/tests/docker-info/gold/stderr
  agent/tool-scripts/tests/docker/gold/stderr
  agent/tool-scripts/tests/haproxy-ocp/gold/stderr
  agent/tool-scripts/tests/iostat/gold/stderr
  agent/tool-scripts/tests/jmap/gold/stderr
  agent/tool-scripts/tests/jstack/gold/stderr
  agent/tool-scripts/tests/kvm-spinlock/gold/stderr
  agent/tool-scripts/tests/kvmstat/gold/stderr
  agent/tool-scripts/tests/kvmtrace/gold/stderr
  agent/tool-scripts/tests/lockstat/gold/stderr
  agent/tool-scripts/tests/mpstat/gold/stderr
  agent/tool-scripts/tests/numastat/gold/stderr
  agent/tool-scripts/tests/oc/gold/stderr
  agent/tool-scripts/tests/openvswitch/gold/stderr
  agent/tool-scripts/tests/pcp/gold/stderr
  agent/tool-scripts/tests/perf/gold/stderr
  agent/tool-scripts/tests/pidstat/gold/stderr
  agent/tool-scripts/tests/pprof/gold/stderr
  agent/tool-scripts/tests/proc-interrupts/gold/stderr
  agent/tool-scripts/tests/proc-sched_debug/gold/stderr
  agent/tool-scripts/tests/proc-vmstat/gold/stderr
  agent/tool-scripts/tests/prometheus-metrics/gold/stderr
  agent/tool-scripts/tests/qemu-migrate/gold/stderr
  agent/tool-scripts/tests/rabbit/gold/stderr
  agent/tool-scripts/tests/sar/gold/stderr
  agent/tool-scripts/tests/strace/gold/stderr
  agent/tool-scripts/tests/sysfs/gold/stderr
  agent/tool-scripts/tests/systemtap/gold/stderr
  agent/tool-scripts/tests/tcpdump/gold/stderr
  agent/tool-scripts/tests/turbostat/gold/stderr
  agent/tool-scripts/tests/user-tool/gold/stderr
  agent/tool-scripts/tests/virsh-migrate/gold/stderr
  agent/tool-scripts/tests/vmstat/gold/stderr
  agent/tool-scripts/unittests
  agent/util-scripts/gold/pbench-postprocess-tools/test-20.txt
  agent/util-scripts/gold/pbench-stop-tools/test-05.txt
  agent/util-scripts/gold/pbench-stop-tools/test-06.txt
  agent/util-scripts/gold/pbench-stop-tools/test-07.txt
  agent/util-scripts/gold/pbench-stop-tools/test-08.txt
  agent/util-scripts/gold/pbench-stop-tools/test-09.txt
  agent/util-scripts/gold/pbench-stop-tools/test-10.txt
  agent/util-scripts/gold/test-tool-trigger/test-19.txt
  agent/util-scripts/pbench-postprocess-tools
  agent/util-scripts/samples/pbench-stop-tools/test-05/pbench/tmp/default.1.turbostat.pid
  agent/util-scripts/samples/pbench-stop-tools/test-06/pbench/tmp/default.1.kvmstat.pid
  agent/util-scripts/samples/pbench-stop-tools/test-07/pbench/tmp/default.1.vmstat.pid
  agent/util-scripts/samples/pbench-stop-tools/test-08/pbench/tmp/default.1.numastat.pid
  agent/util-scripts/samples/test-tool-trigger/test-19/pbench/tmp/.empty
  agent/util-scripts/unittests
Labels: Agent, bug, tools

#1547 Add single quotes to perf tool options
  agent/util-scripts/gold/pbench-register-tool-set/test-11.1.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.12.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.14.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.2.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.3.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.4.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.5.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.6.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.9.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.txt
  agent/util-scripts/pbench-register-tool-set
Labels: Agent, bug, tools

#1552 Fix pbench-specjbb2005's iteration handling
  agent/bench-scripts/pbench-specjbb2005
Labels: Agent, Indexing, bug, specjbb2005

#1554 Modify pbench-user-benchmark to use iteration names
  agent/bench-scripts/pbench-user-benchmark
  agent/bench-scripts/tests/pbench-user-benchmark/test-09.txt
  agent/bench-scripts/tests/pbench-user-benchmark/test-10.txt
  agent/bench-scripts/tests/pbench-user-benchmark/test-11.txt
  agent/bench-scripts/tests/pbench-user-benchmark/test-12.txt
  agent/bench-scripts/tests/pbench-user-benchmark/test-23.txt
  agent/bench-scripts/tests/pbench-user-benchmark/test-24.txt
  agent/bench-scripts/tests/pbench-user-benchmark/test-25.txt
  agent/bench-scripts/tests/pbench-user-benchmark/test-38.txt
Labels: Agent, Indexing, bug, user-benchmark

#1555 Separate run benchmark iteration names by a space
  agent/lib/PbenchBase.pm
Labels: Agent, Indexing, bug, run-benchmark

#1560 Drop use of screen -Logfile for old screen vers
  agent/bench-scripts/test-bin/mock-cmd
  agent/util-scripts/gold/test-tool-trigger/test-19.txt
  agent/util-scripts/pbench-postprocess-tools
Labels: Agent, bug, tools

#1557 Fix uperf XML for bidirec test type
  agent/bench-scripts/pbench-uperf
Labels: Agent, bug, uperf

#1561 Use dedicated directory for screen logs
  agent/util-scripts/gold/test-tool-trigger/test-19.txt
  agent/util-scripts/pbench-postprocess-tools
Labels: Agent, bug, tools

#1562 Rename screen directory to .screen.d to avoid confusion with tools
  agent/util-scripts/gold/test-tool-trigger/test-19.txt
  agent/util-scripts/pbench-postprocess-tools
Labels: Agent, bug, tools

#1564 Capture new .screen.d with tool data
  agent/util-scripts/pbench-postprocess-tools
Labels: Agent, bug, tools

#1571 Fix pidstat and turbostat datalogs
  agent/tool-scripts/datalog/pidstat-datalog
  agent/tool-scripts/datalog/turbostat-datalog
  agent/util-scripts/gold/pbench-register-tool-set/test-11.txt
  agent/util-scripts/pbench-register-tool
Labels: Agent, bug, tools

#1569 Change the fio version that pbench will use
  agent/config/pbench-agent-default.cfg
Labels: Agent, fio

#1572 Fix kvmtrace & cpuacct -stop-postprocess
  agent/tool-scripts/postprocess/cpuacct-stop-postprocess
  agent/tool-scripts/postprocess/kvmtrace-stop-postprocess
Labels: Agent, bug, tools

#1574 Bump fio version to 3.19.
  agent/config/benchmark/fio.json
  agent/config/pbench-agent-default.cfg
Labels: Agent, enhancement, fio

#1579 Make sure pidstat-datalog does not use exec
  agent/tool-scripts/base-tool
  agent/tool-scripts/datalog/pidstat-datalog
Labels: Agent, bug, tools

#1582 v0.68: Version bump
  VERSION
Labels: Agent, Code Infrastructure

#1566 Run black and flake8 against pbench directory
  .flake8
  .pre-commit-config.yaml
  .travis.yml
  agent/bench-scripts/postprocess/fio-postprocess-viz.py
  agent/bench-scripts/templates/make-fio-jobfile.py
  agent/util-scripts/getconf.py
  lib/configtools/__init__.py
  pyproject.toml
  server/bin/getconf.py
  server/bin/pbench-backup-tarballs.py
  server/bin/pbench-base.py
  server/bin/pbench-index.py
  server/bin/pbench-report-status.py
  server/bin/pbench-satellite-state-change.py
  server/bin/pbench-verify-backup-tarballs.py
  server/bin/test-bin/test_logger_type.py
  server/lib/pbench/__init__.py
  server/lib/pbench/indexer.py
  server/lib/pbench/mock.py
  server/lib/pbench/report.py
  server/lib/s3backup/__init__.py
  web-server/v0.3/demo.py
Labels: Code Infrastructure, high priority

#1551 Unify location of contributed code
  agent/bench-scripts/contrib/drop-cache-example.sh
  contrib/agent/bench-scripts/drop-cache-example.sh
  contrib/agent/bench-scripts/fio.job
  contrib/agent/bench-scripts/pbench-bzt
  contrib/agent/bench-scripts/pbench-mpt
  contrib/agent/run-scripts/README
  contrib/agent/run-scripts/run-fio-ramdisk-aio.sh
  contrib/agent/run-scripts/run-fio-ramdisk-ext4-xfs-btrfs.sh
  contrib/agent/run-scripts/run-fio-ramdisk.sh
  contrib/agent/util-scripts/bind-ethernet-ints-to-node
  contrib/agent/util-scripts/check-vcpu-prio.sh
  contrib/agent/util-scripts/cpu-hog
  contrib/agent/util-scripts/disable-ht
  contrib/agent/util-scripts/install-pub-key
  contrib/agent/util-scripts/neutron
  contrib/agent/util-scripts/offline-node-cpus
  contrib/agent/util-scripts/set-vcpu-prio-rt.sh
  contrib/agent/util-scripts/sync-clocks
  contrib/agent/util-scripts/topology
  contrib/agent/util-scripts/wait_until_sshable
Labels: Agent, Code Infrastructure, Contrib, enhancement

#1553 Remove unused benchmark_tools_dir variable
  agent/bench-scripts/pbench-fio
  agent/bench-scripts/pbench-iozone
Labels: Agent, Code Infrastructure, enhancement
