Repository distributed-system-analysis/pbench, pull requests merged in 2020-07, with the labels that each got.

#1721 Change ToC `parent` field to "keyword"
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-7.0.0.txt
  server/bin/gold/test-7.0.1.txt
  server/bin/gold/test-7.1.txt
  server/bin/gold/test-7.10.txt
  server/bin/gold/test-7.11.txt
  server/bin/gold/test-7.12.txt
  server/bin/gold/test-7.13.txt
  server/bin/gold/test-7.14.txt
  server/bin/gold/test-7.15.txt
  server/bin/gold/test-7.16.txt
  server/bin/gold/test-7.17.txt
  server/bin/gold/test-7.18.txt
  server/bin/gold/test-7.19.txt
  server/bin/gold/test-7.2.0.txt
  server/bin/gold/test-7.2.1.txt
  server/bin/gold/test-7.20.txt
  server/bin/gold/test-7.21.txt
  server/bin/gold/test-7.22.txt
  server/bin/gold/test-7.23.txt
  server/bin/gold/test-7.24.txt
  server/bin/gold/test-7.25.txt
  server/bin/gold/test-7.26.txt
  server/bin/gold/test-7.3.txt
  server/bin/gold/test-7.4.txt
  server/bin/gold/test-7.5.txt
  server/bin/gold/test-7.6.txt
  server/bin/gold/test-7.7.txt
  server/bin/gold/test-7.8.txt
  server/bin/gold/test-7.9.txt
  server/lib/mappings/run-toc-entry.json
  server/lib/mappings/run.json
Labels: Pbench Dashboard, Server, bug

#1734 Sort the output of pbench-cull-unpacked-tarballs.py
  server/bin/pbench-cull-unpacked-tarballs.py
Labels: Server, Unit tests, bug

#1733 Fixes datalog-cpuacct directory order
  agent/tool-scripts/datalog/cpuacct-datalog
Labels: Agent, bug

#1667 Use pathlib where possible
  lib/pbench/server/__init__.py
  lib/pbench/server/api/__init__.py
  lib/pbench/test/unit/server/conftest.py
  server/bin/gold/test-1.txt
  server/bin/gold/test-2.txt
  server/bin/gold/test-3.txt
  server/bin/gold/test-4.txt
  server/bin/gold/test-6.1.txt
  server/bin/gold/test-6.2.txt
  server/bin/pbench-backup-tarballs.py
  server/bin/pbench-base.py
  server/bin/pbench-check-tb-age.py
  server/bin/pbench-cull-unpacked-tarballs.py
  server/bin/pbench-index.py
  server/bin/pbench-reindex.py
  server/bin/pbench-verify-backup-tarballs.py
Labels: Background Tasks, Code Infrastructure, Server

#1724 Fix formatting of contribution guide
  doc/CONTRIBUTING.md
Labels: Documentation, bug

#1732 Fix tabs vs spaces in agent/base
  agent/base
Labels: Agent, Code Infrastructure

#1741 Fix project name to Pbench.
  README.md
  server/lib/systemd/pbench-server.service
Labels: Agent, Documentation, Server, bug

#1525 pbench-server-prep-shim-002 into python3 program
  server/bin/gold/test-13.txt
  server/bin/gold/test-15.txt
  server/bin/gold/test-2.txt
  server/bin/gold/test-3.txt
  server/bin/gold/test-4.txt
  server/bin/gold/test-5.1.txt
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-5.txt
  server/bin/pbench-server-prep-shim-002.py
  server/bin/pbench-server-prep-shim-002.sh
Labels: Server, enhancement
