Repository distributed-system-analysis/pbench, pull requests merged in 2021-05, with the labels that each got.

#2274 Make pip install into `%{installdir}`
  server/rpm/pbench-server.spec.j2
Labels: Installation, Server, bug, packaging

#2285 Allow positional arguments for pytest
  tox.ini
Labels: Agent, Server, Unit tests, enhancement

#2264 Add the `Content-Length` header to the PUT req
  lib/pbench/agent/results.py
  lib/pbench/agent/tool_meister.py
  lib/pbench/common/utils.py
  lib/pbench/test/unit/common/test_utils.py
  server/bin/pbench-backup-tarballs.py
  server/bin/pbench-server-prep-shim-002.py
  server/bin/pbench-verify-backup-tarballs.py
Labels: API, Agent, Code Infrastructure, Server, bug

#2284 Add expected exit status to unittests failures
  agent/util-scripts/unittests
Labels: Agent, Unit tests, bug

#2292 Add a role to install the EPEL repo
  agent/ansible/pbench/agent/galaxy.yml
  agent/ansible/pbench/agent/roles/epel_repo_install/tasks/main.yml
  agent/ansible/pbench_agent_install.yml
  server/ansible/pbench-server-install.yml
  server/ansible/roles/epel_repo_install/tasks/main.yml
Labels: Agent, Installation, Server, enhancement

#2300 Add python3-psycopg2 require in the server spec file
  server/rpm/pbench-server.spec.j2
Labels: Installation, Server, enhancement

#2255 Add a template DB table and integrate with index template management
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/controllers_list.py
  lib/pbench/server/api/resources/query_apis/datasets_detail.py
  lib/pbench/server/api/resources/query_apis/datasets_list.py
  lib/pbench/server/api/resources/query_apis/month_indices.py
  lib/pbench/server/database/database.py
  lib/pbench/server/database/models/template.py
  lib/pbench/server/database/models/tracker.py
  lib/pbench/server/indexer.py
  lib/pbench/server/templates.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/test_controllers_list.py
  lib/pbench/test/unit/server/test_datasets_detail.py
  lib/pbench/test/unit/server/test_datasets_list.py
  lib/pbench/test/unit/server/test_month_indices.py
  lib/pbench/test/unit/server/test_template_db.py
  lib/pbench/test/unit/server/test_templates.py
  server/bin/pbench-cull-unpacked-tarballs.py
  server/bin/pbench-index.py
  server/bin/pbench-report-status.py
  server/bin/pbench-verify-backup-tarballs.py
  server/bin/unittests
Labels: Code Infrastructure, Server, enhancement

#2291 Index documents by user ID instead of username.
  lib/pbench/cli/server/user_create.py
  lib/pbench/server/api/auth.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/database/database.py
  lib/pbench/server/database/models/tracker.py
  lib/pbench/server/database/models/users.py
  lib/pbench/server/indexing_tarballs.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/test_state_tracker.py
  server/bin/gold/test-7.10.txt
  server/bin/gold/test-7.11.txt
  server/bin/gold/test-7.12.txt
  server/bin/gold/test-7.13.txt
  server/bin/gold/test-7.14.txt
  server/bin/gold/test-7.15.txt
  server/bin/gold/test-7.16.txt
  server/bin/gold/test-7.17.txt
  server/bin/gold/test-7.19.txt
  server/bin/gold/test-7.20.txt
  server/bin/gold/test-7.21.txt
  server/bin/gold/test-7.22.txt
  server/bin/gold/test-7.23.txt
  server/bin/gold/test-7.24.txt
  server/bin/gold/test-7.25.txt
  server/bin/gold/test-7.26.txt
  server/bin/gold/test-7.4.txt
  server/bin/gold/test-7.5.txt
  server/bin/gold/test-7.6.txt
  server/bin/gold/test-7.7.txt
  server/bin/gold/test-7.8.txt
  server/bin/gold/test-7.9.txt
  server/bin/pbench-state-manager.py
  server/bin/unittests
Labels: Code Infrastructure, Indexing, Server, enhancement

#2287 Rework upload API to move filename to URI
  agent/requirements.txt
  agent/rpm/pbench-agent.spec.j2
  agent/rpm/python-module-mapping.table
  agent/util-scripts/pbench-tool-meister-start
  agent/util-scripts/validate-hostname
  jenkins/development.Dockerfile
  lib/pbench/agent/results.py
  lib/pbench/agent/utils.py
  lib/pbench/common/utils.py
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/test/unit/agent/task/test_copy_result_tb.py
  lib/pbench/test/unit/agent/task/test_results_push.py
  lib/pbench/test/unit/common/test_validate_hostname.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
  lib/pbench/test/unit/server/test_requests.py
Labels: API, Agent, Server, enhancement

#2304 Separate logger name from module name
  lib/pbench/common/logger.py
Labels: Code Infrastructure, Server, bug

#2309 Small black formatting fix
  lib/pbench/common/logger.py
Labels: Agent, Code Infrastructure, Server, enhancement

#2308 Ensure that tarball upload gets desired HTTP headers
  lib/pbench/agent/results.py
Labels: API, Agent, bug

#2276 Allow live metric visualization for remote runs
  agent/containers/images/visualizers/DockerfileLive
  agent/containers/images/visualizers/DockerfilePostPCP
  agent/containers/images/visualizers/DockerfilePostProm
  agent/containers/images/visualizers/README.md
  agent/containers/images/visualizers/run.py
Labels: Agent, enhancement

#2301 Fix `pbench-list-tools --name`
  agent/util-scripts/gold/pbench-clear-tools/test-21.00.txt
  agent/util-scripts/gold/pbench-clear-tools/test-21.01.txt
  agent/util-scripts/gold/pbench-list-tools/test-12.00.txt
  agent/util-scripts/gold/pbench-list-tools/test-12.01.txt
  agent/util-scripts/gold/pbench-list-tools/test-12.02.txt
  agent/util-scripts/gold/pbench-list-tools/test-12.03.txt
  agent/util-scripts/gold/pbench-list-tools/test-12.04.txt
  agent/util-scripts/gold/pbench-list-tools/test-12.05.txt
  agent/util-scripts/pbench-list-tools
  agent/util-scripts/samples/pbench-clear-tools/test-21.00/pbench/tools-default/mpstat
  agent/util-scripts/samples/pbench-clear-tools/test-21.00/pbench/tools-default/remote@fubar
  agent/util-scripts/samples/pbench-clear-tools/test-21.01/pbench/tools-default/mpstat
  agent/util-scripts/samples/pbench-clear-tools/test-21.01/pbench/tools-default/remote@fubar
  agent/util-scripts/samples/pbench-clear-tools/test-21.01/pbench/tools-default/remote@fubar2
  agent/util-scripts/samples/pbench-list-tools/test-12.02/pbench/tools-default/iostat
  agent/util-scripts/samples/pbench-list-tools/test-12.02/pbench/tools-default/mpstat
  agent/util-scripts/samples/pbench-list-tools/test-12.02/pbench/tools-default/perf
  agent/util-scripts/samples/pbench-list-tools/test-12.02/pbench/tools-default/pidstat
  agent/util-scripts/samples/pbench-list-tools/test-12.02/pbench/tools-default/proc-interrupts
  agent/util-scripts/samples/pbench-list-tools/test-12.02/pbench/tools-default/proc-vmstat
  agent/util-scripts/samples/pbench-list-tools/test-12.02/pbench/tools-default/sar
  agent/util-scripts/samples/pbench-list-tools/test-12.02/pbench/tools-default/turbostat
  agent/util-scripts/samples/pbench-list-tools/test-12.03
  agent/util-scripts/samples/pbench-list-tools/test-12.04
  agent/util-scripts/unittests
Labels: Agent, bug

#2263 Fix standalone db.init issue
  lib/pbench/cli/server/user_create.py
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/users_api.py
  lib/pbench/server/database/__init__.py
  server/bin/pbench-backup-tarballs.py
  server/bin/pbench-cull-unpacked-tarballs.py
  server/bin/pbench-import-datasets.py
  server/bin/pbench-index.py
  server/bin/pbench-reindex.py
  server/bin/pbench-report-status.py
  server/bin/pbench-server-prep-shim-002.py
  server/bin/pbench-state-manager.py
  server/bin/pbench-verify-backup-tarballs.py
Labels: Code Infrastructure, Server, bug

#2295 Validate all passed in `_pbench_hostname_ip` values
  agent/base
  agent/util-scripts/gold/test-client-tool-meister/test-53.txt
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-51.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-52.txt
  agent/util-scripts/test-bin/hostname
  lib/pbench/agent/tool_data_sink.py
  lib/pbench/agent/tool_meister.py
  lib/pbench/agent/utils.py
Labels: Agent, bug, tools

#2313 Remove unneeded `pipenv` invocation
  server/bin/unittests
Labels: Server, Unit tests, bug

#2296 Add support for PBENCH_ORCHESTRATE
  agent/util-scripts/gold/pbench-tool-meister-start/test-54.txt
  agent/util-scripts/gold/pbench-tool-meister-stop/test-55.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-51.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-52.txt
  agent/util-scripts/gold/test-tm-start-bad-group/test-17.txt
  agent/util-scripts/gold/test-tm-stop-bad-group/test-18.txt
  agent/util-scripts/pbench-tool-meister-client
  agent/util-scripts/pbench-tool-meister-start
  agent/util-scripts/pbench-tool-meister-stop
  agent/util-scripts/test-bin/test-start-stop-tool-meister
Labels: Agent, bug, tools

#2315 Clean up LGTM complaints
  agent/bench-scripts/templates/make-fio-jobfile.py
  agent/tool-scripts/datalog/haproxy-ocp-datalog
  agent/tool-scripts/datalog/oc-datalog
  agent/tool-scripts/datalog/pprof-datalog
  agent/tool-scripts/datalog/prometheus-metrics-datalog
  lib/pbench/server/indexer.py
  server/bin/pbench-cull-unpacked-tarballs.py
  server/bin/pbench-pp-status
  server/bin/pbench-reindex.py
Labels: Agent, Code Infrastructure, Server, bug, enhancement

#2317 Handle `ENOSPC` and report exceptions once
  lib/pbench/server/api/resources/upload_api.py
Labels: Server, enhancement

#2326 Query fixes
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets_list.py
  lib/pbench/server/database/models/tracker.py
  lib/pbench/test/unit/server/query_apis/conftest.py
  lib/pbench/test/unit/server/query_apis/test_controllers_list.py
  lib/pbench/test/unit/server/query_apis/test_datasets_detail.py
  lib/pbench/test/unit/server/query_apis/test_datasets_list.py
  lib/pbench/test/unit/server/query_apis/test_month_indices.py
  server/bin/unittests
Labels: API, Code Infrastructure, Pbench Dashboard, Server, Unit tests, bug

#2319 Fix pbench-register-tool-trigger
  agent/util-scripts/gold/pbench-register-tool-trigger/test-15.txt
  agent/util-scripts/gold/pbench-register-tool-trigger/test-35.00.txt
  agent/util-scripts/gold/pbench-register-tool-trigger/test-35.01.txt
  agent/util-scripts/gold/pbench-register-tool-trigger/test-35.02.txt
  agent/util-scripts/gold/pbench-register-tool-trigger/test-35.03.txt
  agent/util-scripts/gold/pbench-register-tool-trigger/test-35.04.txt
  agent/util-scripts/gold/pbench-register-tool-trigger/test-35.05.txt
  agent/util-scripts/gold/pbench-register-tool-trigger/test-35.06.txt
  agent/util-scripts/gold/pbench-register-tool-trigger/test-35.07.txt
  agent/util-scripts/gold/pbench-register-tool-trigger/test-35.08.txt
  agent/util-scripts/gold/pbench-register-tool-trigger/test-35.09.txt
  agent/util-scripts/gold/test-pbench-register-tool-trigger/test-35.10.txt
  agent/util-scripts/gold/test-pbench-register-tool-trigger/test-35.11.txt
  agent/util-scripts/gold/test-pbench-register-tool-trigger/test-35.12.txt
  agent/util-scripts/pbench-register-tool-trigger
  agent/util-scripts/test-bin/test-pbench-register-tool-trigger
  agent/util-scripts/unittests
Labels: Agent, bug, tools

#2218 Server side CLI to update, delete, list users
  lib/pbench/cli/server/__init__.py
  lib/pbench/cli/server/user_create.py
  lib/pbench/cli/server/user_management.py
  lib/pbench/server/api/resources/users_api.py
  lib/pbench/server/database/database.py
  lib/pbench/server/database/models/users.py
  lib/pbench/test/unit/server/test_user_create.py
  lib/pbench/test/unit/server/test_user_management_cli.py
  server/Makefile
  setup.cfg
Labels: Server, enhancement
