Repository distributed-system-analysis/pbench, pull requests merged in 2021-11, with the labels that each got.

#2519 Avoid hardcoded tools location on bench-scripts
  agent/base
  agent/bench-scripts/pbench-dbench
  agent/bench-scripts/pbench-fio
  agent/bench-scripts/pbench-iozone
  agent/bench-scripts/pbench-netperf
  agent/bench-scripts/pbench-uperf
  agent/config/pbench-agent-default.cfg
Labels: bug, Agent, fio, uperf

#2520 Ensure `fio` uses full unix timestamps
  agent/bench-scripts/templates/fio-shared-fs.job
  agent/bench-scripts/templates/fio.job
  agent/bench-scripts/tests/pbench-fio/test-04.txt
  agent/bench-scripts/tests/pbench-fio/test-05.txt
  agent/bench-scripts/tests/pbench-fio/test-06.txt
  agent/bench-scripts/tests/pbench-fio/test-07.txt
  agent/bench-scripts/tests/pbench-fio/test-08.txt
  agent/bench-scripts/tests/pbench-fio/test-13.txt
  agent/bench-scripts/tests/pbench-fio/test-15.txt
  agent/bench-scripts/tests/pbench-fio/test-16.txt
  agent/bench-scripts/tests/pbench-fio/test-20.txt
  agent/bench-scripts/tests/pbench-fio/test-28.txt
  agent/bench-scripts/tests/pbench-fio/test-30.txt
  agent/bench-scripts/tests/pbench-fio/test-31.txt
  agent/bench-scripts/tests/pbench-fio/test-32.txt
Labels: bug, enhancement, Agent, fio

#2518 Ensure `pbench-fio` exits w/ non-zero exit status
  agent/bench-scripts/pbench-fio
  agent/bench-scripts/test-bin/bm
  agent/bench-scripts/tests/pbench-fio/test-55.env
  agent/bench-scripts/tests/pbench-fio/test-55.opts
  agent/bench-scripts/tests/pbench-fio/test-55.sts
  agent/bench-scripts/tests/pbench-fio/test-55.txt
Labels: bug, Agent, fio

#2526 Ensure fio usage msg sent to stderr as necessary
  agent/bench-scripts/pbench-fio
Labels: bug, enhancement, Agent, Documentation, Code Infrastructure, fio

#2522 Fix specjbb mdlog
  agent/bench-scripts/pbench-specjbb2005
  agent/bench-scripts/test-bin/java
  agent/bench-scripts/tests/pbench-specjbb2005/test-56.opts
  agent/bench-scripts/tests/pbench-specjbb2005/test-56.post
  agent/bench-scripts/tests/pbench-specjbb2005/test-56.pre
  agent/bench-scripts/tests/pbench-specjbb2005/test-56.txt
  agent/bench-scripts/tests/pbench-specjbb2005/test-57.opts
  agent/bench-scripts/tests/pbench-specjbb2005/test-57.post
  agent/bench-scripts/tests/pbench-specjbb2005/test-57.pre
  agent/bench-scripts/tests/pbench-specjbb2005/test-57.txt
Labels: bug, Agent, specjbb2005, Tool Meister

#2527 Correct `pbench-fio --client` handling
  agent/bench-scripts/pbench-fio
  agent/bench-scripts/test-bin/bm
  agent/bench-scripts/tests/pbench-fio/test-05.txt
  agent/bench-scripts/tests/pbench-fio/test-06.txt
  agent/bench-scripts/tests/pbench-fio/test-07.txt
  agent/bench-scripts/tests/pbench-fio/test-08.txt
  agent/bench-scripts/tests/pbench-fio/test-13.txt
  agent/bench-scripts/tests/pbench-fio/test-16.txt
  agent/bench-scripts/tests/pbench-fio/test-20.txt
  agent/bench-scripts/tests/pbench-fio/test-30.txt
  agent/bench-scripts/tests/pbench-fio/test-31.txt
  agent/bench-scripts/tests/pbench-fio/test-32.pre
  agent/bench-scripts/tests/pbench-fio/test-32.txt
Labels: bug, Agent, fio

#2440 Iteration samples query API
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/query_apis/iteration_samples.py
  lib/pbench/server/api/resources/query_apis/metadata_index/__init__.py
  lib/pbench/server/api/resources/query_apis/metadata_index/iteration_samples.py
  lib/pbench/test/unit/server/query_apis/commons.py
  lib/pbench/test/unit/server/query_apis/test_iteration_samples.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
Labels: Server, API

#2524 Stop explicitly manipulating firewalls in `pbench-fio` and `pbench-uperf`
  agent/bench-scripts/pbench-fio
  agent/bench-scripts/pbench-fio.md
  agent/bench-scripts/pbench-netperf
  agent/bench-scripts/pbench-uperf
  agent/bench-scripts/pbench-uperf.md
  agent/bench-scripts/tests/pbench-fio/test-05.txt
  agent/bench-scripts/tests/pbench-fio/test-06.txt
  agent/bench-scripts/tests/pbench-fio/test-07.txt
  agent/bench-scripts/tests/pbench-fio/test-08.txt
  agent/bench-scripts/tests/pbench-fio/test-13.txt
  agent/bench-scripts/tests/pbench-fio/test-16.txt
  agent/bench-scripts/tests/pbench-fio/test-20.txt
  agent/bench-scripts/tests/pbench-fio/test-30.txt
  agent/bench-scripts/tests/pbench-fio/test-31.txt
  agent/bench-scripts/tests/pbench-fio/test-32.txt
  agent/bench-scripts/tests/pbench-uperf/test-00.txt
  agent/bench-scripts/tests/pbench-uperf/test-01.txt
  agent/bench-scripts/tests/pbench-uperf/test-52.txt
Labels: bug, Agent, fio

#2531 Fix grammar in `test-56.pre`
  agent/bench-scripts/tests/pbench-specjbb2005/test-56.pre
Labels: bug, Agent, Code Infrastructure, Unit tests, specjbb2005

#2532 Improve grammar in `test-bin/java`
  agent/bench-scripts/test-bin/java
Labels: bug, Agent, Code Infrastructure, Unit tests, specjbb2005

#2523 Backport PR #2522 specjbb mdlog fix
  agent/bench-scripts/pbench-specjbb2005
  agent/bench-scripts/test-bin/java
  agent/bench-scripts/tests/pbench-specjbb2005/test-56.opts
  agent/bench-scripts/tests/pbench-specjbb2005/test-56.post
  agent/bench-scripts/tests/pbench-specjbb2005/test-56.pre
  agent/bench-scripts/tests/pbench-specjbb2005/test-56.txt
  agent/bench-scripts/tests/pbench-specjbb2005/test-57.opts
  agent/bench-scripts/tests/pbench-specjbb2005/test-57.post
  agent/bench-scripts/tests/pbench-specjbb2005/test-57.pre
  agent/bench-scripts/tests/pbench-specjbb2005/test-57.txt
Labels: bug, Agent, specjbb2005

#2525 Fix `/api/v1/endpoints` in container environment
  lib/pbench/server/api/resources/endpoint_configure.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
Labels: enhancement, Server, API

#2536 Increase Prom retention in visualizers
  agent/containers/images/visualizers/run.py
Labels: bug, enhancement, Agent, tools, Tool Meister

#2535 pbench-fio: drop use of `sed` for comma replacement
  agent/bench-scripts/pbench-fio
Labels: enhancement, Agent, Code Infrastructure, fio

#2539 Remove use of `wc -w` sub-process
  agent/bench-scripts/pbench-fio
Labels: enhancement, Agent, fio

#2543 Remove deprecated `--remote-only` pbench-fio option
  agent/bench-scripts/pbench-fio
Labels: enhancement, Agent, fio

#2547 Add `hiredis` requirement for performance reasons
  agent/requirements.txt
Labels: bug, enhancement, Agent, packaging, Tool Meister

#2550 Remove deprecated benchmark scripts
  doc.html
Labels: Documentation

#2545 Post deprecation notice for unsupported benchmark scripts
  agent/bench-scripts/pbench-cyclictest
  agent/bench-scripts/pbench-dbench
  agent/bench-scripts/pbench-iozone
  agent/bench-scripts/pbench-migrate
  agent/bench-scripts/pbench-netperf
  agent/bench-scripts/pbench-run-benchmark.pl
  agent/bench-scripts/tests/pbench-dbench/test-02.txt
  agent/bench-scripts/tests/pbench-run-benchmark/test-43.txt
  agent/bench-scripts/tests/pbench-run-benchmark/test-44.txt
  agent/bench-scripts/tests/pbench-run-benchmark/test-45.txt
  agent/bench-scripts/tests/pbench-run-benchmark/test-46.txt
  agent/bench-scripts/tests/pbench-run-benchmark/test-47.txt
  agent/bench-scripts/tests/test-benchmark-clis/test-CL.txt
  docs/guides/UserGuide.rst
Labels: enhancement, Agent, run-benchmark

#2548 pbench-register-tool: treat an empty remotes file as an error
  agent/util-scripts/gold/pbench-register-tool-set/test-11.17.txt
  agent/util-scripts/pbench-register-tool
  agent/util-scripts/unittests
Labels: bug, Agent, tools

#2544 Require `--user` for `pbench-move/copy-results`
  agent/util-scripts/gold/pbench-copy-results/test-31.txt
  agent/util-scripts/gold/pbench-copy-results/test-32.txt
  agent/util-scripts/gold/pbench-copy-results/test-34.txt
  agent/util-scripts/gold/pbench-copy-results/test-37.txt
  agent/util-scripts/gold/pbench-copy-results/test-38.txt
  agent/util-scripts/gold/pbench-copy-results/test-39.txt
  agent/util-scripts/gold/pbench-copy-results/test-40.txt
  agent/util-scripts/gold/pbench-copy-results/test-41.txt
  agent/util-scripts/gold/pbench-copy-results/test-49.txt
  agent/util-scripts/gold/pbench-copy-results/test-50.txt
  agent/util-scripts/gold/pbench-move-results/test-20.txt
  agent/util-scripts/gold/pbench-move-results/test-33.txt
  agent/util-scripts/pbench-make-result-tb
  agent/util-scripts/pbench-move-results
  agent/util-scripts/unittests
Labels: enhancement, Agent

#2534 TimeSeries document query API
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/query_apis/metadata_index/__init__.py
  lib/pbench/server/api/resources/query_apis/metadata_index/namespace_and_rows.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/query_apis/commons.py
  lib/pbench/test/unit/server/query_apis/test_index_mappings.py
  lib/pbench/test/unit/server/query_apis/test_namespace_and_rows.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
Labels: enhancement, Server, API
