Repository distributed-system-analysis/pbench, pull requests merged in 2021-12, with the labels that each got.

#2566 Adding ssh for creating directory on Host machine
  agent/util-scripts/gold/pbench-copy-results/test-31.txt
  agent/util-scripts/gold/pbench-copy-results/test-34.txt
  agent/util-scripts/gold/pbench-copy-results/test-37.txt
  agent/util-scripts/gold/pbench-copy-results/test-38.txt
  agent/util-scripts/gold/pbench-copy-results/test-39.txt
  agent/util-scripts/gold/pbench-copy-results/test-40.txt
  agent/util-scripts/gold/pbench-copy-results/test-41.txt
  agent/util-scripts/gold/pbench-copy-results/test-49.txt
  agent/util-scripts/gold/pbench-move-results/test-33.txt
  agent/util-scripts/pbench-copy-result-tb
Labels: bug, Agent

#2563 Emit full exception on backup directory failure
  server/bin/pbench-backup-tarballs.py
Labels: bug, Server

#2569 Start using syslog identifier
  server/lib/pbench/__init__.py
Labels: enhancement, Background Tasks, Server

#2572 Dynamic `root_index_name`
  lib/pbench/test/unit/server/query_apis/commons.py
  lib/pbench/test/unit/server/query_apis/test_namespace_and_rows.py
Labels: Server, API

#2573 Add missing 0.69 agent generated metadata
  server/bin/gold/test-7.0.1.txt
  server/bin/gold/test-7.27.txt
  server/bin/state/test-7.27.db
  server/bin/state/test-7.27.tar.xz
  server/bin/unittests
  server/lib/mappings/run.json
Labels: bug, Server, Indexing

#2561 Move index_mappings api to appropriate directory
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/query_apis/index_mappings.py
  lib/pbench/server/api/resources/query_apis/metadata_index/__init__.py
  lib/pbench/server/api/resources/query_apis/metadata_index/index_mappings.py
  lib/pbench/test/unit/server/query_apis/test_index_mappings.py
Labels: enhancement, Server, API

#2581 fix hardcoded index name in commons.py
  lib/pbench/test/unit/server/query_apis/commons.py
  lib/pbench/test/unit/server/query_apis/test_namespace_and_rows.py
Labels: enhancement, Server, API

#2556 Spec file and ansible fixes for RHEL9
  agent/ansible/pbench/agent/roles/pbench_agent_config/tasks/main.yml
  agent/ansible/pbench/agent/roles/pbench_firewall_open_ports/README.md
  agent/ansible/pbench/agent/roles/pbench_firewall_open_ports/defaults/main.yml
  agent/ansible/pbench/agent/roles/pbench_firewall_open_ports/meta/main.yml
  agent/ansible/pbench/agent/roles/pbench_firewall_open_ports/tasks/main.yml
  agent/ansible/pbench/agent/roles/pbench_repo_install/vars/main.yml
  agent/rpm/pbench-agent.spec.j2
Labels: Agent, packaging
