Repository distributed-system-analysis/pbench, pull requests merged in 2021-10, with the labels that each got.

#2471 Canonicalize the JSON output from trafficgen-postprocess
  agent/bench-scripts/postprocess/trafficgen-postprocess
Labels: Agent, Code Infrastructure, Unit tests, trafficgen, tools

#2332 Adding pbench image test script
  agent/containers/images/image-test-script.sh
Labels: enhancement, Agent, tools

#2476 Remove explicit removals from RPM removal
  agent/rpm/pbench-agent.spec.j2
  server/rpm/pbench-server.spec.j2
Labels: Agent, Server, packaging, Installation

#2486 Changes to spec file and reqs (from jam session 2021-10-07)
  server/requirements.txt
  server/rpm/pbench-server.spec.j2
Labels: Server, packaging, Installation

#2504 Cleanup in JSON parameter handling
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/test/unit/server/query_apis/commons.py
Labels: bug, Server, Code Infrastructure, API

#2492 Convert to Elasticsearch streaming_bulk helper
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets_publish.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/query_apis/test_datasets_publish.py
Labels: bug, Server, Indexing, API

#2460 Implementation of user & access query semantics
  lib/pbench/server/api/auth.py
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/controllers_list.py
  lib/pbench/server/api/resources/query_apis/datasets_detail.py
  lib/pbench/server/api/resources/query_apis/datasets_list.py
  lib/pbench/server/api/resources/query_apis/index_search.py
  lib/pbench/server/api/resources/query_apis/iteration_samples.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/query_apis/commons.py
  lib/pbench/test/unit/server/query_apis/conftest.py
  lib/pbench/test/unit/server/query_apis/test_controllers_list.py
  lib/pbench/test/unit/server/query_apis/test_datasets_detail.py
  lib/pbench/test/unit/server/query_apis/test_datasets_list.py
  lib/pbench/test/unit/server/query_apis/test_datasets_publish.py
  lib/pbench/test/unit/server/query_apis/test_iteration_samples.py
  lib/pbench/test/unit/server/query_apis/test_query_builder.py
  lib/pbench/test/unit/server/query_apis/test_search.py
  lib/pbench/test/unit/server/test_authorization.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
  lib/pbench/test/unit/server/test_requests.py
  lib/pbench/test/unit/server/test_schema.py
Labels: enhancement, Server, API
