Repository distributed-system-analysis/pbench, pull requests merged in 2021-03, with the labels that each got.

#2124 Streamline server RPM spec file
  server/rpm/pbench-server.spec.j2
Labels: Installation, Server, packaging

#2114 Add SIGHUP handler to pbench indexer
  lib/pbench/server/indexing_tarballs.py
  server/bin/pbench-index.py
Labels: Background Tasks, Indexing, Server, enhancement

#1937 Initial implementation of Pbench user model and associated APIs in server
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/auth.py
  lib/pbench/server/api/resources/users_api.py
  lib/pbench/server/database/__init__.py
  lib/pbench/server/database/alembic.ini
  lib/pbench/server/database/alembic/README
  lib/pbench/server/database/alembic/env.py
  lib/pbench/server/database/alembic/script.py.mako
  lib/pbench/server/database/database.py
  lib/pbench/server/database/models/__init__.py
  lib/pbench/server/database/models/active_tokens.py
  lib/pbench/server/database/models/users.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/test_user_auth.py
  server/lib/config/pbench-server-default.cfg
  server/requirements.txt
Labels: Pbench Dashboard, Server, enhancement

#2133 Fix es url formation when params exist in json data
  lib/pbench/server/api/resources/query_apis/elasticsearch_api.py
Labels: API, Server, bug

#2134 Get podman working on Ubuntu
  jenkins/run
Labels: COMP-150

#1782 Obsolete exception SosreportHostname & TarError
  lib/pbench/common/exceptions.py
  lib/pbench/server/indexing_tarballs.py
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-7.1.txt
  server/bin/gold/test-7.18.txt
  server/bin/gold/test-7.2.0.txt
  server/bin/gold/test-7.2.1.txt
  server/bin/gold/test-7.3.txt
  server/bin/pbench-index.py
Labels: Code Infrastructure, Server

#2140 Ignore annotated coverage files
  .gitignore
Labels: Agent, Code Infrastructure, Server, Unit tests

#2151 Update the agent Makefile for pbench-generate-token and other Click-based tools
  agent/Makefile
Labels: API, Agent, Installation, packaging, tools

#2144 Fix minor bug in the login workflow
  lib/pbench/server/api/resources/users_api.py
  lib/pbench/server/database/models/users.py
  lib/pbench/test/unit/server/test_user_auth.py
Labels: API, Server, bug

#2153 Improve diagnostic for connection error in pbench-generate-token
  lib/pbench/cli/agent/commands/generate_token.py
  lib/pbench/test/unit/agent/task/test_generate_token.py
Labels: Agent, enhancement, tools

#2185 Fix pytest-helpers-namespace at 2019.1.8
  agent/test-requirements.txt
  server/test-requirements.txt
Labels: Agent, Code Infrastructure, Server, Unit tests, bug

#2190 Sort setup.cfg
  setup.cfg
Labels: Agent, Code Infrastructure, Server, enhancement, packaging

#2188 Fix logout response workflow
  lib/pbench/server/api/auth.py
  lib/pbench/server/api/resources/users_api.py
  lib/pbench/test/unit/server/test_user_auth.py
Labels: API, Server, bug
