Repository distributed-system-analysis/pbench, pull requests merged in 2021-08, with the labels that each got.

#2409 Correct `tracker` module name
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets_publish.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/database/__init__.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/server/indexing_tarballs.py
  lib/pbench/server/utils.py
  lib/pbench/test/unit/server/query_apis/test_datasets_publish.py
  lib/pbench/test/unit/server/test_requests.py
  lib/pbench/test/unit/server/test_state_tracker.py
  server/bin/pbench-backup-tarballs.py
  server/bin/pbench-import-datasets.py
  server/bin/pbench-reindex.py
  server/bin/pbench-server-prep-shim-002.py
  server/bin/pbench-state-manager.py
Labels: Server, Code Infrastructure

#2403 Tell RPM pbench-agent.cfg file is a `config` file
  agent/bench-scripts/templates/fio-shared-fs.job
  agent/rpm/pbench-agent.spec.j2
Labels: bug, Agent, packaging, Installation

#2404 Fix stand-alone use of `pbench-make-result-tb`
  agent/util-scripts/pbench-make-result-tb
Labels: bug, Agent

#2382 Documents index mappings api
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/query_apis/index_mappings.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/query_apis/test_index_mappings.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
Labels: Server, API

#2407 Remove write permission on agent installed files
  agent/rpm/pbench-agent.spec.j2
Labels: bug, Agent, packaging, Installation

#2405 Fix stand-alone use of `pbench-make-result-tb`
  agent/util-scripts/pbench-make-result-tb
Labels: bug, Agent

#2419 Remove errant `envars` tox setting
  tox.ini
Labels: bug, Agent, Server, Code Infrastructure, Unit tests

#2413 Remove redundant query API test code
  lib/pbench/test/unit/server/__init__.py
  lib/pbench/test/unit/server/query_apis/commons.py
  lib/pbench/test/unit/server/query_apis/test_controllers_list.py
  lib/pbench/test/unit/server/query_apis/test_datasets_detail.py
  lib/pbench/test/unit/server/query_apis/test_datasets_list.py
  lib/pbench/test/unit/server/query_apis/test_datasets_publish.py
Labels: enhancement, API

#2428 Add psycopg2 RPM to Jenkins container
  jenkins/development.Dockerfile
Labels: Server, Code Infrastructure

#2432 Improve error handling for `ssh` failures from `pbench-move/copy-results`
  agent/bench-scripts/tests/pbench-dbench/test-02.txt
  agent/bench-scripts/tests/pbench-fio/test-05.txt
  agent/bench-scripts/tests/pbench-fio/test-06.txt
  agent/bench-scripts/tests/pbench-fio/test-07.txt
  agent/bench-scripts/tests/pbench-fio/test-08.txt
  agent/bench-scripts/tests/pbench-fio/test-13.txt
  agent/bench-scripts/tests/pbench-fio/test-16.txt
  agent/bench-scripts/tests/pbench-fio/test-20.txt
  agent/bench-scripts/tests/pbench-fio/test-30.txt
  agent/bench-scripts/tests/pbench-fio/test-31.txt
  agent/bench-scripts/tests/pbench-fio/test-32.txt
  agent/bench-scripts/tests/pbench-uperf/test-00.txt
  agent/bench-scripts/tests/pbench-uperf/test-01.txt
  agent/config/pbench-agent-default.cfg
  agent/util-scripts/gold/pbench-clear-tools/test-21.00.txt
  agent/util-scripts/gold/pbench-clear-tools/test-21.01.txt
  agent/util-scripts/gold/pbench-copy-results/test-31.txt
  agent/util-scripts/gold/pbench-copy-results/test-39.txt
  agent/util-scripts/gold/pbench-copy-results/test-40.txt
  agent/util-scripts/gold/pbench-copy-results/test-41.txt
  agent/util-scripts/gold/pbench-copy-results/test-49.txt
  agent/util-scripts/gold/pbench-copy-results/test-53.txt
  agent/util-scripts/gold/pbench-copy-results/test-54.txt
  agent/util-scripts/gold/pbench-metadata-log/test-03.txt
  agent/util-scripts/gold/pbench-move-results/test-33.txt
  agent/util-scripts/gold/pbench-postprocess-tools/test-13.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.4.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.5.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.9.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.txt
  agent/util-scripts/gold/pbench-register-tool/test-43.txt
  agent/util-scripts/gold/pbench-register-tool/test-45.txt
  agent/util-scripts/pbench-move-results
Labels: bug, Agent

#2430 Add tests for admin role access
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/headertypes.py
  lib/pbench/test/unit/server/query_apis/commons.py
  lib/pbench/test/unit/server/query_apis/conftest.py
  lib/pbench/test/unit/server/query_apis/test_controllers_list.py
  lib/pbench/test/unit/server/query_apis/test_datasets_detail.py
  lib/pbench/test/unit/server/query_apis/test_datasets_list.py
  lib/pbench/test/unit/server/query_apis/test_datasets_publish.py
  lib/pbench/test/unit/server/query_apis/test_search.py
  lib/pbench/test/unit/server/test_user_auth.py
Labels: Server, Unit tests, API

#2439 Fix unit test date_range method
  lib/pbench/test/unit/server/query_apis/commons.py
Labels: bug, Server, Code Infrastructure, Indexing, Unit tests, API

#2423 Server installation cleanup
  server/ansible/roles/pbench-server-activate-create-crontab/tasks/main.yml
  server/requirements.txt
  server/rpm/pbench-server.spec.j2
Labels: bug, Server, packaging, Installation
