Repository distributed-system-analysis/pbench, pull requests merged in 2021-02, with the labels that each got.

#2086 Fix use of date parsing in query API
  lib/pbench/server/api/resources/query_apis/query_controllers.py
Labels: Server, Unit tests, bug

#1943 Splitting pbench-index code into modules
  lib/pbench/server/indexing_tarballs.py
  server/bin/gold/test-3.txt
  server/bin/gold/test-4.txt
  server/bin/gold/test-5.1.txt
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-5.txt
  server/bin/gold/test-7.1.txt
  server/bin/gold/test-7.10.txt
  server/bin/gold/test-7.11.txt
  server/bin/gold/test-7.12.txt
  server/bin/gold/test-7.13.txt
  server/bin/gold/test-7.14.txt
  server/bin/gold/test-7.15.txt
  server/bin/gold/test-7.16.txt
  server/bin/gold/test-7.17.txt
  server/bin/gold/test-7.18.txt
  server/bin/gold/test-7.19.txt
  server/bin/gold/test-7.2.0.txt
  server/bin/gold/test-7.2.1.txt
  server/bin/gold/test-7.20.txt
  server/bin/gold/test-7.21.txt
  server/bin/gold/test-7.22.txt
  server/bin/gold/test-7.23.txt
  server/bin/gold/test-7.24.txt
  server/bin/gold/test-7.25.txt
  server/bin/gold/test-7.26.txt
  server/bin/gold/test-7.3.txt
  server/bin/gold/test-7.4.txt
  server/bin/gold/test-7.5.txt
  server/bin/gold/test-7.6.txt
  server/bin/gold/test-7.7.txt
  server/bin/gold/test-7.8.txt
  server/bin/gold/test-7.9.txt
  server/bin/pbench-index.py
Labels: Code Infrastructure, Server, enhancement

#2087 Fix turbostat for real this time
  agent/tool-scripts/base-tool
  agent/tool-scripts/tests/blktrace/gold/test-execution.log
  agent/tool-scripts/tests/cpuacct/gold/test-execution.log
  agent/tool-scripts/tests/disk/gold/test-execution.log
  agent/tool-scripts/tests/docker/gold/test-execution.log
  agent/tool-scripts/tests/haproxy-ocp/gold/test-execution.log
  agent/tool-scripts/tests/iostat/gold/test-execution.log
  agent/tool-scripts/tests/jmap/gold/test-execution.log
  agent/tool-scripts/tests/jstack/gold/test-execution.log
  agent/tool-scripts/tests/kvm-spinlock/gold/test-execution.log
  agent/tool-scripts/tests/kvmstat/gold/test-execution.log
  agent/tool-scripts/tests/kvmtrace/gold/test-execution.log
  agent/tool-scripts/tests/mpstat/gold/test-execution.log
  agent/tool-scripts/tests/numastat/gold/test-execution.log
  agent/tool-scripts/tests/openvswitch/gold/test-execution.log
  agent/tool-scripts/tests/perf/gold/test-execution.log
  agent/tool-scripts/tests/pidstat/gold/test-execution.log
  agent/tool-scripts/tests/proc-interrupts/gold/test-execution.log
  agent/tool-scripts/tests/proc-sched_debug/gold/test-execution.log
  agent/tool-scripts/tests/proc-vmstat/gold/test-execution.log
  agent/tool-scripts/tests/prometheus-metrics/gold/test-execution.log
  agent/tool-scripts/tests/qemu-migrate/gold/test-execution.log
  agent/tool-scripts/tests/rabbit/gold/test-execution.log
  agent/tool-scripts/tests/sar/gold/test-execution.log
  agent/tool-scripts/tests/sysfs/gold/test-execution.log
  agent/tool-scripts/tests/user-tool/gold/tools-group/user-tool-foo42/user-tool-foo42-postprocess.out
  agent/tool-scripts/tests/user-tool/gold/tools-group/user-tool-foo42/user-tool-foo42-stop-postprocess.out
  agent/tool-scripts/tests/virsh-migrate/gold/test-execution.log
  agent/tool-scripts/tests/vmstat/gold/test-execution.log
Labels: Agent, bug, tools

#2081 Support original version strings for HammerDB
  lib/pbench/server/indexer.py
  server/bin/gold/test-7.24.txt
  server/bin/state/test-7.24.tar.xz
Labels: Indexing, Server, bug, enhancement, user-benchmark

#2082 Backport HammerDB compatibility support (b0.69)
  server/bin/gold/test-7.24.txt
  server/bin/state/test-7.24.tar.xz
  server/lib/pbench/indexer.py
Labels: Indexing, Server, bug, enhancement, user-benchmark

#2040 When installing the server, set the host-info state to maintenance
  server/ansible/pbench-repo-install.yml
  server/ansible/pbench-server-disable.yml
  server/ansible/pbench-server-enable.yml
  server/ansible/pbench-server-install.yml
  server/ansible/roles/pbench-repo-install/defaults/main.yml
  server/ansible/roles/pbench-server-activate-setup-results-host-info/tasks/main.yml
  server/ansible/roles/pbench-server-crontab-disable/tasks/main.yml
  server/ansible/roles/pbench-server-crontab-enable/tasks/main.yml
  server/ansible/roles/pbench-server-set-state/tasks/main.yml
Labels: Installation, Server, enhancement

#2116 Fix unused variables from lgtm bot
  contrib/analysis/generate-pbench-timeseries-graphs
Labels: Agent, Contrib, bug

#1939 Setting SELinux Labels correctly in prep-shim
  jenkins/development.Dockerfile
  server/bin/gold/test-5.2.txt
  server/bin/pbench-server-prep-shim-002.py
  server/bin/test-lib/__init__.py
  server/bin/test-lib/selinux.py
  server/bin/unittests
  server/rpm/pbench-server.spec.j2
Labels: Background Tasks, Server, bug
