Repository distributed-system-analysis/pbench, pull requests merged in 2021-04, with the labels that each got.

#2198 Return same status code for bad username and bad password
  lib/pbench/server/api/resources/users_api.py
  lib/pbench/test/unit/server/test_user_auth.py
Labels: API, Server, bug

#2207 Add hostname and IP address validation for env
  agent/base
  agent/bench-scripts/unittests
  agent/util-scripts/gold/pbench-move-results/test-22.txt
  agent/util-scripts/gold/pbench-register-tool/test-01.txt
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  agent/util-scripts/pbench-move-results
  agent/util-scripts/pbench-register-tool
  agent/util-scripts/test-bin/test-client-tool-meister
  agent/util-scripts/unittests
  agent/util-scripts/validate-hostname
  agent/util-scripts/validate-ipaddress
  lib/pbench/agent/utils.py
  lib/pbench/test/unit/agent/test_validate_hostname.py
Labels: Agent, bug, enhancement

#2212 Add missing validate-* scripts
  agent/Makefile
Labels: Agent, bug, packaging

#2196 Pcp transient main
  agent/Makefile
  agent/tool-scripts/meta.json
  agent/tool-scripts/pcp-transient
  agent/util-scripts/get-internal-tool
  agent/util-scripts/gold/pbench-register-tool/test-44.txt
  agent/util-scripts/gold/pbench-register-tool/test-46.txt
  agent/util-scripts/gold/pbench-register-tool/test-47.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-51.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-52.txt
  agent/util-scripts/pbench-postprocess-tools
  agent/util-scripts/pbench-register-tool
  lib/pbench/agent/tool_meister.py
Labels: Agent, enhancement, tools

#2197 Add pbench create user CLI
  lib/pbench/cli/server/__init__.py
  lib/pbench/cli/server/options.py
  lib/pbench/cli/server/user_create.py
  lib/pbench/test/unit/server/test_user_create.py
  server/Makefile
  setup.cfg
Labels: API, Server, enhancement

#2208 Jaeger persistent tool
  lib/pbench/agent/tool_meister.py
Labels: Agent, COMP-150, enhancement, tools

#2181 Refactor tool-meister-start orchestration
  agent/util-scripts/gold/pbench-tool-meister-start/test-54.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-51.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-52.txt
  agent/util-scripts/pbench-tool-meister-start
  agent/util-scripts/test-bin/test-client-tool-meister
  agent/util-scripts/test-bin/test-start-stop-tool-meister
  lib/pbench/agent/constants.py
  lib/pbench/agent/tool_data_sink.py
  lib/pbench/agent/tool_meister.py
Labels: Agent, enhancement, tools

#2213 Add role column in user table
  lib/pbench/cli/server/user_create.py
  lib/pbench/server/database/models/users.py
  lib/pbench/test/unit/server/test_user_create.py
Labels: Server, enhancement

#2219 Don't validate params for `pbench-fio` install
  agent/bench-scripts/pbench-fio
  agent/bench-scripts/tests/pbench-fio/test-03.opts
  agent/bench-scripts/tests/pbench-fio/test-03.txt
  agent/bench-scripts/tests/pbench-fio/test-14.txt
  agent/bench-scripts/tests/pbench-fio/test-17.txt
  agent/bench-scripts/tests/pbench-fio/test-18.txt
  agent/bench-scripts/tests/pbench-fio/test-21.txt
  agent/bench-scripts/tests/pbench-fio/test-26.txt
  agent/bench-scripts/tests/pbench-fio/test-27.txt
  agent/bench-scripts/tests/pbench-fio/test-29.txt
  agent/bench-scripts/tests/test-benchmark-clis/test-CL.txt
Labels: Agent, bug, fio

#2226 Ensure we always pull jenkins devel images
  jenkins/run
Labels: Agent, Code Infrastructure, Server, Unit tests, bug

#2227 Only measure coverage in `lib/pbench`
  .coveragerc
Labels: Agent, Code Infrastructure, Server, Unit tests, bug, enhancement

#2228 Share mocks between persistent tools
  agent/util-scripts/gold/test-client-tool-meister/test-53.txt
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  agent/util-scripts/test-bin/dcgm-exporter
  agent/util-scripts/test-bin/mock-cmd
Labels: Agent, Code Infrastructure, Unit tests, enhancement, tools

#2234 Enable minimum RPM version support
  agent/base
  agent/bench-scripts/pbench-dbench
  agent/bench-scripts/pbench-fio
  agent/bench-scripts/pbench-iozone
  agent/bench-scripts/pbench-netperf
  agent/bench-scripts/pbench-uperf
  agent/bench-scripts/test-bin/rpm
  agent/bench-scripts/tests/pbench-fio/test-03.txt
  agent/bench-scripts/tests/pbench-fio/test-04.txt
  agent/bench-scripts/tests/pbench-fio/test-05.txt
  agent/bench-scripts/tests/pbench-fio/test-06.txt
  agent/bench-scripts/tests/pbench-fio/test-07.txt
  agent/bench-scripts/tests/pbench-fio/test-08.txt
  agent/bench-scripts/tests/pbench-fio/test-13.txt
  agent/bench-scripts/tests/pbench-fio/test-15.txt
  agent/bench-scripts/tests/pbench-fio/test-16.txt
  agent/bench-scripts/tests/pbench-fio/test-20.txt
  agent/bench-scripts/tests/pbench-fio/test-28.txt
  agent/bench-scripts/tests/pbench-fio/test-30.txt
  agent/bench-scripts/tests/pbench-fio/test-31.txt
  agent/bench-scripts/tests/pbench-fio/test-32.txt
  agent/bench-scripts/tests/pbench-trafficgen/test-39.txt
  agent/bench-scripts/tests/pbench-trafficgen/test-40.txt
  agent/bench-scripts/tests/pbench-trafficgen/test-50.txt
  agent/bench-scripts/tests/pbench-trafficgen/test-51.txt
  agent/bench-scripts/tests/pbench-uperf/test-00.txt
  agent/bench-scripts/tests/pbench-uperf/test-01.txt
  agent/bench-scripts/unittests
  agent/config/pbench-agent-default.cfg
  agent/rpm/pbench-agent.spec.j2
  agent/tool-scripts/base-tool
  agent/tool-scripts/unittests
  agent/util-scripts/gold/test-client-tool-meister/test-53.txt
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  agent/util-scripts/gold/test-require-rpm/test-02.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-51.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-52.txt
  agent/util-scripts/require-rpm
  agent/util-scripts/test-bin/rpm
  agent/util-scripts/test-bin/test-require-rpm
  agent/util-scripts/unittests
  contrib/agent/bench-scripts/pbench-mpt
  jenkins/development.Dockerfile
Labels: Agent, enhancement, fio

#2222 Fix use of `PBENCH_REDIS_SERVER` by both `pbench-tool-meister-client` and `-stop`
  agent/util-scripts/pbench-tool-meister-client
  agent/util-scripts/pbench-tool-meister-start
  agent/util-scripts/pbench-tool-meister-stop
  agent/util-scripts/test-bin/test-client-tool-meister
  agent/util-scripts/test-bin/test-start-stop-tool-meister
  lib/pbench/agent/utils.py
  lib/pbench/test/unit/agent/test_utils.py
Labels: Agent, bug, tools

#2214 Simplify and consolidate Elasticsearch queries
  lib/pbench/server/api/resources/endpoint_configure.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/controllers_list.py
  lib/pbench/server/api/resources/query_apis/datasets_detail.py
  lib/pbench/server/api/resources/query_apis/datasets_list.py
  lib/pbench/server/api/resources/query_apis/elasticsearch_api.py
  lib/pbench/server/api/resources/query_apis/month_indices.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/test_controllers_list.py
  lib/pbench/test/unit/server/test_datasets_detail.py
  lib/pbench/test/unit/server/test_datasets_list.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
  lib/pbench/test/unit/server/test_month_indices.py
  lib/pbench/test/unit/server/test_requests.py
  lib/pbench/test/unit/server/test_schema.py
  server/test-requirements.txt
Labels: API, Code Infrastructure, Server

#2189 Retooling pbench-move-results to use the RESTful PUT API instead of direct ssh
  agent/Makefile
  lib/pbench/agent/results.py
  lib/pbench/cli/agent/commands/results/__init__.py
  lib/pbench/test/unit/agent/fixtures/copy_result_tb/log.tar.xz.md5
  lib/pbench/test/unit/agent/task/test_copy_result_tb.py
  lib/pbench/test/unit/agent/task/test_make_result_tb.py
  lib/pbench/test/unit/agent/task/test_move_results.py
  lib/pbench/test/unit/agent/task/test_results_push.py
  setup.cfg
Labels: API, Agent, Server, enhancement

#2232 Add Authorization header to upload PUT API
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/test/unit/server/test_requests.py
Labels: API, Server, enhancement

#2244 demo script executable and test_client.py changes
  Demo/src/demo_script.sh
  Demo/src/test_client.py
Labels: Agent, COMP-150, enhancement, tools

#2248 Fix CentOS 7 / RHEL 7 pbench-agent installations
  agent/rpm/pbench-agent.spec.j2
Labels: Agent, Installation, bug, packaging

#2256 Replace use of become/become_user with remote_user
  agent/ansible/pbench_agent_config.yml
  agent/ansible/pbench_agent_install.yml
  agent/ansible/pbench_repo_install.yml
Labels: Agent, Installation, bug

#2257 PromGrafVisualizer Input Update + DCGM Panel Bug Fix
  agent/containers/images/visualizers/DockerfilePostProm
  agent/containers/images/visualizers/README.md
  agent/containers/images/visualizers/combo.json
  agent/containers/images/visualizers/dcgm.json
Labels: Agent, enhancement, tools
