Repository distributed-system-analysis/pbench, pull requests merged in 2021-07, with the labels that each got.

#2251 Add Authorization header requirement on all the es APIs
  lib/pbench/server/api/auth.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/controllers_list.py
  lib/pbench/server/api/resources/query_apis/datasets_detail.py
  lib/pbench/server/api/resources/query_apis/datasets_list.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/query_apis/conftest.py
  lib/pbench/test/unit/server/query_apis/test_controllers_list.py
  lib/pbench/test/unit/server/query_apis/test_datasets_detail.py
  lib/pbench/test/unit/server/query_apis/test_datasets_list.py
  lib/pbench/test/unit/server/test_requests.py
  lib/pbench/test/unit/server/test_schema.py
Labels: API, Server, enhancement

#2362 Ensure redis does not persist any data to disk
  agent/util-scripts/gold/test-client-tool-meister/test-53.txt
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-51.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-52.txt
  agent/util-scripts/pbench-tool-meister-start
Labels: Agent, bug, tools

#2372 Fixes for sos-report >= 4.0 versions
  agent/util-scripts/tool-meister/pbench-sysinfo-dump
Labels: Agent, bug, enhancement

#2373 Backport "Fixes for sos-report >= 4.0 versions" to 0.69
  agent/util-scripts/pbench-sysinfo-dump
Labels: Agent, bug, enhancement

#2376 Drop Fedora 32, add Fedora 34 to builds
  agent/containers/images/Makefile
  agent/containers/images/README.md
Labels: Agent, enhancement, packaging

#2389 pbench-agent.cfg is no longer a ghost
  agent/rpm/pbench-agent.spec.j2
Labels: Agent, bug, packaging
