Repository distributed-system-analysis/pbench, pull requests merged in 2022-06, with the labels that each got.

#2873 Minor Bug fixes in dashboard
  dashboard/src/App.js
  dashboard/src/modules/components/TableComponent/common-components.jsx
  dashboard/src/modules/components/TableComponent/index.jsx
Labels: bug, Pbench Dashboard

#2871 Fetch endpoints API
  dashboard/.eslintrc.json
  dashboard/.prettierignore
  dashboard/.prettierrc.json
  dashboard/package.json
  dashboard/public/index.html
  dashboard/server/index.js
  dashboard/src/App.js
  dashboard/src/actions/authActions.js
  dashboard/src/actions/datasetListActions.js
  dashboard/src/actions/endpointAction.js
  dashboard/src/actions/types.js
  dashboard/src/modules/components/AuthComponent/LoginForm.jsx
  dashboard/src/modules/components/AuthComponent/SignupForm.jsx
  dashboard/src/modules/components/AuthComponent/common-components.jsx
  dashboard/src/modules/components/AuthComponent/index.jsx
  dashboard/src/modules/components/BreadCrumbComponent/index.jsx
  dashboard/src/modules/components/DatePickerComponent/index.jsx
  dashboard/src/modules/components/NavbarComponent/index.jsx
  dashboard/src/modules/components/NavbarDrawerComponent/index.jsx
  dashboard/src/modules/components/PaginationComponent/index.jsx
  dashboard/src/modules/components/SidebarComponent/index.jsx
  dashboard/src/modules/components/TableComponent/index.jsx
  dashboard/src/modules/containers/MainLayout/index.jsx
  dashboard/src/reducers/endpointReducer.js
  dashboard/src/reducers/index.js
  dashboard/src/reducers/toastReducer.js
  dashboard/src/utils/api.js
  dashboard/src/utils/dateFunctions.js
  dashboard/src/utils/filterDataset.js
  dashboard/src/utils/helper.js
Labels: Pbench Dashboard

#2879 Add `numactl` RPM requirement
  agent/rpm/pbench-agent.spec.j2
Labels: bug, Agent, uperf, packaging, Linpack

#2792 Release Notes for `v0.71.0`
  doc/RELEASE_NOTES.md
Labels: Agent, Documentation

#2887 Restore default tool set and deprecate
  agent/config/pbench-agent-default.cfg
  agent/util-scripts/gold/pbench-register-tool-set/test-11.00.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.01.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.02.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.03.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.04.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.05.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.06.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.07.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.08.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.09.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.10.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.12.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.13.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.14.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.15.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.16.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.17.txt
  agent/util-scripts/pbench-register-tool-set
Labels: bug, Agent, tools

#2878 Expose tarball metadata.log values through API
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/server/filetree.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/database/test_datasets_db.py
  lib/pbench/test/unit/server/database/test_datasets_metadata_db.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
  lib/pbench/test/unit/server/test_requests.py
Labels: Server, API

#2889 Small updates to the release notes
  doc/RELEASE_NOTES.md
Labels: enhancement, Agent, Documentation

#2832 Adding Unit Tests for ToolGroup
  lib/pbench/test/unit/agent/test_tool_group.py
Labels: Agent, Unit tests, testing

#2890 Switch to tarball MD5 as Dataset resource_id
  lib/pbench/common/utils.py
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets_contents.py
  lib/pbench/server/api/resources/query_apis/datasets/namespace_and_rows.py
  lib/pbench/server/api/resources/query_apis/datasets_detail.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/server/indexing_tarballs.py
  lib/pbench/server/utils.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/database/test_datasets_db.py
  lib/pbench/test/unit/server/database/test_datasets_metadata_db.py
  lib/pbench/test/unit/server/query_apis/test_datasets_contents.py
  lib/pbench/test/unit/server/query_apis/test_datasets_delete.py
  lib/pbench/test/unit/server/query_apis/test_datasets_detail.py
  lib/pbench/test/unit/server/query_apis/test_datasets_publish.py
  lib/pbench/test/unit/server/query_apis/test_namespace_and_rows.py
  lib/pbench/test/unit/server/test_datasets_list.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
  lib/pbench/test/unit/server/test_requests.py
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-6.16.txt
  server/bin/gold/test-6.17.txt
  server/bin/pbench-backup-tarballs.py
  server/bin/pbench-import-datasets.py
  server/bin/pbench-reindex.py
  server/bin/pbench-state-manager.py
  server/bin/pbench-unpack-tarballs.sh
  server/bin/state/test-5.2.db
  server/bin/state/test-5.2.setup
  server/bin/state/test-5.2.tar.xz
  server/bin/state/test-6.16.db
  server/bin/state/test-6.17.db
  server/bin/unittests
  server/bin/utils/run-unittest
Labels: Server, Code Infrastructure, API

#2896 CentOS-Stream-8/9 dependency fixes - backport to b0.71
  agent/rpm/pbench-agent.spec.j2
Labels: Agent, packaging, Installation

#2895 Fix CentOS-Stream-8 repo
  agent/ansible/pbench/agent/galaxy.yml
  agent/ansible/pbench/agent/roles/epel_repo_install/README.md
  agent/ansible/pbench/agent/roles/epel_repo_install/tasks/main.yml
  agent/ansible/pbench/agent/roles/pbench_repo_install/vars/main.yml
Labels: bug, Agent, Installation, Ansible

#2900 Work around for rpmlint incompatibilities
  utils/rpm.mk
Labels: bug, Agent, Server, packaging, Backport

#2904 Fix pbench-register-tool-set argument handling
  agent/util-scripts/gold/pbench-register-tool-set/test-11.18.txt
  agent/util-scripts/pbench-register-tool-set
  agent/util-scripts/unittests
Labels: bug, Agent, tools

#2908 Addendum to PR #2904: add more tests
  agent/util-scripts/gold/pbench-register-tool-set/test-11.19.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.20.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.21.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.22.txt
  agent/util-scripts/gold/pbench-register-tool-set/test-11.23.txt
  agent/util-scripts/unittests
Labels: Agent, low priority, Unit tests, tools, Functional Testing, testing, Backport

#2894 Add dependency for Fedora 36
  agent/rpm/pbench-agent.spec.j2
Labels: bug, Agent, packaging, Installation, Backport

#2905 Fix pbench-register-tool-set argument handling - backport of #2904
  agent/util-scripts/gold/pbench-register-tool-set/test-11.18.txt
  agent/util-scripts/pbench-register-tool-set
  agent/util-scripts/unittests
Labels: bug, Agent, tools

#2910 Ensure `fio` arguments are used with `bash -c`
  agent/Makefile
  agent/bench-scripts/driver/fio-client
  agent/bench-scripts/pbench-fio
  agent/bench-scripts/tests/pbench-fio/test-05.txt
  agent/bench-scripts/tests/pbench-fio/test-06.txt
  agent/bench-scripts/tests/pbench-fio/test-07.txt
  agent/bench-scripts/tests/pbench-fio/test-08.txt
  agent/bench-scripts/tests/pbench-fio/test-13.txt
  agent/bench-scripts/tests/pbench-fio/test-16.txt
  agent/bench-scripts/tests/pbench-fio/test-20.txt
  agent/bench-scripts/tests/pbench-fio/test-30.txt
  agent/bench-scripts/tests/pbench-fio/test-31.txt
  agent/bench-scripts/tests/pbench-fio/test-32.txt
  agent/bench-scripts/tests/pbench-fio/test-61.txt
Labels: bug, Agent, fio, Backport

#2912 Fix FileTree.find_dataset to link unpacked data
  lib/pbench/server/filetree.py
  lib/pbench/test/unit/server/test_file_tree.py
Labels: Server, Code Infrastructure

#2899 Simple utility script to reset Server state
  server/bin/pbench-server-erase.sh
Labels: Server, Code Infrastructure, Installation

#2817 User Profile Page
  dashboard/src/App.js
  dashboard/src/actions/authActions.js
  dashboard/src/actions/datasetListActions.js
  dashboard/src/actions/profileActions.js
  dashboard/src/actions/toastActions.js
  dashboard/src/actions/types.js
  dashboard/src/assets/constants/authConstants.js
  dashboard/src/modules/components/AuthComponent/index.jsx
  dashboard/src/modules/components/HeaderComponent/index.jsx
  dashboard/src/modules/components/HeaderComponent/index.less
  dashboard/src/modules/components/ProfileComponent/index.jsx
  dashboard/src/modules/components/ProfileComponent/index.less
  dashboard/src/modules/components/TableComponent/common-components.jsx
  dashboard/src/modules/components/TableComponent/index.jsx
  dashboard/src/modules/components/TableComponent/index.less
  dashboard/src/modules/components/ToastNotificationComponent/index.jsx
  dashboard/src/modules/containers/MainLayout/index.jsx
  dashboard/src/modules/containers/MainLayout/index.less
  dashboard/src/reducers/authReducer.js
  dashboard/src/reducers/index.js
  dashboard/src/reducers/toastReducer.js
  dashboard/src/reducers/userProfileReducer.js
  dashboard/src/utils/apiConstants.js
  dashboard/src/utils/axiosInstance.js
  dashboard/src/utils/routeConstants.js
Labels: Pbench Dashboard

#2906 Clarify "tarball" vs "dataset" in FileTree
  lib/pbench/server/api/resources/query_apis/datasets_delete.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/filetree.py
  lib/pbench/test/unit/server/query_apis/test_datasets_delete.py
  lib/pbench/test/unit/server/test_file_tree.py
Labels: Server, API

#2901 Fix agent ansible and python deps
  agent/containers/images/Dockerfile.base.j2
  agent/rpm/pbench-agent.spec.j2
  agent/rpm/targets.json
  utils/rpm.mk
Labels: Agent, packaging, Installation, Containerization, dependencies, Backport

#2917 Remove wayward "shbangs" in Python 3 library files
  lib/pbench/agent/tool_meister.py
  lib/pbench/agent/tool_meister_start.py
  lib/pbench/agent/tool_meister_stop.py
  lib/pbench/cli/getconf.py
  lib/pbench/cli/server/shell.py
  setup.cfg
Labels: bug, Agent, Server, Code Infrastructure, packaging, Backport

#2926 Fix pbench-linpack options handling bug
  agent/bench-scripts/pbench-linpack
  agent/bench-scripts/tests/pbench-linpack/test-68.env
  agent/bench-scripts/tests/pbench-linpack/test-68.opts
  agent/bench-scripts/tests/pbench-linpack/test-68.pre
  agent/bench-scripts/tests/pbench-linpack/test-68.txt
Labels: bug, Agent, Linpack

#2925 Configure the "python" token used in package names based on version
  agent/rpm/pbench-agent.spec.j2
  agent/rpm/targets.json
  utils/rpm.mk
Labels: bug, Server, packaging

#2927 Configure "python" token - backport to b0.71
  agent/rpm/pbench-agent.spec.j2
Labels: Agent, packaging, Installation

#2928 Fix pbench-linpack options handling bug - backport to b0.71
  agent/bench-scripts/pbench-linpack
  agent/bench-scripts/tests/pbench-linpack/test-68.env
  agent/bench-scripts/tests/pbench-linpack/test-68.opts
  agent/bench-scripts/tests/pbench-linpack/test-68.pre
  agent/bench-scripts/tests/pbench-linpack/test-68.txt
Labels: bug, Agent, Linpack

#2929 Avoid verify_common_bench_script_options in linpack pre-check
  agent/bench-scripts/pbench-linpack
Labels: bug, Agent, Linpack

#2930 Avoid verify_common_bench_script_options in linpack pre-check (#2929 backport to b0.71)
  agent/bench-scripts/pbench-linpack
Labels: bug, Agent, Linpack

#2911 PbenchConfig unit-test Test Coverage
  lib/pbench/test/unit/common/config/hostport-missing-port.cfg
  lib/pbench/test/unit/common/config/hostport-missing.cfg
  lib/pbench/test/unit/common/config/hostport.cfg
  lib/pbench/test/unit/common/config/logdir.cfg
  lib/pbench/test/unit/common/test_config.py
Labels: Agent, Unit tests
