Repository distributed-system-analysis/pbench, pull requests merged in 2022-12, with the labels that each got.

#3092 Avoid hard-coding PostgreSQL references
  lib/pbench/cli/server/__init__.py
  lib/pbench/cli/server/shell.py
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets_delete.py
  lib/pbench/server/database/database.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/query_apis/test_datasets_detail.py
  server/bin/pbench-backup-tarballs
  server/bin/pbench-cull-unpacked-tarballs
  server/bin/pbench-index
  server/bin/pbench-reindex
  server/bin/pbench-unpack-tarballs
  server/bin/pbench-verify-backup-tarballs
  server/lib/config/pbench-server-default.cfg
  server/pbenchinacan/etc/pbench-server/pbench-server.cfg
Labels: Server, Code Infrastructure

#3096 Delete incorrect desc of pbench dashboard repo
  docs/index.rst
Labels: bug, Documentation

#3097 Capture functional test logs
  jenkins/Pipeline.gy
Labels: Server, Containerization, Functional Testing

#3098 Add missing newline for dashboard `README.md`
  dashboard/README.md
Labels: Documentation, Dashboard

#3089 Add a method to wait for PostgreSQL to show up
  lib/pbench/cli/server/shell.py
  lib/pbench/server/database/database.py
  lib/pbench/test/unit/server/conftest.py
  server/lib/config/pbench-server-default.cfg
  server/lib/systemd/pbench-server.service
  server/pbenchinacan/etc/pbench-server/pbench-server.cfg
Labels: enhancement, Server, API

#3086 Prepare Agent container builds for use in the CI
  agent/containers/images/Dockerfile.base.j2
  agent/containers/images/Makefile
  agent/containers/images/README.md
  agent/rpm/Makefile
  jenkins/Makefile
  server/rpm/Makefile
  utils/rpm.mk
  utils/utils.mk
Labels: Agent, Server, Code Infrastructure, packaging, Containerization

#3104 Linting tweaks
  .flake8
  build.sh
  dashboard/.eslintrc.json
  dashboard/package.json
  dashboard/src/modules/components/OverviewComponent/SavedRunsComponent.jsx
  dashboard/src/modules/components/TableOfContent/index.jsx
  dashboard/src/utils/filterDataset.js
  pyproject.toml
Labels: Code Infrastructure, Dashboard

#3106 Fix duplicate template error
  lib/pbench/server/templates.py
Labels: bug, Server, Code Infrastructure, Indexing

#3101 Add a `.gitleaks` to quiet the Red Hat spam bot
  .gitleaks.toml
Labels: Code Infrastructure

#3107 Promote access parameter to query param
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets_publish.py
  lib/pbench/test/unit/server/query_apis/test_datasets_publish.py
Labels: Server, API

#3100 Delay start of cron jobs until API server is ready ... and other useful small changes
  lib/pbench/cli/server/shell.py
  lib/pbench/test/functional/server/test_put.py
  server/Makefile
  server/bin/pbench-create-crontab
  server/bin/pbench-server-activate
  server/bin/pbench-server-activate-create-results-dir-structure
  server/bin/pbench-server-activate-setup-results-host-info
  server/bin/pbench-server-activate-setup-web-server
  server/bin/pbench-server-activate-start-httpd
  server/bin/pbench-server-config-activate
  server/lib/config/pbench-server-default.cfg
  server/lib/config/pbench-server-satellite.cfg.example
  server/lib/config/pbench-server.cfg.example
  server/pbenchinacan/container-build.sh
Labels: bug, enhancement, Background Tasks, Server, API, Containerization

#3108 Move Pbench Server to Listen on port 8080
  jenkins/Pipeline.gy
  lib/pbench/cli/server/shell.py
  server/lib/config/pbench.httpd.conf
  server/pbenchinacan/container-build.sh
  server/pbenchinacan/etc/pbench-server/pbench-server.cfg
  server/pbenchinacan/pod-nodata.yml
  server/pbenchinacan/pod.yml
Labels: Server, Containerization

#3088 Adding required options in put-shim subprocess command
  server/lib/pbench/process_tb.py
Labels: Server

#3090 Updated UI of No Match and Coming Soon pages
  dashboard/.eslintignore
  dashboard/src/App.js
  dashboard/src/assets/constants/navigationConstants.js
  dashboard/src/assets/images/page_not_found.png
  dashboard/src/modules/components/EmptyPageComponent/ComingSoon.jsx
  dashboard/src/modules/components/EmptyPageComponent/NoMatchingPage.jsx
  dashboard/src/modules/components/EmptyPageComponent/index.less
Labels: Dashboard

#3008 Pbench Audit service
  lib/pbench/client/__init__.py
  lib/pbench/server/__init__.py
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_daterange.py
  lib/pbench/server/api/resources/datasets_inventory.py
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/server/api/resources/datasets_metadata.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets_contents.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets_detail.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets_mappings.py
  lib/pbench/server/api/resources/query_apis/datasets/namespace_and_rows.py
  lib/pbench/server/api/resources/query_apis/datasets_delete.py
  lib/pbench/server/api/resources/query_apis/datasets_publish.py
  lib/pbench/server/api/resources/query_apis/datasets_search.py
  lib/pbench/server/api/resources/server_audit.py
  lib/pbench/server/api/resources/server_configuration.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/api/resources/users_api.py
  lib/pbench/server/database/__init__.py
  lib/pbench/server/database/models/__init__.py
  lib/pbench/server/database/models/audit.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/server/indexing_tarballs.py
  lib/pbench/server/sync.py
  lib/pbench/server/templates.py
  lib/pbench/test/functional/server/test_put.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/database/__init__.py
  lib/pbench/test/unit/server/database/test_audit_db.py
  lib/pbench/test/unit/server/database/test_server_config_db.py
  lib/pbench/test/unit/server/query_apis/commons.py
  lib/pbench/test/unit/server/query_apis/conftest.py
  lib/pbench/test/unit/server/query_apis/test_datasets_contents.py
  lib/pbench/test/unit/server/query_apis/test_datasets_detail.py
  lib/pbench/test/unit/server/query_apis/test_datasets_publish.py
  lib/pbench/test/unit/server/query_apis/test_namespace_and_rows.py
  lib/pbench/test/unit/server/query_apis/test_query_builder.py
  lib/pbench/test/unit/server/test_authorization.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
  lib/pbench/test/unit/server/test_indexing_tarballs.py
  lib/pbench/test/unit/server/test_requests.py
  lib/pbench/test/unit/server/test_schema.py
  lib/pbench/test/unit/server/test_server_audit.py
  lib/pbench/test/unit/server/test_server_configuration.py
Labels: Server, Code Infrastructure, API, Audit

#3110 Fix sync status management
  lib/pbench/client/__init__.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/unpack_tarballs.py
Labels: Server, Code Infrastructure

#3095 Get OIDC client public key only at initialization
  lib/pbench/server/auth/__init__.py
  lib/pbench/server/auth/auth.py
  lib/pbench/test/unit/server/auth/conftest.py
Labels: enhancement, Server

#3111 UML Seq Diag for Rev Proxies
  docs/ReverseProxyPbenchServer.uml-seq.md
Labels: enhancement, Documentation, Server, Dashboard

#3091 API error improvements
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_metadata.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets_mappings.py
  lib/pbench/server/api/resources/query_apis/datasets/namespace_and_rows.py
  lib/pbench/server/api/resources/server_configuration.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/query_apis/test_datasets_delete.py
  lib/pbench/test/unit/server/query_apis/test_datasets_mappings.py
  lib/pbench/test/unit/server/query_apis/test_datasets_publish.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
  lib/pbench/test/unit/server/test_schema.py
  lib/pbench/test/unit/server/test_server_configuration.py
Labels: bug, Server, API

#3113 Remove references to Red Hat's internal Jira instance
  lib/pbench/server/auth/auth.py
  lib/pbench/test/unit/server/conftest.py
Labels: bug, Code Infrastructure

#3112 Use one pod.yml file; two images; func test script
  jenkins/Pipeline.gy
  jenkins/run-server-func-tests
  jenkins/runlocal
  server/lib/config/pbench.httpd.conf
  server/pbenchinacan/container-build-ci.sh
  server/pbenchinacan/container-build-sa.sh
  server/pbenchinacan/container-build.sh
  server/pbenchinacan/pod-nodata.yml
  server/pbenchinacan/pod.yml
  server/rpm/pbench-server.spec.j2
Labels: Server, packaging, Containerization, Functional Testing

#3116 Allow setting dataset access on upload
  lib/pbench/client/__init__.py
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/database/models/audit.py
  lib/pbench/server/indexer.py
  lib/pbench/server/indexing_tarballs.py
  lib/pbench/test/functional/server/test_put.py
  lib/pbench/test/unit/server/test_requests.py
Labels: Server, Indexing, API

#3118 Loading Gauge
  dashboard/src/actions/datasetListActions.js
  dashboard/src/actions/overviewActions.js
  dashboard/src/actions/types.js
  dashboard/src/assets/constants/overviewConstants.js
  dashboard/src/modules/components/LoadingComponent/index.jsx
  dashboard/src/modules/components/LoadingComponent/index.less
  dashboard/src/modules/components/OverviewComponent/index.jsx
  dashboard/src/modules/components/OverviewComponent/index.less
  dashboard/src/modules/components/TableComponent/index.less
  dashboard/src/modules/containers/MainLayout/index.jsx
  dashboard/src/modules/containers/MainLayout/index.less
  dashboard/src/reducers/loadingReducer.js
  dashboard/src/reducers/overviewReducer.js
Labels: Dashboard

#3119 Send tarball with access param
  agent/util-scripts/gold/pbench-results-move/test-23.txt
  agent/util-scripts/gold/pbench-results-push/test-24.txt
  lib/pbench/agent/results.py
  lib/pbench/cli/agent/commands/results/move.py
  lib/pbench/cli/agent/commands/results/push.py
  lib/pbench/cli/agent/commands/results/results_options.py
  lib/pbench/test/unit/agent/task/test_copy_result_tb.py
  lib/pbench/test/unit/agent/task/test_results_move.py
  lib/pbench/test/unit/agent/task/test_results_push.py
Labels: enhancement, Agent, CLI

#3122 Verify allowed methods before checking allowed operation
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/test/unit/server/database/__init__.py
  lib/pbench/test/unit/server/test_api_base.py
Labels: bug, Server, API

#3125 Don't emit logs before `rollback()`
  lib/pbench/server/database/models/datasets.py
Labels: bug, Server

#3121 Add verify host names method used by Tool Meister
  lib/pbench/agent/tool_group.py
  lib/pbench/agent/tool_meister_start.py
  lib/pbench/agent/utils.py
  lib/pbench/test/unit/agent/test_utils.py
Labels: bug, Agent, tools, Tool Meister

#3129 Use a color version of the favicon
  dashboard/src/assets/logo/black-square.256x256.ico
  dashboard/src/assets/logo/color-square.16x16.ico
  dashboard/src/assets/logo/color-square.256x256.ico
  dashboard/src/assets/logo/favicon.ico
Labels: enhancement, Dashboard

#3130 Use the correct `abort` method
  lib/pbench/server/auth/auth.py
Labels: Server, API, Users

#3136 fix gh-pages deployment issue
  .github/workflows/gh-pages.yml
Labels: bug, Documentation, website
