Repository distributed-system-analysis/pbench, pull requests merged in 2022-05, with the labels that each got.

#2806 Backport testing of source tree builds
  exec-unittests
Labels: enhancement, Agent, Server, Code Infrastructure, Unit tests

#2808 Remove "indices" section from endpoints API response
  lib/pbench/server/api/resources/endpoint_configure.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
Labels: Server, Pbench Dashboard, API

#2807 Remove controllers/list API
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/query_apis/controllers_list.py
  lib/pbench/test/unit/server/query_apis/test_controllers_list.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
Labels: Server, API, Users

#2810 Remove controllers/months API
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/query_apis/month_indices.py
  lib/pbench/test/unit/server/query_apis/test_month_indices.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
Labels: Server, Pbench Dashboard, API

#2730 Move abort() call to top-level API handling
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/server/api/resources/datasets_metadata.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets_contents.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets_mappings.py
  lib/pbench/server/api/resources/query_apis/datasets/namespace_and_rows.py
  lib/pbench/server/api/resources/query_apis/datasets_detail.py
  lib/pbench/test/unit/server/query_apis/test_datasets_contents.py
  lib/pbench/test/unit/server/query_apis/test_datasets_delete.py
  lib/pbench/test/unit/server/query_apis/test_datasets_mappings.py
  lib/pbench/test/unit/server/query_apis/test_datasets_publish.py
  lib/pbench/test/unit/server/query_apis/test_namespace_and_rows.py
Labels: bug, Server, Code Infrastructure, API

#2814 Correct spelling in `pidstat` tool help text
  agent/tool-scripts/base-tool
  agent/tool-scripts/tests/pidstat/gold/stderr
Labels: bug, Agent, Documentation, tools

#2804 Convert server APIs to ISO 8601 UTC dates
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets_search.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/server/filetree.py
  lib/pbench/server/utils.py
  lib/pbench/test/unit/server/test_datasets_list.py
  lib/pbench/test/unit/server/test_requests.py
  lib/pbench/test/unit/server/test_utils.py
Labels: Server, Code Infrastructure, API

#2823 Add missing `f` letter for f-string
  lib/pbench/agent/tool_group.py
Labels: bug, Agent, tools, Tool Meister, Backport

#2812 Fix "index map" APIs to use dataset name
  lib/pbench/server/api/resources/query_apis/datasets/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets_contents.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets_mappings.py
  lib/pbench/server/api/resources/query_apis/datasets/namespace_and_rows.py
  lib/pbench/test/unit/server/query_apis/test_datasets_contents.py
  lib/pbench/test/unit/server/query_apis/test_namespace_and_rows.py
Labels: Server, Pbench Dashboard, API

#2822 Fix Tool Meister instance exit code handling
  lib/pbench/agent/tool_meister.py
Labels: bug, Agent, Tool Meister, Backport

#2797 Isolate parameter transforms to ToolDataSink class
  agent/util-scripts/gold/test-start-stop-tool-meister/test-51.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-52.txt
  lib/pbench/agent/tool_data_sink.py
  lib/pbench/agent/tool_group.py
  lib/pbench/agent/tool_meister.py
  lib/pbench/agent/tool_meister_client.py
  lib/pbench/agent/tool_meister_start.py
  lib/pbench/agent/tool_meister_stop.py
  lib/pbench/agent/toolmetadata.py
  lib/pbench/common/utils.py
  lib/pbench/test/unit/agent/test_tool_meister.py
Labels: enhancement, Agent, Tool Meister

#2825 Convert authorization to use ID rather than string
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets/__init__.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/query_apis/test_datasets_delete.py
  lib/pbench/test/unit/server/query_apis/test_datasets_publish.py
  lib/pbench/test/unit/server/test_authorization.py
Labels: Server, Code Infrastructure, API, Users

#2827 Fix GET /datasets/list authorization
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/test/unit/server/query_apis/test_datasets_delete.py
  lib/pbench/test/unit/server/query_apis/test_datasets_publish.py
  lib/pbench/test/unit/server/test_datasets_list.py
  lib/pbench/test/unit/server/test_schema.py
Labels: Server, Code Infrastructure, API, Users

#2821 Quick v0.71 fixes
  lib/pbench/agent/tool_meister.py
  lib/pbench/agent/tool_meister_start.py
  lib/pbench/agent/utils.py
Labels: bug, Agent, Tool Meister, Backport

#2816 Fix pbench-fio local fio-server execution
  agent/bench-scripts/pbench-fio
  agent/bench-scripts/tests/pbench-fio/test-05.txt
  agent/bench-scripts/tests/pbench-fio/test-06.txt
  agent/bench-scripts/tests/pbench-fio/test-07.txt
  agent/bench-scripts/tests/pbench-fio/test-08.txt
  agent/bench-scripts/tests/pbench-fio/test-13.txt
  agent/bench-scripts/tests/pbench-fio/test-16.txt
  agent/bench-scripts/tests/pbench-fio/test-20.txt
  agent/bench-scripts/tests/pbench-fio/test-30.txt
  agent/bench-scripts/tests/pbench-fio/test-31.txt
  agent/bench-scripts/tests/pbench-fio/test-32.txt
  agent/bench-scripts/tests/pbench-fio/test-61.txt
Labels: bug, Agent, fio, Backport

#2733 Added the browsing page for non-logged in users
  dashboard/package.json
  dashboard/public/index.html
  dashboard/src/App.js
  dashboard/src/actions/fetchPublicDatasets.js
  dashboard/src/actions/types.js
  dashboard/src/index.js
  dashboard/src/modules/components/AlertComponent/index.css
  dashboard/src/modules/components/AlertComponent/index.jsx
  dashboard/src/modules/components/BreadCrumbComponent/index.jsx
  dashboard/src/modules/components/DatePickerComponent/index.css
  dashboard/src/modules/components/DatePickerComponent/index.jsx
  dashboard/src/modules/components/EmptyStateComponent/index.jsx
  dashboard/src/modules/components/HeadingComponent/index.css
  dashboard/src/modules/components/HeadingComponent/index.jsx
  dashboard/src/modules/components/NavbarComponent/index.jsx
  dashboard/src/modules/components/NavbarDrawerComponent/index.jsx
  dashboard/src/modules/components/PaginationComponent/index.jsx
  dashboard/src/modules/components/SearchComponent/index.css
  dashboard/src/modules/components/SearchComponent/index.jsx
  dashboard/src/modules/components/SidebarComponent/index.jsx
  dashboard/src/modules/components/TableComponent/index.css
  dashboard/src/modules/components/TableComponent/index.jsx
  dashboard/src/modules/containers/MainLayout/index.jsx
  dashboard/src/reducers/index.js
  dashboard/src/reducers/navbarReducer.js
  dashboard/src/utils/bumpDate.js
  dashboard/src/utils/constructDate.js
  dashboard/src/utils/filterDataset.js
  dashboard/src/utils/getMidnightUTCDate.js
  dashboard/src/utils/helper.js
Labels: enhancement, Pbench Dashboard

#2760 Add UUIDs to command line of running Tool Meisters
  agent/util-scripts/gold/test-client-tool-meister/test-53.txt
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  agent/util-scripts/gold/test-client-tool-meister/test-61.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-51.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-52.txt
  agent/util-scripts/test-lib/uuid/__init__.py
  agent/util-scripts/tool-meister/tool-data-sink-ep
  agent/util-scripts/tool-meister/tool-meister-ep
  agent/util-scripts/unittests
  lib/pbench/agent/tool_data_sink.py
  lib/pbench/agent/tool_meister.py
  lib/pbench/agent/tool_meister_start.py
  lib/pbench/test/unit/agent/test_tool_meister.py
Labels: enhancement, Agent, Tool Meister

#2834 Remove minor redundancy in datasets mappings
  lib/pbench/server/api/resources/query_apis/datasets/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets_mappings.py
  lib/pbench/server/database/models/template.py
  lib/pbench/test/unit/server/query_apis/test_datasets_mappings.py
Labels: enhancement, Server, API

#2833 Move towards embedded URL parameters: metadata
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/datasets_metadata.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
Labels: Server, API

#2826 New user metadata namespace for Overview page
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_metadata.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/server/database/models/users.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/database/test_datasets_metadata_db.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
Labels: Server, Code Infrastructure, Pbench Dashboard, API, Users

#2763 Archive the input tool group data during start
  agent/util-scripts/gold/test-client-tool-meister/test-53.txt
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  agent/util-scripts/gold/test-client-tool-meister/test-61.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-51.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-52.txt
  lib/pbench/agent/tool_group.py
  lib/pbench/agent/tool_meister_start.py
Labels: enhancement, Agent, Tool Meister

#2830 `pbench-specjbb2005` now handles commented props
  agent/bench-scripts/pbench-specjbb2005
  agent/bench-scripts/test-bin/java
  agent/bench-scripts/tests/pbench-specjbb2005/test-56.pre
  agent/bench-scripts/tests/pbench-specjbb2005/test-56.txt
  agent/bench-scripts/tests/pbench-specjbb2005/test-57.txt
  agent/bench-scripts/unittests
Labels: bug, Agent, specjbb2005, Backport

#2850 Corrections from running the dashboard
  dashboard/package.json
  dashboard/src/App.js
  dashboard/src/actions/datasetListActions.js
  dashboard/src/actions/fetchPublicDatasets.js
  dashboard/src/actions/types.js
  dashboard/src/modules/components/AlertComponent/index.css
  dashboard/src/modules/components/AlertComponent/index.jsx
  dashboard/src/modules/components/BreadCrumbComponent/index.jsx
  dashboard/src/modules/components/DatePickerComponent/index.jsx
  dashboard/src/modules/components/DatePickerComponent/index.less
  dashboard/src/modules/components/EmptyStateComponent/index.jsx
  dashboard/src/modules/components/HeadingComponent/index.css
  dashboard/src/modules/components/HeadingComponent/index.jsx
  dashboard/src/modules/components/PaginationComponent/index.jsx
  dashboard/src/modules/components/SearchComponent/index.css
  dashboard/src/modules/components/SearchComponent/index.jsx
  dashboard/src/modules/components/TableComponent/common-components.jsx
  dashboard/src/modules/components/TableComponent/index.css
  dashboard/src/modules/components/TableComponent/index.jsx
  dashboard/src/modules/components/TableComponent/index.less
  dashboard/src/modules/containers/MainLayout/index.jsx
  dashboard/src/reducers/datasetListReducer.js
  dashboard/src/reducers/index.js
  dashboard/src/utils/bumpDate.js
  dashboard/src/utils/constructDate.js
  dashboard/src/utils/dateFunctions.js
  dashboard/src/utils/filterDataset.js
  dashboard/src/utils/getMidnightUTCDate.js
Labels: bug, Pbench Dashboard

#2831 Correct `pbench-specjbb2005` use of `-send-tools`
  agent/bench-scripts/pbench-specjbb2005
  agent/bench-scripts/tests/pbench-specjbb2005/test-56.txt
  agent/bench-scripts/tests/pbench-specjbb2005/test-57.txt
Labels: bug, Agent, specjbb2005, Backport

#2853 Configured webpack configurations using react-app-rewired package
  dashboard/config-overrides.js
  dashboard/package.json
Labels: Pbench Dashboard

#2856 Add local and remote pre-check for linpack
  agent/bench-scripts/driver/linpack
  agent/bench-scripts/driver/linpack-wait
  agent/bench-scripts/pbench-linpack
  agent/bench-scripts/tests/pbench-linpack/test-63.txt
  agent/bench-scripts/tests/pbench-linpack/test-64.env
  agent/bench-scripts/tests/pbench-linpack/test-64.pre
  agent/bench-scripts/tests/pbench-linpack/test-64.txt
  agent/bench-scripts/tests/pbench-linpack/test-65.pre
  agent/bench-scripts/tests/pbench-linpack/test-65.txt
  agent/bench-scripts/tests/pbench-linpack/test-66.txt
  agent/bench-scripts/tests/test-drivers/test-DR.txt
Labels: bug, enhancement, Agent, Linpack, Backport

#2863 Ensure use of `localhost` when stopping Redis
  lib/pbench/agent/tool_meister_stop.py
  lib/pbench/test/unit/agent/test_tool_meister_stop.py
Labels: bug, Agent, Tool Meister, Backport

#2858 Tweak container builds for CentOS Stream 9
  agent/containers/images/Dockerfile.base.j2
  agent/containers/images/Dockerfile.layered.j2
  agent/containers/images/Makefile
  server/containers/images/Dockerfile.base.j2
Labels: Agent, Containerization, Backport, PCP

#2862 Handle response payloads which are not JSON in generate_token.py
  lib/pbench/cli/agent/commands/generate_token.py
Labels: bug, Agent, CLI

#2870 Apply some minor fixes found in review
  agent/bench-scripts/driver/linpack
  agent/bench-scripts/test-bin/uperf
Labels: bug, Agent, uperf, Linpack

#2868 Documentation for helper methods of Pbench_dashboard
  dashboard/jsdoc.json
  dashboard/package.json
  dashboard/src/utils/dateFunctions.js
  dashboard/src/utils/filterDataset.js
  dashboard/src/utils/helper.js
Labels: Documentation, Pbench Dashboard

#2869 Dataset name in the URI for /datasets/details endpoint
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets_detail.py
  lib/pbench/test/unit/server/query_apis/test_datasets_detail.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
Labels: enhancement, Server, API

#2855 Add dataset list pagination
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/test/unit/server/test_datasets_list.py
  lib/pbench/test/unit/server/test_schema.py
Labels: enhancement, Server, API

#2876 Add lost tarball state transition images
  docs/gh-pages/images/tarball-state-transitions-1.png
  docs/gh-pages/images/tarball-state-transitions-2.png
  docs/gh-pages/images/tarball-state-transitions-3.png
Labels: bug, Documentation

#2875 Added notion of aria-label to elements of browsing page that are not easily targetable
  dashboard/src/modules/components/TableComponent/common-components.jsx
  dashboard/src/modules/components/TableComponent/index.jsx
Labels: enhancement, Pbench Dashboard

#2874 Expand and generalize metadata namespace
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/server/api/resources/datasets_metadata.py
  lib/pbench/server/api/resources/query_apis/datasets_detail.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/test/unit/server/database/test_datasets_db.py
  lib/pbench/test/unit/server/database/test_datasets_metadata_db.py
  lib/pbench/test/unit/server/test_datasets_list.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
  lib/pbench/test/unit/server/test_schema.py
Labels: Server, Code Infrastructure, API
