Repository distributed-system-analysis/pbench, pull requests merged in 2022-09, with the labels that each got.

#2991 Consolidate ansible directory hierarchy
  agent/Makefile
  agent/ansible/Makefile
  agent/ansible/ansible-lint.yml
  agent/ansible/ansible.cfg
  agent/ansible/ara/ara.yml
  agent/ansible/bin/check-readmes
  agent/ansible/collection/README.md
  agent/ansible/collection/galaxy.yml
  agent/ansible/collection/meta/runtime.yml
  agent/ansible/collection/plugins/README.md
  agent/ansible/collection/roles/pbench_agent_config/README.md
  agent/ansible/collection/roles/pbench_agent_config/defaults/main.yml
  agent/ansible/collection/roles/pbench_agent_config/meta/main.yml
  agent/ansible/collection/roles/pbench_agent_config/tasks/main.yml
  agent/ansible/collection/roles/pbench_agent_files_install/README.md
  agent/ansible/collection/roles/pbench_agent_files_install/meta/main.yml
  agent/ansible/collection/roles/pbench_agent_files_install/tasks/main.yml
  agent/ansible/collection/roles/pbench_agent_install/README.md
  agent/ansible/collection/roles/pbench_agent_install/meta/main.yml
  agent/ansible/collection/roles/pbench_agent_install/tasks/main.yml
  agent/ansible/collection/roles/pbench_clean_yum_cache/README.md
  agent/ansible/collection/roles/pbench_clean_yum_cache/meta/main.yml
  agent/ansible/collection/roles/pbench_clean_yum_cache/tasks/main.yml
  agent/ansible/collection/roles/pbench_firewall_open_ports/README.md
  agent/ansible/collection/roles/pbench_firewall_open_ports/defaults/main.yml
  agent/ansible/collection/roles/pbench_firewall_open_ports/meta/main.yml
  agent/ansible/collection/roles/pbench_firewall_open_ports/tasks/main.yml
  agent/ansible/collection/roles/pbench_repo_install/README.md
  agent/ansible/collection/roles/pbench_repo_install/defaults/main.yml
  agent/ansible/collection/roles/pbench_repo_install/meta/main.yml
  agent/ansible/collection/roles/pbench_repo_install/tasks/main.yml
  agent/ansible/collection/roles/pbench_repo_install/templates/etc/yum.repos.d/pbench.repo.j2
  agent/ansible/collection/roles/pbench_repo_install/vars/main.yml
  agent/ansible/pbench/agent/Makefile
  agent/ansible/playbooks/README
  agent/ansible/playbooks/pbench_agent.hosts.example
  agent/ansible/playbooks/pbench_agent_config.yml
  agent/ansible/playbooks/pbench_agent_install.yml
  agent/ansible/playbooks/pbench_agent_tool_meister_firewall.yml
  agent/ansible/playbooks/pbench_repo_install.yml
  agent/ansible/requirements.yml
  agent/containers/images/Makefile
  agent/util-scripts/tool-meister/pbench-sysinfo-dump
  docs/CONFIG_DATA.md
Labels: enhancement, Agent, Installation, Ansible

#2992 Remove default repo name
  agent/ansible/collection/roles/pbench_repo_install/defaults/main.yml
  agent/ansible/collection/roles/pbench_repo_install/tasks/main.yml
  agent/ansible/collection/roles/pbench_repo_install/templates/etc/yum.repos.d/pbench.repo.j2
  agent/containers/images/Makefile
  agent/containers/images/gen-tags-from-rpm
  agent/containers/images/repo.yml.j2
Labels: enhancement, Agent, Installation, Ansible

#2997 Restore legacy tests for the agent
  exec-unittests
Labels: Agent, Unit tests

#3000 CI build error
  dashboard/src/modules/components/TableComponent/index.jsx
Labels: Pbench Dashboard

#2993 Remove `pbench-run-benchmark`
  agent/Makefile
  agent/bench-scripts/pbench-run-benchmark-sample
  agent/bench-scripts/pbench-run-benchmark.pl
  agent/bench-scripts/postprocess/fio-postprocess-cdm
  agent/bench-scripts/tests/pbench-run-benchmark/test-41.sts
  agent/bench-scripts/tests/pbench-run-benchmark/test-41.txt
  agent/bench-scripts/tests/pbench-run-benchmark/test-42.opts
  agent/bench-scripts/tests/pbench-run-benchmark/test-42.txt
  agent/bench-scripts/tests/pbench-run-benchmark/test-43.opts
  agent/bench-scripts/tests/pbench-run-benchmark/test-43.sts
  agent/bench-scripts/tests/pbench-run-benchmark/test-43.txt
  agent/bench-scripts/tests/pbench-run-benchmark/test-44.opts
  agent/bench-scripts/tests/pbench-run-benchmark/test-44.txt
  agent/bench-scripts/tests/pbench-run-benchmark/test-45.opts
  agent/bench-scripts/tests/pbench-run-benchmark/test-45.txt
  agent/bench-scripts/tests/pbench-run-benchmark/test-46.opts
  agent/bench-scripts/tests/pbench-run-benchmark/test-46.sts
  agent/bench-scripts/tests/pbench-run-benchmark/test-46.txt
  agent/bench-scripts/tests/pbench-run-benchmark/test-48.opts
  agent/bench-scripts/tests/pbench-run-benchmark/test-48.sts
  agent/bench-scripts/tests/pbench-run-benchmark/test-48.txt
  agent/bench-scripts/unittests
  agent/config/benchmark/fio.json
  agent/config/benchmark/fio.json.example
  agent/config/benchmark/pbench.json
  agent/lib/PbenchAnsible.pm
  agent/lib/PbenchCDM.pm
  agent/lib/PbenchES.pm
  agent/rpm/pbench-agent.spec.j2
  agent/tool-scripts/postprocess/iostat-postprocess
  agent/tool-scripts/postprocess/iostat-postprocess-cdm
  agent/tool-scripts/postprocess/mpstat-postprocess
  agent/tool-scripts/postprocess/mpstat-postprocess-cdm
  agent/tool-scripts/postprocess/pidstat-postprocess
  agent/tool-scripts/postprocess/pidstat-postprocess-cdm
  agent/tool-scripts/postprocess/sar-postprocess
  agent/tool-scripts/postprocess/sar-postprocess-cdm
  agent/util-scripts/cdm-get-iterations
  agent/util-scripts/pbench-get-iteration-metrics
  agent/util-scripts/pbench-get-metric-data
  agent/util-scripts/pbench-get-primary-metric
  agent/util-scripts/pbench-import-cdm
  agent/util-scripts/unittests
Labels: enhancement, Agent, run-benchmark, Ansible

#2999 Expiring soon runs of Overview page
  dashboard/src/actions/overviewActions.js
  dashboard/src/actions/types.js
  dashboard/src/assets/constants/overviewConstants.js
  dashboard/src/modules/components/OverviewComponent/ExpiringSoonComponent.jsx
  dashboard/src/modules/components/OverviewComponent/SavedRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/common-component.jsx
  dashboard/src/modules/components/OverviewComponent/index.jsx
  dashboard/src/reducers/overviewReducer.js
Labels: Pbench Dashboard

#2982 Add RPM builds to the CI pipeline
  build.sh
  jenkins/Makefile
  jenkins/ci.fedora.Dockerfile
  jenkins/run
  utils/rpm.mk
Labels: Agent, Server, Code Infrastructure, Containerization

#2954 Api dataset contents
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets_contents.py
  lib/pbench/test/unit/server/query_apis/commons.py
  lib/pbench/test/unit/server/query_apis/conftest.py
  lib/pbench/test/unit/server/query_apis/test_datasets_contents.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
Labels: Server, API

#3002 Tweak the help texts for `pbench-tool-meister-start` and `pbench-fio`
  agent/bench-scripts/pbench-fio
  agent/bench-scripts/tests/pbench-fio/test-14.txt
  agent/bench-scripts/tests/pbench-fio/test-17.txt
  agent/bench-scripts/tests/pbench-fio/test-18.txt
  agent/bench-scripts/tests/pbench-fio/test-21.txt
  agent/bench-scripts/tests/pbench-fio/test-22.txt
  agent/bench-scripts/tests/pbench-fio/test-26.txt
  agent/bench-scripts/tests/pbench-fio/test-27.txt
  agent/bench-scripts/tests/pbench-fio/test-29.txt
  agent/bench-scripts/tests/test-benchmark-clis/test-CL.txt
  agent/util-scripts/gold/pbench-tool-meister-start/test-54.txt
  lib/pbench/agent/tool_meister_start.py
Labels: bug, Agent, Documentation, fio, tools, Tool Meister, CLI

#3004 Remove the now unused `pbench-avg-stddev` (Perl) script
  agent/Makefile
  agent/util-scripts/pbench-avg-stddev
  docs/gh-pages/doc.html
  docs/guides/UserGuide.rst
Labels: Agent, tools, packaging, run-benchmark, CLI

#3005 Server Makefile housekeeping
  server/rpm/Makefile
Labels: Server, Code Infrastructure, packaging, Installation

#2942 PBENCH-865 First pass at implementing OIDC token decode framework
  docs/user_authentication/third_party_token_management.md
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_metadata.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/api/resources/users_api.py
  lib/pbench/server/auth/__init__.py
  lib/pbench/server/auth/auth.py
  lib/pbench/test/unit/server/auth/__init__.py
  lib/pbench/test/unit/server/auth/conftest.py
  lib/pbench/test/unit/server/auth/test_auth.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/query_apis/test_query_builder.py
  lib/pbench/test/unit/server/test_authorization.py
Labels: Server, Code Infrastructure, Users, Containerization

#3003 Pbench refactor namespace values
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets/namespace_and_rows.py
  lib/pbench/test/unit/server/query_apis/test_namespace_and_rows.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
Labels: Server, API

#2963 README file for Pbench Dashboard
  dashboard/README.md
  dashboard/public/logo512.png
Labels: Pbench Dashboard

#3010 RPM build fixes related to Python 3
  agent/Makefile
  utils/rpmlint
Labels: bug, enhancement, Agent, packaging, Installation

#3006 Correct Read The Docs builds
  docs/Makefile
  docs/conf.py
  docs/guides/UserGuide.rst
  docs/requirements.txt
  docs/travis-ci.org
Labels: bug, Documentation

#3014 Fix broken links in README file
  README.md
Labels: bug, Documentation

#3015 Add pbench-logo files
  dashboard/src/assets/logo/black.svg
  dashboard/src/assets/logo/color-circle.svg
  dashboard/src/assets/logo/color-square.svg
  dashboard/src/assets/logo/color.svg
Labels: enhancement, Pbench Dashboard

#3019 Sort by favorite on Browsing page
  dashboard/src/modules/components/TableComponent/index.jsx
Labels: bug, Pbench Dashboard

#3017 Add a new NPM packaging workaround; remove the previous one
  dashboard/package.json
Labels: Code Infrastructure, Pbench Dashboard

#3020 Add note on Fedora 36 and its python 3.10 problem resolution
  doc/RELEASE_NOTES.md
Labels: Documentation

#3018 Get the current Agent container build working again
  agent/containers/images/Dockerfile.layered.j2
  agent/containers/images/Makefile
  agent/containers/images/README.md
  agent/containers/images/apply-tags
  agent/containers/images/build-image
  agent/containers/images/repo.yml.j2
Labels: bug, enhancement, Agent, Code Infrastructure, packaging, Containerization

#3022 Correct method of verifying log messages
  lib/pbench/test/unit/server/test_requests.py
Labels: bug, Server, Unit tests

#3009 Routing path update
  dashboard/public/index.html
  dashboard/src/App.js
  dashboard/src/actions/authActions.js
  dashboard/src/modules/components/AuthComponent/LoginForm.jsx
  dashboard/src/modules/components/AuthComponent/SignupForm.jsx
  dashboard/src/modules/components/AuthComponent/common-components.jsx
  dashboard/src/modules/components/AuthComponent/index.jsx
  dashboard/src/modules/components/AuthComponent/index.less
  dashboard/src/modules/components/HeaderComponent/index.jsx
  dashboard/src/modules/components/TableComponent/common-components.jsx
  dashboard/src/modules/components/TableComponent/index.jsx
  dashboard/src/modules/containers/AuthLayout/index.jsx
  dashboard/src/modules/containers/AuthLayout/index.less
  dashboard/src/modules/containers/Dashboard/index.jsx
  dashboard/src/modules/containers/MainLayout/index.jsx
  dashboard/src/utils/routeConstants.js
Labels: Pbench Dashboard

#2965 Add unpack functionality to Tarball.unpack
  lib/pbench/server/filetree.py
  lib/pbench/test/unit/server/test_file_tree.py
Labels: Server, Code Infrastructure

#3024 Correct handling of `tox -- server`
  exec-unittests
Labels: bug, Server, Unit tests
