Repository distributed-system-analysis/pbench, pull requests merged in 2022-04, with the labels that each got.

#2713 Keyboard interrupt handling
  agent/base
  agent/util-scripts/pbench-tool-meister-start
  agent/util-scripts/pbench-tool-meister-stop
  lib/pbench/agent/utils.py
  lib/pbench/common/utils.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/test/__init__.py
  lib/pbench/test/functional/agent/conftest.py
  lib/pbench/test/unit/agent/conftest.py
  lib/pbench/test/unit/common/test_utils.py
  lib/pbench/test/unit/server/conftest.py
Labels: Agent, Code Infrastructure, Tool Meister

#2722 Move to `perftool-incubator/bench-trafficgen`
  agent/bench-scripts/pbench-trafficgen
Labels: enhancement, Agent, trafficgen

#2727 Ensure `${pbench_run}` directory exists
  agent/base
  lib/pbench/agent/base.py
Labels: bug, Agent, Installation

#2717 Add environment variable to ignore check_install_rpm
  agent/base
  agent/config/pbench-agent-default.cfg
Labels: enhancement, Agent

#2720 Turn on CodeQL analysis
  .github/workflows/codeql-analysis.yml
Labels: Agent, Web UI, Server, Code Infrastructure

#2723 Correct `check_required_rpm` behavior
  agent/tool-scripts/base-tool
Labels: bug, Agent, tools

#2728 Remove `perf-fio-0` test directory when successful
  agent/tool-scripts/postprocess/unittests
Labels: bug, Agent, Unit tests, fio

#2704 re-try tar command if we encounter an error
  lib/pbench/agent/tool_meister.py
  lib/pbench/test/unit/agent/test_tool_meister.py
Labels: enhancement, Agent, Tool Meister

#2726 Replace `find_executable` with `shutil.which`
  agent/util-scripts/pbench-tool-meister-start
  lib/pbench/agent/results.py
  lib/pbench/agent/tool_data_sink.py
  lib/pbench/agent/tool_meister.py
Labels: enhancement, Agent, Code Infrastructure

#2732 Replace `sys.exit()` w `click._.exit()`
  lib/pbench/agent/base.py
Labels: bug, Agent

#2734 PBENCH-158 Wait for TDS to terminate gracefully
  agent/util-scripts/pbench-tool-meister-start
  lib/pbench/agent/utils.py
  lib/pbench/test/unit/agent/test_utils.py
Labels: bug, Agent, Tool Meister

#2735 Ensure `args` parameter is sent on terminate
  agent/util-scripts/pbench-tool-meister-start
Labels: bug, Agent, Tool Meister

#2736 Update references for issues and projects
  README.md
Labels: Documentation, Code Infrastructure

#2697 Refactor `ToolMeister` to construct Tools once
  agent/util-scripts/gold/test-client-tool-meister/test-53.txt
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  lib/pbench/agent/tool_meister.py
  lib/pbench/test/unit/agent/test_tool_meister.py
Labels: enhancement, Agent, tools, Tool Meister

#2710 Port various features from pbench-run-benchmark to pbench-linpack
  agent/bench-scripts/pbench-linpack
  agent/bench-scripts/postprocess/linpack-prepare-input-file
  agent/bench-scripts/tests/pbench-linpack/test-63.opts
  agent/bench-scripts/tests/pbench-linpack/test-63.sts
  agent/bench-scripts/tests/pbench-linpack/test-63.txt
  agent/bench-scripts/tests/pbench-linpack/test-64.env
  agent/bench-scripts/tests/pbench-linpack/test-64.opts
  agent/bench-scripts/tests/pbench-linpack/test-64.post
  agent/bench-scripts/tests/pbench-linpack/test-64.pre
  agent/bench-scripts/tests/pbench-linpack/test-64.sts
  agent/bench-scripts/tests/pbench-linpack/test-64.txt
  agent/bench-scripts/tests/pbench-linpack/test-65.env
  agent/bench-scripts/tests/pbench-linpack/test-65.opts
  agent/bench-scripts/tests/pbench-linpack/test-65.post
  agent/bench-scripts/tests/pbench-linpack/test-65.pre
  agent/bench-scripts/tests/pbench-linpack/test-65.txt
  agent/bench-scripts/tests/test-benchmark-clis/test-CL.txt
  agent/config/pbench-agent-default.cfg
Labels: Agent, Linpack

#2737 Code review feedback fixes from PR #2710
  agent/bench-scripts/pbench-linpack
  agent/bench-scripts/tests/pbench-linpack/test-65.pre
Labels: enhancement, Agent, Linpack

#2739 Removed package-lock.json
  dashboard/.gitignore
  dashboard/package-lock.json
Labels: Web UI

#2742 Record the Tool Meister data in Redis
  lib/pbench/agent/constants.py
  lib/pbench/agent/tool_data_sink.py
Labels: enhancement, Agent, Tool Meister

#2659 Terminating benchmark run if tool rpm does not exist
  agent/util-scripts/gold/test-client-tool-meister/test-61.txt
  agent/util-scripts/pbench-tool-meister-start
  agent/util-scripts/test-bin/rpm
  agent/util-scripts/unittests
Labels: enhancement, Agent

#2749 Get rid of the `pbench-perl-JSON-XS` dependency
  agent/rpm/pbench-agent.spec.j2
  agent/rpm/rpm.mk
Labels: Agent, packaging

#2747 Remove `run_command` utility function
  lib/pbench/agent/utils.py
  lib/pbench/cli/agent/commands/cleanup.py
  lib/pbench/test/functional/agent/cli/commands/test_cleanup.py
Labels: bug, enhancement, Agent

#2746 Add support for `--clients` to `pbench-linpack`
  agent/bench-scripts/pbench-linpack
  agent/bench-scripts/postprocess/linpack-prepare-input-file
  agent/bench-scripts/test-bin/mock-cmd
  agent/bench-scripts/tests/pbench-linpack/test-65.opts
  agent/bench-scripts/tests/pbench-linpack/test-65.txt
  agent/bench-scripts/tests/pbench-linpack/test-66.env
  agent/bench-scripts/tests/pbench-linpack/test-66.opts
  agent/bench-scripts/tests/pbench-linpack/test-66.post
  agent/bench-scripts/tests/pbench-linpack/test-66.pre
  agent/bench-scripts/tests/pbench-linpack/test-66.txt
  agent/bench-scripts/tests/test-benchmark-clis/test-CL.txt
Labels: enhancement, Agent, Linpack

#2751 Get rid of the `pbench-perl-JSON-XS` dependency (v0.71)
  agent/rpm/pbench-agent.spec.j2
Labels: Agent, packaging

#2750 Tabs to spaces, isle 5
  agent/util-scripts/test-bin/rpm
Labels: enhancement, Agent, Code Infrastructure, Unit tests

#2753 Remove unused `common` directories
  agent/util-scripts/unittests
Labels: bug, Agent, Unit tests

#2758 Add a big-hammer redis server cleanup
  agent/util-scripts/test-bin/common-tm-cleanup
Labels: Agent, Code Infrastructure, Unit tests, Tool Meister

#2754 Remove `pbench-sysinfo-dump` reliance on `base`
  agent/util-scripts/gold/test-client-tool-meister/test-53.txt
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  agent/util-scripts/test-bin/mock-cmd
  agent/util-scripts/tool-meister/pbench-sysinfo-dump
  agent/util-scripts/unittests
  lib/pbench/agent/tool_meister.py
Labels: bug, Agent, Tool Meister

#2755 Ensure `agent/base` is not used by Tool Meisters
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  agent/util-scripts/gold/test-client-tool-meister/test-61.txt
  agent/util-scripts/test-bin/ssh
  agent/util-scripts/tool-meister/pbench-tool-meister-remote
  agent/util-scripts/unittests
  lib/pbench/agent/tool_meister.py
  lib/pbench/agent/tool_meister_start.py
Labels: bug, Agent, Unit tests, Tool Meister

#2756 Employ a `NamedTuple` for TDS parameters
  lib/pbench/agent/tool_data_sink.py
Labels: enhancement, Agent, Tool Meister

#2757 Refactor Tool Meister start to consolidate logic
  lib/pbench/agent/tool_meister_start.py
Labels: enhancement, Agent, Tool Meister

#2759 Simplify PID file names used by TM sub-system
  agent/util-scripts/gold/test-client-tool-meister/test-53.txt
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  agent/util-scripts/gold/test-client-tool-meister/test-61.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-51.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-52.txt
  agent/util-scripts/unittests
  lib/pbench/agent/tool_meister.py
  lib/pbench/agent/tool_meister_start.py
  lib/pbench/agent/tool_meister_stop.py
Labels: enhancement, Agent, Tool Meister

#2761 Small changes deferred from recent PRs
  agent/util-scripts/tool-meister/pbench-sysinfo-dump
  lib/pbench/agent/tool_meister_start.py
Labels: Agent, tools, Tool Meister

#2764 Remove unused `bench-scripts` mocks
  agent/bench-scripts/test-bin/pbench-collect-sysinfo
  agent/bench-scripts/test-bin/pbench-end-tools
  agent/bench-scripts/test-bin/pbench-init-tools
Labels: bug, Agent, Unit tests, Tool Meister

#2767 Correct misspelling in `bench-scripts/unittests`
  README.md
  agent/bench-scripts/unittests
Labels: bug, Agent, Unit tests

#2770 Optional metadata should be optional
  lib/pbench/agent/tool_data_sink.py
Labels: bug, Agent, Tool Meister

#2776 Fix unit testing for email_validator
  lib/pbench/test/unit/server/conftest.py
  server/bin/utils/run-unittest
Labels: Agent, Server, Unit tests

#2780 Deprecate unused benchmark convenience scripts
  agent/bench-scripts/pbench-cyclictest
  agent/bench-scripts/pbench-dbench
  agent/bench-scripts/pbench-iozone
  agent/bench-scripts/pbench-migrate
  agent/bench-scripts/pbench-netperf
  agent/bench-scripts/tests/pbench-dbench/test-02.txt
  agent/bench-scripts/tests/test-benchmark-clis/test-CL.txt
Labels: enhancement, Agent

#2768 Improved `linpack` benchmark wrapper
  agent/Makefile
  agent/bench-scripts/driver/linpack
  agent/bench-scripts/driver/linpack-wait
  agent/bench-scripts/pbench-linpack
  agent/bench-scripts/pbench-run-benchmark.pl
  agent/bench-scripts/postprocess/linpack-postprocess
  agent/bench-scripts/postprocess/linpack-postprocess-cdm
  agent/bench-scripts/postprocess/linpack-postprocess-sample
  agent/bench-scripts/postprocess/linpack-prepare-input-file
  agent/bench-scripts/test-bin/mock-cmd
  agent/bench-scripts/test-bin/test-drivers
  agent/bench-scripts/tests/pbench-linpack/test-65.txt
  agent/bench-scripts/tests/pbench-linpack/test-66.txt
  agent/bench-scripts/tests/pbench-run-benchmark/test-41.txt
  agent/bench-scripts/tests/pbench-run-benchmark/test-42.txt
  agent/bench-scripts/tests/pbench-run-benchmark/test-46.sts
  agent/bench-scripts/tests/pbench-run-benchmark/test-46.txt
  agent/bench-scripts/tests/pbench-run-benchmark/test-48.txt
  agent/bench-scripts/tests/test-benchmark-clis/test-CL.txt
  agent/bench-scripts/tests/test-drivers/test-DR.post
  agent/bench-scripts/tests/test-drivers/test-DR.pre
  agent/bench-scripts/tests/test-drivers/test-DR.txt
  agent/bench-scripts/unittests
  agent/config/benchmark/linpack.json
Labels: enhancement, Agent, Linpack

#2781 Remove support for trafficgen
  agent/Makefile
  agent/bench-scripts/pbench-trafficgen
  agent/bench-scripts/postprocess/BenchPostprocess.pm
  agent/bench-scripts/postprocess/fio-postprocess
  agent/bench-scripts/postprocess/trafficgen-postprocess
  agent/bench-scripts/postprocess/trafficgen-postprocess-cdm
  agent/bench-scripts/test-bin/rpm
  agent/bench-scripts/test-bin/test-benchmark-clis
  agent/bench-scripts/tests/pbench-run-benchmark/test-41.txt
  agent/bench-scripts/tests/pbench-run-benchmark/test-42.txt
  agent/bench-scripts/tests/pbench-run-benchmark/test-46.txt
  agent/bench-scripts/tests/pbench-run-benchmark/test-47.opts
  agent/bench-scripts/tests/pbench-run-benchmark/test-47.txt
  agent/bench-scripts/tests/pbench-run-benchmark/test-48.txt
  agent/bench-scripts/tests/pbench-trafficgen/test-22.opts
  agent/bench-scripts/tests/pbench-trafficgen/test-22.post
  agent/bench-scripts/tests/pbench-trafficgen/test-22.pre
  agent/bench-scripts/tests/pbench-trafficgen/test-22.tar.xz
  agent/bench-scripts/tests/pbench-trafficgen/test-22.txt
  agent/bench-scripts/tests/pbench-trafficgen/test-39.env
  agent/bench-scripts/tests/pbench-trafficgen/test-39.opts
  agent/bench-scripts/tests/pbench-trafficgen/test-39.post
  agent/bench-scripts/tests/pbench-trafficgen/test-39.pre
  agent/bench-scripts/tests/pbench-trafficgen/test-39.trafficgen/MoonGen/build/MoonGen
  agent/bench-scripts/tests/pbench-trafficgen/test-39.trafficgen/binary-search.py
  agent/bench-scripts/tests/pbench-trafficgen/test-39.trafficgen/profile-builder.py
  agent/bench-scripts/tests/pbench-trafficgen/test-39.txt
  agent/bench-scripts/tests/pbench-trafficgen/test-40.env
  agent/bench-scripts/tests/pbench-trafficgen/test-40.opts
  agent/bench-scripts/tests/pbench-trafficgen/test-40.post
  agent/bench-scripts/tests/pbench-trafficgen/test-40.pre
  agent/bench-scripts/tests/pbench-trafficgen/test-40.trafficgen/MoonGen/build/MoonGen
  agent/bench-scripts/tests/pbench-trafficgen/test-40.trafficgen/binary-search.py
  agent/bench-scripts/tests/pbench-trafficgen/test-40.trafficgen/profile-builder.py
  agent/bench-scripts/tests/pbench-trafficgen/test-40.txt
  agent/bench-scripts/tests/pbench-trafficgen/test-50.cfg
  agent/bench-scripts/tests/pbench-trafficgen/test-50.env
  agent/bench-scripts/tests/pbench-trafficgen/test-50.opts
  agent/bench-scripts/tests/pbench-trafficgen/test-50.post
  agent/bench-scripts/tests/pbench-trafficgen/test-50.pre
  agent/bench-scripts/tests/pbench-trafficgen/test-50.trafficgen
  agent/bench-scripts/tests/pbench-trafficgen/test-50.txt
  agent/bench-scripts/tests/pbench-trafficgen/test-51.cfg
  agent/bench-scripts/tests/pbench-trafficgen/test-51.env
  agent/bench-scripts/tests/pbench-trafficgen/test-51.opts
  agent/bench-scripts/tests/pbench-trafficgen/test-51.post
  agent/bench-scripts/tests/pbench-trafficgen/test-51.pre
  agent/bench-scripts/tests/pbench-trafficgen/test-51.trafficgen
  agent/bench-scripts/tests/pbench-trafficgen/test-51.txt
  agent/bench-scripts/tests/test-benchmark-clis/test-CL.txt
  agent/bench-scripts/unittests
  agent/config/benchmark/trafficgen.json
Labels: bug, enhancement, Agent, trafficgen

#2774 Add gunicorn logging
  lib/pbench/cli/server/shell.py
  server/rpm/pbench-server.spec.j2
Labels: Server, Code Infrastructure, packaging, Installation, API

#2765 Clarify that md5sum() takes a Path not a string
  lib/pbench/cli/agent/commands/results/push.py
  lib/pbench/common/utils.py
  lib/pbench/test/unit/agent/task/test_make_result_tb.py
Labels: bug, Agent

#2782 Remove deprecated bench scripts
  agent/bench-scripts/pbench-cyclictest
  agent/bench-scripts/pbench-dbench
  agent/bench-scripts/pbench-iozone
  agent/bench-scripts/pbench-migrate
  agent/bench-scripts/pbench-netperf
  agent/bench-scripts/test-bin/test-benchmark-clis
  agent/bench-scripts/tests/pbench-dbench/test-02.opts
  agent/bench-scripts/tests/pbench-dbench/test-02.txt
  agent/bench-scripts/tests/test-benchmark-clis/test-CL.txt
Labels: enhancement, Agent

#2787 Fix CI build image
  jenkins/ci.fedora.Dockerfile
Labels: bug, Agent, Server, Code Infrastructure, Unit tests

#2788 Enable CodeQL only for `main` branch
  .github/workflows/codeql-analysis.yml
Labels: bug, Code Infrastructure

#2744 Dev dashboard init
  dashboard/jsconfig.json
  dashboard/package.json
  dashboard/src/App.css
  dashboard/src/App.js
  dashboard/src/actions/authActions.js
  dashboard/src/actions/types.js
  dashboard/src/assets/images/avatar.jpg
  dashboard/src/assets/images/avatar.svg
  dashboard/src/assets/images/pf_bg.svg
  dashboard/src/assets/images/pfbg_576@2x.jpg
  dashboard/src/assets/logo/pbench_logo.svg
  dashboard/src/assets/logo/white.svg
  dashboard/src/modules/components/AuthComponent/LoginForm.jsx
  dashboard/src/modules/components/AuthComponent/SignupForm.jsx
  dashboard/src/modules/components/AuthComponent/common-components.jsx
  dashboard/src/modules/components/AuthComponent/index.jsx
  dashboard/src/modules/components/AuthComponent/index.less
  dashboard/src/modules/components/AuthComponent/signupFormData.js
  dashboard/src/modules/components/BackgroundComponent/index.jsx
  dashboard/src/modules/components/BackgroundComponent/index.less
  dashboard/src/modules/components/LoginComponent/index.jsx
  dashboard/src/modules/components/ToastNotificationComponent/index.jsx
  dashboard/src/modules/containers/Dashboard/index.jsx
  dashboard/src/modules/containers/MainLayout/index.jsx
  dashboard/src/modules/containers/MainLayout/index.less
  dashboard/src/reducers/authReducer.jsx
  dashboard/src/reducers/index.js
  dashboard/src/reducers/loadingReducer.js
  dashboard/src/reducers/toastReducer.js
  dashboard/src/store/store.js
  dashboard/src/utils/api.js
  dashboard/src/utils/apiConstants.js
  dashboard/src/utils/helper.js
  dashboard/src/utils/routeConstants.js
Labels: Web UI, Pbench Dashboard

#2769 Small changes to improve code quality
  lib/pbench/agent/tool_data_sink.py
  lib/pbench/agent/tool_meister.py
Labels: Agent, Code Infrastructure, Tool Meister

#2789 Agent v0.72, Server v1.0
  agent/VERSION
  server/VERSION
Labels: enhancement, Agent, Server, packaging, Installation

#2777 Pbench Agent Test Coverage: PbenchAgentConfig tests
  lib/pbench/test/unit/agent/test_config.py
Labels: Agent, Unit tests

#2785 Merge the `doc` directory into `docs`
  doc/Makefile
  docs/CONFIG_DATA.md
  docs/CONTRIBUTING.md
  docs/GETTING_STARTED.md
  docs/INSTALL.md
  docs/Makefile
  docs/batch-export.el
  docs/pbench-agent.org
  docs/pbench-agent.uml-seq.md
  docs/profile
  docs/requirements.txt
  docs/results.org
  docs/travis-ci.org
Labels: bug, enhancement, Agent

#2793 Initial commit for merging sos and result data
  contrib/analysis/README
  contrib/analysis/collect_config_data.py
  contrib/analysis/create_sos_with_runids.py
  contrib/analysis/merge.py
  contrib/analysis/merge_sos_and_perf_parallel.py
  contrib/analysis/script.sh
Labels: Contrib

#2796 Apply `black` formatting to contrib area
  contrib/analysis/collect_config_data.py
  contrib/analysis/create_sos_with_runids.py
  contrib/analysis/merge.py
  contrib/analysis/merge_sos_and_perf_parallel.py
Labels: Contrib

#2794 Use HTTPS for D3 loads
  web-server/v0.3/demo.html
Labels: bug, Web UI

#2802 Delete deprecated bench-scripts from agent Makefile
  agent/Makefile
  agent/bench-scripts/postprocess/dbench-postprocess
  agent/bench-scripts/test-bin/mock-postprocess/dbench-postprocess
  agent/config/pbench-agent-default.cfg
  pyproject.toml
Labels: bug, Agent

#2799 Delete the spurious pbench3-devel RPM dependency
  agent/rpm/pbench-agent.spec.j2
Labels: bug, Agent, packaging, Installation

#2800 b0.71 backport: Delete the spurious pbench3-devel RPM dependency
  agent/rpm/pbench-agent.spec.j2
Labels: bug, Agent, packaging

#2803 Test source tree builds
  exec-unittests
Labels: enhancement, Agent, Server, Code Infrastructure, Unit tests, Backport
