Repository distributed-system-analysis/pbench, pull requests merged in 2022-11, with the labels that each got.

#3052 Remove GraphQL pass-through API
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/graphql_api.py
  lib/pbench/test/functional/server/test_connect.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
  lib/pbench/test/unit/server/test_requests.py
  server/bin/state/config/pbench-server.cfg
  server/bin/state/test-23.config/pbench-server.cfg
  server/bin/state/test-6.13.config/pbench-server.cfg
  server/bin/state/test-6.14.config/pbench-server.cfg
  server/lib/config/pbench-server-default.cfg
  server/lib/config/pbench-server.cfg.example
Labels: Server, API

#2994 Remove file system state directories
  lib/pbench/cli/server/tree_manage.py
  lib/pbench/server/__init__.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/cache_manager.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/server/indexer.py
  lib/pbench/server/indexing_tarballs.py
  lib/pbench/server/sync.py
  lib/pbench/server/unpack_tarballs.py
  lib/pbench/server/utils.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/database/test_datasets_db.py
  lib/pbench/test/unit/server/test_cache_manager.py
  lib/pbench/test/unit/server/test_indexing_tarballs.py
  lib/pbench/test/unit/server/test_requests.py
  lib/pbench/test/unit/server/test_sync.py
  lib/pbench/test/unit/server/test_unpack_tarballs.py
  server/bin/pbench-backup-tarballs.py
  server/bin/pbench-base.sh
  server/bin/pbench-copy-sosreports.sh
  server/bin/pbench-dispatch
  server/bin/pbench-dispatch.sh
  server/bin/pbench-index.py
  server/bin/pbench-server-activate-create-results-dir-structure
  server/bin/pbench-server-erase.sh
  server/bin/pbench-state-manager.py
  server/lib/config/pbench-server-default.cfg
Labels: Server, Code Infrastructure, WIP

#3060 Add a simple server functional test framework
  client/requirements.txt
  jenkins/Pipeline.gy
  lib/pbench/client/__init__.py
  lib/pbench/test/functional/server/test_connect.py
  lib/pbench/test/functional/server/test_user.py
  server/exec_functests
Labels: Server, Functional Testing

#3058 Support browser reload of React component URL
  server/lib/config/pbench.httpd.conf
  server/pbenchinacan/container-build.sh
Labels: Server, Pbench Dashboard

#3062 Correct use of Python 3.9 for the Server
  server/bin/pbench-trampoline
Labels: bug, Server, packaging, Installation

#3055 PBENCH-901: Fix unit tests to mock Keycloak interaction for register/login/logout
  lib/pbench/server/auth/auth.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/query_apis/commons.py
  lib/pbench/test/unit/server/query_apis/test_datasets_detail.py
  lib/pbench/test/unit/server/test_datasets_daterange.py
  lib/pbench/test/unit/server/test_datasets_list.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
  lib/pbench/test/unit/server/test_requests.py
  lib/pbench/test/unit/server/test_user_auth.py
Labels: Server, Unit tests, API

#3063 Removed secure attribute in cookies
  dashboard/src/actions/authActions.js
Labels: Pbench Dashboard

#3068 Fix React loading path
  dashboard/package.json
Labels: Pbench Dashboard

#3067 Propagate exit code correctly from functional testing
  server/exec_functests
Labels: bug, Functional Testing

#3069 Fix the returned user_id type to str
  lib/pbench/server/auth/auth.py
Labels: bug, Server

#3070 Fix favorite path
  dashboard/src/assets/constants/overviewConstants.js
Labels: Pbench Dashboard

#3071 Move gunicorn logs to journald
  lib/pbench/cli/server/shell.py
  server/rpm/pbench-server.spec.j2
Labels: Server

#3074 Avoid ConfigParser interpolation
  lib/pbench/server/cache_manager.py
  lib/pbench/test/unit/server/conftest.py
Labels: bug, Server

#3075 Leverage the existing `MetadataLog` class
  lib/pbench/server/cache_manager.py
  lib/pbench/test/unit/agent/task/test_add_metalog_option.py
  lib/pbench/test/unit/server/conftest.py
Labels: Agent, Server

#3072 Add missing filename extension test in TestUpload
  lib/pbench/test/unit/server/test_requests.py
Labels: Server, Unit tests

#3076 Backport `metadata.log` interpolation fix
  agent/util-scripts/pbench-add-metalog-option
  server/bin/pbench-cull-unpacked-tarballs.py
  server/lib/pbench/indexer.py
Labels: bug, Agent, Server

#3077 Tweak canned Pbench Server pod definition
  jenkins/Pipeline.gy
  server/pbenchinacan/pod-nodata.yml
  server/pbenchinacan/pod.yml
Labels: Containerization, Functional Testing

#3085 Remove unused helper functions from `agent/base`
  agent/base
Labels: Agent, Code Infrastructure, CLI

#3084 Empty State UI of Overview Page
  dashboard/src/modules/components/OverviewComponent/NewRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/SavedRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/common-component.jsx
  dashboard/src/modules/components/OverviewComponent/index.jsx
  dashboard/src/modules/components/OverviewComponent/index.less
Labels: Pbench Dashboard

#3078 Fix unpack sequencing problem
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/cache_manager.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/server/indexing_tarballs.py
  lib/pbench/server/sync.py
  lib/pbench/server/unpack_tarballs.py
  lib/pbench/test/functional/server/tarballs/trafficgen_mock_2020.02.28T19.49.39.tar.xz
  lib/pbench/test/functional/server/tarballs/trafficgen_mock_2020.02.28T19.49.39.tar.xz.md5
  lib/pbench/test/functional/server/tarballs/trafficgen_mock_2020.02.28T20.04.29.tar.xz
  lib/pbench/test/functional/server/tarballs/trafficgen_mock_2020.02.28T20.04.29.tar.xz.md5
  lib/pbench/test/functional/server/tarballs/uperf_rhel8_4.18.0-18.el8_40gb_pass_2018.10.04T06.53.43.tar.xz
  lib/pbench/test/functional/server/tarballs/uperf_rhel8_4.18.0-18.el8_40gb_pass_2018.10.04T06.53.43.tar.xz.md5
  lib/pbench/test/functional/server/tarballs/uperf_uperftest_2018.02.02T20.58.00.tar.xz
  lib/pbench/test/functional/server/tarballs/uperf_uperftest_2018.02.02T20.58.00.tar.xz.md5
  lib/pbench/test/functional/server/test_put.py
  lib/pbench/test/unit/server/test_sync.py
  lib/pbench/test/unit/server/test_unpack_tarballs.py
  server/bin/pbench-backup-tarballs
Labels: bug, Server, Code Infrastructure

#3082 Dashboard Side Menu
  dashboard/src/App.js
  dashboard/src/actions/sideBarActions.js
  dashboard/src/actions/types.js
  dashboard/src/modules/components/NavbarComponent/index.jsx
  dashboard/src/modules/components/SidebarComponent/index.jsx
  dashboard/src/modules/components/SidebarComponent/sideMenuOptions.js
  dashboard/src/modules/components/TableComponent/index.jsx
  dashboard/src/reducers/index.js
  dashboard/src/reducers/sidebarReducer.js
  dashboard/src/utils/routeConstants.js
Labels: Pbench Dashboard

#3080 Delete API fails if dataset hasn't been indexed
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets_delete.py
  lib/pbench/server/api/resources/query_apis/datasets_publish.py
  lib/pbench/server/cache_manager.py
  lib/pbench/test/unit/server/query_apis/test_datasets_delete.py
  lib/pbench/test/unit/server/query_apis/test_datasets_publish.py
Labels: bug, Server, Indexing, API

#3065 Add Keycloak container in our pod definitions
  jenkins/Pipeline.gy
  lib/pbench/cli/server/shell.py
  lib/pbench/server/api/resources/endpoint_configure.py
  lib/pbench/server/auth/__init__.py
  lib/pbench/test/functional/server/test_connect.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
  server/pbenchinacan/container-build.sh
  server/pbenchinacan/etc/pbench-server/pbench-server.cfg
  server/pbenchinacan/load_keycloak.sh
  server/pbenchinacan/pod-nodata.yml
  server/pbenchinacan/pod.yml
Labels: Server, Functional Testing
