Repository distributed-system-analysis/pbench, pull requests merged in 2022-08, with the labels that each got.

#2951 Generalize the "dashboard" namespace
  dashboard/src/actions/overviewActions.js
  docs/API/V1/list.md
  docs/API/metadata.md
  lib/pbench/server/api/resources/datasets_metadata.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/database/test_datasets_metadata_db.py
  lib/pbench/test/unit/server/query_apis/test_datasets_detail.py
  lib/pbench/test/unit/server/test_datasets_list.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
  lib/pbench/test/unit/server/test_requests.py
Labels: Server, Pbench Dashboard, API

#2957 Initial support for building replacements for COPR chroots
  jenkins/Makefile
Labels: Code Infrastructure, packaging, Installation

#2941 Pbench Server client library and functional tests
  exec-unittests
  lib/pbench/client/__init__.py
  lib/pbench/test/functional/server/conftest.py
  lib/pbench/test/functional/server/test_connect.py
  lib/pbench/test/functional/server/test_user.py
  lib/pbench/test/unit/client/__init__.py
  lib/pbench/test/unit/client/conftest.py
  lib/pbench/test/unit/client/test_connect.py
  lib/pbench/test/unit/client/test_login.py
Labels: Server, API, Functional Testing, testing

#2949 Provide a server configuration option mechanism
  docs/API/V1/README.md
  docs/API/V1/contents.md
  docs/API/V1/inventory.md
  docs/API/V1/list.md
  docs/API/V1/server_config.md
  lib/pbench/server/__init__.py
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_metadata.py
  lib/pbench/server/api/resources/server_configuration.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/api/resources/users_api.py
  lib/pbench/server/database/database.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/server/database/models/server_config.py
  lib/pbench/test/unit/server/database/test_server_config_db.py
  lib/pbench/test/unit/server/test_authorization.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
  lib/pbench/test/unit/server/test_server_configuration.py
Labels: enhancement, Server, Code Infrastructure, API

#2960 Refactor support for distro/version pattern rules in makefiles
  agent/containers/images/Makefile
  jenkins/Makefile
  utils/utils.mk
Labels: Code Infrastructure, packaging, Containerization

#2962 Added link to list of official RH projects, changed time
  docs/gh-pages/contact.html
  docs/gh-pages/doc.html
  docs/gh-pages/learn.html
  docs/gh-pages/start.html
  docs/index.html
Labels: enhancement, Documentation, Code Infrastructure

#2966 Visualizer migration
  agent/containers/images/README.md
  agent/containers/images/image-test-script.sh
  agent/containers/images/visualizers/DockerfileLive
  agent/containers/images/visualizers/DockerfilePostPCP
  agent/containers/images/visualizers/DockerfilePostProm
  agent/containers/images/visualizers/README.md
  agent/containers/images/visualizers/combo.json
  agent/containers/images/visualizers/dcgm.json
  agent/containers/images/visualizers/nodefull.json
  agent/containers/images/visualizers/prometheus.yml
  agent/containers/images/visualizers/run.py
Labels: Agent, Containerization

#2958 Saved Runs of Overview Page
  dashboard/src/App.css
  dashboard/src/actions/overviewActions.js
  dashboard/src/actions/toastActions.js
  dashboard/src/assets/constants/overviewConstants.js
  dashboard/src/modules/components/OverviewComponent/NewRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/SavedRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/common-component.jsx
  dashboard/src/modules/components/OverviewComponent/index.jsx
  dashboard/src/modules/components/OverviewComponent/index.less
  dashboard/src/modules/components/TableComponent/index.jsx
  dashboard/src/utils/dateFunctions.js
  dashboard/src/utils/filterDataset.js
Labels: Pbench Dashboard

#2964 Remove the UNPACKING/UNPACKED states
  lib/pbench/server/api/resources/query_apis/datasets_delete.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/database/test_datasets_db.py
  lib/pbench/test/unit/server/database/test_datasets_metadata_db.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
  server/bin/gold/test-16.txt
  server/bin/gold/test-17.txt
  server/bin/gold/test-6.13.txt
  server/bin/gold/test-6.14.txt
  server/bin/gold/test-6.15.txt
  server/bin/gold/test-6.16.txt
  server/bin/gold/test-6.17.txt
  server/bin/gold/test-6.5.txt
  server/bin/gold/test-6.6.txt
  server/bin/gold/test-6.9.txt
  server/bin/pbench-unpack-tarballs.sh
  server/bin/state/test-6.13.db
  server/bin/state/test-6.14.db
  server/bin/state/test-6.15.db
  server/bin/state/test-6.16.db
  server/bin/state/test-6.17.db
  server/bin/state/test-6.5.db
  server/bin/state/test-6.6.db
  server/bin/state/test-6.7.db
  server/bin/state/test-6.9.db
  server/bin/state/test-7.26.db
Labels: Server, Code Infrastructure

#2961 Framework for building RPMs in the CI
  agent/Makefile
  agent/rpm/Makefile
  agent/rpm/pbench-agent.spec.j2
  server/rpm/Makefile
  utils/rpm.mk
Labels: Agent, Server, Code Infrastructure, packaging, Containerization

#2969 Fix port requirements in pbench-uperf doc
  agent/bench-scripts/pbench-uperf.md
Labels: bug, enhancement, Agent, Documentation, uperf

#2967 Accessing results tarballs over http
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/datasets_inventory.py
  lib/pbench/test/unit/server/test_datasets_inventory.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
Labels: Server, API

#2972 Remove trafficgen vestiges
  .pre-commit-config.yaml
  agent/bench-scripts/test-bin/mock-postprocess/trafficgen-postprocess
Labels: Agent, Code Infrastructure, Unit tests, trafficgen

#2973 Disable legacy tests
  exec-unittests
  lib/pbench/test/unit/agent/test_utils.py
Labels: Agent, Server, Code Infrastructure, Unit tests, Functional Testing, testing

#2978 Restore agent RPM builds
  agent/rpm/pbench-agent.spec.j2
Labels: bug, Agent, packaging

#2981 Overhaul Data Aggregation Pipeline
  contrib/analysis/aggregate_data.py
  contrib/analysis/collect_config_data.py
  contrib/analysis/create_sos_with_runids.py
  contrib/analysis/merge.py
  contrib/analysis/merge_sos_and_perf_parallel.py
  contrib/analysis/pbench_combined_data.py
  contrib/analysis/script.sh
  contrib/analysis/sos_collection.py
Labels: Contrib

#2984 Fix CI Dashboard unit testing
  build.sh
  dashboard/package.json
Labels: Code Infrastructure, Pbench Dashboard

#2977 Fix `Subsection` in `docs/gh-pages/start.hml`
  docs/gh-pages/start.html
Labels: Documentation

#2985 Correct Pbench Server RPM builds ... and other junk
  .pre-commit-config.yaml
  agent/bench-scripts/templates/make-fio-jobfile.py
  agent/rpm/Makefile
  agent/rpm/pbench-agent.spec.j2
  contrib/VERSION
  lib/configtools/__init__.py
  lint-requirements.txt
  pyproject.toml
  server/Makefile
  server/VERSION
  server/bin/pbench-check-tb-age.py
  server/bin/pbench-cull-unpacked-tarballs.py
  server/bin/pbench-index.py
  server/lib/pbench/__init__.py
  server/lib/pbench/indexer.py
  server/lib/pbench/mock.py
  server/lib/pbench/process_tb.py
  server/lib/pbench/test/unit/test_process_tb.py
  server/lib/s3backup/__init__.py
  server/rpm/pbench-server.spec.j2
  server/test-requirements.txt
  setup.cfg
  tox.ini
Labels: bug, Agent, Server, Code Infrastructure, Unit tests, packaging
