Repository distributed-system-analysis/pbench, pull requests merged in 2022-01, with the labels that each got.

#2586 Added missing `-r` option in `Pbench-clear-tools`
  agent/util-scripts/pbench-clear-tools
Labels: bug, Agent, tools

#2589 Pick lint
  agent/util-scripts/pbench-tool-meister-start
  lib/pbench/agent/tool_data_sink.py
  lib/pbench/agent/utils.py
Labels: bug, Agent, Tool Meister, CLI

#2592 Make sure /usr/sbin is present in system PATH
  agent/profile
Labels: bug, Agent, Code Infrastructure

#2593 pbench-copy-result-tb issue #2437
  agent/util-scripts/pbench-copy-result-tb
Labels: bug, Agent

#2575 Remove controller parameter from queries
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/server/api/resources/datasets_metadata.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/controllers_list.py
  lib/pbench/server/api/resources/query_apis/datasets_detail.py
  lib/pbench/server/api/resources/query_apis/datasets_list.py
  lib/pbench/server/api/resources/query_apis/datasets_search.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/server/filetree.py
  lib/pbench/server/indexing_tarballs.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/database/test_datasets_db.py
  lib/pbench/test/unit/server/query_apis/commons.py
  lib/pbench/test/unit/server/query_apis/test_datasets_detail.py
  lib/pbench/test/unit/server/query_apis/test_datasets_list.py
  lib/pbench/test/unit/server/query_apis/test_datasets_publish.py
  lib/pbench/test/unit/server/query_apis/test_namespace_and_rows.py
  lib/pbench/test/unit/server/query_apis/test_query_builder.py
  lib/pbench/test/unit/server/test_datasets_list.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
  lib/pbench/test/unit/server/test_requests.py
  server/bin/gold/test-5.2.txt
  server/bin/pbench-backup-tarballs.py
  server/bin/pbench-base.sh
  server/bin/pbench-reindex.py
  server/bin/pbench-state-manager.py
  server/bin/state/test-5.2.tar.xz
  server/bin/unittests
  server/test-requirements.txt
Labels: enhancement, Server, Pbench Dashboard, API

#2604 Adjust dependencies
  lib/pbench/server/__init__.py
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/server/api/resources/datasets_metadata.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/controllers_list.py
  lib/pbench/server/api/resources/query_apis/datasets/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets_mappings.py
  lib/pbench/server/api/resources/query_apis/datasets/namespace_and_rows.py
  lib/pbench/server/api/resources/query_apis/datasets_delete.py
  lib/pbench/server/api/resources/query_apis/datasets_detail.py
  lib/pbench/server/api/resources/query_apis/datasets_publish.py
  lib/pbench/server/api/resources/query_apis/datasets_search.py
  lib/pbench/server/api/resources/query_apis/elasticsearch_api.py
  lib/pbench/server/api/resources/query_apis/month_indices.py
  lib/pbench/server/database/models/active_tokens.py
  lib/pbench/server/filetree.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/query_apis/commons.py
  lib/pbench/test/unit/server/query_apis/conftest.py
  lib/pbench/test/unit/server/query_apis/test_controllers_list.py
  lib/pbench/test/unit/server/query_apis/test_dataset_search.py
  lib/pbench/test/unit/server/query_apis/test_datasets_delete.py
  lib/pbench/test/unit/server/query_apis/test_datasets_detail.py
  lib/pbench/test/unit/server/query_apis/test_datasets_mappings.py
  lib/pbench/test/unit/server/query_apis/test_month_indices.py
  lib/pbench/test/unit/server/query_apis/test_query_builder.py
  lib/pbench/test/unit/server/test_datasets_list.py
  lib/pbench/test/unit/server/test_requests.py
  lib/pbench/test/unit/server/test_templates.py
  lib/pbench/test/unit/server/test_user_management_cli.py
  lib/pbench/test/unit/server/test_utils.py
Labels: bug, Server, Code Infrastructure, API

#2605 Add a warning message when no tools are registered
  agent/base
Labels: enhancement, Agent

#2507 TableOfContent (ToC) Server API
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets_contents.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/query_apis/test_datasets_contents.py
  lib/pbench/test/unit/server/query_apis/test_datasets_mappings.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
Labels: enhancement, Server, API

#2615 Correct the plumbing of stderr and stdout in certain unit tests
  lib/pbench/test/functional/agent/cli/commands/test_cleanup.py
  lib/pbench/test/functional/agent/cli/commands/tools/test_clear_tools.py
Labels: bug, Agent, Unit tests
