Repository distributed-system-analysis/pbench, pull requests merged in 2022-10, with the labels that each got.

#3026 Small server rpm spec cleanup
  server/rpm/pbench-server.spec.j2
Labels: bug, Server, Code Infrastructure, packaging, Containerization

#3027 Use latest `npm` in CI container image
  jenkins/ci.fedora.Dockerfile
Labels: Code Infrastructure, Pbench Dashboard, Unit tests, Containerization

#3028 Start server in maintenance mode when deployed
  server/bin/gold/test-24.txt
  server/bin/pbench-server-activate-setup-results-host-info
  server/bin/unittests
Labels: bug, Server, Installation

#3031 Remove Elasticsearch passthrough API
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/query_apis/elasticsearch_api.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
  lib/pbench/test/unit/server/test_requests.py
Labels: Server

#3029 Correct UID template resolution
  lib/pbench/server/indexer.py
  lib/pbench/test/unit/server/test_indexer.py
Labels: bug, Server, Indexing

#3035 Add additional `expand_uid_template` unit tests
  lib/pbench/test/unit/server/test_indexer.py
Labels: Server, Indexing, Unit tests

#3034 Use the same Fedora 35 base image for CI and Dev
  jenkins/.gitignore
  jenkins/Makefile
  jenkins/ci.Dockerfile.j2
  jenkins/development.Dockerfile.j2
  jenkins/install_from_source_and_run_unittests.sh
Labels: bug, enhancement, Agent, Server, Code Infrastructure, packaging

#3032 Correct UID template resolution
  jenkins/Pipeline.gy
  jenkins/development.Dockerfile
  jenkins/python-setup.sh
  jenkins/run-unittests
  server/lib/pbench/indexer.py
  server/lib/pbench/test/unit/test_indexer.py
Labels: bug, Server, Indexing

#2996 PBENCH-838 User auth configuration parameters for the client
  lib/pbench/server/api/resources/endpoint_configure.py
  lib/pbench/test/unit/server/auth/conftest.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
  server/lib/config/pbench-server.cfg.example
Labels: Server, API, Users

#3011 Enhance the Pbench CI to build Server and Agent containers
  build.sh
  jenkins/Pipeline.gy
  server/pbenchinacan/container-build.sh
  server/rpm/pbench-server.spec.j2
Labels: Agent, Server, Code Infrastructure, packaging, Containerization

#3036 Restrict coverage reporting to only `pbench`
  .coveragerc
  exec-unittests
  jenkins/Pipeline.gy
  tox.ini
Labels: enhancement, Agent, Server, Code Infrastructure, Unit tests

#2975 pbench-unpack-tarballs using Tarball.unpack for unpacking tarballs
  lib/pbench/server/unpack_tarballs.py
  lib/pbench/test/unit/server/test_unpack_tarballs.py
  server/bin/pbench-unpack-tarballs.py
  server/bin/pbench-unpack-tarballs.sh
Labels: Server

#3039 Change `Logic bomb` to `Logic error`
  agent/bench-scripts/postprocess/BenchPostprocess.pm
  agent/lib/GenData.pm
  lib/pbench/agent/results.py
  lib/pbench/agent/tool_data_sink.py
  lib/pbench/agent/tool_group.py
  lib/pbench/agent/tool_meister.py
  lib/pbench/agent/utils.py
  lib/pbench/common/selinux.py
  lib/pbench/server/indexer.py
  lib/pbench/server/indexing_tarballs.py
  lib/pbench/server/report.py
  server/bin/pbench-cull-unpacked-tarballs.py
  server/bin/pbench-reindex.py
  server/bin/pbench-verify-backup-tarballs.py
  server/bin/unittests
Labels: bug, Agent, Server, Code Infrastructure

#3040 First container-based Pbench Server functional test
  jenkins/Pipeline.gy
  lib/pbench/cli/server/shell.py
  server/pbenchinacan/container-build.sh
  server/pbenchinacan/etc/pbench-server/pbench-server.cfg
  server/pbenchinacan/pod-nodata.yml
  server/pbenchinacan/pod.yml
Labels: enhancement, Server, Functional Testing

#3033 PBENCH-934 Remove user table relationship with dataset and metadata table
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_metadata.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/auth/auth.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/server/database/models/users.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/database/test_datasets_db.py
  lib/pbench/test/unit/server/database/test_datasets_metadata_db.py
  lib/pbench/test/unit/server/query_apis/test_datasets_delete.py
  lib/pbench/test/unit/server/query_apis/test_datasets_publish.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
Labels: Server, Code Infrastructure

#3042 Correct server logging in `shell`
  lib/pbench/cli/server/shell.py
Labels: bug, Server, Code Infrastructure

#3044 Correct `test_tool_group.py` code indentation
  lib/pbench/test/unit/agent/test_tool_group.py
Labels: bug, Agent, Code Infrastructure, Unit tests

#3047 Correct version of Python used by server to 3.9
  agent/tool-scripts/datalog/pprof-datalog
  jenkins/python-setup.sh
  server/rpm/Makefile
  server/rpm/pbench-server.spec.j2
  tox.ini
Labels: bug, Server, packaging, Installation

#3048 Fix failing unit tests
  lib/pbench/test/unit/server/test_requests.py
Labels: bug, Server, Unit tests, API

#3050 Rename `FileTree` to `CacheManager`
  lib/pbench/cli/server/tree_manage.py
  lib/pbench/server/api/resources/datasets_inventory.py
  lib/pbench/server/api/resources/query_apis/datasets_delete.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/cache_manager.py
  lib/pbench/server/unpack_tarballs.py
  lib/pbench/test/unit/server/query_apis/test_datasets_delete.py
  lib/pbench/test/unit/server/test_cache_manager.py
  lib/pbench/test/unit/server/test_datasets_inventory.py
  lib/pbench/test/unit/server/test_requests.py
  lib/pbench/test/unit/server/test_unpack_tarballs.py
Labels: enhancement, Server

#2743 Add the new `pbench-tools-kill` command
  lib/pbench/agent/tool_group.py
  lib/pbench/cli/agent/commands/tools/kill.py
  lib/pbench/test/unit/agent/task/test_tools_kill.py
  lib/pbench/test/unit/agent/test_tool_group.py
  setup.cfg
Labels: enhancement, Agent, Tool Meister

#3049 Smooth out testing behaviors
  exec-unittests
  jenkins/Pipeline.gy
  tox.ini
Labels: Agent, Server, Code Infrastructure, Functional Testing
