Repository distributed-system-analysis/pbench, pull requests merged in 2022-03, with the labels that each got.

#2646 Stop using `selinux` virtualenv wrapper
  lib/pbench/common/selinux.py
  lib/pbench/server/filetree.py
  lib/pbench/test/unit/server/test_file_tree.py
  server/bin/pbench-server-prep-shim-002.py
  server/requirements.txt
Labels: bug, Server, Code Infrastructure, Unit tests

#2653 Fix `oc-datalog` to properly reap subprocesses
  agent/tool-scripts/datalog/mock-bin/oc
  agent/tool-scripts/datalog/oc-datalog
Labels: bug, Agent, tools

#2644 Sort python requirements files
  agent/test-requirements.txt
  server/requirements.txt
  server/test-requirements.txt
Labels: enhancement, Agent, Server, Code Infrastructure

#2654 Construct redis pid file name once
  agent/util-scripts/pbench-tool-meister-start
Labels: bug, Agent, tools

#2655 Add timeouts to tm start/stop test
  agent/util-scripts/test-bin/test-start-stop-tool-meister
Labels: bug, Agent, Unit tests, tools

#2648 Rework the agent functional tests
  lib/pbench/test/functional/agent/conftest.py
  lib/pbench/test/functional/agent/test_pbench_config.py
  lib/pbench/test/functional/server/__init__.py
  tox.ini
Labels: bug, Agent, Server, Unit tests

#2658 Simplify agent spec file
  agent/rpm/pbench-agent.spec.j2
Labels: Agent, packaging, Installation

#2656 Refactor development container builds
  jenkins/.gitignore
  jenkins/Makefile
  jenkins/development.Dockerfile
  jenkins/development.Dockerfile.j2
  jenkins/etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-8
  jenkins/etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG
  jenkins/etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-beta
  jenkins/etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
  jenkins/run
  server/pbenchinacan/container-build.sh
Labels: Agent, Server, Code Infrastructure, Containerization

#2643 Support non-DNS controller hosts
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  agent/util-scripts/pbench-tool-meister-start
  agent/util-scripts/test-bin/ssh
  lib/pbench/agent/utils.py
Labels: bug, Agent, Code Infrastructure, Tool Meister

#2664 Add `pbench-run-benchmark.pl` to the Agent's installed files list
  agent/Makefile
Labels: bug, Agent, packaging, run-benchmark

#2661 Remove persistent tmp directory on remote hosts
  agent/util-scripts/gold/test-client-tool-meister/test-53.txt
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-51.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-52.txt
  lib/pbench/agent/tool_meister.py
Labels: bug, Agent

#2663 Scrub the pytests
  agent/test-requirements.txt
  lib/pbench/server/api/__init__.py
  lib/pbench/test/__init__.py
  lib/pbench/test/functional/agent/cli/commands/test_config.py
  lib/pbench/test/functional/agent/conftest.py
  lib/pbench/test/functional/agent/test_pbench_config.py
  lib/pbench/test/unit/agent/conftest.py
  lib/pbench/test/unit/agent/task/test_add_metalog_option.py
  lib/pbench/test/unit/agent/task/test_copy_result_tb.py
  lib/pbench/test/unit/agent/task/test_generate_token.py
  lib/pbench/test/unit/agent/task/test_make_result_tb.py
  lib/pbench/test/unit/agent/task/test_results_move.py
  lib/pbench/test/unit/agent/task/test_results_push.py
  lib/pbench/test/unit/agent/test_config.py
  lib/pbench/test/unit/agent/test_tool_data_sink.py
  lib/pbench/test/unit/agent/test_utils.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/test_requests.py
  lib/pbench/test/unit/server/test_user_auth.py
  lib/pbench/test/unit/server/test_user_management_cli.py
  server/test-requirements.txt
Labels: bug, enhancement, Agent, Server, Code Infrastructure, Unit tests

#2671 Ensure agent legacy unit tests pass
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  lib/pbench/agent/tool_meister.py
Labels: bug, Agent, Unit tests, tools

#2670 Remove references to the `pbench_results_redirector` configuration setting
  agent/bench-scripts/tests/Defaults/pbench-agent.cfg
  agent/config/pbench-agent-default.cfg
  agent/config/pbench-agent.cfg
  agent/util-scripts/pbench-copy-result-tb
  agent/util-scripts/pbench-move-results
  contrib/containerized-pbench/dockerfiles/controller/run.sh
  lib/pbench/test/unit/agent/config/pbench-agent.invalid.cfg
  lib/pbench/test/unit/agent/conftest.py
  server/lib/config/pbench-server-default.cfg
Labels: bug, Agent, Installation

#2638 add bug report issue form
  .github/ISSUE_TEMPLATE/bug.yaml
Labels: Agent, Server

#2551 Revamp how we use tox to reduce envs
  .coveragerc
  .gitignore
  README.md
  agent/run-unittests
  agent/util-scripts/test-bin/cp
  agent/util-scripts/test-bin/test-client-tool-meister
  agent/util-scripts/test-bin/test-start-stop-tool-meister
  agent/util-scripts/unittests
  exec-unittests
  jenkins/Pipeline.gy
  jenkins/development.Dockerfile.j2
  jenkins/python-setup.sh
  jenkins/run
  jenkins/run-pytests
  jenkins/run-unittests
  jenkins/tox
  run-unittests
  server/run-unittests
  tox.ini
  utils/detox
Labels: Agent, Server, Code Infrastructure, Unit tests, Functional Testing

#2649 Parallelize `tox` invocations
  agent/test-requirements.txt
  exec-unittests
  jenkins/development.Dockerfile.j2
  server/bin/unittests
  server/bin/utils/run-unittest
  server/test-requirements.txt
  tox.ini
Labels: Agent, Server, Code Infrastructure, Unit tests

#2685 Speed up source distribution creation
  MANIFEST.in
  setup.cfg
Labels: enhancement, Agent, Server, Code Infrastructure, packaging, Installation

#2695 Remove refs to non-existent persistent tool files
  lib/pbench/agent/tool_meister.py
Labels: bug, Agent, tools, Tool Meister

#2693 Use an explicit cache directory for pip installs
  tox.ini
Labels: enhancement, Code Infrastructure, Unit tests

#2696 Correct Tool Meister sub-process termination
  agent/util-scripts/gold/test-client-tool-meister/test-53.txt
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  agent/util-scripts/unittests
  lib/pbench/agent/tool_meister.py
Labels: bug, Agent, tools, Tool Meister

#2702 Update to `flake8==4.0.1` (latest)
  .flake8
  .pre-commit-config.yaml
  lint-requirements.txt
Labels: enhancement, Agent, Server, Code Infrastructure

#2703 Update to latest `black`
  .pre-commit-config.yaml
  agent/bench-scripts/templates/make-fio-jobfile.py
  lib/pbench/agent/redis.py
  lib/pbench/agent/tool_data_sink.py
  lib/pbench/agent/tool_group.py
  lib/pbench/agent/tool_meister.py
  lib/pbench/agent/tool_meister_client.py
  lib/pbench/agent/toolmetadata.py
  lib/pbench/agent/utils.py
  lib/pbench/cli/agent/commands/results/push.py
  lib/pbench/cli/agent/commands/tools/clear.py
  lib/pbench/cli/agent/commands/tools/list.py
  lib/pbench/cli/agent/commands/triggers/list.py
  lib/pbench/cli/agent/commands/triggers/register.py
  lib/pbench/cli/server/user_management.py
  lib/pbench/common/__init__.py
  lib/pbench/common/configtools.py
  lib/pbench/common/selinux.py
  lib/pbench/common/utils.py
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/auth.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/users_api.py
  lib/pbench/server/database/models/users.py
  lib/pbench/server/indexer.py
  lib/pbench/server/indexing_tarballs.py
  lib/pbench/server/mock.py
  lib/pbench/server/s3backup/__init__.py
  lib/pbench/server/templates.py
  lib/pbench/server/utils.py
  lib/pbench/test/functional/agent/cli/commands/tools/test_clear_tools.py
  lib/pbench/test/unit/agent/test_tool_data_sink.py
  lib/pbench/test/unit/agent/test_utils.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/database/test_datasets_db.py
  lib/pbench/test/unit/server/database/test_datasets_metadata_db.py
  lib/pbench/test/unit/server/database/test_template_db.py
  lib/pbench/test/unit/server/query_apis/commons.py
  lib/pbench/test/unit/server/query_apis/conftest.py
  lib/pbench/test/unit/server/query_apis/test_controllers_list.py
  lib/pbench/test/unit/server/query_apis/test_dataset_search.py
  lib/pbench/test/unit/server/query_apis/test_datasets_detail.py
  lib/pbench/test/unit/server/query_apis/test_datasets_publish.py
  lib/pbench/test/unit/server/query_apis/test_month_indices.py
  lib/pbench/test/unit/server/test_datasets_list.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
  lib/pbench/test/unit/server/test_requests.py
  lib/pbench/test/unit/server/test_schema.py
  lib/pbench/test/unit/server/test_user_auth.py
  lib/pbench/test/unit/server/test_user_management_cli.py
  lib/pbench/test/unit/server/test_utils.py
  lint-requirements.txt
  pyproject.toml
  server/bin/pbench-check-tb-age.py
  server/bin/pbench-cull-unpacked-tarballs.py
  server/bin/pbench-index.py
  server/bin/pbench-server-prep-shim-002.py
  server/bin/pbench-state-manager.py
  server/bin/test-lib/selinux.py
Labels: enhancement, Agent, Server, Code Infrastructure

#2698 Use debug-level environment variables
  agent/util-scripts/pbench-tool-meister-start
  agent/util-scripts/test-bin/ssh
  agent/util-scripts/test-bin/test-client-tool-meister
  lib/pbench/agent/tool_data_sink.py
  lib/pbench/agent/tool_meister.py
Labels: Agent, Code Infrastructure, Tool Meister

#2699 Create pbench_run directory on remote if it doesn't exists
  agent/base
  lib/pbench/agent/base.py
  lib/pbench/test/functional/agent/cli/commands/test_config.py
Labels: bug, Agent

#2701 Add linting support for agent ansible roles
  agent/ansible/Makefile
  agent/ansible/pbench/agent/Makefile
  agent/ansible/pbench/agent/ansible-lint.yml
  agent/ansible/pbench/agent/check-readmes
  agent/ansible/pbench/agent/galaxy.yml
  agent/ansible/pbench/agent/roles/epel_repo_install/tasks/main.yml
  agent/ansible/pbench/agent/roles/pbench_agent_config/tasks/main.yml
  agent/ansible/pbench/agent/roles/pbench_agent_files_install/tasks/main.yml
  agent/ansible/pbench/agent/roles/pbench_agent_install/tasks/main.yml
  agent/ansible/pbench/agent/roles/pbench_clean_yum_cache/tasks/main.yml
  agent/ansible/pbench/agent/roles/pbench_firewall_open_ports/tasks/main.yml
  agent/ansible/pbench/agent/roles/pbench_repo_install/tasks/main.yml
Labels: Agent, packaging, Installation

#2694 Drop use of `--current-env` in CI jobs
  agent/util-scripts/unittests
  jenkins/Makefile
  jenkins/Pipeline.gy
  jenkins/ci.fedora.Dockerfile
  jenkins/development.Dockerfile.j2
  jenkins/python-setup.sh
  jenkins/run
  jenkins/run-unittests
  jenkins/runner
Labels: bug, enhancement, Code Infrastructure, Unit tests

#2708 Use `black` on some additional files
  agent/bench-scripts/postprocess/user-benchmark-wrapper
  agent/bench-scripts/test-bin/mock-postprocess/dbench-postprocess
  agent/bench-scripts/test-bin/mock-postprocess/uperf-postprocess
  agent/tool-scripts/datalog/haproxy-ocp-datalog
  agent/tool-scripts/datalog/oc-datalog
  agent/tool-scripts/datalog/pprof-datalog
  agent/tool-scripts/datalog/prometheus-metrics-datalog
  agent/tool-scripts/pcp
  agent/util-scripts/pbench-add-metalog-option
  agent/util-scripts/pbench-tool-meister-start
  agent/util-scripts/pbench-tool-meister-stop
  pyproject.toml
  server/bin/pbench-pp-status
Labels: bug, enhancement, Agent, Server, Code Infrastructure

#2711 Bring `BaseCommand` behaviors inline with `base`
  lib/pbench/agent/base.py
Labels: bug, enhancement, Agent, Code Infrastructure

#2712 Normalize variable references in `agent/base`
  agent/base
Labels: enhancement, Agent, Code Infrastructure

#2715 Update to `black` 22.3.0
  lint-requirements.txt
Labels: bug, Agent, Server, Code Infrastructure, Unit tests

#2718 Include "common" pytests in tox exec-unittests
  exec-unittests
  lib/pbench/test/unit/common/__init__.py
  lib/pbench/test/unit/server/database/__init__.py
  lib/pbench/test/unit/server/query_apis/__init__.py
Labels: bug, Agent, Code Infrastructure, Unit tests

#2716 Initial Dashboard Code Base
  dashboard/.gitignore
  dashboard/README.md
  dashboard/package-lock.json
  dashboard/package.json
  dashboard/public/index.html
  dashboard/public/logo192.png
  dashboard/public/logo512.png
  dashboard/public/manifest.json
  dashboard/public/robots.txt
  dashboard/src/App.css
  dashboard/src/App.js
  dashboard/src/App.test.js
  dashboard/src/actions/types.js
  dashboard/src/assets/logo/favicon.ico
  dashboard/src/index.css
  dashboard/src/index.js
  dashboard/src/logo.svg
  dashboard/src/modules/components/LoginComponent/index.jsx
  dashboard/src/modules/components/ToastNotificationComponent/index.jsx
  dashboard/src/modules/containers/MainLayout/index.jsx
  dashboard/src/modules/containers/MainLayout/index.less
  dashboard/src/reducers/index.js
  dashboard/src/reducers/loadingReducer.js
  dashboard/src/reducers/toastReducer.js
  dashboard/src/reportWebVitals.js
  dashboard/src/setupTests.js
  dashboard/src/store/store.js
  dashboard/src/utils/api.js
  dashboard/src/utils/apiConstants.js
  dashboard/src/utils/helper.js
Labels: Web UI, Pbench Dashboard
