Repository distributed-system-analysis/pbench, pull requests merged in 2022-07, with the labels that each got.

#2897 GET API for /datasets/inventory/ to access dataset artifacts
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/datasets_inventory.py
  lib/pbench/test/unit/server/test_datasets_inventory.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
Labels: Server, API

#2932 Fix dockerfile
  agent/containers/images/Dockerfile.base.j2
Labels: Agent, packaging, Containerization

#2920 Style changes and Elimination of timeout errors on execution
  contrib/analysis/collect_config_data.py
  contrib/analysis/merge.py
  contrib/analysis/merge_sos_and_perf_parallel.py
Labels: Contrib

#2934 Correct CentOS 7 container builds, update defaults
  agent/containers/images/Dockerfile.base.j2
  agent/containers/images/Makefile
Labels: bug, Agent, packaging, Containerization

#2915 Allow changing the dataset resource name and deletion date
  lib/pbench/server/__init__.py
  lib/pbench/server/database/database.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/database/test_datasets_metadata_db.py
  lib/pbench/test/unit/server/query_apis/test_datasets_detail.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
  lib/pbench/test/unit/server/test_requests.py
Labels: Server, Code Infrastructure, API

#2939 Avoid creating a subshell for Server Python requirements installation
  server/rpm/pbench-server.spec.j2
Labels: Server, Installation

#2891 Prototype API documentation
  docs/API/README.md
  docs/API/V1/README.md
  docs/API/V1/contents.md
  docs/API/V1/daterange.md
  docs/API/V1/delete.md
  docs/API/V1/detail.md
  docs/API/V1/endpoints.md
  docs/API/V1/inventory.md
  docs/API/V1/list.md
  docs/API/V1/login.md
  docs/API/V1/logout.md
  docs/API/V1/publish.md
  docs/API/V1/register.md
  docs/API/V1/user.md
  docs/API/access_model.md
  docs/API/metadata.md
Labels: Documentation, Server, API

#2943 Add example playbook to open ports for redis/TDS
  agent/ansible/pbench_agent_tool_meister_firewall.yml
Labels: Agent, Documentation

#2616 Update `push` to change permissions on `quay.io`
  agent/containers/images/Makefile
  agent/containers/images/push
  agent/containers/images/quay-repo
  agent/containers/images/repo-fix
Labels: Agent, Server, Code Infrastructure, Containerization

#2947 Delete the epel role from pbench_agent_install.yml
  agent/ansible/pbench_agent_install.yml
Labels: bug, Agent, packaging, Installation

#2948 Use the "epel" chroot for "Rocky Linux"
  agent/ansible/pbench/agent/roles/pbench_repo_install/vars/main.yml
Labels: enhancement, Agent, Installation

#2940 New Runs Component in Overview Page
  dashboard/src/App.css
  dashboard/src/App.js
  dashboard/src/actions/overviewActions.js
  dashboard/src/actions/toastActions.js
  dashboard/src/actions/types.js
  dashboard/src/assets/constants/overviewConstants.js
  dashboard/src/modules/components/AuthComponent/index.less
  dashboard/src/modules/components/HeaderComponent/index.jsx
  dashboard/src/modules/components/OverviewComponent/NewRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/common-component.jsx
  dashboard/src/modules/components/OverviewComponent/index.jsx
  dashboard/src/modules/components/OverviewComponent/index.less
  dashboard/src/modules/components/ProfileComponent/index.less
  dashboard/src/reducers/index.js
  dashboard/src/reducers/overviewReducer.js
  dashboard/src/utils/api.js
Labels: Pbench Dashboard

#2946 Enhancements to the CI pipeline (Part 1, Take 2)
  build.sh
  dashboard/.eslintignore
  dashboard/.eslintrc.json
  dashboard/package.json
  dashboard/src/App.test.js
  jenkins/Pipeline.gy
  jenkins/ci.fedora.Dockerfile
  jenkins/run
  tox.ini
Labels: Agent, Server, Code Infrastructure, Pbench Dashboard, Unit tests, testing

#2950 Improve handling of key validation errors
  lib/pbench/server/api/resources/datasets_metadata.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
Labels: Server, API

#2956 Collapse overlapping Flask URI Rule patterns
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/endpoint_configure.py
Labels: Server, Code Infrastructure, API
