Repository distributed-system-analysis/pbench, pull requests merged in 2023-04, with the labels that each got.

#3356 Move set-expiration of Server container to a conditional pipeline stage
  jenkins/Pipeline.gy
Labels: Server, Code Infrastructure

#3367 Api
  dashboard/src/actions/datasetListActions.js
  dashboard/src/actions/overviewActions.js
  dashboard/src/actions/tableOfContentActions.js
  dashboard/src/utils/helper.js
  lib/pbench/client/__init__.py
  lib/pbench/server/api/resources/endpoint_configure.py
  lib/pbench/test/functional/server/test_connect.py
  lib/pbench/test/unit/client/test_connect.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
Labels: Server, Dashboard, API

#3369 Remove crontab
  lib/pbench/cli/server/shell.py
  lib/pbench/test/unit/server/test_shell_cli.py
  server/lib/config/pbench-server-default.cfg
  server/lib/systemd/pbench-index.service
  server/lib/systemd/pbench-index.timer
  server/lib/systemd/pbench-server.service
  server/pbenchinacan/container-build.sh
  server/requirements.txt
  server/rpm/pbench-server.spec.j2
Labels: Server, Installation, Containerization

#3365 API documentation improvements
  dashboard/src/utils/helper.js
  docs/API/V1/README.md
  docs/API/V1/contents.md
  docs/API/V1/daterange.md
  docs/API/V1/delete.md
  docs/API/V1/detail.md
  docs/API/V1/endpoints.md
  docs/API/V1/inventory.md
  docs/API/V1/list.md
  docs/API/V1/login.md
  docs/API/V1/logout.md
  docs/API/V1/publish.md
  docs/API/V1/register.md
  docs/API/V1/server_audit.md
  docs/API/V1/server_settings.md
  docs/API/V1/update.md
  docs/API/V1/upload.md
  docs/API/V1/user.md
  docs/API/access_model.md
  docs/API/metadata.md
Labels: Documentation, Server, API

#3371 Integrate daterange into datasets API
  docs/API/V1/daterange.md
  docs/API/V1/list.md
  lib/pbench/client/__init__.py
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/datasets_daterange.py
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/test/unit/server/test_datasets_daterange.py
  lib/pbench/test/unit/server/test_datasets_list.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
Labels: Server, API

#3372 Fix a typo in `jenkins/runlocal` which inadvertently revokes RHEL 9 support
  jenkins/runlocal
Labels: Server, Code Infrastructure

#3348 pbench-results-push: logging fixes and better reporting
  agent/config/pbench-agent-default.cfg
  lib/pbench/agent/__init__.py
  lib/pbench/agent/base.py
  lib/pbench/agent/results.py
  lib/pbench/cli/agent/commands/results/move.py
  lib/pbench/cli/agent/commands/results/push.py
  lib/pbench/test/unit/agent/task/test_copy_result_tb.py
  lib/pbench/test/unit/agent/task/test_results_push.py
Labels: Agent, Server

#3370 Update Nginx log format to `v2`
  server/lib/config/nginx.conf
Labels: bug, enhancement, Server

#3375 Backport nginx `v2` configuration
  server/lib/config/nginx.conf
Labels: bug, enhancement, Server

#3380 Remove directory check, replace with index.html
  server/lib/config/nginx.conf
Labels: bug, Server, Dashboard

#3382 Remove directory check, replace with index.html
  server/lib/config/nginx.conf
Labels: bug, Server, Dashboard

#3368 Generation of API key on pbench-server
  lib/pbench/client/__init__.py
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/api_key.py
  lib/pbench/server/auth/auth.py
  lib/pbench/server/database/__init__.py
  lib/pbench/server/database/alembic/versions/80c8c690f09b_api_key.py
  lib/pbench/server/database/models/__init__.py
  lib/pbench/server/database/models/api_keys.py
  lib/pbench/server/database/models/audit.py
  lib/pbench/server/database/models/auth_tokens.py
  lib/pbench/test/unit/server/auth/test_auth.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/database/test_api_keys_db.py
  lib/pbench/test/unit/server/test_api_key.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
Labels: Server, API

#3383 Remove pbench-generate-token agent CLI functionality
  agent/Makefile
  contrib/containerized-pbench/gen-token.sh
  contrib/containerized-pbench/pbench_demo
  lib/pbench/cli/agent/commands/generate_token.py
  lib/pbench/test/unit/agent/task/test_generate_token.py
  server/pbenchinacan/load-canned-data.sh
  setup.cfg
Labels: Agent

#3392 Add explicit test_auth dependencies
  lib/pbench/test/unit/server/auth/test_auth.py
Labels: Server, Tests

#3387 Retire the previous containerized Agent example from contrib (`b0.72` backport)
  contrib/containerized-pbench/.gitignore
  contrib/containerized-pbench/README.md
  contrib/containerized-pbench/example-driver.sh
  contrib/containerized-pbench/example-workload.sh
  contrib/containerized-pbench/gen-token.sh
  contrib/containerized-pbench/mover.sh
  contrib/containerized-pbench/pbench_demo
  contrib/containerized-pbench/setup.sh
Labels: Agent, Documentation, Contrib, Containerization

#3384 Retire the previous containerized Agent example from contrib
  contrib/containerized-pbench/.gitignore
  contrib/containerized-pbench/README.md
  contrib/containerized-pbench/example-driver.sh
  contrib/containerized-pbench/example-workload.sh
  contrib/containerized-pbench/mover.sh
  contrib/containerized-pbench/pbench_demo
  contrib/containerized-pbench/setup.sh
Labels: Agent, Documentation, Contrib, Containerization

#3237 Allow user to change `server.deletion` date
  dashboard/src/actions/overviewActions.js
  dashboard/src/assets/constants/overviewConstants.js
  dashboard/src/modules/components/OverviewComponent/NewRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/SavedRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/common-component.jsx
Labels: Dashboard

#3389 Avoid Sync message overflow
  lib/pbench/server/database/alembic/versions/5679217a62bb_sync_message.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/server/indexing_tarballs.py
  lib/pbench/test/unit/server/test_indexing_tarballs.py
  lib/pbench/test/unit/server/test_sync.py
Labels: bug, Server, Database

#3393 Avoid Sync message overflow (#3389)
  lib/pbench/server/database/alembic/versions/5679217a62bb_sync_message.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/server/indexing_tarballs.py
  lib/pbench/test/unit/server/test_indexing_tarballs.py
  lib/pbench/test/unit/server/test_sync.py
Labels: bug, Server

#3385 Add typed filtering
  docs/API/V1/list.md
  jenkins/run-server-func-tests
  lib/pbench/client/__init__.py
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/test/functional/server/test_put.py
  lib/pbench/test/unit/server/test_datasets_list.py
Labels: Server, Dashboard, API

#3394 Add fedora-38 to the default container list for the Agent build
  agent/containers/images/Makefile
Labels: Agent, Code Infrastructure, Containerization

#3400 Lock flask and Werkzeug below 2.3.0 for now
  server/requirements.txt
Labels: Server

#3399 Add invalid algorithm exception check
  lib/pbench/server/auth/__init__.py
  lib/pbench/test/unit/server/auth/test_auth.py
Labels: bug, Server

#3401 Add API Key functional testing
  lib/pbench/client/__init__.py
  lib/pbench/client/types.py
  lib/pbench/server/database/alembic.migration
  lib/pbench/test/functional/server/test_put.py
Labels: Server, API, Functional Testing

#3402 Check for API key on any failure to validate access token
  lib/pbench/server/auth/auth.py
Labels: Server

#3409 Restore floating Flask / Werkzeug dependency
  server/requirements.txt
Labels: Server, Installation, testing
