Repository distributed-system-analysis/pbench, pull requests merged in 2023-07, with the labels that each got.

#3472 Fix handling of labeled hosts by pbench-postprocess-tools (fwd port of #3456)
  agent/VERSION
  agent/util-scripts/gold/pbench-postprocess-tools/test-07.1.txt
  agent/util-scripts/gold/pbench-postprocess-tools/test-07.txt
  agent/util-scripts/pbench-postprocess-tools
  agent/util-scripts/samples/pbench-postprocess-tools/test-07.1/pbench/tools-v1-foobar/testhost.example.com/foo
  agent/util-scripts/samples/pbench-postprocess-tools/test-07.1/pbench/tools-v1-foobar/testhost.example.com/iostat
  agent/util-scripts/unittests
  lib/pbench/cli/agent/commands/tools/list.py
  lib/pbench/test/functional/agent/cli/commands/tools/test_tools_list.py
Labels: bug, Agent, tools

#3427 Add TLS on Keycloak server
  exec-tests
  jenkins/run-server-func-tests
  lib/pbench/client/__init__.py
  lib/pbench/client/oidc_admin.py
  lib/pbench/server/auth/__init__.py
  lib/pbench/test/unit/server/auth/test_auth.py
  server/lib/config/pbench-server-default.cfg
  server/pbenchinacan/container-build.sh
  server/pbenchinacan/deploy
  server/pbenchinacan/deploy-dependencies
  server/pbenchinacan/etc/pbench-server/pbench-server.cfg
  server/pbenchinacan/load_keycloak.sh
  server/pbenchinacan/run-pbench-in-a-can
  tox.ini
Labels: Server, Containerization

#3474 Make `jenkins/runlocal` platform independent
  jenkins/runlocal
  server/pbenchinacan/container-build.sh
Labels: Server, Containerization

#3476 Fix transient "Area 51" failures
  agent/util-scripts/gold/test-start-stop-tool-meister/test-51.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-52.txt
  agent/util-scripts/unittests
  exec-tests
  server/pbenchinacan/deploy
Labels: Agent, Unit tests, Tool Meister, Tests

#3462 Clarify what tool-specific options are (Forward port of #3444 from b0.72 to main)
  agent/tool-scripts/base-tool
  agent/tool-scripts/tests/blktrace/gold/stderr
  agent/tool-scripts/tests/bpftrace/gold/stderr
  agent/tool-scripts/tests/cpuacct/gold/stderr
  agent/tool-scripts/tests/disk/gold/stderr
  agent/tool-scripts/tests/dm-cache/gold/stderr
  agent/tool-scripts/tests/docker-info/gold/stderr
  agent/tool-scripts/tests/docker/gold/stderr
  agent/tool-scripts/tests/haproxy-ocp/gold/stderr
  agent/tool-scripts/tests/iostat/gold/stderr
  agent/tool-scripts/tests/jmap/gold/stderr
  agent/tool-scripts/tests/jstack/gold/stderr
  agent/tool-scripts/tests/kvm-spinlock/gold/stderr
  agent/tool-scripts/tests/kvmstat/gold/stderr
  agent/tool-scripts/tests/kvmtrace/gold/stderr
  agent/tool-scripts/tests/lockstat/gold/stderr
  agent/tool-scripts/tests/mpstat/gold/stderr
  agent/tool-scripts/tests/numastat/gold/stderr
  agent/tool-scripts/tests/oc/gold/stderr
  agent/tool-scripts/tests/openvswitch/gold/stderr
  agent/tool-scripts/tests/perf/gold/stderr
  agent/tool-scripts/tests/pidstat/gold/stderr
  agent/tool-scripts/tests/pprof/gold/stderr
  agent/tool-scripts/tests/proc-interrupts/gold/stderr
  agent/tool-scripts/tests/proc-sched_debug/gold/stderr
  agent/tool-scripts/tests/proc-vmstat/gold/stderr
  agent/tool-scripts/tests/prometheus-metrics/gold/stderr
  agent/tool-scripts/tests/qemu-migrate/gold/stderr
  agent/tool-scripts/tests/rabbit/gold/stderr
  agent/tool-scripts/tests/sar/gold/stderr
  agent/tool-scripts/tests/strace/gold/stderr
  agent/tool-scripts/tests/sysfs/gold/stderr
  agent/tool-scripts/tests/systemtap/gold/stderr
  agent/tool-scripts/tests/tcpdump/gold/stderr
  agent/tool-scripts/tests/turbostat/gold/stderr
  agent/tool-scripts/tests/user-tool/gold/stderr
  agent/tool-scripts/tests/virsh-migrate/gold/stderr
  agent/tool-scripts/tests/vmstat/gold/stderr
  agent/util-scripts/gold/pbench-register-tool/test-44.txt
  agent/util-scripts/gold/pbench-register-tool/test-46.txt
  agent/util-scripts/gold/pbench-register-tool/test-47.txt
  agent/util-scripts/pbench-register-tool
Labels: bug, Agent, Documentation

#3477 Re-enable the dev dashboard
  dashboard/server/index.js
  server/pbenchinacan/load_keycloak.sh
Labels: Dashboard

#3478 Fixes to ansible roles (b0.72)
  agent/ansible/ansible-lint.yml
  agent/ansible/collection/galaxy.yml
  agent/ansible/collection/roles/pbench_agent_install/tasks/main.yml
  agent/ansible/collection/roles/pbench_repo_install/defaults/main.yml
  agent/ansible/collection/roles/pbench_repo_install/tasks/main.yml
  agent/ansible/collection/roles/pbench_repo_install/templates/etc/yum.repos.d/pbench.repo.j2
Labels: bug, Agent, Ansible

#3475 Add ADMIN roles through config file
  jenkins/run-server-func-tests
  lib/pbench/server/api/__init__.py
  lib/pbench/server/auth/auth.py
  lib/pbench/test/functional/server/conftest.py
  lib/pbench/test/functional/server/test_audit.py
  lib/pbench/test/unit/server/auth/test_auth.py
  server/lib/config/pbench-server-default.cfg
  server/pbenchinacan/etc/pbench-server/pbench-server.cfg
  server/pbenchinacan/run-pbench-in-a-can
Labels: Server, API, Users, Audit

#3479 Fixes to ansible roles (fwd port of #3478)
  agent/ansible/ansible-lint.yml
  agent/ansible/collection/galaxy.yml
  agent/ansible/collection/roles/pbench_agent_install/tasks/main.yml
  agent/ansible/collection/roles/pbench_repo_install/defaults/main.yml
  agent/ansible/collection/roles/pbench_repo_install/tasks/main.yml
  agent/ansible/collection/roles/pbench_repo_install/templates/etc/yum.repos.d/pbench.repo.j2
Labels: bug, Agent, Ansible

#3473 Harmonize extract with API logic
  lib/pbench/server/api/resources/datasets_compare.py
  lib/pbench/server/api/resources/datasets_inventory.py
  lib/pbench/server/api/resources/datasets_visualize.py
  lib/pbench/server/cache_manager.py
  lib/pbench/test/functional/server/test_datasets.py
  lib/pbench/test/unit/server/test_cache_manager.py
  lib/pbench/test/unit/server/test_datasets_compare.py
  lib/pbench/test/unit/server/test_datasets_inventory.py
  lib/pbench/test/unit/server/test_datasets_visualize.py
Labels: Server, Code Infrastructure, API

#3485 Fix server RPM builds on Fedora (b0.69)
  .pre-commit-config.yaml
  server/rpm/pbench-server.spec.j2
Labels: Server, packaging

#3486 Correct OIDC URL generation and raise max payload size
  lib/pbench/server/auth/__init__.py
  lib/pbench/test/unit/server/conftest.py
  server/lib/config/nginx.conf
Labels: Server

#3482 Gracefully handle connection errors in RELAY API
  lib/pbench/server/api/resources/relay.py
  lib/pbench/test/unit/server/test_relay.py
Labels: bug, Server, API

#3480 Provide dataset summary info on upload
  lib/pbench/server/api/resources/intake_base.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets_contents.py
  lib/pbench/test/functional/server/test_datasets.py
  lib/pbench/test/unit/server/query_apis/test_datasets_contents.py
  lib/pbench/test/unit/server/test_relay.py
  lib/pbench/test/unit/server/test_upload.py
Labels: Server, Dashboard, API

#3483 crontab exorcism
  lib/pbench/cli/server/shell.py
  server/Makefile
  server/bin/pbench-create-crontab
  server/lib/config/pbench-server-default.cfg
  server/lib/systemd/pbench-index.timer
Labels: Server, Code Infrastructure

#3487 Fix OIDC access to verify TLS connection
  lib/pbench/server/auth/__init__.py
  lib/pbench/test/unit/server/auth/test_auth.py
  server/lib/config/pbench-server-default.cfg
  server/pbenchinacan/etc/pbench-server/pbench-server.cfg
Labels: Server, Containerization, Functional Testing

#3488 Remove working containers when commiting a container image
  jenkins/Makefile
  jenkins/Pipeline.gy
  server/pbenchinacan/container-build.sh
Labels: Server, Code Infrastructure, Containerization

#3481 Gracefully report duplicate usernames
  lib/pbench/server/auth/auth.py
  lib/pbench/test/unit/server/auth/test_auth.py
  lib/pbench/test/unit/server/test_datasets_list.py
Labels: bug, Server, API, Users

#3489 Raise the Nginx max body size to 100G (`b0.72`)
  server/lib/config/nginx.conf
Labels: Server

#3491 Sweep one missed piece of crontab fluff
  server/pbenchinacan/etc/pbench-server/pbench-server.cfg
Labels: Server, Code Infrastructure

#3492 Partial backport of #3469 (agent side only) to b0.72
  lib/pbench/cli/agent/commands/results/move.py
  lib/pbench/cli/agent/commands/results/push.py
Labels: bug, Agent

#3484 UI to interact with Relay server
  dashboard/src/App.js
  dashboard/src/actions/relayActions.js
  dashboard/src/actions/types.js
  dashboard/src/modules/components/OverviewComponent/common-component.jsx
  dashboard/src/modules/components/OverviewComponent/index.jsx
  dashboard/src/modules/components/OverviewComponent/index.less
  dashboard/src/modules/components/RelayUIComponent/index.jsx
  dashboard/src/modules/components/RelayUIComponent/index.less
  dashboard/src/reducers/overviewReducer.js
Labels: Dashboard

#3493 Bug fix in Relay Modal
  dashboard/src/actions/relayActions.js
Labels: Dashboard

#3490 Generate charts using Quisby
  dashboard/package.json
  dashboard/src/App.js
  dashboard/src/actions/comparisonActions.js
  dashboard/src/actions/overviewActions.js
  dashboard/src/actions/types.js
  dashboard/src/modules/components/ComparisonComponent/ChartGallery.jsx
  dashboard/src/modules/components/ComparisonComponent/PanelContent.jsx
  dashboard/src/modules/components/ComparisonComponent/index.jsx
  dashboard/src/modules/components/ComparisonComponent/index.less
  dashboard/src/modules/components/OverviewComponent/NewRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/SavedRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/common-component.jsx
  dashboard/src/modules/components/SidebarComponent/sideMenuOptions.js
  dashboard/src/reducers/comparisonReducer.js
  dashboard/src/reducers/index.js
  dashboard/src/utils/routeConstants.js
Labels: Dashboard

#3495 Identify benchmark type
  lib/pbench/server/api/resources/datasets_compare.py
  lib/pbench/server/api/resources/datasets_visualize.py
  lib/pbench/test/functional/server/test_datasets.py
  lib/pbench/test/unit/server/test_datasets_compare.py
  lib/pbench/test/unit/server/test_datasets_visualize.py
Labels: Server, API

#3496 Improve client benchmark identification
  jenkins/run-server-func-tests
  lib/pbench/client/__init__.py
  lib/pbench/server/api/resources/datasets_compare.py
  lib/pbench/server/api/resources/datasets_visualize.py
  lib/pbench/server/api/resources/endpoint_configure.py
  lib/pbench/server/api/resources/intake_base.py
  lib/pbench/server/api/resources/query_apis/datasets/__init__.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/test/functional/server/test_connect.py
  lib/pbench/test/functional/server/test_datasets.py
  lib/pbench/test/unit/server/test_datasets_visualize.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
  lib/pbench/test/unit/server/test_upload.py
Labels: Server, API

#3498 Fix corruption during CONFLICT upload
  lib/pbench/server/api/resources/intake_base.py
  lib/pbench/test/unit/server/test_upload.py
Labels: bug, Server, API

#3499 Fix corruption during CONFLICT upload
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/test/unit/server/test_upload.py
Labels: bug, Server, API

#3497 Fix some problems with archive-only behavior
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets/__init__.py
  lib/pbench/test/functional/server/test_datasets.py
Labels: Server, API, Functional Testing

#3494 Allow for private CA on the Agent side
  agent/config/pbench-agent-default.cfg
  agent/containers/images/container_build.sh
  contrib/containerized-pbench/pbench
  lib/pbench/agent/results.py
Labels: Agent

#3504 Increase Nginx limits for internal responses
  server/lib/config/nginx.conf
Labels: Server, Code Infrastructure, Containerization

#3506 Increase Nginx limits for internal responses on b0.72
  server/lib/config/nginx.conf
Labels: Server, Code Infrastructure

#3505 Fix possible use-before-assign bug
  lib/pbench/server/cache_manager.py
Labels: Server

#3508 Update the `pbench_demo` script to add `--server`
  contrib/containerized-pbench/pbench_demo
Labels: Agent, Contrib, Containerization

#3507 Support benchmark type fallback
  lib/pbench/server/api/resources/datasets_compare.py
  lib/pbench/server/api/resources/datasets_visualize.py
  lib/pbench/test/unit/server/test_datasets_visualize.py
Labels: Server, API

#3502 Add support for Python profiling of Server requests
  lib/pbench/cli/server/shell.py
  lib/pbench/profiling.conf.py
Labels: Server, Code Infrastructure
