Repository distributed-system-analysis/pbench, pull requests merged in 2023-06, with the labels that each got.

#3439 Touch up Content-Disposition header
  lib/pbench/server/api/resources/datasets_inventory.py
  lib/pbench/test/unit/server/test_datasets_inventory.py
Labels: Server, API

#3446 Fix the image tag
  contrib/containerized-pbench/pbench_demo
Labels: Agent, Containerization

#3441 Some API documentation fixes
  docs/Server/API/README.md
  docs/Server/API/V1/README.md
  docs/Server/API/V1/contents.md
  docs/Server/API/V1/inventory.md
  docs/Server/API/V1/relay.md
  docs/Server/API/V1/upload.md
Labels: Documentation, Server, API

#3440 Fixes for user-tool
  agent/util-scripts/gold/test-client-tool-meister/test-53.txt
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  agent/util-scripts/gold/test-client-tool-meister/test-61.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-51.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-52.txt
  agent/util-scripts/pbench-postprocess-tools
  lib/pbench/agent/tool_meister.py
  lib/pbench/test/unit/agent/test_tool_meister.py
Labels: bug, Agent, high priority

#3444 Clarify what tool-specific options are
  agent/tool-scripts/base-tool
  agent/tool-scripts/tests/blktrace/gold/stderr
  agent/tool-scripts/tests/bpftrace/gold/stderr
  agent/tool-scripts/tests/cpuacct/gold/stderr
  agent/tool-scripts/tests/disk/gold/stderr
  agent/tool-scripts/tests/dm-cache/gold/stderr
  agent/tool-scripts/tests/docker-info/gold/stderr
  agent/tool-scripts/tests/docker/gold/stderr
  agent/tool-scripts/tests/haproxy-ocp/gold/stderr
  agent/tool-scripts/tests/iostat/gold/stderr
  agent/tool-scripts/tests/jmap/gold/stderr
  agent/tool-scripts/tests/jstack/gold/stderr
  agent/tool-scripts/tests/kvm-spinlock/gold/stderr
  agent/tool-scripts/tests/kvmstat/gold/stderr
  agent/tool-scripts/tests/kvmtrace/gold/stderr
  agent/tool-scripts/tests/lockstat/gold/stderr
  agent/tool-scripts/tests/mpstat/gold/stderr
  agent/tool-scripts/tests/numastat/gold/stderr
  agent/tool-scripts/tests/oc/gold/stderr
  agent/tool-scripts/tests/openvswitch/gold/stderr
  agent/tool-scripts/tests/perf/gold/stderr
  agent/tool-scripts/tests/pidstat/gold/stderr
  agent/tool-scripts/tests/pprof/gold/stderr
  agent/tool-scripts/tests/proc-interrupts/gold/stderr
  agent/tool-scripts/tests/proc-sched_debug/gold/stderr
  agent/tool-scripts/tests/proc-vmstat/gold/stderr
  agent/tool-scripts/tests/prometheus-metrics/gold/stderr
  agent/tool-scripts/tests/qemu-migrate/gold/stderr
  agent/tool-scripts/tests/rabbit/gold/stderr
  agent/tool-scripts/tests/sar/gold/stderr
  agent/tool-scripts/tests/strace/gold/stderr
  agent/tool-scripts/tests/sysfs/gold/stderr
  agent/tool-scripts/tests/systemtap/gold/stderr
  agent/tool-scripts/tests/tcpdump/gold/stderr
  agent/tool-scripts/tests/turbostat/gold/stderr
  agent/tool-scripts/tests/user-tool/gold/stderr
  agent/tool-scripts/tests/virsh-migrate/gold/stderr
  agent/tool-scripts/tests/vmstat/gold/stderr
  agent/util-scripts/gold/pbench-register-tool/test-44.txt
  agent/util-scripts/gold/pbench-register-tool/test-46.txt
  agent/util-scripts/gold/pbench-register-tool/test-47.txt
  agent/util-scripts/pbench-register-tool
Labels: bug, Agent, Documentation, tools

#3447 Specify version number of the dashboard in footer
  dashboard/src/modules/components/FooterComponent/index.jsx
  dashboard/src/modules/components/FooterComponent/index.less
  dashboard/src/modules/containers/MainLayout/index.jsx
Labels: Dashboard

#3433 Update CI container to Fedora-38
  agent/test-constraints-3.6.txt
  jenkins/Makefile
  tox.ini
Labels: Code Infrastructure, Unit tests, Containerization, Functional Testing, testing

#3449 Adapt to the change from F36 to F38 in the CI base container.
  agent/tool-scripts/postprocess/gold/fio-0/result/reference-result/result.json
  agent/tool-scripts/postprocess/gold/uperf-0/result.json
  agent/tool-scripts/postprocess/gold/uperf-1/result.json
  build.sh
Labels: Agent, Code Infrastructure, Unit tests, fio, uperf, Containerization, Tests

#3448 Add a constraints.txt file to limit python-daemon to versions < 3.0.0
  agent/Makefile
  agent/constraints.txt
  agent/rpm/pbench-agent.spec.j2
Labels: Agent, packaging

#3422 Add support for SSL access to the Pbench Server
  .gitleaks.toml
  server/lib/config/nginx.conf
  server/pbenchinacan/deploy
  server/pbenchinacan/etc/pki/tls/certs/pbench_CA.crt
  server/pbenchinacan/etc/pki/tls/private/pbench_CA.key
  server/pbenchinacan/run-pbench-in-a-can
Labels: Server, Code Infrastructure, Functional Testing

#3450 Dashboard API key copy button
  dashboard/src/assets/constants/copyTextConstants.js
  dashboard/src/modules/components/ProfileComponent/ClipboardCopy.jsx
  dashboard/src/modules/components/ProfileComponent/KeyListTable.jsx
  dashboard/src/modules/components/ProfileComponent/index.less
Labels: Dashboard

#3442 Man pages for pbench-agent commands
  docs/Agent/user-guide/man_page.md
Labels: Agent, Documentation

#3458 Disable redis protected mode (fwd port of #3434)
  agent/util-scripts/gold/test-client-tool-meister/test-53.txt
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  agent/util-scripts/gold/test-client-tool-meister/test-61.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-51.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-52.txt
  lib/pbench/agent/tool_meister_start.py
Labels: bug, Agent, Tool Meister

#3452 Dust off the `README.md` and pick some other nits
  README.md
  docs/.gitignore
  lib/pbench/agent/tool_data_sink.py
  lib/pbench/cli/agent/commands/triggers/register.py
Labels: Agent, Documentation

#3456 v0.72.0: Fix handling of labeled hosts by pbench-postprocess-tools
  agent/VERSION
  agent/util-scripts/gold/pbench-postprocess-tools/test-07.1.txt
  agent/util-scripts/gold/pbench-postprocess-tools/test-07.txt
  agent/util-scripts/pbench-postprocess-tools
  agent/util-scripts/samples/pbench-postprocess-tools/test-07.1/pbench/tools-v1-foobar/testhost.example.com/foo
  agent/util-scripts/samples/pbench-postprocess-tools/test-07.1/pbench/tools-v1-foobar/testhost.example.com/iostat
  agent/util-scripts/unittests
  lib/pbench/cli/agent/commands/tools/list.py
  lib/pbench/test/functional/agent/cli/commands/tools/test_tools_list.py
Labels: bug, Agent, tools

#3459 User Profile Page UI
  dashboard/src/modules/components/ProfileComponent/index.jsx
  dashboard/src/modules/components/ProfileComponent/index.less
Labels: Dashboard

#3436 update readthedocs config and add installation docs
  docs/Agent/installation/Ansible_based_installation.md
  docs/Agent/installation/ansible_based_installation.md
  docs/Agent/installation/assets/0.69_myhosts.inv
  docs/Agent/installation/assets/myhosts.inv
  docs/Agent/installation/index.rst
  docs/Agent/installation/pbench-containers.md
  docs/Agent/installation/rpm_based_installation.md
  docs/Agent/user-guide/index.rst
  docs/README.md
  docs/conf.py
  docs/requirements.txt
Labels: Documentation

#3467 Add OpenSSL to container build
  server/pbenchinacan/container-build.sh
Labels: Server, packaging, Tests

#3466 Fix JWT OIDC decode yet again
  lib/pbench/server/auth/__init__.py
  lib/pbench/server/auth/auth.py
  lib/pbench/test/unit/server/auth/test_auth.py
Labels: Server, API, Users

#3468 Fix dashboard logout
  server/pbenchinacan/load_keycloak.sh
Labels: Server, Dashboard, Users

#3460 Add basic relay support to Pbench Agent
  agent/requirements.txt
  agent/util-scripts/gold/pbench-results-move/test-23.txt
  agent/util-scripts/gold/pbench-results-push/test-24.txt
  docs/Agent/user-guide/man_page.md
  lib/pbench/agent/results.py
  lib/pbench/cli/agent/commands/results/move.py
  lib/pbench/cli/agent/commands/results/push.py
  lib/pbench/cli/agent/commands/results/results_options.py
  lib/pbench/test/unit/agent/task/test_copy_result_tb.py
  lib/pbench/test/unit/agent/task/test_results_move.py
  lib/pbench/test/unit/agent/task/test_results_push.py
  server/requirements.txt
Labels: enhancement, Agent

#3469 Work around requests version conflict
  agent/requirements.txt
  exec-tests
  lib/pbench/cli/agent/commands/results/move.py
  lib/pbench/cli/agent/commands/results/push.py
  lib/pbench/test/functional/agent/cli/commands/triggers/test_register_tool_trigger.py
  server/requirements.txt
Labels: Agent, Server, Code Infrastructure, packaging, dependencies, testing

#3463 PBENCH-1127 Implementation of Quisby API
  lib/pbench/client/__init__.py
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/datasets_visualize.py
  lib/pbench/server/cache_manager.py
  lib/pbench/test/unit/server/test_cache_manager.py
  lib/pbench/test/unit/server/test_datasets_inventory.py
  lib/pbench/test/unit/server/test_datasets_visualize.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
  server/requirements.txt
Labels: Server, API

#3451 Remove HTTP access to the canned Pbench Server
  agent/config/pbench-agent-default.cfg
  docs/Server/API/V1/contents.md
  docs/Server/API/V1/endpoints.md
  docs/Server/API/V1/list.md
  jenkins/run-server-func-tests
  lib/pbench/client/__init__.py
  lib/pbench/server/api/resources/endpoint_configure.py
  lib/pbench/server/auth/__init__.py
  lib/pbench/test/unit/agent/task/test_results_move.py
  lib/pbench/test/unit/agent/task/test_results_push.py
  lib/pbench/test/unit/client/conftest.py
  lib/pbench/test/unit/client/test_connect.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/test_datasets_list.py
  server/lib/config/nginx.conf
  server/pbenchinacan/load_keycloak.sh
  server/pbenchinacan/run-pbench-in-a-can
Labels: Agent, Documentation, Server, Code Infrastructure, Dashboard, Unit tests, Installation, Containerization, Functional Testing, Ansible

#3105 PBENCH-1014 Using Tarball.extract in Inventory API for extracting files from tarball
  lib/pbench/server/api/resources/datasets_inventory.py
  lib/pbench/server/cache_manager.py
  lib/pbench/test/unit/server/test_cache_manager.py
  lib/pbench/test/unit/server/test_datasets_inventory.py
Labels: enhancement, Server, API

#3470 Compare datasets - Integrate Quisby into Pbench Server API
  lib/pbench/client/__init__.py
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/datasets_compare.py
  lib/pbench/test/unit/server/test_datasets_compare.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
Labels: Server, API

#3465 Fixes for user-tool (forward port to main of #3440)
  agent/util-scripts/gold/test-client-tool-meister/test-53.txt
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  agent/util-scripts/gold/test-client-tool-meister/test-61.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-51.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-52.txt
  agent/util-scripts/pbench-postprocess-tools
  lib/pbench/agent/tool_meister.py
  lib/pbench/test/unit/agent/test_tool_meister.py
Labels: bug, Agent, tools

#3471 Add URI to TOC API
  dashboard/src/actions/tableOfContentActions.js
  dashboard/src/modules/components/TableOfContent/index.jsx
  dashboard/src/reducers/tableOfContentReducer.js
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/endpoint_configure.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets_contents.py
  lib/pbench/test/unit/server/query_apis/test_datasets_contents.py
Labels: Server, Dashboard, API
