Repository distributed-system-analysis/pbench, pull requests merged in 2023-08, with the labels that each got.

#3501 Attempt to improve upload performance
  lib/pbench/server/__init__.py
  lib/pbench/server/cache_manager.py
  lib/pbench/test/unit/server/test_cache_manager.py
Labels: Server

#3509 Add `pytest-timeout` and refactor `requirements.txt` files
  client/requirements.txt
  pytest.ini
  server/test-requirements.txt
  test-requirements.txt
  tox.ini
Labels: Agent, Server, Unit tests, Functional Testing, testing, Tests

#3510 "Note" non-fatal INTAKE behaviors
  lib/pbench/server/api/resources/intake_base.py
  lib/pbench/test/functional/server/test_datasets.py
  lib/pbench/test/unit/server/test_relay.py
  lib/pbench/test/unit/server/test_upload.py
Labels: Server, API, Audit, Operations

#3503 Enhance configuration of Keycloak valid redirects list in the canned deployment
  server/pbenchinacan/etc/pbench-server/pbench-server.cfg
  server/pbenchinacan/load_keycloak.sh
  server/pbenchinacan/run-pbench-in-a-can
Labels: Server, Code Infrastructure, Containerization

#3512 Allow deletion of uploaded relay datasets
  dashboard/src/actions/relayActions.js
  lib/pbench/server/api/resources/intake_base.py
  lib/pbench/server/api/resources/relay.py
  lib/pbench/test/unit/server/test_relay.py
Labels: Server, API

#3514 Nits and stuff
  agent/containers/images/container_entrypoint
  lib/pbench/server/auth/__init__.py
  lib/pbench/test/unit/server/conftest.py
  server/pbenchinacan/container-build.sh
  server/pbenchinacan/deploy-dependencies
  server/pbenchinacan/load_keycloak.sh
  server/requirements.txt
Labels: Agent, Server, packaging, Containerization

#3515 Remove directory from disposition header
  lib/pbench/server/api/resources/datasets_inventory.py
  lib/pbench/test/functional/server/test_datasets.py
  lib/pbench/test/unit/server/test_datasets_inventory.py
Labels: Server, API

#3513 Handle ENOSPC more cleanly
  lib/pbench/server/api/resources/intake_base.py
  lib/pbench/server/cache_manager.py
  lib/pbench/test/unit/server/test_cache_manager.py
  lib/pbench/test/unit/server/test_upload.py
Labels: Server, API

#3511 Dashboard TOC view
  dashboard/src/actions/tableOfContentActions.js
  dashboard/src/actions/types.js
  dashboard/src/assets/constants/navigationConstants.js
  dashboard/src/modules/components/TableComponent/index.jsx
  dashboard/src/modules/components/TableOfContent/index.jsx
  dashboard/src/modules/components/TableOfContent/index.less
  dashboard/src/reducers/tableOfContentReducer.js
  dashboard/src/utils/routeConstants.js
Labels: Dashboard

#3520 Rev-lock the `pquisby` version until its packaging is resolved
  server/requirements.txt
Labels: Server, Code Infrastructure

#3518 Add Nginx magic for Dashboard access
  server/lib/config/nginx.conf
Labels: Server, Code Infrastructure

#3521 Hack to create "service accounts"
  server/bin/service-key.py
Labels: Server, Operations

#3522 Adapt to Quisby fio support
  lib/pbench/server/api/resources/endpoint_configure.py
  lib/pbench/test/functional/server/test_connect.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
  server/requirements.txt
Labels: Server, API, dependencies

#3519 Move index-map out of metadata
  docs/Server/API/V1/list.md
  docs/Server/API/metadata.md
  lib/pbench/server/api/resources/intake_base.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/dataset.py
  lib/pbench/server/api/resources/query_apis/datasets/__init__.py
  lib/pbench/server/database/__init__.py
  lib/pbench/server/database/alembic/versions/313cfbf6e74b_index_map.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/server/database/models/index_map.py
  lib/pbench/server/indexer.py
  lib/pbench/server/indexing_tarballs.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/database/test_datasets_metadata_db.py
  lib/pbench/test/unit/server/database/test_index_map_db.py
  lib/pbench/test/unit/server/query_apis/commons.py
  lib/pbench/test/unit/server/query_apis/test_datasets_contents.py
  lib/pbench/test/unit/server/query_apis/test_datasets_delete.py
  lib/pbench/test/unit/server/query_apis/test_datasets_update.py
  lib/pbench/test/unit/server/query_apis/test_namespace_and_rows.py
  lib/pbench/test/unit/server/test_datasets_list.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
  lib/pbench/test/unit/server/test_indexing_tarballs.py
  lib/pbench/test/unit/server/test_upload.py
  server/bin/move-index.py
Labels: Server, API, Database

#3464 Display Metadata
  dashboard/src/actions/metadataTreeActions.js
  dashboard/src/actions/overviewActions.js
  dashboard/src/actions/types.js
  dashboard/src/assets/constants/overviewConstants.js
  dashboard/src/modules/components/OverviewComponent/MetadataTreeComponent.jsx
  dashboard/src/modules/components/OverviewComponent/NewRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/common-component.jsx
  dashboard/src/modules/components/OverviewComponent/index.jsx
  dashboard/src/modules/components/OverviewComponent/index.less
  dashboard/src/reducers/overviewReducer.js
  dashboard/src/utils/helper.js
Labels: Dashboard

#3525 Version lock redis to <5.0.0
  agent/requirements.txt
Labels: bug, Agent, Tool Meister

#3527 Version bump: 0.72.2
  agent/VERSION
Labels: Agent, packaging

#3529 Fix index-map migration tool
  server/bin/move-index.py
Labels: Server, Database, Operations

#3516 Use `systemctl` to launch the Pbench Server container when deploying
  jenkins/Pipeline.gy
  jenkins/run-server-func-tests
  server/pbenchinacan/deploy
  server/pbenchinacan/redeploy
Labels: Server, Containerization, Functional Testing

#3532 Edit Server Deletion Bug
  dashboard/src/modules/components/OverviewComponent/NewRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/SavedRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/common-component.jsx
Labels: Dashboard

#3533 Update metadata on dataset name and server date changes
  dashboard/src/actions/overviewActions.js
Labels: Dashboard

#3524 Fix publish/delete of unindexed datasets
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/dataset.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/test/functional/server/test_datasets.py
  lib/pbench/test/unit/server/query_apis/test_datasets_delete.py
  lib/pbench/test/unit/server/query_apis/test_datasets_update.py
Labels: Server, Indexing, API, Database

#3526 Version lock redis to <5.0.0 -b0.73 branch
  agent/requirements.txt
Labels: bug, Agent, Tool Meister

#3538 Enable CodeQL runs on `b0.73` release branch
  .github/workflows/codeql-analysis.yml
Labels: Code Infrastructure

#3540 Lock pquisby version
  server/requirements.txt
Labels: Server, Code Infrastructure, dependencies

#3528 Fix the SQL constraint violation logic
  lib/pbench/server/database/models/__init__.py
  lib/pbench/server/database/models/api_keys.py
  lib/pbench/server/database/models/audit.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/server/database/models/index_map.py
  lib/pbench/server/database/models/server_settings.py
  lib/pbench/server/database/models/templates.py
  lib/pbench/server/database/models/users.py
  lib/pbench/test/unit/server/database/test_audit_db.py
  lib/pbench/test/unit/server/database/test_datasets_metadata_db.py
  lib/pbench/test/unit/server/database/test_index_map_db.py
  lib/pbench/test/unit/server/database/test_server_settings.py
  lib/pbench/test/unit/server/database/test_template_db.py
  lib/pbench/test/unit/server/database/test_users_db.py
  lib/pbench/test/unit/server/test_upload.py
Labels: bug, Server, Database

#3536 Pagination for Saved and Expiring runs
  dashboard/src/actions/overviewActions.js
  dashboard/src/actions/types.js
  dashboard/src/assets/constants/overviewConstants.js
  dashboard/src/modules/components/OverviewComponent/ExpiringSoonComponent.jsx
  dashboard/src/modules/components/OverviewComponent/SavedRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/index.less
  dashboard/src/reducers/overviewReducer.js
Labels: Dashboard

#3534 Relay modal text update
  dashboard/src/modules/components/OverviewComponent/common-component.jsx
  dashboard/src/modules/components/RelayUIComponent/index.jsx
  dashboard/src/modules/components/RelayUIComponent/index.less
Labels: Dashboard

#3541 Minor fixes found during release
  agent/VERSION
  jenkins/branch.name
Labels: Agent, packaging
