Repository distributed-system-analysis/pbench, pull requests merged in 2023-01, with the labels that each got.

#3132 Correct datasets list API `next_url` value
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/test_datasets_daterange.py
  lib/pbench/test/unit/server/test_datasets_list.py
Labels: bug, Server, API

#3133 Simplify user reg & dump progress in func tests
  lib/pbench/test/functional/server/conftest.py
  lib/pbench/test/functional/server/test_put.py
  server/exec_functests
Labels: enhancement, Server, Functional Testing

#3142 Refactor `test_index_all` server func test
  lib/pbench/test/functional/server/test_put.py
Labels: bug, Server, Functional Testing

#3021 Dashboard Toast Actions Update
  dashboard/package.json
  dashboard/src/App.js
  dashboard/src/App.test.js
  dashboard/src/actions/__tests__/toastActions.test.js
  dashboard/src/actions/authActions.js
  dashboard/src/actions/overviewActions.js
  dashboard/src/actions/profileActions.js
  dashboard/src/actions/toastActions.js
  dashboard/src/modules/components/ToastNotificationComponent/__snapshots__/index.test.jsx.snap
  dashboard/src/modules/components/ToastNotificationComponent/index.jsx
  dashboard/src/modules/components/ToastNotificationComponent/index.test.jsx
  dashboard/src/reducers/toastReducer.js
  dashboard/src/setupTests.js
  dashboard/src/store/mockStore.js
Labels: bug, Dashboard

#3081 Provide stand-alone pbench server container for external integration
  jenkins/Pipeline.gy
  jenkins/run-server-func-tests
  jenkins/runlocal
  lib/pbench/cli/server/shell.py
  lib/pbench/server/api/resources/endpoint_configure.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
  server/Makefile
  server/lib/config/nginx.conf
  server/lib/config/nginx.conf.example
  server/lib/config/pbench-server-default.cfg
  server/lib/config/pbench.httpd.conf
  server/pbenchinacan/container-build-ci.sh
  server/pbenchinacan/container-build-sa.sh
  server/pbenchinacan/etc/pbench-server/pbench-server.cfg
  server/pbenchinacan/pod.yml
Labels: bug, Server, packaging, Containerization

#3147 deploy readthedocs page on gh-page
  .github/workflows/gh-pages.yml
Labels: Documentation, website

#3148 Amendments to PR #3122
  lib/pbench/server/api/resources/__init__.py
Labels: Server

#3149 Push the stand-alone pbench-server image
  jenkins/Pipeline.gy
Labels: Server, Containerization

#3145 Static references are incorrect
  dashboard/src/modules/components/EmptyPageComponent/NoMatchingPage.jsx
  dashboard/src/modules/components/EmptyPageComponent/index.jsx
Labels: bug, Dashboard

#3152 Add PUT duplicate/error functional tests
  lib/pbench/client/__init__.py
  lib/pbench/test/functional/server/test_put.py
Labels: Server, API, Functional Testing

#3056 PBENCH-895: Authentication on endpoints to use the tokens from identity provider
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/users_api.py
  lib/pbench/server/auth/auth.py
  lib/pbench/test/unit/server/auth/test_auth.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/test_api_base.py
Labels: Server, Users

#3155 Fix PUT metadata partial success
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/test/unit/server/database/test_datasets_metadata_db.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
Labels: bug, Server, Code Infrastructure, API

#3146 Move running functional tests under `tox`
  exec-tests
  jenkins/run-server-func-tests
  lib/pbench/test/functional/server/__init__.py
  lib/pbench/test/functional/server/test_connect.py
  lib/pbench/test/functional/server/test_put.py
  server/exec_functests
  tox.ini
Labels: enhancement, Server, Functional Testing

#3158 Make sure dashboard routing stays within the app
  dashboard/src/utils/routeConstants.js
Labels: Dashboard

#3156 Increase and expose default dataset name length
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_metadata.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/test/unit/server/database/test_datasets_metadata_db.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
  lib/pbench/test/unit/server/test_schema.py
Labels: Server, Dashboard, API

#3162 Create a separate tox env for Agent Python 3.6
  jenkins/Pipeline.gy
  tox.ini
Labels: bug, Agent, Unit tests

#3161 Silence warnings display by python unit tests
  exec-tests
  lib/pbench/server/database/database.py
  pytest.ini
Labels: Server, Unit tests

#3140 Publish command in dashboard Overview Page
  dashboard/src/actions/overviewActions.js
  dashboard/src/modules/components/OverviewComponent/NewRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/SavedRunsComponent.jsx
Labels: Dashboard

#3159 Make `access` parameter to `copy_result_tb` optional
  lib/pbench/agent/results.py
  lib/pbench/test/unit/agent/task/test_copy_result_tb.py
Labels: Agent

#3154 Refactor to expose running in-a-can
  jenkins/run-server-func-tests
  jenkins/runlocal
  server/pbenchinacan/run-pbench-in-a-can
Labels: Server, Containerization, Functional Testing, testing

#3165 Consolidate database and OIDC knowledge
  lib/pbench/cli/server/shell.py
  lib/pbench/server/api/resources/endpoint_configure.py
  lib/pbench/server/auth/__init__.py
  lib/pbench/server/database/alembic/env.py
  lib/pbench/server/database/database.py
Labels: enhancement, Server, Code Infrastructure

#3166 Cleanup doc strings in the `auth` module
  lib/pbench/server/auth/auth.py
Labels: enhancement, Server, API

#3169 Remove wayward info log messages, fix doc strings
  lib/pbench/server/api/resources/datasets_list.py
Labels: enhancement, Server, API

#3171 Remove "apache" section; print to `stderr`
  lib/pbench/cli/server/shell.py
  server/lib/config/pbench-server-default.cfg
Labels: enhancement, Server, Code Infrastructure

#3173 Remove unused `bulk_action_count`
  server/lib/config/pbench-server-default.cfg
  server/pbenchinacan/etc/pbench-server/pbench-server.cfg
Labels: enhancement, Server

#3167 Merge imports from same module
  lib/pbench/server/database/__init__.py
Labels: enhancement, Server, Code Infrastructure

#3168 Use recommended Flask application name
  lib/pbench/server/api/__init__.py
Labels: enhancement, Server, Code Infrastructure, API

#3177 Use helper `init_db` in API shell startup
  lib/pbench/cli/server/shell.py
  lib/pbench/server/database/__init__.py
  lib/pbench/test/unit/server/conftest.py
Labels: enhancement, Server

#3172 Refactor `PbenchServerConfig`
  lib/pbench/cli/server/__init__.py
  lib/pbench/server/__init__.py
  lib/pbench/server/api/__init__.py
  lib/pbench/server/indexer.py
  lib/pbench/server/report.py
  lib/pbench/server/s3backup/__init__.py
  server/bin/pbench-backup-tarballs
  server/bin/pbench-cull-unpacked-tarballs
  server/bin/pbench-index
  server/bin/pbench-reindex
  server/bin/pbench-unpack-tarballs
  server/bin/pbench-verify-backup-tarballs
Labels: enhancement, Server, Code Infrastructure

#3175 Disable backup verify for S3 with no bucket
  server/bin/pbench-verify-backup-tarballs
Labels: bug, Background Tasks, Server

#3109 Add support for building Agent containers to the CI
  agent/containers/images/Makefile
  jenkins/Pipeline.gy
Labels: Agent, Code Infrastructure, Containerization, Functional Testing

#3184 Dump the `journalctl` log if the Server doesn't start
  jenkins/run-server-func-tests
Labels: Server, Containerization

#3178 Doc string maintenance in database models
  lib/pbench/server/database/models/__init__.py
  lib/pbench/server/database/models/active_tokens.py
  lib/pbench/server/database/models/audit.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/server/database/models/server_config.py
  lib/pbench/server/database/models/template.py
  lib/pbench/server/database/models/users.py
Labels: enhancement, Server, Code Infrastructure

#3179 Move default retention day config to a property
  lib/pbench/server/__init__.py
  lib/pbench/server/api/resources/upload_api.py
Labels: enhancement, Server, API

#3174 Provide the "Initial database schema" alembic migration
  jenkins/Pipeline.gy
  jenkins/run-alembic-migrations-check
  lib/pbench/server/database/alembic.check
  lib/pbench/server/database/alembic.ini
  lib/pbench/server/database/alembic/alembic.ini
  lib/pbench/server/database/alembic/env.py
  lib/pbench/server/database/alembic/script.py.mako
  lib/pbench/server/database/alembic/versions/62eddcec4817_add_dataset_access.py
  lib/pbench/server/database/alembic/versions/fa12f45a2a5a_initial_database_schema.py
  server/requirements.txt
  tox.ini
Labels: Server

#3181 Change sync-satellite reception area
  server/bin/gold/test-0.1.txt
  server/bin/gold/test-0.2.txt
  server/bin/gold/test-0.txt
  server/bin/gold/test-1.txt
  server/bin/gold/test-10.txt
  server/bin/gold/test-11.txt
  server/bin/gold/test-16.txt
  server/bin/gold/test-17.txt
  server/bin/gold/test-2.txt
  server/bin/gold/test-22.txt
  server/bin/gold/test-3.txt
  server/bin/gold/test-4.txt
  server/bin/gold/test-5.1.txt
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-5.txt
  server/bin/pbench-base.sh
  server/bin/pbench-dispatch.sh
  server/bin/pbench-satellite-cleanup.sh
  server/bin/pbench-sync-package-tarballs.sh
  server/bin/pbench-sync-satellite.sh
  server/bin/pbench-unpack-tarballs.sh
  server/bin/state/test-11.setup
  server/bin/test-bin/failing-mv
  server/bin/unittests
Labels: Server

#3182 Modify the CI pipeline to publish successful branch build Agent containers
  agent/containers/images/Makefile
  agent/containers/images/README.md
  jenkins/Pipeline.gy
Labels: Agent, Containerization

#3195 Check missing content-md5 header value in /upload
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/test/unit/server/test_requests.py
Labels: Server, API

#3196 Use correct image for `run-pbench-in-a-can`
  server/pbenchinacan/run-pbench-in-a-can
Labels: bug, Server

#3199 Fix repeated indexing
  lib/pbench/server/sync.py
  lib/pbench/test/unit/server/test_sync.py
  server/lib/config/pbench-server-default.cfg
  server/pbenchinacan/etc/pbench-server/pbench-server.cfg
Labels: bug, Server, Indexing

#3188 A few changes to support tox v4.x
  jenkins/development.Dockerfile
  pyproject.toml
  test-requirements.txt
  tox.ini
Labels: DO NOT MERGE!!!, Code Infrastructure, Tests

#3206 Remove the need to pass logger to APIs
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_daterange.py
  lib/pbench/server/api/resources/datasets_inventory.py
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/server/api/resources/datasets_metadata.py
  lib/pbench/server/api/resources/endpoint_configure.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets_contents.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets_detail.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets_mappings.py
  lib/pbench/server/api/resources/query_apis/datasets/namespace_and_rows.py
  lib/pbench/server/api/resources/query_apis/datasets_delete.py
  lib/pbench/server/api/resources/query_apis/datasets_publish.py
  lib/pbench/server/api/resources/query_apis/datasets_search.py
  lib/pbench/server/api/resources/server_audit.py
  lib/pbench/server/api/resources/server_configuration.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/api/resources/users_api.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/query_apis/test_dataset_search.py
  lib/pbench/test/unit/server/query_apis/test_datasets_contents.py
  lib/pbench/test/unit/server/query_apis/test_datasets_detail.py
  lib/pbench/test/unit/server/query_apis/test_namespace_and_rows.py
  lib/pbench/test/unit/server/query_apis/test_query_builder.py
  lib/pbench/test/unit/server/test_api_base.py
  lib/pbench/test/unit/server/test_authorization.py
  lib/pbench/test/unit/server/test_server_configuration.py
Labels: enhancement, Server, API

#3189 Support the use of tox v4.x
  pyproject.toml
  tox.ini
Labels: DO NOT MERGE!!!, Code Infrastructure, Tests

#3200 Remove jenkins development image
  jenkins/Makefile
  jenkins/Pipeline.gy
  jenkins/development.Dockerfile.j2
  jenkins/run
Labels: Code Infrastructure, Containerization

#3201 Set up Alembic test infrastructure
  jenkins/ci.Dockerfile.j2
  jenkins/podman
  jenkins/run-alembic-migrations-check
Labels: Server, Code Infrastructure, Containerization

#3170 Remove `_get_conf` and `get_conf` entirely
  lib/pbench/cli/server/shell.py
  lib/pbench/server/__init__.py
  lib/pbench/server/api/__init__.py
Labels: enhancement, Server, Code Infrastructure

#3212 Clarify code which installs the Flask application context teardown handler
  lib/pbench/server/api/__init__.py
Labels: Server

#3164 Allow changing dataset ownership API
  dashboard/src/actions/overviewActions.js
  lib/pbench/client/__init__.py
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets_update.py
  lib/pbench/test/unit/server/query_apis/test_datasets_contents.py
  lib/pbench/test/unit/server/query_apis/test_datasets_update.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
Labels: Server, API

#3218 Remove the need for local logger in `auth` module
  lib/pbench/server/api/__init__.py
  lib/pbench/server/auth/__init__.py
  lib/pbench/server/auth/auth.py
  lib/pbench/test/unit/server/auth/conftest.py
  lib/pbench/test/unit/server/auth/test_auth.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/test_api_base.py
Labels: enhancement, Server, API

#3219 Address problems with our `pre-commit` config
  .pre-commit-config.yaml
  lint-requirements.txt
Labels: bug, Code Infrastructure

#3217 Add cryptography dependency for decoding RSA tokens
  lib/pbench/test/unit/server/auth/conftest.py
  lib/pbench/test/unit/server/auth/test_auth.py
  server/requirements.txt
Labels: Server

#3204 First pass unit tests for `shell.py`
  lib/pbench/cli/server/shell.py
  lib/pbench/test/unit/server/test_shell_cli.py
Labels: enhancement, Server, Unit tests

#3214 Combine the pbench-server images into a single image
  jenkins/Pipeline.gy
  jenkins/runlocal
  server/pbenchinacan/container-build-ci.sh
  server/pbenchinacan/container-build.sh
  server/pbenchinacan/run-pbench-in-a-can
Labels: Server, Code Infrastructure, Functional Testing
