Repository distributed-system-analysis/pbench, pull requests merged in 2023-03, with the labels that each got.

#3297 Add the syslog "ident" field back
  lib/pbench/common/logger.py
Labels: enhancement, Server

#3251 Rework the User table
  lib/pbench/cli/server/user_management.py
  lib/pbench/client/__init__.py
  lib/pbench/client/oidc_admin.py
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_metadata.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/api/resources/users_api.py
  lib/pbench/server/auth/__init__.py
  lib/pbench/server/auth/auth.py
  lib/pbench/server/database/alembic/env.py
  lib/pbench/server/database/alembic/versions/f628657bed56_user_table_update_oidc.py
  lib/pbench/server/database/models/active_tokens.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/server/database/models/users.py
  lib/pbench/test/functional/server/conftest.py
  lib/pbench/test/unit/server/auth/test_auth.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/database/__init__.py
  lib/pbench/test/unit/server/database/test_datasets_db.py
  lib/pbench/test/unit/server/database/test_datasets_metadata_db.py
  lib/pbench/test/unit/server/database/test_users_db.py
  lib/pbench/test/unit/server/query_apis/test_datasets_update.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
  lib/pbench/test/unit/server/test_schema.py
  lib/pbench/test/unit/server/test_user_management_cli.py
Labels: Server, Users, Database

#3298 Add the syslog "ident" field back
  server/lib/pbench/__init__.py
Labels: enhancement, Server

#3300 Filter for datasets that are "mine" or "not mine"
  dashboard/src/actions/overviewActions.js
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/test/unit/server/test_datasets_list.py
  lib/pbench/test/unit/server/test_schema.py
Labels: Server, Dashboard, API

#3270 Clear deployment files before starting a functional test deployment
  server/lib/config/color-square.ico
  server/pbenchinacan/deploy
  server/pbenchinacan/run-pbench-in-a-can
Labels: Server, Code Infrastructure

#3303 Correct alembic database state
  lib/pbench/client/__init__.py
  lib/pbench/server/database/alembic/versions/9cc638cb865c_operationname.py
  lib/pbench/test/functional/server/test_put.py
Labels: bug, Server, Database

#3311 Remove left over `boto3` requirement
  server/requirements.txt
Labels: bug, Background Tasks, Server

#3301 Use a consistent pull policy during Server deployment
  server/pbenchinacan/deploy
  server/pbenchinacan/run-pbench-in-a-can
Labels: Server, Code Infrastructure

#3305 Remove unused `pbench-server-set-result-state`
  server/Makefile
  server/bin/pbench-server-set-result-state
  server/rpm/pbench-server.spec.j2
Labels: bug, Server

#3307 Correct common environment variable directory test
  server/bin/pbench-audit-server.sh
  server/bin/pbench-clean-up-dangling-results-links.sh
  server/bin/pbench-satellite-cleanup.sh
  server/bin/pbench-sync-satellite.sh
  server/bin/pbench-unpack-tarballs.sh
Labels: enhancement, Background Tasks, Server

#3259 Simple example of running pbench agent in a container
  contrib/containerized-pbench/.gitignore
  contrib/containerized-pbench/README.md
  contrib/containerized-pbench/benchmark.sh
  contrib/containerized-pbench/dockerfiles/README.md
  contrib/containerized-pbench/dockerfiles/agent/Dockerfile
  contrib/containerized-pbench/dockerfiles/agent/mount.sh
  contrib/containerized-pbench/dockerfiles/agent/pbench.service
  contrib/containerized-pbench/dockerfiles/controller/Dockerfile
  contrib/containerized-pbench/dockerfiles/controller/pbench.service
  contrib/containerized-pbench/dockerfiles/controller/run.sh
  contrib/containerized-pbench/example-driver.sh
  contrib/containerized-pbench/example-workload.sh
  contrib/containerized-pbench/gen-token.sh
  contrib/containerized-pbench/inventory
  contrib/containerized-pbench/keys/authorized_keys
  contrib/containerized-pbench/keys/config
  contrib/containerized-pbench/keys/id_rsa
  contrib/containerized-pbench/keys/id_rsa_perf
  contrib/containerized-pbench/mover.sh
  contrib/containerized-pbench/openshift-templates/pbench-agent-daemonset.yml
  contrib/containerized-pbench/openshift-templates/pbench-namespace.yml
  contrib/containerized-pbench/setup.sh
  contrib/containerized-pbench/vars
Labels: Agent, Contrib

#3306 Remove `*-report-status` from `*-audit-server`
  server/bin/gold/test-10.txt
  server/bin/gold/test-11.txt
  server/bin/gold/test-12.txt
  server/bin/gold/test-13.txt
  server/bin/gold/test-15.txt
  server/bin/gold/test-16.txt
  server/bin/gold/test-17.txt
  server/bin/gold/test-18.txt
  server/bin/gold/test-19.txt
  server/bin/gold/test-20.txt
  server/bin/gold/test-21.txt
  server/bin/gold/test-22.txt
  server/bin/gold/test-23.txt
  server/bin/gold/test-25.txt
  server/bin/gold/test-26.1.txt
  server/bin/gold/test-26.2.txt
  server/bin/gold/test-26.3.txt
  server/bin/gold/test-26.4.txt
  server/bin/gold/test-27.txt
  server/bin/gold/test-28.txt
  server/bin/gold/test-29.0.txt
  server/bin/gold/test-29.1.txt
  server/bin/gold/test-29.2.txt
  server/bin/gold/test-29.3.txt
  server/bin/gold/test-5.1.txt
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-5.txt
  server/bin/gold/test-7.0.0.txt
  server/bin/gold/test-7.0.1.txt
  server/bin/gold/test-7.1.txt
  server/bin/gold/test-7.10.txt
  server/bin/gold/test-7.11.txt
  server/bin/gold/test-7.12.txt
  server/bin/gold/test-7.13.txt
  server/bin/gold/test-7.14.txt
  server/bin/gold/test-7.15.txt
  server/bin/gold/test-7.16.txt
  server/bin/gold/test-7.17.txt
  server/bin/gold/test-7.18.txt
  server/bin/gold/test-7.19.txt
  server/bin/gold/test-7.2.0.txt
  server/bin/gold/test-7.2.1.txt
  server/bin/gold/test-7.20.txt
  server/bin/gold/test-7.21.txt
  server/bin/gold/test-7.22.txt
  server/bin/gold/test-7.23.txt
  server/bin/gold/test-7.24.txt
  server/bin/gold/test-7.25.txt
  server/bin/gold/test-7.26.txt
  server/bin/gold/test-7.3.txt
  server/bin/gold/test-7.4.txt
  server/bin/gold/test-7.5.txt
  server/bin/gold/test-7.6.txt
  server/bin/gold/test-7.7.txt
  server/bin/gold/test-7.8.txt
  server/bin/gold/test-7.9.txt
  server/bin/gold/test-8.txt
  server/bin/pbench-audit-server.sh
Labels: enhancement, Background Tasks, Server

#3309 Use normal logs with JSON to report cull behaviors
  server/bin/gold/test-27.txt
  server/bin/gold/test-5.1.txt
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-5.txt
  server/bin/pbench-cull-unpacked-tarballs.py
  server/bin/test-bin/verify_cee
  server/bin/unittests
Labels: enhancement, Background Tasks, Server, Indexing

#3313 Correct `test` arguments in dispatch
  server/bin/pbench-dispatch.sh
Labels: bug, Background Tasks, Server

#3314 Move `@cee` to front of message
  server/bin/gold/test-11.txt
  server/bin/gold/test-12.txt
  server/bin/gold/test-16.txt
  server/bin/gold/test-17.txt
  server/bin/gold/test-19.txt
  server/bin/gold/test-22.txt
  server/bin/gold/test-27.txt
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-7.1.txt
  server/bin/gold/test-7.10.txt
  server/bin/gold/test-7.11.txt
  server/bin/gold/test-7.12.txt
  server/bin/gold/test-7.13.txt
  server/bin/gold/test-7.14.txt
  server/bin/gold/test-7.15.txt
  server/bin/gold/test-7.16.txt
  server/bin/gold/test-7.17.txt
  server/bin/gold/test-7.18.txt
  server/bin/gold/test-7.19.txt
  server/bin/gold/test-7.2.0.txt
  server/bin/gold/test-7.2.1.txt
  server/bin/gold/test-7.20.txt
  server/bin/gold/test-7.21.txt
  server/bin/gold/test-7.22.txt
  server/bin/gold/test-7.23.txt
  server/bin/gold/test-7.24.txt
  server/bin/gold/test-7.25.txt
  server/bin/gold/test-7.3.txt
  server/bin/gold/test-7.4.txt
  server/bin/gold/test-7.5.txt
  server/bin/gold/test-7.6.txt
  server/bin/gold/test-7.7.txt
  server/bin/gold/test-7.8.txt
  server/bin/gold/test-7.9.txt
  server/bin/pbench-cull-unpacked-tarballs.py
  server/bin/pbench-dispatch.sh
  server/bin/pbench-satellite-cleanup.sh
  server/bin/pbench-sync-satellite.sh
  server/bin/pbench-unpack-tarballs.sh
Labels: bug, Background Tasks, Server

#3316 Invoke pbench-agent `profile` for PUT API
  server/bin/pbench-dispatch.sh
  server/bin/state/test-12.config/pbench-server.cfg
  server/bin/state/test-12.reset
  server/bin/state/test-12.setup
  server/bin/state/test-21.reset
  server/bin/test-bin/pbench-results-push
Labels: bug, Background Tasks, Server

#3315 Add hook for setting podman switches for Pbench Server deployment
  server/pbenchinacan/deploy
Labels: Server, Code Infrastructure

#3319 Drop internal PUT size limit
  lib/pbench/server/__init__.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/utils.py
  lib/pbench/test/unit/server/test_utils.py
  server/lib/config/pbench-server-default.cfg
Labels: Server, API

#3321 Add server `warn` and `debug` logging interfaces
  server/bin/gold/test-11.txt
  server/bin/gold/test-5.2.txt
  server/bin/pbench-base.sh
  server/bin/pbench-dispatch.sh
  server/bin/pbench-sync-satellite.sh
  server/bin/pbench-unpack-tarballs.sh
Labels: bug, enhancement, Background Tasks, Server

#3318 Disable email validation
  lib/pbench/server/api/resources/users_api.py
  lib/pbench/server/database/models/users.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/test_user_auth.py
  server/requirements.txt
Labels: Server, API, Users

#3322 Submit Login Form
  dashboard/src/modules/components/AuthComponent/LoginForm.jsx
  dashboard/src/modules/components/AuthComponent/common-components.jsx
Labels: Dashboard

#3252 Refactored dataset-delete API to DELETE method with URI which is /datasets/{dataset}
  dashboard/src/actions/overviewActions.js
  docs/API/V1/delete.md
  lib/pbench/client/__init__.py
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/dataset.py
  lib/pbench/server/api/resources/query_apis/datasets_delete.py
  lib/pbench/server/api/resources/query_apis/datasets_update.py
  lib/pbench/test/unit/server/query_apis/test_datasets_delete.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
Labels: Server, API

#3326 Use `log_init` earlier to capture startup failures
  server/bin/gold/test-13.txt
  server/bin/gold/test-15.txt
  server/bin/pbench-dispatch.sh
Labels: bug, Server

#3329 Remove obsolete test-cases README
  server/bin/state/README.test-cases.org
Labels: Server, Code Infrastructure

#3327 Update default Linux distros: drop F35 and add F37 & F38
  agent/containers/images/Makefile
  agent/rpm/Makefile
  jenkins/Makefile
Labels: Code Infrastructure, Containerization

#3331 Cleanup & consistency in `*-sync-satellite`
  server/bin/pbench-sync-satellite.sh
Labels: Server, Code Infrastructure

#3320 Add an explicit ENTRYPOINT to the Agent "all" containers
  agent/containers/images/Dockerfile.layered.j2
  agent/containers/images/container_entrypoint
  contrib/containerized-pbench/pbench
  contrib/containerized-pbench/pbench_demo
Labels: Agent, Code Infrastructure, Containerization

#3332 Add checks for all required sync satellite configs
  server/bin/gold/test-0.3.txt
  server/bin/gold/test-0.4.txt
  server/bin/gold/test-1.txt
  server/bin/gold/test-29.txt
  server/bin/gold/test-30.txt
  server/bin/gold/test-31.txt
  server/bin/gold/test-32.txt
  server/bin/gold/test-9.txt
  server/bin/pbench-sync-satellite.sh
  server/bin/state/config/pbench-server.cfg
  server/bin/state/test-0.4.setup
  server/bin/unittests
Labels: bug, Server, Tests

#3333 Remove remote satellite wrappers
  server/Makefile
  server/bin/pbench-remote-satellite-state-change
  server/bin/pbench-remote-sync-package-tarballs
  server/bin/pbench-sync-satellite.sh
  server/rpm/pbench-server.spec.j2
Labels: enhancement, Server

#3336 Add `utcnow()` module method; drop _time() use
  lib/pbench/server/__init__.py
  lib/pbench/server/indexer.py
  lib/pbench/server/indexing_tarballs.py
  server/bin/pbench-reindex
Labels: enhancement, Server, Code Infrastructure

#3324 Signup page Bugs
  dashboard/src/modules/components/AuthComponent/LoginForm.jsx
  dashboard/src/modules/components/AuthComponent/SignupForm.jsx
  dashboard/src/modules/components/AuthComponent/index.less
  dashboard/src/modules/components/AuthComponent/signupFormData.js
Labels: bug, Dashboard

#3337 Cleanup & consistent variable refs in `unittests`
  server/bin/test-bin/test_logger_type.py
  server/bin/unittests
Labels: enhancement, Server, Code Infrastructure, Tests

#3338 Remove left-over `py3-server` tox env
  run-unittests
  tox.ini
Labels: bug, Server, Code Infrastructure, Unit tests, Tests

#3339 Make `pbench-base` export list explicit
  server/bin/pbench-base.py
  server/lib/pbench/__init__.py
Labels: enhancement, Server

#3343 Separate `pbench-config` and `pbench-server-config`
  lib/pbench/cli/agent/commands/conf.py
  lib/pbench/cli/server/conf.py
  lib/pbench/common/conf.py
  server/Makefile
  server/bin/pbench-create-crontab
  setup.cfg
Labels: enhancement, Agent, Server

#3340 Support additional default test options
  server/test/run
  server/test/state/config/pbench-server.cfg
Labels: enhancement, Server, Tests

#3342 Rename `getconf.py` to `pbench-config`
  server/Makefile
  server/ansible/roles/pbench-server-vars/tasks/main.yml
  server/bin/pbench-audit-server.sh
  server/bin/pbench-dispatch.sh
  server/bin/pbench-server-activate
  server/bin/pbench-server-activate-create-crontab
  server/bin/pbench-server-activate-create-results-dir-structure
  server/bin/pbench-server-activate-setup-results-host-info
  server/bin/pbench-server-activate-setup-web-server
  server/bin/pbench-server-activate-start-httpd
  server/bin/pbench-server-config
  server/bin/pbench-server-config-activate
  server/bin/pbench-sync-satellite.sh
  server/bin/pbench-unpack-tarballs.sh
  server/rpm/pbench-server.spec.j2
  server/test/run
Labels: enhancement, Server, Code Infrastructure

#3349 Config file changes
  server/lib/config/pbench-server-default.cfg
  server/pbenchinacan/etc/pbench-server/pbench-server.cfg
Labels: Server, Containerization

#3350 Backport config file cleanup to 0.72 branch
  server/lib/config/pbench-server-default.cfg
  server/pbenchinacan/etc/pbench-server/pbench-server.cfg
Labels: Server, Containerization

#3344 Pagination Component
  dashboard/src/modules/components/LoadingComponent/index.less
  dashboard/src/modules/components/TableComponent/index.jsx
Labels: Dashboard

#3355 Gracefully handle duplicate name with unique MD5
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/test/unit/server/test_upload.py
Labels: Server, API

#3358 Add Prettier formatting check to the Dashboard lint check
  dashboard/.prettierignore
  dashboard/Makefile
  dashboard/src/App.css
  dashboard/src/actions/overviewActions.js
  dashboard/src/actions/tableOfContentActions.js
  dashboard/src/assets/constants/paginationConstants.js
  dashboard/src/index.css
  dashboard/src/modules/components/AlertComponent/index.jsx
  dashboard/src/modules/components/AuthComponent/index.less
  dashboard/src/modules/components/BackgroundComponent/index.jsx
  dashboard/src/modules/components/DatePickerComponent/index.less
  dashboard/src/modules/components/HeaderComponent/index.less
  dashboard/src/modules/components/LoadingComponent/index.less
  dashboard/src/modules/components/OverviewComponent/index.less
  dashboard/src/modules/components/TableComponent/index.less
  dashboard/src/modules/components/TableOfContent/index.jsx
  dashboard/src/modules/components/TableOfContent/index.less
  dashboard/src/modules/containers/AuthLayout/index.less
  dashboard/src/modules/containers/MainLayout/index.less
  dashboard/src/reducers/authReducer.js
  dashboard/src/reducers/datasetListReducer.js
  dashboard/src/reportWebVitals.js
  dashboard/src/store/store.js
  dashboard/src/utils/helper.js
Labels: Code Infrastructure, Dashboard

#3359 Fix /datasets?filter to select across namespaces
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/server/database/database.py
  lib/pbench/test/unit/server/test_datasets_list.py
Labels: bug, Server, API

#3363 Update contrib scripts for Perfconf demo
  contrib/containerized-pbench/pbench
  contrib/containerized-pbench/pbench_demo
Labels: Agent, Containerization

#3361 Update metadata
  dashboard/src/actions/overviewActions.js
  dashboard/src/actions/types.js
  dashboard/src/assets/constants/toastConstants.js
  dashboard/src/modules/components/OverviewComponent/NewRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/SavedRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/index.less
  dashboard/src/modules/components/ToastNotificationComponent/index.jsx
  dashboard/src/reducers/overviewReducer.js
Labels: Dashboard

#3351 Capture results-push output in syslog
  server/bin/pbench-dispatch.sh
  server/test/bin/pbench-results-push
  server/test/gold/test-12.txt
  server/test/gold/test-5.2.txt
Labels: bug, enhancement, Server

#3357 Move set-expiration of Server container to a conditional pipeline stage (`b0.72` backport)
  jenkins/Pipeline.gy
Labels: Server, Code Infrastructure

#3362 Fix (and test) some /server/audit query parameters
  lib/pbench/server/api/resources/server_audit.py
  lib/pbench/test/unit/server/test_server_audit.py
Labels: Server, API, Audit
