Repository distributed-system-analysis/pbench, pull requests merged in 2023-10, with the labels that each got.

#3543 Spinner and Page Navigation issues
  dashboard/src/App.js
  dashboard/src/modules/components/HeaderComponent/index.jsx
  dashboard/src/modules/components/LoadingComponent/index.less
  dashboard/src/modules/components/SidebarComponent/sideMenuOptions.js
  dashboard/src/modules/components/TableComponent/index.jsx
  dashboard/src/utils/routeConstants.js
Labels: Dashboard

#3549 Generate charts for Fio benchmark
  dashboard/src/actions/comparisonActions.js
  dashboard/src/assets/constants/compareConstants.js
  dashboard/src/assets/constants/toastConstants.js
  dashboard/src/modules/components/ComparisonComponent/ChartGallery.jsx
  dashboard/src/modules/components/ComparisonComponent/ChartModal.jsx
  dashboard/src/modules/components/ComparisonComponent/PanelContent.jsx
  dashboard/src/reducers/comparisonReducer.js
  server/requirements.txt
Labels: Dashboard

#3550 Quick cache manager
  lib/pbench/cli/server/tree_manage.py
  lib/pbench/server/api/resources/datasets_inventory.py
  lib/pbench/server/cache_manager.py
  lib/pbench/server/indexing_tarballs.py
  lib/pbench/test/unit/server/test_cache_manager.py
  lib/pbench/test/unit/server/test_datasets_inventory.py
  lib/pbench/test/unit/server/test_datasets_visualize.py
  lib/pbench/test/unit/server/test_indexing_tarballs.py
  server/lib/systemd/pbench-reclaim.service
  server/lib/systemd/pbench-reclaim.timer
  server/pbenchinacan/container-build.sh
Labels: Server, API

#3553 Implement backup for the Server
  lib/pbench/server/__init__.py
  lib/pbench/server/api/resources/intake_base.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/test_indexing_tarballs.py
  lib/pbench/test/unit/server/test_relay.py
  lib/pbench/test/unit/server/test_upload.py
  server/lib/config/pbench-server-default.cfg
  server/pbenchinacan/run-pbench-in-a-can
Labels: Server, Unit tests

#3557 Use subdirectories to hold backup files
  lib/pbench/server/__init__.py
  lib/pbench/server/api/resources/intake_base.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
  lib/pbench/test/unit/server/test_relay.py
  lib/pbench/test/unit/server/test_upload.py
Labels: Server

#3558 Implement filter by `dataset.owner` metadata
  lib/pbench/client/__init__.py
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/test/functional/server/test_datasets.py
  lib/pbench/test/unit/server/test_datasets_list.py
Labels: bug, Server, API

#3555 Convert TOC to use cache map
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/datasets_contents.py
  lib/pbench/server/api/resources/datasets_inventory.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets_contents.py
  lib/pbench/server/cache_manager.py
  lib/pbench/test/functional/server/test_datasets.py
  lib/pbench/test/unit/server/query_apis/test_datasets_contents.py
  lib/pbench/test/unit/server/test_cache_manager.py
  lib/pbench/test/unit/server/test_datasets_contents.py
  lib/pbench/test/unit/server/test_indexing_tarballs.py
Labels: Server, Code Infrastructure, API

#3561 Return to using a UBI-9 base image for the Server Container
  server/pbenchinacan/container-build.sh
Labels: Server, Installation, Containerization, Functional Testing

#3562 Fix RPM packaging
  pyproject.toml
  server/bin/pbench-service-api-key.py
  server/bin/pbench-upgrade-index-map.py
Labels: bug, Server, packaging, Installation

#3563 Tarball migration utility
  contrib/server/operations/pbench-upload-results.py
Labels: Server, Contrib, Operations

#3565 Nits and stuff
  .flake8
  agent/bench-scripts/pbench-fio
  agent/bench-scripts/tests/pbench-fio/test-14.txt
  agent/bench-scripts/tests/pbench-fio/test-17.txt
  agent/bench-scripts/tests/pbench-fio/test-18.txt
  agent/bench-scripts/tests/pbench-fio/test-21.txt
  agent/bench-scripts/tests/pbench-fio/test-22.txt
  agent/bench-scripts/tests/pbench-fio/test-26.txt
  agent/bench-scripts/tests/pbench-fio/test-27.txt
  agent/bench-scripts/tests/pbench-fio/test-29.txt
  agent/bench-scripts/tests/test-benchmark-clis/test-CL.txt
  build.sh
  contrib/containerized-pbench/pbench
  dashboard/src/actions/overviewActions.js
  jenkins/Makefile
  lib/pbench/server/api/resources/intake_base.py
  lib/pbench/server/api/resources/upload.py
  lib/pbench/test/unit/server/test_upload.py
Labels: Agent, Documentation, Server, Code Infrastructure, fio, tools, Containerization, CLI

#3564 Miscellaneous doc cleanup
  README.md
  docs/Agent/agent.md
  docs/Dashboard/user_guide.md
  docs/Server/API/README.md
  docs/Server/API/access_model.md
  docs/Server/API/api.md
  docs/Server/server.md
Labels: Agent, Documentation, Server, API

#3567 Fix error for unauthenticated `/datasets?mine`
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/test/unit/server/test_datasets_list.py
Labels: bug, Server, API

#3560 Remove duplicate keys
  dashboard/src/actions/datasetListActions.js
  dashboard/src/actions/overviewActions.js
  dashboard/src/assets/constants/overviewConstants.js
  dashboard/src/modules/components/OverviewComponent/NewRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/SavedRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/common-component.jsx
  dashboard/src/modules/components/TableComponent/index.jsx
Labels: Dashboard

#3566 Allow typed metadata on upload
  contrib/server/operations/pbench-upload-results.py
  docs/Server/API/V1/metadata.md
  docs/Server/API/V1/upload.md
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/server/api/resources/intake_base.py
  lib/pbench/server/api/resources/relay.py
  lib/pbench/server/api/resources/upload.py
  lib/pbench/test/functional/server/test_datasets.py
  lib/pbench/test/unit/server/test_datasets_list.py
  lib/pbench/test/unit/server/test_upload.py
Labels: Documentation, Server, API
