Repository distributed-system-analysis/pbench, pull requests merged in 2023-02, with the labels that each got.

#3223 Add a pipeline stage to clear out container images
  jenkins/Pipeline.gy
Labels: Code Infrastructure

#3205 Refactor `shell.py` error handling
  lib/pbench/cli/server/shell.py
Labels: enhancement, Server, Code Infrastructure

#3222 Use symbolic constants for user IDs when creating users in tests.
  lib/pbench/test/unit/server/__init__.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/database/test_datasets_db.py
  lib/pbench/test/unit/server/query_apis/test_query_builder.py
Labels: Server, Unit tests

#3203 Repackage the Alembic migration test as a single tox-based script
  build.sh
  jenkins/Pipeline.gy
  jenkins/run-alembic-migrations-check
  lib/pbench/server/database/alembic.check
  tox.ini
Labels: Server, Code Infrastructure, Containerization

#3216 Use podman instead of k8s to run the server containers
  jenkins/run-server-func-tests
  server/pbenchinacan/etc/pbench-server/pbench-server.cfg
  server/pbenchinacan/load_keycloak.sh
  server/pbenchinacan/pod.yml
  server/pbenchinacan/run-pbench-in-a-can
Labels: Server, Containerization

#3224 Hide access to internal conf object
  lib/pbench/__init__.py
  lib/pbench/agent/__init__.py
  lib/pbench/server/__init__.py
  lib/pbench/test/unit/agent/test_config.py
  lib/pbench/test/unit/server/test_shell_cli.py
  server/bin/pbench-backup-tarballs
  server/bin/pbench-cull-unpacked-tarballs
  server/bin/pbench-verify-backup-tarballs
Labels: enhancement, Server, Code Infrastructure

#3227 Move `get_valid_dir_option` to module method
  lib/pbench/server/__init__.py
  server/bin/pbench-backup-tarballs
  server/bin/pbench-cull-unpacked-tarballs
  server/bin/pbench-verify-backup-tarballs
Labels: enhancement, Server, Code Infrastructure

#3228 simplify keycloak build script
  server/pbenchinacan/load_keycloak.sh
Labels: Server, Users

#3229 Move `timestamp` to a module method
  lib/pbench/server/__init__.py
  lib/pbench/server/unpack_tarballs.py
  server/bin/pbench-backup-tarballs
  server/bin/pbench-cull-unpacked-tarballs
  server/bin/pbench-verify-backup-tarballs
Labels: enhancement, Server, Code Infrastructure

#3234 Enhance `test_index_all` to print state & status
  lib/pbench/test/functional/server/test_put.py
Labels: enhancement, Server, Functional Testing

#3225 Add ability to auto-generate alembic migrations
  build.sh
  lib/pbench/server/database/alembic.migration
  tox.ini
Labels: Server, Database

#3230 Add expirations on containers pushed to remote registries
  agent/containers/images/Makefile
  jenkins/Pipeline.gy
  jenkins/set-expiration
Labels: Agent, Server, Code Infrastructure, Containerization

#3114 Further cleanup for the `auth` module
  lib/pbench/cli/server/shell.py
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_metadata.py
  lib/pbench/server/api/resources/endpoint_configure.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets_update.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/api/resources/users_api.py
  lib/pbench/server/auth/__init__.py
  lib/pbench/server/auth/auth.py
  lib/pbench/test/functional/server/test_connect.py
  lib/pbench/test/unit/server/auth/conftest.py
  lib/pbench/test/unit/server/auth/test_auth.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/test_api_base.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
  lib/pbench/test/unit/server/test_shell_cli.py
  server/lib/config/pbench-server-default.cfg
  server/pbenchinacan/etc/pbench-server/pbench-server.cfg
  server/pbenchinacan/load_keycloak.sh
Labels: Server, Code Infrastructure, API

#3207 Allow user to edit Dataset Name
  dashboard/src/actions/authActions.js
  dashboard/src/actions/overviewActions.js
  dashboard/src/assets/constants/overviewConstants.js
  dashboard/src/assets/constants/toastConstants.js
  dashboard/src/modules/components/OverviewComponent/NewRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/SavedRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/common-component.jsx
Labels: Dashboard

#3232 Fix operation synchronization
  lib/pbench/server/api/resources/datasets_daterange.py
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets_delete.py
  lib/pbench/server/api/resources/query_apis/datasets_update.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/database/alembic/versions/fa12f45a2a5a_initial_database_schema.py
  lib/pbench/server/database/database.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/server/indexing_tarballs.py
  lib/pbench/server/sync.py
  lib/pbench/server/unpack_tarballs.py
  lib/pbench/test/functional/server/test_put.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/database/test_datasets_db.py
  lib/pbench/test/unit/server/database/test_datasets_metadata_db.py
  lib/pbench/test/unit/server/query_apis/test_datasets_update.py
  lib/pbench/test/unit/server/test_datasets_daterange.py
  lib/pbench/test/unit/server/test_datasets_list.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
  lib/pbench/test/unit/server/test_indexing_tarballs.py
  lib/pbench/test/unit/server/test_requests.py
  lib/pbench/test/unit/server/test_sync.py
  lib/pbench/test/unit/server/test_unpack_tarballs.py
  server/bin/pbench-backup-tarballs
Labels: bug, Server, Code Infrastructure, Database

#3194 Implement metadata for PUT
  lib/pbench/client/__init__.py
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_metadata.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/test/functional/server/test_put.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
  lib/pbench/test/unit/server/test_requests.py
Labels: enhancement, Server, API

#3241 Remove hyphen from openid-connect section of the endpoints api
  lib/pbench/server/api/resources/endpoint_configure.py
  lib/pbench/test/functional/server/test_connect.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
Labels: Server, Users

#3239 Remove unused userinfo and online token validation
  lib/pbench/server/auth/__init__.py
  lib/pbench/server/auth/auth.py
  lib/pbench/test/unit/server/auth/test_auth.py
Labels: Server, Users

#3243 Make the OAuth2 client public in our Keycloak config
  server/pbenchinacan/load_keycloak.sh
Labels: Server, Users, Functional Testing

#3244 Add support for Archiveonly and Satellite origin
  docs/API/metadata.md
  lib/pbench/client/__init__.py
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/server/indexing_tarballs.py
  lib/pbench/test/functional/server/test_put.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/database/test_datasets_metadata_db.py
  lib/pbench/test/unit/server/query_apis/test_datasets_mappings.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
  lib/pbench/test/unit/server/test_indexing_tarballs.py
  lib/pbench/test/unit/server/test_server_configuration.py
  lib/pbench/test/unit/server/test_upload.py
Labels: Server, API

#3246 Capture `DecodeError` generated by func tests
  lib/pbench/server/auth/auth.py
Labels: bug, Server, API

#3248 Allow Tox to run a single unit test
  exec-tests
Labels: Code Infrastructure

#3255 Use `LIBDIR` (`lib-dir`) config, don't derive it
  lib/pbench/server/indexer.py
  lib/pbench/server/report.py
  lib/pbench/server/templates.py
  lib/pbench/test/unit/server/test_indexing_tarballs.py
Labels: bug, Server

#3249 Use of oidc configuration in the server unit test as default
  lib/pbench/server/api/resources/endpoint_configure.py
  lib/pbench/server/auth/__init__.py
  lib/pbench/test/unit/server/auth/test_auth.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/query_apis/test_datasets_detail.py
  lib/pbench/test/unit/server/test_api_base.py
  lib/pbench/test/unit/server/test_datasets_daterange.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
  lib/pbench/test/unit/server/test_shell_cli.py
  lib/pbench/test/unit/server/test_user_auth.py
  server/lib/config/pbench-server-default.cfg
Labels: Server, Unit tests, Users

#3220 Drop controller from PUT agent side
  agent/util-scripts/gold/pbench-results-push/test-24.txt
  agent/util-scripts/gold/pbench-results-push/test-36.txt
  lib/pbench/agent/results.py
  lib/pbench/cli/agent/commands/results/move.py
  lib/pbench/cli/agent/commands/results/push.py
  lib/pbench/test/unit/agent/task/test_copy_result_tb.py
  lib/pbench/test/unit/agent/task/test_results_push.py
Labels: enhancement, Agent, API

#3256 Add `init_indexing()` module method and use
  lib/pbench/cli/server/shell.py
  lib/pbench/common/__init__.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/auth/__init__.py
  lib/pbench/server/database/database.py
  lib/pbench/server/indexer.py
  lib/pbench/test/unit/common/test_wait_for_uri.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/query_apis/conftest.py
  lib/pbench/test/unit/server/test_indexer.py
  lib/pbench/test/unit/server/test_shell_cli.py
  server/lib/config/pbench-server-default.cfg
  server/pbenchinacan/etc/pbench-server/pbench-server.cfg
Labels: bug, enhancement, Server

#3231 Move expired token deletion off validation path
  lib/pbench/server/api/resources/users_api.py
  lib/pbench/server/auth/auth.py
  lib/pbench/server/database/alembic/versions/9df060db17de_tokens_store_expiration.py
  lib/pbench/server/database/models/auth_tokens.py
  lib/pbench/server/database/models/users.py
  lib/pbench/test/unit/server/auth/test_auth.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/test_user_auth.py
Labels: bug, enhancement, Server, API, Database

#3245 Add metadata query parameter on PUT
  agent/util-scripts/gold/pbench-results-move/test-23.txt
  agent/util-scripts/gold/pbench-results-push/test-24.txt
  lib/pbench/agent/results.py
  lib/pbench/cli/agent/commands/results/move.py
  lib/pbench/cli/agent/commands/results/push.py
  lib/pbench/cli/agent/commands/results/results_options.py
  lib/pbench/test/unit/agent/task/test_copy_result_tb.py
  lib/pbench/test/unit/agent/task/test_results_move.py
  lib/pbench/test/unit/agent/task/test_results_push.py
Labels: enhancement, Agent

#3262 Correct references to `ApiMethod` and `OperationCode` in comments
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/query_apis/__init__.py
Labels: bug, Server, API

#3263 Rely on alembic migrations to setup database
  lib/pbench/server/database/alembic/env.py
  lib/pbench/server/database/database.py
Labels: enhancement, Server, Database

#3261 Fix a few dashboard issues
  dashboard/src/actions/datasetListActions.js
  dashboard/src/actions/overviewActions.js
  dashboard/src/assets/constants/overviewConstants.js
  dashboard/src/modules/components/OverviewComponent/SavedRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/common-component.jsx
  dashboard/src/modules/components/TableComponent/index.jsx
  dashboard/src/utils/filterDataset.js
Labels: bug, Dashboard

#3265 Apply small dictionary usage pattern improvement
  lib/pbench/server/api/resources/upload_api.py
Labels: enhancement, Server, API

#3264 Add `--output` option to `pbench-generate-token`
  lib/pbench/cli/agent/commands/generate_token.py
  lib/pbench/test/unit/agent/task/test_generate_token.py
Labels: enhancement, Agent

#3235 Add OIDC user to the functional test
  lib/pbench/client/__init__.py
  lib/pbench/client/oidc_admin.py
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/auth/__init__.py
  lib/pbench/test/functional/server/conftest.py
  lib/pbench/test/functional/server/test_connect.py
  lib/pbench/test/functional/server/test_user.py
  lib/pbench/test/unit/client/conftest.py
  lib/pbench/test/unit/client/test_connect.py
  lib/pbench/test/unit/client/test_login.py
  lib/pbench/test/unit/server/auth/test_auth.py
  lib/pbench/test/unit/server/test_authorization.py
  lib/pbench/test/unit/server/test_datasets_inventory.py
  lib/pbench/test/unit/server/test_datasets_metadata.py
  server/pbenchinacan/etc/pbench-server/pbench-server.cfg
  server/pbenchinacan/load_keycloak.sh
Labels: Functional Testing

#3213 Filter datasets by metadata
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/server/database/database.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/test/functional/server/test_put.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/test_datasets_list.py
  server/test-requirements.txt
Labels: Server, Functional Testing

#3266 Browsing page Table - UI
  dashboard/src/modules/components/TableComponent/index.less
Labels: Dashboard

#3268 Overhaul `run-server-func-tests`
  jenkins/run-server-func-tests
Labels: Server, Code Infrastructure

#3260 Unified Pbench Server container deployment
  jenkins/run-server-func-tests
  server/lib/config/color-square.ico
  server/pbenchinacan/container-build.sh
  server/pbenchinacan/deploy
  server/pbenchinacan/deploy-dependencies
  server/pbenchinacan/etc/pbench-server/pbench-server.cfg
  server/pbenchinacan/etc/rsyslog.conf
  server/pbenchinacan/etc/rsyslog.d/00-global.conf
  server/pbenchinacan/etc/rsyslog.d/10-input-imjournal.conf
  server/pbenchinacan/etc/rsyslog.d/40-filter-mmjsonparse.conf
  server/pbenchinacan/etc/rsyslog.d/50-filter-viaq-tags.conf
  server/pbenchinacan/etc/rsyslog.d/95-output-viaq-forwarding.conf
  server/pbenchinacan/run-pbench-in-a-can
Labels: Server, Code Infrastructure, Containerization

#3271 Fix run-server-func-tests to handle interrupts properly
  jenkins/run-server-func-tests
Labels: bug, Server, Code Infrastructure

#3273 Build the Dashboard
  build.sh
  dashboard/Makefile
  jenkins/runlocal
Labels: Server, Code Infrastructure, Dashboard

#3275 Restore endpoints.identification in container
  lib/pbench/server/__init__.py
  lib/pbench/test/unit/server/conftest.py
  server/lib/config/pbench-server-default.cfg
Labels: Server, API

#3233 Enable OIDC redirect in dashboard
  dashboard/src/actions/authActions.js
  dashboard/src/actions/types.js
  dashboard/src/modules/components/AuthComponent/common-components.jsx
  docs/user_authentication/third_party_token_management.md
Labels: Dashboard, Users

#3288 Group logging functions
  server/bin/pbench-base.sh
Labels: Server

#3287 Warn when report generation does nothing
  server/lib/pbench/report.py
Labels: Server

#3289 Use local variables in `pbench-base.sh`
  server/bin/pbench-base.sh
Labels: Server

#3279 Remove unused `EXCLUDE_DIRS`
  server/lib/pbench/__init__.py
Labels: Server

#3281 Satellite pbench server don't unpack tar balls
  server/bin/gold/test-24.txt
  server/bin/gold/test-8.txt
  server/bin/state/config-satellite/pbench-server.cfg
  server/lib/config/pbench-server-default.cfg
  server/lib/config/pbench-server-satellite.cfg.example
Labels: Server

#3276 Ignore additional local files
  .gitignore
  server/ansible/Inventory/.gitignore
Labels: Agent, Server

#3269 Get rid of obsolete `pbench_results_redirector` setting
  agent/bench-scripts/tests/Defaults/pbench-agent.cfg
  agent/config/pbench-agent-default.cfg
  agent/config/pbench-agent.cfg
  contrib/containerized-pbench/dockerfiles/controller/run.sh
Labels: enhancement, Agent

#3278 Refactor `jenkins/run` to allow image override
  jenkins/run
Labels: Code Infrastructure

#3282 Drop support for `pbench-copy-sosreports`
  server/Makefile
  server/bin/gold/test-0.1.txt
  server/bin/gold/test-0.2.txt
  server/bin/gold/test-0.txt
  server/bin/gold/test-1.txt
  server/bin/gold/test-16.txt
  server/bin/gold/test-17.txt
  server/bin/gold/test-18.txt
  server/bin/gold/test-19.txt
  server/bin/gold/test-2.txt
  server/bin/gold/test-24.txt
  server/bin/gold/test-3.txt
  server/bin/gold/test-4.txt
  server/bin/gold/test-5.1.txt
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-5.txt
  server/bin/gold/test-7.1.txt
  server/bin/gold/test-7.10.txt
  server/bin/gold/test-7.11.txt
  server/bin/gold/test-7.12.txt
  server/bin/gold/test-7.13.txt
  server/bin/gold/test-7.14.txt
  server/bin/gold/test-7.15.txt
  server/bin/gold/test-7.16.txt
  server/bin/gold/test-7.17.txt
  server/bin/gold/test-7.18.txt
  server/bin/gold/test-7.19.txt
  server/bin/gold/test-7.2.0.txt
  server/bin/gold/test-7.2.1.txt
  server/bin/gold/test-7.20.txt
  server/bin/gold/test-7.21.txt
  server/bin/gold/test-7.22.txt
  server/bin/gold/test-7.23.txt
  server/bin/gold/test-7.24.txt
  server/bin/gold/test-7.25.txt
  server/bin/gold/test-7.3.txt
  server/bin/gold/test-7.4.txt
  server/bin/gold/test-7.5.txt
  server/bin/gold/test-7.6.txt
  server/bin/gold/test-7.7.txt
  server/bin/gold/test-7.8.txt
  server/bin/gold/test-7.9.txt
  server/bin/gold/test-8.txt
  server/bin/pbench-copy-sosreports
  server/bin/pbench-copy-sosreports.sh
  server/bin/pbench-dispatch.sh
  server/bin/pbench-unpack-tarballs.sh
  server/bin/state/test-5.2.tar.xz
  server/bin/unittests
  server/lib/config/pbench-server-default.cfg
  server/lib/pbench/__init__.py
  server/rpm/pbench-server.spec.j2
Labels: Server

#3283 Remove unused `BAD-MD5` state directory
  server/bin/gold/test-16.txt
  server/bin/gold/test-17.txt
  server/bin/gold/test-19.txt
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-7.1.txt
  server/bin/gold/test-7.10.txt
  server/bin/gold/test-7.11.txt
  server/bin/gold/test-7.12.txt
  server/bin/gold/test-7.13.txt
  server/bin/gold/test-7.14.txt
  server/bin/gold/test-7.15.txt
  server/bin/gold/test-7.16.txt
  server/bin/gold/test-7.17.txt
  server/bin/gold/test-7.18.txt
  server/bin/gold/test-7.19.txt
  server/bin/gold/test-7.2.0.txt
  server/bin/gold/test-7.2.1.txt
  server/bin/gold/test-7.20.txt
  server/bin/gold/test-7.21.txt
  server/bin/gold/test-7.22.txt
  server/bin/gold/test-7.23.txt
  server/bin/gold/test-7.24.txt
  server/bin/gold/test-7.25.txt
  server/bin/gold/test-7.3.txt
  server/bin/gold/test-7.4.txt
  server/bin/gold/test-7.5.txt
  server/bin/gold/test-7.6.txt
  server/bin/gold/test-7.7.txt
  server/bin/gold/test-7.8.txt
  server/bin/gold/test-7.9.txt
  server/lib/pbench/__init__.py
Labels: Server

#3284 Remove unused `TO-LINK` state directory
  server/bin/gold/test-16.txt
  server/bin/gold/test-17.txt
  server/bin/gold/test-19.txt
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-7.1.txt
  server/bin/gold/test-7.10.txt
  server/bin/gold/test-7.11.txt
  server/bin/gold/test-7.12.txt
  server/bin/gold/test-7.13.txt
  server/bin/gold/test-7.14.txt
  server/bin/gold/test-7.15.txt
  server/bin/gold/test-7.16.txt
  server/bin/gold/test-7.17.txt
  server/bin/gold/test-7.18.txt
  server/bin/gold/test-7.19.txt
  server/bin/gold/test-7.2.0.txt
  server/bin/gold/test-7.2.1.txt
  server/bin/gold/test-7.20.txt
  server/bin/gold/test-7.21.txt
  server/bin/gold/test-7.22.txt
  server/bin/gold/test-7.23.txt
  server/bin/gold/test-7.24.txt
  server/bin/gold/test-7.25.txt
  server/bin/gold/test-7.3.txt
  server/bin/gold/test-7.4.txt
  server/bin/gold/test-7.5.txt
  server/bin/gold/test-7.6.txt
  server/bin/gold/test-7.7.txt
  server/bin/gold/test-7.8.txt
  server/bin/gold/test-7.9.txt
  server/lib/pbench/__init__.py
Labels: Server

#3285 Remove unused `SATELLITE-MD5-*` states
  server/bin/gold/test-16.txt
  server/bin/gold/test-17.txt
  server/bin/gold/test-19.txt
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-7.1.txt
  server/bin/gold/test-7.10.txt
  server/bin/gold/test-7.11.txt
  server/bin/gold/test-7.12.txt
  server/bin/gold/test-7.13.txt
  server/bin/gold/test-7.14.txt
  server/bin/gold/test-7.15.txt
  server/bin/gold/test-7.16.txt
  server/bin/gold/test-7.17.txt
  server/bin/gold/test-7.18.txt
  server/bin/gold/test-7.19.txt
  server/bin/gold/test-7.2.0.txt
  server/bin/gold/test-7.2.1.txt
  server/bin/gold/test-7.20.txt
  server/bin/gold/test-7.21.txt
  server/bin/gold/test-7.22.txt
  server/bin/gold/test-7.23.txt
  server/bin/gold/test-7.24.txt
  server/bin/gold/test-7.25.txt
  server/bin/gold/test-7.3.txt
  server/bin/gold/test-7.4.txt
  server/bin/gold/test-7.5.txt
  server/bin/gold/test-7.6.txt
  server/bin/gold/test-7.7.txt
  server/bin/gold/test-7.8.txt
  server/bin/gold/test-7.9.txt
  server/lib/pbench/__init__.py
Labels: Server

#3286 Remove unused `SYNCED` state
  server/bin/gold/test-16.txt
  server/bin/gold/test-17.txt
  server/bin/gold/test-19.txt
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-7.1.txt
  server/bin/gold/test-7.10.txt
  server/bin/gold/test-7.11.txt
  server/bin/gold/test-7.12.txt
  server/bin/gold/test-7.13.txt
  server/bin/gold/test-7.14.txt
  server/bin/gold/test-7.15.txt
  server/bin/gold/test-7.16.txt
  server/bin/gold/test-7.17.txt
  server/bin/gold/test-7.18.txt
  server/bin/gold/test-7.19.txt
  server/bin/gold/test-7.2.0.txt
  server/bin/gold/test-7.2.1.txt
  server/bin/gold/test-7.20.txt
  server/bin/gold/test-7.21.txt
  server/bin/gold/test-7.22.txt
  server/bin/gold/test-7.23.txt
  server/bin/gold/test-7.24.txt
  server/bin/gold/test-7.25.txt
  server/bin/gold/test-7.3.txt
  server/bin/gold/test-7.4.txt
  server/bin/gold/test-7.5.txt
  server/bin/gold/test-7.6.txt
  server/bin/gold/test-7.7.txt
  server/bin/gold/test-7.8.txt
  server/bin/gold/test-7.9.txt
  server/lib/pbench/__init__.py
Labels: Server

#3272 Remove backup and unpack from pipeline
  lib/pbench/server/__init__.py
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/server/cache_manager.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/server/indexing_tarballs.py
  lib/pbench/server/s3backup/README
  lib/pbench/server/s3backup/__init__.py
  lib/pbench/server/unpack_tarballs.py
  lib/pbench/test/functional/server/test_put.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/test_cache_manager.py
  lib/pbench/test/unit/server/test_indexing_tarballs.py
  lib/pbench/test/unit/server/test_sync.py
  lib/pbench/test/unit/server/test_unpack_tarballs.py
  lib/pbench/test/unit/server/test_upload.py
  server/bin/pbench-backup-tarballs
  server/bin/pbench-cull-unpacked-tarballs
  server/bin/pbench-unpack-tarballs
  server/bin/pbench-verify-backup-tarballs
  server/lib/config/pbench-server-default.cfg
  server/pbenchinacan/run-pbench-in-a-can
  server/requirements.txt
  server/rpm/pbench-server.spec.j2
Labels: Server, Code Infrastructure, Indexing, Installation, Functional Testing

#3294 Clean up temporary files
  server/bin/unittests
Labels: Server, Unit tests

#3295 Remove unneeded `pbench-verify-backup-tarballs`
  server/Makefile
  server/bin/gold/test-0.1.txt
  server/bin/gold/test-0.2.txt
  server/bin/gold/test-0.txt
  server/bin/gold/test-1.txt
  server/bin/gold/test-2.txt
  server/bin/gold/test-3.txt
  server/bin/gold/test-4.txt
  server/bin/gold/test-5.1.txt
  server/bin/gold/test-5.2.txt
  server/bin/gold/test-5.txt
  server/bin/gold/test-9.1.txt
  server/bin/gold/test-9.2.txt
  server/bin/gold/test-9.3.txt
  server/bin/gold/test-9.4.txt
  server/bin/gold/test-9.5.txt
  server/bin/gold/test-9.6.txt
  server/bin/gold/test-9.7.txt
  server/bin/gold/test-9.8.txt
  server/bin/pbench-verify-backup-tarballs
  server/bin/pbench-verify-backup-tarballs.py
  server/bin/state/test-9.1.tar.xz
  server/bin/state/test-9.2.tar.xz
  server/bin/state/test-9.3.tar.xz
  server/bin/state/test-9.4.setup
  server/bin/state/test-9.4.tar.xz
  server/bin/state/test-9.5.setup
  server/bin/state/test-9.5.tar.xz
  server/bin/state/test-9.6.tar.xz
  server/bin/state/test-9.7.config/pbench-server.cfg
  server/bin/state/test-9.7.tar.xz
  server/bin/state/test-9.8.tar.xz
  server/bin/unittests
  server/lib/config/pbench-server-default.cfg
  server/lib/s3backup/README
  server/rpm/pbench-server.spec.j2
Labels: Background Tasks, Server
