Repository distributed-system-analysis/pbench, pull requests merged in 2023-05, with the labels that each got.

#3411 Unix socket for the nginx and gunicorn communication
  lib/pbench/cli/server/shell.py
  lib/pbench/test/unit/server/test_shell_cli.py
  server/lib/config/nginx.conf
  server/lib/config/pbench-server-default.cfg
Labels: Server

#3408 Build pbench-tools-kill - Backport of #3405 to b0.72
  agent/Makefile
Labels: bug, enhancement, Agent, Tool Meister

#3413 Get the uri schema from NGINX
  lib/pbench/server/api/resources/endpoint_configure.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
  server/lib/config/nginx.conf
Labels: Server

#3407 Ansible fixes b0.72
  agent/ansible/collection/roles/pbench_clean_yum_cache/tasks/main.yml
  agent/ansible/collection/roles/pbench_repo_install/defaults/main.yml
Labels: bug, enhancement, Agent, Installation

#3391 Restore flexibility in keycloak-js dependency
  dashboard/package.json
Labels: Dashboard

#3412 Return "raw" API parameters in pagination
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/test/unit/server/test_datasets_list.py
Labels: Server, Dashboard, API

#3386 Support for dynamic pagination
  dashboard/src/actions/datasetListActions.js
  dashboard/src/actions/types.js
  dashboard/src/assets/constants/browsingPageConstants.js
  dashboard/src/modules/components/DatePickerComponent/index.jsx
  dashboard/src/modules/components/DatePickerComponent/index.less
  dashboard/src/modules/components/PaginationComponent/index.jsx
  dashboard/src/modules/components/TableComponent/common-components.jsx
  dashboard/src/modules/components/TableComponent/index.jsx
  dashboard/src/modules/components/TableComponent/index.less
  dashboard/src/reducers/datasetListReducer.js
Labels: Dashboard

#3416 Update CodeQL scanning
  .github/codeql/javascript-config.yml
  .github/codeql/python-config.yml
  .github/workflows/codeql-analysis.yml
Labels: Code Infrastructure

#3417 Unit test on jwt exception type instead of string
  lib/pbench/test/unit/server/auth/test_auth.py
Labels: Server, Unit tests

#3415 Fix the section name in wait_for_oidc_server function
  lib/pbench/cli/server/shell.py
  lib/pbench/server/api/resources/endpoint_configure.py
  lib/pbench/server/auth/__init__.py
  lib/pbench/test/unit/server/auth/test_auth.py
  lib/pbench/test/unit/server/test_shell_cli.py
  server/pbenchinacan/load_keycloak.sh
Labels: bug, Server

#3410 GET and DELETE method for managing api_key
  lib/pbench/client/__init__.py
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/api_key.py
  lib/pbench/server/auth/auth.py
  lib/pbench/server/database/alembic/versions/1a91bc68d6de_update_api_key.py
  lib/pbench/server/database/models/api_keys.py
  lib/pbench/test/unit/server/auth/test_auth.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/database/test_api_keys_db.py
  lib/pbench/test/unit/server/test_api_key.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
Labels: Server, API

#3420 Ansible fixes
  agent/ansible/collection/roles/pbench_clean_yum_cache/tasks/main.yml
  agent/ansible/collection/roles/pbench_repo_install/defaults/main.yml
Labels: bug, enhancement, Agent, Ansible

#3418 Allow keeping functional test datasets
  exec-tests
  jenkins/run-server-func-tests
  lib/pbench/test/functional/server/test_put.py
Labels: Server, Functional Testing, testing

#3423 Dashboard API Key Management
  dashboard/src/actions/keyManagementActions.js
  dashboard/src/actions/types.js
  dashboard/src/assets/constants/toastConstants.js
  dashboard/src/modules/components/ProfileComponent/KeyListTable.jsx
  dashboard/src/modules/components/ProfileComponent/KeyManagement.jsx
  dashboard/src/modules/components/ProfileComponent/NewKeyModal.jsx
  dashboard/src/modules/components/ProfileComponent/index.jsx
  dashboard/src/modules/components/ProfileComponent/index.less
  dashboard/src/reducers/index.js
  dashboard/src/reducers/keyManagementReducer.js
Labels: Dashboard

#3419 Open firewall ports immediately as well as permanently
  agent/ansible/collection/roles/pbench_firewall_open_ports/tasks/main.yml
Labels: bug, Agent, Ansible

#3421 Open firewall ports immediately as well as permanently (backport of #3419)
  agent/ansible/collection/roles/pbench_firewall_open_ports/tasks/main.yml
Labels: bug, Agent, Ansible

#3426 Gracefully handle duplicate name with unique MD5 (#3355)
  lib/pbench/server/api/resources/upload_api.py
  lib/pbench/test/unit/server/test_upload.py
Labels: bug, Server, API, Backport

#3428 Restructure Readthedocs documentation
  docs/.gitignore
  docs/Agent/faq.md
  docs/Agent/installation/Ansible_based_installation.md
  docs/Agent/installation/index.rst
  docs/Agent/installation/pbench-containers.md
  docs/Agent/installation/rpm_based_installation.md
  docs/Agent/user-guide/UserGuide.rst
  docs/Agent/user-guide/getting_started.md
  docs/Agent/user-guide/index.rst
  docs/Agent/user-guide/man_page.md
  docs/Dashboard/faq.md
  docs/Dashboard/user_guide.md
  docs/Developers/contributing.md
  docs/Developers/system design/ReverseProxyPbenchServer.uml-seq.md
  docs/Developers/system design/pbench-agent.uml-seq.md
  docs/Developers/system design/user_authentication/third_party_token_management.md
  docs/README.md
  docs/Server/API/README.md
  docs/Server/API/V1/README.md
  docs/Server/API/V1/contents.md
  docs/Server/API/V1/delete.md
  docs/Server/API/V1/detail.md
  docs/Server/API/V1/endpoints.md
  docs/Server/API/V1/inventory.md
  docs/Server/API/V1/list.md
  docs/Server/API/V1/server_audit.md
  docs/Server/API/V1/server_settings.md
  docs/Server/API/V1/update.md
  docs/Server/API/V1/upload.md
  docs/Server/API/access_model.md
  docs/Server/API/metadata.md
  docs/Server/faq.md
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
Labels: Documentation

#3429 PBENCH-1153
  docs/Agent/config/config.md
Labels: Agent, Documentation

#3430 PBENCH-1155
  docs/Agent/user-guide/guides/end-to-end-workflow.md
Labels: Agent, Documentation

#3435 Remove Fedora-36 support from the Agent
  agent/containers/images/Makefile
  agent/containers/images/README.md
  agent/rpm/Makefile
  agent/rpm/pbench-agent.spec.j2
  contrib/containerized-pbench/pbench_demo
  jenkins/Makefile
  jenkins/Pipeline.gy
Labels: Agent, Code Infrastructure, Containerization

#3432 Correct the contents of the `b0.72` `jenkins/branch.name` file
  jenkins/branch.name
Labels: bug, Code Infrastructure

#3434 Disable redis protected mode
  agent/util-scripts/gold/test-client-tool-meister/test-53.txt
  agent/util-scripts/gold/test-client-tool-meister/test-56.txt
  agent/util-scripts/gold/test-client-tool-meister/test-57.txt
  agent/util-scripts/gold/test-client-tool-meister/test-61.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-51.txt
  agent/util-scripts/gold/test-start-stop-tool-meister/test-52.txt
  lib/pbench/agent/tool_meister_start.py
Labels: bug, Agent, Tool Meister

#3437 Update metadata keys
  dashboard/src/actions/overviewActions.js
Labels: Dashboard

#3396 PBENCH-1031 - CacheManager CacheMap
  lib/pbench/server/cache_manager.py
  lib/pbench/test/unit/server/test_cache_manager.py
Labels: Server

#3425 Implement POST /api/v1/relay
  lib/pbench/client/__init__.py
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/intake_base.py
  lib/pbench/server/api/resources/relay.py
  lib/pbench/server/api/resources/upload.py
  lib/pbench/test/unit/server/test_endpoint_configure.py
  lib/pbench/test/unit/server/test_relay.py
  lib/pbench/test/unit/server/test_upload.py
Labels: Server, API
