Repository distributed-system-analysis/pbench, pull requests merged in 2023-12, with the labels that each got.

#3579 Some logging cleanup
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/auth/auth.py
  lib/pbench/test/unit/server/test_schema.py
Labels: Server, API, Operations

#3577 Correct URL handling for Elasticsearch/OpenSearch
  lib/pbench/common/__init__.py
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/indexer.py
  lib/pbench/server/report.py
  lib/pbench/test/unit/common/test_wait_for_uri.py
  server/lib/config/pbench-server-default.cfg
Labels: bug, Server

#3581 Nits and stuff
  lib/pbench/agent/base.py
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/api_key.py
  lib/pbench/server/api/resources/datasets_compare.py
  lib/pbench/server/api/resources/datasets_contents.py
  lib/pbench/server/api/resources/datasets_inventory.py
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/server/api/resources/datasets_metadata.py
  lib/pbench/server/api/resources/datasets_visualize.py
  lib/pbench/server/api/resources/endpoint_configure.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets_mappings.py
  lib/pbench/server/api/resources/relay.py
  lib/pbench/server/api/resources/server_audit.py
  lib/pbench/server/api/resources/server_settings.py
  lib/pbench/server/api/resources/upload.py
  lib/pbench/server/auth/auth.py
  lib/pbench/server/indexer.py
  lib/pbench/test/unit/server/query_apis/conftest.py
  lib/pbench/test/unit/server/test_api_base.py
  server/lib/config/pbench-server-default.cfg
Labels: Server

#3583 Fix some unit tests
  lib/pbench/test/unit/server/test_cache_manager.py
Labels: Server, Tests

#3582 Add support for UBI 8 base image to Pbench Server container image build
  server/pbenchinacan/container-build.sh
  server/rpm/pbench-server.spec.j2
Labels: Server

#3584 Handle missing Opensearch indices
  lib/pbench/server/api/resources/query_apis/datasets/__init__.py
  lib/pbench/test/unit/server/query_apis/test_namespace_and_rows.py
Labels: bug, Server, Indexing, API

#3585 Correct Jenkins branchname value
  jenkins/branch.name
Labels: Code Infrastructure
