Repository distributed-system-analysis/pbench, pull requests merged in 2023-11, with the labels that each got.

#3570 API key Popup Create Button
  dashboard/src/modules/components/ProfileComponent/NewKeyModal.jsx
  dashboard/src/modules/components/ProfileComponent/index.less
Labels: Dashboard

#3571 Redirect DIR `/inventory/path` to `/contents/path`
  lib/pbench/server/api/resources/datasets_inventory.py
  lib/pbench/server/cache_manager.py
  lib/pbench/test/unit/server/test_cache_manager.py
  lib/pbench/test/unit/server/test_datasets_inventory.py
  server/requirements.txt
Labels: Server, API

#3569 Dashboard bugs
  dashboard/src/App.js
  dashboard/src/modules/components/ComparisonComponent/index.jsx
  dashboard/src/modules/components/SidebarComponent/sideMenuOptions.js
  dashboard/src/modules/components/TableComponent/index.jsx
  dashboard/src/modules/components/TableComponent/index.less
  dashboard/src/utils/routeConstants.js
Labels: Dashboard

#3572 Fio - Latency data metric unit
  dashboard/src/actions/comparisonActions.js
Labels: Dashboard

#3573 Update Side Menu
  dashboard/src/modules/components/SidebarComponent/index.jsx
  dashboard/src/modules/components/SidebarComponent/sideMenuOptions.js
Labels: Dashboard

#3574 Separate `audience` from `client`
  lib/pbench/server/auth/__init__.py
  lib/pbench/server/auth/auth.py
  lib/pbench/server/database/models/users.py
  lib/pbench/test/unit/server/auth/test_auth.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/test_upload.py
  server/lib/config/pbench-server-default.cfg
  server/pbenchinacan/etc/pbench-server/pbench-server.cfg
  server/pbenchinacan/load_keycloak.sh
  server/pbenchinacan/run-pbench-in-a-can
Labels: bug, Server, Users

#3575 Report Server out of space errors via `507` instead of `413`/`500`
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/intake_base.py
  lib/pbench/test/unit/agent/task/test_results_push.py
  lib/pbench/test/unit/server/test_upload.py
Labels: bug, Server

#3576 Implement typed sorting on dataset metadata
  lib/pbench/server/api/resources/datasets_list.py
  lib/pbench/test/functional/server/test_datasets.py
  lib/pbench/test/unit/server/test_datasets_list.py
Labels: Server, API

#3559 Visualization support for public datasets
  dashboard/src/actions/comparisonActions.js
  dashboard/src/actions/datasetListActions.js
  dashboard/src/actions/overviewActions.js
  dashboard/src/actions/types.js
  dashboard/src/assets/constants/compareConstants.js
  dashboard/src/modules/components/ComparisonComponent/common-components.jsx
  dashboard/src/modules/components/ComparisonComponent/index.jsx
  dashboard/src/modules/components/PaginationComponent/index.jsx
  dashboard/src/modules/components/SidebarComponent/sideMenuOptions.js
  dashboard/src/modules/components/TableComponent/index.jsx
  dashboard/src/modules/components/TableComponent/index.less
  dashboard/src/reducers/comparisonReducer.js
Labels: Dashboard

#3578 Make cache management more dynamic
  contrib/server/operations/pbench-upload-results.py
  lib/pbench/cli/server/tree_manage.py
  lib/pbench/server/cache_manager.py
  lib/pbench/server/database/models/datasets.py
  lib/pbench/test/unit/server/test_cache_manager.py
  server/lib/systemd/pbench-reclaim.service
  server/requirements.txt
Labels: Server, Code Infrastructure
