Repository distributed-system-analysis/pbench, pull requests merged in 2024-01, with the labels that each got.

#3588 Sort datasets by uploaded time
  dashboard/src/actions/datasetListActions.js
Labels: Dashboard

#3587 End time column update
  dashboard/src/modules/components/OverviewComponent/NewRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/common-component.jsx
Labels: Dashboard

#3589 Operations cleanup
  contrib/server/operations/pbench-upload-results.py
  lib/pbench/server/cache_manager.py
  lib/pbench/server/indexing_tarballs.py
  lib/pbench/server/sync.py
  lib/pbench/test/unit/server/test_cache_manager.py
  lib/pbench/test/unit/server/test_indexing_tarballs.py
Labels: Server, Contrib, Indexing, API, Database, Operations

#3590 Unable to update expiration date
  dashboard/package.json
Labels: Dashboard

#3591 Visualization Page Pagination
  dashboard/src/App.js
  dashboard/src/actions/comparisonActions.js
  dashboard/src/modules/components/ComparisonComponent/PanelContent.jsx
  dashboard/src/modules/components/ComparisonComponent/common-components.jsx
  dashboard/src/modules/components/ComparisonComponent/index.jsx
  dashboard/src/modules/components/TableComponent/index.jsx
Labels: Dashboard

#3592 Metadata Modal is empty
  dashboard/src/actions/overviewActions.js
Labels: Dashboard

#3593 Overview page displays Public datasets
  dashboard/src/actions/datasetListActions.js
  dashboard/src/actions/overviewActions.js
Labels: Dashboard

#3595 Another tweak to intake metadata problems
  lib/pbench/server/cache_manager.py
  lib/pbench/test/unit/server/test_cache_manager.py
Labels: bug, Server, API

#3580 Update TOC page
  dashboard/src/actions/tableOfContentActions.js
  dashboard/src/actions/tocActions.js
  dashboard/src/actions/types.js
  dashboard/src/modules/components/TableComponent/index.jsx
  dashboard/src/modules/components/TableOfContent/DrillDownMenu.jsx
  dashboard/src/modules/components/TableOfContent/index.jsx
  dashboard/src/modules/components/TableOfContent/index.less
  dashboard/src/reducers/index.js
  dashboard/src/reducers/tableOfContentReducer.js
  dashboard/src/reducers/tocReducer.js
  dashboard/src/utils/routeConstants.js
Labels: Dashboard

#3598 Minor logging cleanup
  lib/pbench/cli/server/tree_manage.py
  lib/pbench/server/cache_manager.py
  lib/pbench/server/indexer.py
Labels: Server, Operations

#3603 Move nginx cache into /srv/pbench
  server/lib/config/nginx.conf
  server/pbenchinacan/run-pbench-in-a-can
Labels: Server, API, Operations

#3605 Fix unpack cache reclaimer
  lib/pbench/server/cache_manager.py
Labels: bug, Server, Operations

#3604 Protect the cache lock better
  lib/pbench/server/api/resources/datasets_compare.py
  lib/pbench/server/api/resources/datasets_inventory.py
  lib/pbench/server/api/resources/datasets_visualize.py
  lib/pbench/server/cache_manager.py
  lib/pbench/test/unit/server/test_cache_manager.py
  lib/pbench/test/unit/server/test_datasets_compare.py
  lib/pbench/test/unit/server/test_datasets_inventory.py
  lib/pbench/test/unit/server/test_datasets_visualize.py
Labels: bug, Server, API

#3602 Add simple report generator
  lib/pbench/cli/server/report.py
  lib/pbench/server/cache_manager.py
  server/Makefile
  setup.cfg
Labels: Server, Database, Operations
