Repository distributed-system-analysis/pbench, pull requests merged in 2024-04, with the labels that each got.

#3612 An assortment of Pbench Ops fixes and fun
  lib/pbench/cli/server/__init__.py
  lib/pbench/cli/server/audit.py
  lib/pbench/cli/server/repair.py
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/endpoint_configure.py
  lib/pbench/server/api/resources/intake_base.py
  lib/pbench/server/cache_manager.py
  lib/pbench/server/database/models/server_settings.py
  lib/pbench/server/indexing_tarballs.py
  lib/pbench/test/unit/server/test_cache_manager.py
  lib/pbench/test/unit/server/test_upload.py
  server/Makefile
  setup.cfg
Labels: Server, Audit, Database, Operations

#3618 Upgrade black to 24.3.0
  contrib/analysis/sos_collection.py
  lib/pbench/__init__.py
  lib/pbench/agent/redis_utils.py
  lib/pbench/agent/tool_meister.py
  lib/pbench/agent/tool_meister_start.py
  lib/pbench/agent/toolmetadata.py
  lib/pbench/cli/agent/commands/results/clear.py
  lib/pbench/cli/agent/commands/triggers/list.py
  lib/pbench/cli/agent/commands/triggers/register.py
  lib/pbench/common/configtools.py
  lib/pbench/common/selinux.py
  lib/pbench/common/utils.py
  lib/pbench/server/database/__init__.py
  lib/pbench/server/database/alembic/versions/1a91bc68d6de_update_api_key.py
  lib/pbench/server/database/alembic/versions/313cfbf6e74b_index_map.py
  lib/pbench/server/database/alembic/versions/558608818623_warningstate.py
  lib/pbench/server/database/alembic/versions/5679217a62bb_sync_message.py
  lib/pbench/server/database/alembic/versions/80c8c690f09b_api_key.py
  lib/pbench/server/database/alembic/versions/9cc638cb865c_operationname.py
  lib/pbench/server/database/alembic/versions/9df060db17de_tokens_store_expiration.py
  lib/pbench/server/database/alembic/versions/e6b44fb7c065_rework_database_models_and_class_names.py
  lib/pbench/server/database/alembic/versions/f628657bed56_user_table_update_oidc.py
  lib/pbench/server/database/alembic/versions/fa12f45a2a5a_initial_database_schema.py
  lib/pbench/server/database/alembic/versions/ffcc6daffedb_drop_doc_ids.py
  lib/pbench/server/database/models/__init__.py
  lib/pbench/server/database/models/audit.py
  lib/pbench/server/database/models/server_settings.py
  lib/pbench/server/indexer.py
  lib/pbench/test/__init__.py
  lib/pbench/test/unit/agent/test_tool_meister_stop.py
  lib/pbench/test/unit/agent/test_utils.py
  lib/pbench/test/unit/common/test_config.py
  lib/pbench/test/unit/common/test_wait_for_uri.py
  lib/pbench/test/unit/server/test_relay.py
  lib/pbench/test/unit/server/test_shell_cli.py
  lint-requirements.txt
Labels: Code Infrastructure, dependencies, python

#3619 Increase the TM SIGNAL_RESPONSE_TIMEOUT
  lib/pbench/agent/tool_meister_client.py
Labels: bug, Agent, Signal, Tool Meister
