Repository distributed-system-analysis/pbench, pull requests merged in 2024-02, with the labels that each got.

#3606 Remove IndexMap document list
  lib/pbench/cli/server/report.py
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/dataset.py
  lib/pbench/server/api/resources/query_apis/datasets/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets_detail.py
  lib/pbench/server/api/resources/query_apis/datasets/namespace_and_rows.py
  lib/pbench/server/api/resources/query_apis/datasets_search.py
  lib/pbench/server/database/alembic/README
  lib/pbench/server/database/alembic/versions/ffcc6daffedb_drop_doc_ids.py
  lib/pbench/server/database/models/index_map.py
  lib/pbench/server/indexer.py
  lib/pbench/test/functional/server/test_datasets.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/database/test_index_map_db.py
  lib/pbench/test/unit/server/query_apis/test_datasets_delete.py
  lib/pbench/test/unit/server/query_apis/test_datasets_update.py
  server/lib/mappings/result-data-sample.json
  server/lib/mappings/result-data.json
  server/lib/mappings/tool-data-frag-prometheus-metrics.json
Labels: bug, Server, Indexing, Database, Operations

#3607 Update b1.0
  dashboard/src/modules/components/ComparisonComponent/PanelContent.jsx
  lib/pbench/cli/server/report.py
  lib/pbench/server/api/__init__.py
  lib/pbench/server/api/resources/__init__.py
  lib/pbench/server/api/resources/datasets_compare.py
  lib/pbench/server/api/resources/datasets_inventory.py
  lib/pbench/server/api/resources/datasets_visualize.py
  lib/pbench/server/api/resources/query_apis/__init__.py
  lib/pbench/server/api/resources/query_apis/dataset.py
  lib/pbench/server/api/resources/query_apis/datasets/__init__.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets.py
  lib/pbench/server/api/resources/query_apis/datasets/datasets_detail.py
  lib/pbench/server/api/resources/query_apis/datasets/namespace_and_rows.py
  lib/pbench/server/api/resources/query_apis/datasets_search.py
  lib/pbench/server/cache_manager.py
  lib/pbench/server/database/alembic/README
  lib/pbench/server/database/alembic/versions/ffcc6daffedb_drop_doc_ids.py
  lib/pbench/server/database/models/index_map.py
  lib/pbench/server/indexer.py
  lib/pbench/test/functional/server/test_datasets.py
  lib/pbench/test/unit/server/conftest.py
  lib/pbench/test/unit/server/database/test_index_map_db.py
  lib/pbench/test/unit/server/query_apis/test_datasets_delete.py
  lib/pbench/test/unit/server/query_apis/test_datasets_update.py
  lib/pbench/test/unit/server/test_cache_manager.py
  lib/pbench/test/unit/server/test_datasets_compare.py
  lib/pbench/test/unit/server/test_datasets_inventory.py
  lib/pbench/test/unit/server/test_datasets_visualize.py
  server/Makefile
  server/lib/config/nginx.conf
  server/lib/mappings/result-data-sample.json
  server/lib/mappings/result-data.json
  server/lib/mappings/tool-data-frag-prometheus-metrics.json
  server/pbenchinacan/run-pbench-in-a-can
  setup.cfg
Labels: Server

#3609 Make `contents` API scale
  lib/pbench/cli/server/report.py
  lib/pbench/cli/server/tree_manage.py
  lib/pbench/server/api/resources/datasets_contents.py
  lib/pbench/server/cache_manager.py
  lib/pbench/test/unit/server/test_cache_manager.py
  lib/pbench/test/unit/server/test_datasets_compare.py
  lib/pbench/test/unit/server/test_datasets_contents.py
Labels: bug, Server, Code Infrastructure, Dashboard, API, Operations

#3597 Expiration date update
  dashboard/package.json
  dashboard/src/modules/components/OverviewComponent/NewRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/SavedRunsComponent.jsx
  dashboard/src/modules/components/OverviewComponent/common-component.jsx
Labels: Dashboard
